{{ define "main" }}
<div class="container VisitorManagement-System-in-India">
    <div class="row align-items-center">

        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <h1>Welcome to the <span class="Digitize"> Mailroom Management System!
            </span></h1>
            <div>
                <p>Efficiently manage your mail and parcels with our innovative solution, designed to streamline the entire process and save valuable time and effort for your organization. Here are some of the key features of our Mailroom Management System.</p>
                <div class="mt-5">
                    <form id="mailroom">
                        <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email" required>
                        <input class="btn-try-free" type="submit" value="Try for free">
                    </form>
                </div>


                <p class="no-credit Try-free mt-4">* No credit card required</p>
                <div class="mt-4 Try-free mb-4">
                    {{range .Site.Params.apps}}
                    <a href="{{.url}}" target="_blank"><img class="btn-app btn-app-mg phonetop-btn" src="{{.image  | absURL}}" alt="{{.title}}"></a>
                    {{end}}
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="/images/vizitor/istockphoto-1334501149-612x612.jpg" alt="vizitor2" />
        </div>
    </div>
</div>

<div class="col-md-11 mx-auto ">
    <div class=" headingsub">
        <div class=" text-center ">
            <h3 class="chgh3">Streamline Your Mailroom Operations</h3>
            <p>With our Mailroom Management System, you can streamline your <br>operations and ensure that all packages are accounted for.</p>
        </div>
    </div>

    <div class="card-deck ">

        <div class="card workplace-card">
            <div>

                <img src="/images/vizitor/bvm/exclamation.svg" class="workplace-card-img" alt="Visitor-Management" />
            </div>
            <div class="card-body p-0">
                <h5 class="card-title ">Automatic Reminders</h5>
                <p class="workplace-card-p ">Prompts your team to pick up lingering packages with reminder notifications, ensuring that packages don't go unclaimed.</p>
            </div>

        </div>
        <div class="card workplace-card">
            <div>

                <img src="/images/vizitor/bvm/Notifications-f.svg" class="workplace-card-img" alt="Notifications-f" />
            </div>
            <div class="card-body p-0">
                <h5 class="card-title ">Package Notifications</h5>
                <p class="workplace-card-p">Automatically notifies employees when they have a delivery ready for pickup, ensuring prompt package pickups.</p>
            </div>

        </div>
        <div class="card workplace-card">
            <div>

                <img src="/images/vizitor/Deliveries-management.svg" class="workplace-card-img" alt="Deliveries-management" />
            </div>
            <div class="card-body p-0">
                <h5 class="card-title ">Digital Delivery Log</h5>
                <p class="workplace-card-p">Establish a record of when packages arrive, when they're retrieved, and packages awaiting pickup.</p>
            </div>

        </div>
    </div>
    <!-- ----------- -->
    <div class="card-deck mb-5">
        <div class="card workplace-card">
            <div>
                <img src="/images/vizitor/bvm/identification.svg" class="workplace-card-img" alt="identification" />
            </div>
            <div class="card-body p-0">
                <h5 class="card-title ">Effortless Recipient Identification</h5>
                <p class="workplace-card-p ">Easily match the name on the label to the right recipient using our employee list, with no need for extra hardware.</p>
            </div>

        </div>
        <div class="card workplace-card">
            <div>
                <img src="/images/vizitor/bvm/pencil-alt.svg" class="workplace-card-img" alt="pencil-alt" />
            </div>
            <div class="card-body p-0">
                <h5 class="card-title ">Delivery Analytics and Reports</h5>
                <p class="workplace-card-p">Analytics and reporting tools help you identify trends to improve operations and scale your mail process.</p>
            </div>

        </div>
        <div class="card workplace-card">
            <div>
                <img src="/images/vizitor/bvm/qrcode-f.svg" class="workplace-card-img" alt="qrcode-f" />
            </div>
            <div class="card-body p-0">
                <h5 class="card-title "> Web-Based Delivery Scanning</h5>
                <p class="workplace-card-p">Deliveries can be easily added and photos can be captured using the web, providing a streamlined process for admin.</p>
            </div>

        </div>
    </div>
</div>

<div class="Visitor-Management-System ">
    <div class="container ">
        <div class="row align-items-center">
            <div class="col-md-7 col-sm-7 col-xs-12">
                <h2 class="color-wht">Revolutionize Mail and Parcel Management with Our System</h2>
                <p class="color-wht ">Our Mailroom Management System simplifies and secures the way you manage mail and parcels. Our system provides proof of collection and delivery, ensuring security and peace of mind. Recipients can quickly find and arrange for pickup or
                    delivery, streamlining the package retrieval process. Trust our system to make mail and parcel management effortless.
                </p>
                <div class="mt-5">
                    <a href="/demo" class="btn-arrow bvms-white-btn">Book a demo</a>
                    <a href="/signup" class="btn qms">Request a free trial</a>
                </div>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12">
                <img class="mb-5" src=" /images/vizitor/99441f7d-f989-48f1-86ed-c4e46b2f4f71.webp" alt="Experience" style="border-radius: 20px;">
            </div>
        </div>
    </div>
</div>

<div id="bvms2">
    <div class="container">
        <h4 class="vizitor-pass-h2">Benefits
        </h4>
        <p class="vizitor-pass-p ">Why Our Mailroom Management System is a Game-Changer for Your Business!
        </p>
        <div class="row mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- <div class="icon-btn">
                    <img src="/images/vizitor/bvm/identification.svg" alt="identification" />
                </div> -->
                <div>
                    <p class="digital-visitor display-flex"><img class="vmsFeatures" src="/images/vizitor/24px-check.svg" alt="24px-check" /> Time Savings </p>
                    <!-- <h5 class="vizitor-pass-h5 display-flex">Time Savings</h5> -->
                    <p class="vizitor-pass-h5-p display-flex">Our Mailroom Management System simplifies the entire mail and package management process, saving valuable time and money for your organization</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- <div class="icon-btn">
                    <img src="/images/vizitor/bvm/pen-underline-fill.svg" alt="pen-underline-fill" />
                </div> -->
                <div>
                    <p class="digital-visitor display-flex"><img class="vmsFeatures" src="/images/vizitor/24px-check.svg" alt="24px-check" /> Improved Efficiency </p>
                    <!-- <h5 class="vizitor-pass-h5 display-flex">Improved Efficiency</h5> -->
                    <p class="vizitor-pass-h5-p display-flex">With our innovative solution, you can streamline your mail and package management process, reducing the chances of lost or misplaced packages.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- <div class="icon-btn">
                    <img src="/images/vizitor/bvm/Notifications-f.svg" alt="Notifications-f" />
                </div> -->
                <div>
                    <p class="digital-visitor display-flex"><img class="vmsFeatures" src="/images/vizitor/24px-check.svg" alt="24px-check" /> Enhanced Security </p>
                    <!-- <h5 class="vizitor-pass-h5 display-flex">Enhanced Security</h5> -->
                    <p class="vizitor-pass-h5-p display-flex">Our system ensures secure parcel collections and drop-offs, and proof that parcels were collected or delivered is provided.</p>
                </div>
            </div>
        </div>
        <div class="row visitorpass-row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- <div class="icon-btn">
                    <img src="/images/vizitor/bvm/pencil-alt.svg" alt="pencil-alt" />
                </div> -->
                <div>
                    <p class="digital-visitor display-flex"><img class="vmsFeatures" src="/images/vizitor/24px-check.svg" alt="24px-check" /> Scalable Solution </p>
                    <!-- <h5 class="vizitor-pass-h5 display-flex">Scalable Solution</h5> -->
                    <p class="vizitor-pass-h5-p display-flex">Our system is scalable, making it easy to manage mail and packages for organizations of all sizes.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- <div class="icon-btn">
                    <img src="/images/vizitor/bvm/qrcode-f.svg" alt="qrcode-f" />
                </div> -->
                <div>
                    <p class="digital-visitor display-flex"><img class="vmsFeatures" src="/images/vizitor/24px-check.svg" alt="24px-check" /> Improved Analytics </p>
                    <!-- <h5 class="vizitor-pass-h5 display-flex">Improved Delivery Management with Analytics</h5> -->
                    <p class="vizitor-pass-h5-p display-flex">Accurate data to track delivery performance and identify areas for improvement. It's user-friendly and provides historical data to anticipate future delivery needs.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- <div class="icon-btn">
                    <img src="/images/vizitor/bvm/exclamation.svg" alt="exclamation" />
                </div> -->
                <div>
                    <p class="digital-visitor display-flex"><img class="vmsFeatures" src="/images/vizitor/24px-check.svg" alt="24px-check" /> Better Communication </p>
                    <!-- <h5 class="vizitor-pass-h5 display-flex">Better Communication</h5> -->
                    <p class="vizitor-pass-h5-p display-flex">Our customizable notification messages keep employees informed of their packages and reduce the need for manual follow-up.</p>
                </div>
            </div>

        </div>


    </div>
</div>

<div id="bvms" class="container ">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <h3 class="mb-5 bvms-size">How <span class="Digitize">Mailroom management</span> Works?
            </h3>
            <p>Our Mailroom Management System provides an easy and secure way to manage mail and parcels. Here's how it works</p>
            <!-- --1-- -->
            <div>
                <div class="right-btn">
                    <div>
                        <img src="/images/vizitor/bvm/1.svg" alt="1" />
                    </div>

                </div>
                <div>
                    <p class=" display-flex">Parcel arrives and is logged in.
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- --2-- -->
            <div class="mt-4">
                <div class="right-btn">
                    <div>
                        <img src="/images/vizitor/bvm/2.svg" alt="1" />
                    </div>

                </div>
                <div>
                    <p class=" display-flex">System matches the recipient's name.</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- --3-- -->
            <div class="mt-4">
                <div class="right-btn">
                    <div>
                        <img src="/images/vizitor/bvm/3.svg" alt="1" />
                    </div>

                </div>
                <div>
                    <p class=" display-flex">Recipients are notified via SMS and email.
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- --4-- -->
            <div class="mt-4">
                <div class="right-btn">
                    <div>
                        <img src="/images/vizitor/bvm/4.svg" alt="1" />
                    </div>

                </div>
                <div>
                    <p class=" display-flex">Recipient marks the package as "picked up".
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- --5-- -->
            <div class="mt-4">
                <div class="right-btn">
                    <div>
                        <img src="/images/vizitor/bvm/5.svg" alt="1" />
                    </div>

                </div>
                <div>
                    <p class=" display-flex">Automatic reminders sent if the package isn't picked up.</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- --6-- -->
            <div class="mt-4">
                <div class="right-btn">
                    <div>
                        <img src="/images/vizitor/bvm/6.svg" alt="1" />
                    </div>

                </div>
                <div>
                    <p class=" display-flex">Delivery status updated in system.</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- ---- -->
            <div class="mt-4">
                <div class="right-btn">
                </div>
                <div>
                    <p class=" display-flex">Our delivery management system streamlines your mailroom operations, making package retrieval hassle-free for both recipients and mailroom staff.
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- ---- -->

        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <img class="center-content" src="/images/vizitor/istockphoto-1292022448-612x612.jpg" alt="istockphoto11" />
        </div>
    </div>
</div>
<div class="Q-Visitor-Management-System">
    <div class="container ">
        <div class="text-center">
            <h2 class="color-wht">The Power of Data</h2>
        </div>
        <div class="row mt-5">
            <div class="four col-md-3">
                <div class="counter-box ">
                    <span class="counter">30%</span>
                    <p>Efficiency <br> Improvement
                    </p>
                </div>
            </div>
            <div class="four col-md-3">
                <div class="counter-box ">
                    <span class="counter">2 hours</span>
                    <p>Save in <br> Employee time</p>
                </div>
            </div>
            <div class="four col-md-3">
                <div class="counter-box ">
                    <span class="counter">25%</span>
                    <p>Cost <br>Savings
                    </p>
                </div>
            </div>
            <div class="four col-md-3">
                <div class="counter-box ">
                    <span class="counter">95% </span>
                    <p>Employee <br>Satisfaction</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="bvms2">
    {{- partial "faqdelivery.html" . -}}
</div>

{{end}}