{{ define "main" }}
<div>
    <section class="comparison-bg">
        <div class="container mainbanneres">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="center-content">
                    <p class="Digitize">Looking for better alternative of all your competitors</p>
                    <h1 class="desk">
                        Easy-To-Use
                        <br />Visitor Management System
                    </h1>
                    <p class="compare-unlike">Unlike all other Visitor management softwares, Vizitor is built for multiple sectors and it includes all the features you would want with affordable prices. Try this alternative and enjoy the benefits!</p>
                    <p>
                        <b>Try this Envoy alternative for visitor sign-in today!</b>
                    </p>
                    <div class="bannerbtn mt-4">
                        <a href="/signup" class="btn-arrow">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="background-color: rgb(244, 244, 245);">
        <div class="container comparison-pd">
            <div class="col-md-8 mx-auto">
                <table id="compare" class="box">
                    <tr>
                        <th class="index-font">Features</th>
                        <th>
                            <img src=" /images/vizitor/compare/vizitor.png " alt="vizitor" />
                        </th>
                        <th class="index-font">
                            iLobby
                        </th>
                        <th class="index-font">
                            SwipedOn
                        </th>
                    </tr>
                    <!-- Platform Supported( Web, iOS app, Android app) -->
                    <tr>
                        <td>
                            <p class="desk compare">
                                <b class="index-font">Platform Supported</b>
                            </p>
                        </td>
                        <td>
                            <p class="compare-p"></p>
                        </td>
                        <td>
                            <p class="compare-p"></p>
                        </td>
                    </tr>
                    <!-- web -->
                    <tr>
                        <td>
                            <p class="desk compare table-font">Web</p>
                        </td>
                        <td>
                            <p class="compare-white"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                        <td>
                            <p class="compare-p"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                        <td>
                            <p class="compare-p"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                    </tr>
                    <!-- Android -->
                    <tr>
                        <td>
                            <p class="desk compare table-font">Android</p>
                        </td>
                        <td>
                            <p class="compare-white"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                        <td>
                            <p class="compare-p"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                        <td>
                            <p class="compare-p"><img src=" /images/vizitor/compare/wrong.png " alt="wrong" /></p>
                        </td>
                    </tr>
                    <!-- iOS -->
                    <tr>
                        <td>
                            <p class="desk compare table-font">iOS</p>
                        </td>
                        <td>
                            <p class="compare-white"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                        <td>
                            <p class="compare-p"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                        <td>
                            <p class="compare-p"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                    </tr>
                    <!-- Pricing -->
                    <tr>
                        <td>
                            <p class="desk compare table-font">Pricing</p>
                        </td>
                        <td>
                            <p class="compare-white index-font"><b>$ 20/ month</b></p>
                        </td>
                        <td>
                            <p class="compare-white index-font"><b>$ 199/ month</b></p>
                        </td>
                        <td>
                            <p class="compare-white index-font"><b>$ 59/ month</b></p>
                        </td>
                    </tr>
                    <!-- Notification -->
                    <tr>
                        <td>
                            <p class="desk compare">
                                <b class="index-font">Notification</b>
                            </p>
                        </td>
                        <td>
                            <p class="compare-p"></p>
                        </td>
                        <td>
                            <p class="compare-p"></p>
                        </td>
                        <td>
                            <p class="compare-p"></p>
                        </td>
                    </tr>
                    <!-- Check In -->
                    <tr>
                        <td>
                            <p class="desk compare table-font">SMS/Email Host Notification</p>
                        </td>
                        <td>
                            <p class="compare-white"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                        <td>
                            <p class="compare-p"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                        <td>
                            <p class="compare-p"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                    </tr>
                    <!-- Check Out -->
                    <tr>
                        <td>
                            <p class="desk compare table-font">SMS/Welcome Notification to Visitor</p>
                        </td>
                        <td>
                            <p class="compare-white"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                        <td>
                            <p class="compare-p"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                        <td>
                            <p class="compare-p"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                    </tr>
                    <!-- Host Notification -->
                    <tr>
                        <td>
                            <p class="desk compare table-font">Check-out Notification</p>
                        </td>
                        <td>
                            <p class="compare-white"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                        <td>
                            <p class="compare-p"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                        <td>
                            <p class="compare-p"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                    </tr>

                    <!-- OTP Verification -->
                    <tr>
                        <td>
                            <p class="desk compare table-font">OTP Based Verification</p>
                        </td>
                        <td>
                            <p class="compare-white"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                        <td>
                            <p class="compare-p"><img src=" /images/vizitor/compare/wrong.png " alt="wrong" /></p>
                        </td>
                        <td>
                            <p class="compare-white"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                    </tr>
                    <!-- Multi Location  -->
                    <tr>
                        <td>
                            <p class="desk compare table-font">Multi-location Support</p>
                        </td>
                        <td>
                            <p class="compare-white"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                        <td>
                            <p class="compare-p"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                        <td>
                            <p class="compare-p"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                    </tr>
                    <!-- Weekly/Monthly Email Reports -->
                    <tr>
                        <td>
                            <p class="desk compare table-font">Weekly/Monthly Email Reports</p>
                        </td>
                        <td>
                            <p class="compare-white"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                        <td>
                            <p class="compare-p"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                        <td>
                            <p class="compare-p"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                    </tr>
                    <!-- Pre-registrations -->
                    <tr>
                        <td>
                            <p class="desk compare table-font">Pre-registrations</p>
                        </td>
                        <td>
                            <p class="compare-white"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                        <td>
                            <p class="compare-p"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                        <td>
                            <p class="compare-p"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                    </tr>
                    <!-- Multilingual -->
                    <tr>
                        <td>
                            <p class="desk compare table-font">Multilingual</p>
                        </td>
                        <td>
                            <p class="compare-white"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                        <td>
                            <p class="compare-p"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                        <td>
                            <p class="compare-p"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                    </tr>
                    <!-- Visitor Tracking -->
                    <tr>
                        <td>
                            <p class="desk compare table-font">Visitor Tracking</p>
                        </td>
                        <td>
                            <p class="compare-white"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                        <td>
                            <p class="compare-p"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                        <td>
                            <p class="compare-p"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                    </tr>
                    <!-- Self Check-in -->
                    <tr>
                        <td>
                            <p class="desk compare table-font">Self Check-in</p>
                        </td>
                        <td>
                            <p class="compare-white"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                        <td>
                            <p class="compare-p"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                        <td>
                            <p class="compare-p"><img src=" /images/vizitor/compare/right.png " alt="right" /></p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <div class="mt-5">
        <h2 class="center-content ">Say Hello To Our Clients</h2>
        <div class="center-content border-line"></div>
        <div class="container-fluid">{{- partial "clients.html" . -}}</div>
    </div>

    <!-- vizitor clint phone -->
    <section>
        <div class="container">
            <h2 class="center-content ">Powerful Features in all Plans</h2>
            <div class="center-content border-line"></div>
            <br />
            <div class="row col-md-8 mx-auto">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div>
                        <img src=" /images/vizitor/compare/tick.png " class="tick-img" alt="tick" />
                        <p>
                            <b>Customizable sign-in</b>
                        </p>
                    </div>
                    <div>
                        <img src=" /images/vizitor/compare/tick.png " class="tick-img" alt="tick" />
                        <p>
                            <b>Badge Printing </b>
                        </p>
                    </div>
                    <div>
                        <img src=" /images/vizitor/compare/tick.png " class="tick-img" alt="tick" />
                        <p>
                            <b>Host Notification  </b>
                        </p>
                    </div>
                    <div>
                        <img src=" /images/vizitor/compare/tick.png " class="tick-img" alt="tick" />
                        <p>
                            <b>QR code based check-in </b>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div>
                        <img src=" /images/vizitor/compare/tick.png " class="tick-img" alt="tick" />
                        <p>
                            <b>Pre-Registration</b>
                        </p>
                    </div>
                    <div>
                        <img src=" /images/vizitor/compare/tick.png " class="tick-img" alt="tick" />
                        <p>
                            <b>Multi-Location support</b>
                        </p>
                    </div>
                    <div>
                        <img src=" /images/vizitor/compare/tick.png " class="tick-img" alt="tick" />
                        <p>
                            <b> Data Security</b>
                        </p>
                    </div>
                    <div>
                        <img src=" /images/vizitor/compare/tick.png " class="tick-img" alt="tick" />
                        <p>
                            <b> Legal documentation (NDA)</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-top">
        <div class="container">
            <div class="center-content">
                <h3 class="desk font-sizeh3">Let’s Start Together</h3>
                <div class="center-content border-line"></div>
                <br />
                <p>Both of these are the best in the industry but if you are looking for affordable visitor management system then give a try to Vizitor. Have any questions about whether vizitor is right alternative to Swipedon and ilobby for your business?
                    Our team is available with 24 hour support to answer any questions that you have.</p>
                <p style="margin-bottom: 3%;">
                    <b class="desk">Connect us at +91-7302582799 and Email: gaurav.saini@vizitorapp.com</b>
                </p>
            </div>
        </div>
    </section>
    <div>{{- partial "upgrade.html" . -}}</div>
    {{end}}