{{ define "main" }}
<div class="pagebanneres">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h1 class="paint"> Receive notifications for irregularities and important events.</h1>
                <p>Get alerts for any unusual attendance patterns and stay informed about key events. Never miss important updates with our timely notifications.</p>
                <div class="my-5">
                    <form id="attendanceForm">
                        <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email" required>
                        <input class="btn-try-free" type="submit" value="Try for free">
                    </form>
                </div>

            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="/images/vizitor/touchless-attendance/attendance-banneres.svg" alt="attendance-banneres" />
            </div>
        </div>
    </div>
</div>
<div class="pagesection" id="bvms2">
    <div class="container ">
        <h2 class="text-center">Get Rid of Timesheet Mistakes with Vizitor's Attendance Management System
        </h2>
        <p>In today's fast-paced work environment, empowering your employees with the right tools is crucial for maintaining productivity and engagement. Vizitor’s Attendance Management Solutions offer innovative features to help you achieve just that.</p>
        <div class="row mt-5">
            <div id="attendance" class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Plan Better with Real-Time Information</h5>
                        <p class="card-text">Stay ahead with real-time insights into employee attendance. Monitor absences as they occur and make informed decisions on the fly. This real-time data helps you plan more effectively, ensuring that you can address staffing needs
                            and maintain operational efficiency.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Agile Mobile Workforce Management</h5>
                        <p class="card-text">Keep your mobile workforce flexible and responsive with IP and location-based attendance marking. Employees can clock in and out from various locations, providing you with precise data on their whereabouts. This feature is particularly
                            useful for field staff, remote workers, and teams that require mobility, ensuring accurate attendance tracking regardless of their location.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Enhanced Employee Engagement</h5>
                        <p class="card-text">Boost employee engagement by offering convenient attendance management options. Allow your employees to check in from both the web and a mobile app, making it easier for them to mark their attendance. They can also view their attendance
                            records, monitor their working hours, and stay informed about their leave balances. This transparency fosters trust and accountability, as employees have direct access to their attendance information.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div id="attendance" class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Streamlined Regularization Requests</h5>
                        <p class="card-text">Simplify the process of correcting attendance discrepancies with easy-to-use regularization request features. Employees can raise requests for any attendance irregularities directly through the system, ensuring that their records
                            are accurate. Managers can quickly review and approve these requests, streamlining the process and reducing administrative overhead.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Comprehensive Reporting and Analytics</h5>
                        <p class="card-text">Gain deeper insights into your workforce with comprehensive reporting and analytics. Generate detailed reports on attendance patterns, employee punctuality, and absenteeism. These insights help managers identify trends, address
                            issues proactively, and make data-driven decisions to enhance productivity and efficiency.</p>
                    </div>
                </div>
                <div class="card ">
                    <div class="card-body">
                        <h5 class="card-title"> Secure and Compliant</h5>
                        <p class="card-text">Ensure your attendance data is secure and compliant with labor laws. Vizitor’s system maintains accurate records of working hours, overtime, and leaves, helping you meet statutory requirements and avoid legal complications. The
                            system’s secure access control ensures that only authorized personnel can access sensitive data.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div id="attendance" class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">User-Friendly Interface</h5>
                        <p class="card-text">Our intuitive interface ensures that both employees and managers can navigate the system with ease. The user-friendly design minimizes the learning curve, allowing your team to quickly adapt and start benefiting from the system’s
                            features.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="bannerbtn mt-5 text-center">
            <a href="/attendance-management-system" class="btn-arrow">Know more</a>
        </div>
    </div>
</div>

<div class="mainbanneres">
    <div class="container ">
        <div class="text-center">
            <h2>What Is Attendance Management System?</h2>
        </div>
        <div class="row align-items-center mt-4">
            <div class="col-lg-6 col-md-6 col-12 ">
                <h3>Your Partner in Efficient Workforce Management
                </h3>
                <p>An Attendance Management System (AMS) is a software solution that tracks and manages employee attendance. It simplifies the process of recording, monitoring, and analyzing attendance data, ensuring that businesses can maintain accurate
                    records effortlessly.</p>
                <p><b>Key Features of an Attendance Management System:</b></p>
                <p>Automated Attendance Tracking: Employees can easily check in and out using various methods such as biometric systems, swipe cards, or mobile apps. This automation reduces errors and saves time.
                </p>
                <div class="bannerbtn mt-4">
                    <a href="/signup" class="btn-arrow">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="card-deck " id="Simplify">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Real-Time Data Monitoring</h5>
                            <p class="card-text">Managers can view live attendance data, helping them keep track of who is present or absent at any given moment.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Comprehensive Reports</h5>
                            <p class="card-text">Generate detailed reports on attendance patterns, late arrivals, early departures, and absenteeism. These reports provide valuable insights for better decision-making.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-deck " id="Simplify">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Leave Management</h5>
                            <p class="card-text">Streamline the process of requesting and approving leave, and maintain an accurate leave balance for each employee.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Integration with Payroll</h5>
                            <p class="card-text">Seamlessly integrate attendance data with payroll systems to ensure accurate salary calculations based on working hours and overtime.</p>
                        </div>
                    </div>
                </div>
                <div class="card-deck " id="Simplify">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Notifications and Alerts</h5>
                            <p class="card-text">Receive instant notifications for irregularities such as missed check-ins, as well as reminders for important events like upcoming leave or shifts.</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>
</div>

<div id="bvms2">
    <div class="container ">
        <div class="text-center">
            <h3 class="bvms-size"> Benefits of Attendance Management System</h3>
            <p>An Attendance Management System (AMS) offers numerous advantages for businesses of all sizes. Here are some key benefits:</p>
        </div>

        <div class="row card-deck mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12 card text-center">
                <div class="card-body">
                    <h5 class="mt-3">Improve Productivity and Workforce Discipline</h5>
                    <p class="card-text">Employees are encouraged to be more punctual and accountable by accurately tracking attendance. This leads to better time management and increased productivity across the workforce.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 card text-center">
                <div class="card-body">
                    <h5 class="mt-3">Implement Flexible, Real-Time Attendance Capture</h5>
                    <p class="card-text">AMS allows employees to check in and out using various methods such as biometric systems, swipe cards, or mobile apps. This flexibility ensures that attendance is captured accurately and in real-time, regardless of the employee's location.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 card text-center">
                <div class="card-body">
                    <h5 class="mt-3">Achieve 100% Statutory Compliance</h5>
                    <p class="card-text">Ensure your business complies with labor laws and regulations. AMS helps maintain accurate records of working hours, overtime, and leaves, reducing the risk of legal issues and penalties.</p>
                </div>
            </div>
        </div>

        <div class="row card-deck mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12 card text-center">
                <div class="card-body">
                    <h5 class="mt-3">Ensure Transparency and Consistency in Attendance Policies</h5>
                    <p class="card-text">With AMS, attendance policies are applied consistently across the organization. This transparency fosters a fair work environment where everyone adheres to the same rules.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 card text-center">
                <div class="card-body">
                    <h5 class="mt-3">Simplify Shift Management and Rostering
                    </h5>
                    <p class="card-text">Easily manage shifts and rosters with AMS. The system allows you to create, modify, and assign shifts efficiently, ensuring optimal staffing levels and reducing scheduling conflicts.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 card text-center">
                <div class="card-body">
                    <h5 class="mt-3">Enable Real-Time Attendance Processing</h5>
                    <p class="card-text">AMS processes attendance data in real-time, providing managers with up-to-date information. This helps in making informed decisions quickly and addressing any attendance issues promptly.</p>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- ------------------------------------- -->
<div class="mainbanneres">
    <div class="container ">
        <div class="text-center">
            <h2>Attendance Management System Features</h2>
        </div>

        <div class="card-deck mt-5" id="Simplify ">
            <div class="card">
                <h5> Touchless Clock-In/Clock-Out</h5>
                <p>Employees can mark their attendance using touchless methods such as QR codes, mobile apps, or biometric systems. This feature ensures quick, hygienic, and secure clock-ins and clock-outs, reducing the risk of spreading germs.</p>
            </div>

            <div class="card">
                <h5> Real-Time Monitoring</h5>
                <p>Managers can access real-time attendance data, providing instant insights into who is present, absent, or late. This feature helps in making swift decisions and addressing any attendance issues promptly.</p>
            </div>

            <div class="card">
                <h5> Customizable Attendance Policies</h5>
                <p>Tailor the attendance policies to match your organization’s unique needs. Whether you have flexible hours, fixed shifts, or a hybrid model, you can set up rules that align with your company’s specific requirements.</p>
            </div>
        </div>
        <div class="card-deck " id="Simplify">

            <div class="card">
                <h5> Automatic Attendance Processing</h5>
                <p>Automate the collection and processing of attendance data to eliminate manual entry and reduce errors. This feature ensures that attendance records are accurate and up-to-date, making payroll processing and performance evaluations more
                    efficient.
                </p>
            </div>

            <div class="card">
                <h5> Employee Self-Service Portal</h5>
                <p>Allow employees to view their attendance records, request leaves, and check their remaining leave balance through an intuitive self-service portal. This reduces the administrative burden on HR and empowers employees to manage their own
                    attendance.
                </p>
            </div>

            <div class="card">
                <h5> Comprehensive Reporting and Analytics</h5>
                <p>Generate detailed reports on attendance patterns, employee punctuality, and absenteeism. Use these insights to identify trends, address issues proactively, and make data-driven decisions to improve overall productivity and efficiency.</p>
            </div>
        </div>
        <div class="card-deck " id="Simplify">
            <div class="card">
                <h5> Secure Access Control</h5>
                <p>Integrate attendance tracking with secure access control to ensure that only authorized personnel can enter specific areas. This enhances workplace security and provides a comprehensive solution for managing both attendance and access.</p>
            </div>

            <div class="card">
                <h5> Flexible, Real-Time Attendance Capture</h5>
                <p>Employees can clock in and out from various locations using IP and location-based attendance marking. This feature is particularly useful for remote and field workers, ensuring accurate tracking of their attendance regardless of their
                    location.
                </p>
            </div>

            <div class="card">
                <h5> Simplified Shift Management</h5>
                <p>Easily manage and schedule shifts to ensure optimal staffing levels. The system allows for the creation, modification, and assignment of shifts, reducing scheduling conflicts and ensuring that your workforce is adequately staffed.</p>
            </div>
        </div>
        <div class="card-deck " id="Simplify">
            <div class="card">
                <h5>Streamlined Regularization Requests</h5>
                <p>Simplify the process of correcting attendance discrepancies by allowing employees to raise regularization requests. Managers can review and approve these requests quickly, ensuring that attendance records are accurate and up-to-date.</p>
            </div>

            <div class="card">
                <h5> Enhanced Overtime Management</h5>
                <p>Track and manage overtime hours effortlessly. Ensure that employees are compensated fairly and that overtime calculations are accurate, complying with labor laws and company policies.</p>
            </div>

            <div class="card">
                <h5> Statutory Compliance</h5>
                <p>Maintain accurate records of working hours, leaves, and overtime to ensure compliance with labor laws and regulations. This feature helps in avoiding legal issues and ensuring that your organization meets all statutory requirements.</p>
            </div>
        </div>
        <div class="card-deck " id="Simplify">
            <div class="card">
                <h5> Capacity Management</h5>
                <p>Monitor and manage the number of people in specific areas to comply with health guidelines and maintain a safe environment. This feature is particularly useful during times of social distancing and other health protocols.</p>
            </div>

            <div class="card">
                <h5>Notifications and Alerts</h5>
                <p>Receive instant notifications for irregularities such as missed check-ins, as well as reminders for important events like upcoming leaves or shifts. This feature helps in staying informed and addressing issues promptly.</p>
            </div>

            <div class="card">
                <h5> User-Friendly Interface</h5>
                <p>An intuitive and easy-to-navigate interface ensures that both employees and managers can use the system efficiently with minimal training. The user-friendly design helps in quick adoption and maximizes the system’s benefits.</p>
            </div>
        </div>
    </div>
</div>
<!-- ------------------------------------- -->
<div class="mainbanneres">
    <div class="container ">

        <div class="row align-items-center mt-4">
            <div class="col-lg-6 col-md-6 col-12 ">
                <h2>Vizitor's Attendance Management Tool</h2>
                <p>Vizitor's Attendance Management Tool is designed to make attendance tracking easy, secure, and efficient. With a range of features that cater to modern workplace needs, it ensures a seamless experience for both employees and managers.</p>

                <div class="bannerbtn mt-4">
                    <a href="/signup" class="btn-arrow">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="card-deck " id="Simplify">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Touchless Clock-In</h5>
                            <p class="card-text">With Vizitor, employees can clock in and out without any physical contact. Using mobile apps or QR codes, they can mark their attendance quickly and safely. This touchless system is especially beneficial in maintaining hygiene
                                and reducing the spread of germs in the workplace.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"> Real-Time Monitoring</h5>
                            <p class="card-text">Stay updated with real-time attendance data. Managers can instantly see who is present, absent, or late, enabling them to make quick decisions. This feature ensures that attendance records are always current and accurate, helping
                                in effective workforce management.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-deck " id="Simplify">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Secure Access Control</h5>
                            <p class="card-text">Vizitor's tool includes secure access control features, ensuring that only authorized personnel can enter specific areas. This not only enhances security but also integrates attendance tracking with access management, providing
                                a comprehensive solution for workplace safety and efficiency.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Capacity Management</h5>
                            <p class="card-text">Monitor and manage the number of people in a particular area with Vizitor’s capacity management feature. This is particularly useful for ensuring compliance with health guidelines and maintaining a safe environment, especially
                                in times of social distancing and other health protocols.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-deck " id="Simplify">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Reporting and Analytics</h5>
                            <p class="card-text">Generate detailed reports and gain valuable insights into attendance patterns, employee punctuality, and overall workforce management. Vizitor’s reporting and analytics tools help managers understand trends and make informed
                                decisions to improve productivity and efficiency.</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>
</div>

<!-- ------------------------------------- -->
<div id="bvms2">
    <div class="container ">
        <div class="text-center">
            <h3 class="bvms-size">Vizitor's Attendance Management Solutions</h3>
            <p>Vizitor's Attendance Management Solutions are designed to make attendance tracking and management straightforward, efficient, and compliant with regulations. Here’s a look at how our features can benefit your organization:
            </p>
        </div>

        <div class="row card-deck mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12 card text-center">
                <div class="card-body">
                    <h5 class="mt-3">Customisable Attendance Policies</h5>
                    <p class="card-text">Tailor attendance policies to meet the specific needs of your organization. Whether you have flexible working hours, fixed shifts, or a mix of both, Vizitor allows you to set up rules that align with your company’s requirements, ensuring
                        consistency and fairness across the board.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 card text-center">
                <div class="card-body">
                    <h5 class="mt-3">Automatic Attendance Processing</h5>
                    <p class="card-text">Say goodbye to manual data entry and errors. Vizitor’s system automatically processes attendance data, saving time and reducing mistakes. This automation ensures that attendance records are accurate and up-to-date, which is essential
                        for payroll and performance evaluations.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 card text-center">
                <div class="card-body">
                    <h5 class="mt-3">Employee Self-Service</h5>
                    <p class="card-text">Empower your employees with self-service features. They can easily view their attendance records, request leaves, and check their remaining leave balance through the system. This reduces the administrative burden on HR and gives employees
                        more control over their attendance management.</p>
                </div>
            </div>
        </div>

        <div class="row card-deck mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12 card text-center">
                <div class="card-body">
                    <h5 class="mt-3">Comprehensive Overtime Management</h5>
                    <p class="card-text">Manage overtime effortlessly with Vizitor. Track and record overtime hours accurately, ensuring employees are compensated fairly. The system allows you to set rules for overtime calculations, making it easier to comply with labor laws
                        and company policies.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 card text-center">
                <div class="card-body">
                    <h5 class="mt-3">Attendance Permissions</h5>
                    <p class="card-text">Easily manage attendance permissions and approvals. Supervisors can approve or reject attendance entries, leave requests, and overtime hours through the system. This streamlined process ensures that all attendance-related activities
                        are properly authorized and documented.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 card text-center">
                <div class="card-body">
                    <h5 class="mt-3">Statutory Compliance Simplified</h5>
                    <p class="card-text">Ensure your organization complies with labor laws and regulations with Vizitor’s attendance management solutions. The system helps you maintain accurate records of working hours, leaves, and overtime, simplifying statutory compliance
                        and reducing the risk of legal issues.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- ------------------------------------- -->
<div class="mainbanneres">
    <div class="container ">
        <div class="text-center">
            <h2>Vizitor's Attendance Management Process</h2>
            <p>Vizitor's Attendance Management Process is designed to make tracking and managing employee attendance simple and efficient. Here’s how our process works to benefit your organization:</p>
        </div>

        <div class="card-deck mt-5" id="Simplify ">
            <div class="card">
                <h5> Easy Setup and Customization</h5>
                <p>Getting started with Vizitor is quick and easy. Our system can be tailored to meet your organisation's specific needs, allowing you to set up custom attendance policies that align with your company’s rules. Whether you have flexible hours,
                    fixed shifts, or a combination of both, Vizitor adapts to your requirements.</p>
            </div>

            <div class="card">
                <h5> Touchless Clock-In/Clock-Out
                </h5>
                <p>Employees can mark their attendance using touchless methods such as QR codes or mobile apps. This contactless process not only speeds up clocking in and out but also promotes hygiene and reduces the risk of spreading germs.
                </p>
            </div>

            <div class="card">
                <h5>Real-Time Attendance Monitoring</h5>
                <p>Managers can view real-time attendance data, giving them an up-to-date snapshot of who is present, late, or absent. This immediate access to information helps in making quick decisions and addressing attendance issues as they arise.
                </p>
            </div>
            <div class="card">
                <h5> Automatic Attendance Processing</h5>
                <p>Vizitor’s system automatically processes attendance data, eliminating the need for manual entry and reducing errors. This automation ensures that records are accurate and ready for payroll processing and performance evaluations.
                </p>
            </div>
        </div>

        <div class="card-deck mt-5" id="Simplify ">
            <div class="card">
                <h5>Employee Self-Service Portal</h5>
                <p>Employees can access their attendance records, request leaves, and check their remaining leave balance through a user-friendly self-service portal. This reduces the administrative burden on HR and empowers employees to manage their own
                    attendance.
                </p>
            </div>
            <div class="card">
                <h5>Secure Access and Permissions</h5>
                <p>The system includes secure access control features, ensuring only authorized personnel can enter specific areas. Managers can easily approve or reject attendance entries, leave requests, and overtime hours, ensuring all activities are
                    properly authorized and documented.
                </p>
            </div>
            <div class="card">
                <h5>Comprehensive Reporting and Analytics</h5>
                <p>Generate detailed reports and gain valuable insights into attendance patterns and employee behavior. Vizitor’s reporting and analytics tools help managers understand trends, identify issues, and make informed decisions to improve productivity
                    and efficiency.
                </p>
            </div>
            <div class="card">
                <h5>Simplified Statutory Compliance</h5>
                <p>Maintain accurate records of working hours, leaves, and overtime to ensure compliance with labor laws and regulations. Vizitor simplifies statutory compliance, reducing the risk of legal issues and ensuring your organization meets all
                    requirements.</p>
            </div>
        </div>



    </div>
</div>

<div id="Eco-friendly-Blogs">
    <div class="container ">
        <div class="center-content pb-5">
            <h2> Blogs</h2>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="card-deck">
                    <a href="/blog/the-benefits-of-attendance-managemet-system-for-your-business-productivity/">
                        <div class="card" style="background: #FCFCFC;border-radius: 20px;">
                            <img class="card-img-top" src="/images/blog/image-39.png" alt="image-39" />
                            <div class="card-body">
                                <h5 maxlength="50" class="card-title titleclear">The benefits of Attendance managemet system for your business productivity!</h5>
                                <p class="card-text">18 July 2022</p>
                                <p maxlength="100" class="card-text mb-3 descriptionclear">Attendance management software is very essential to a company. Just like in the Real Estate company where I currently work, we moderate and monitor our employees to produce a great impact on our business. Attendance management
                                    is somehow the same as a time clock, they both keep track of your employee’s working hours. </p>
                                <a class="blog-btn-arrow " href="/blog/the-benefits-of-attendance-managemet-system-for-your-business-productivity/" style="color: #ED5C18;">Read more  <img src="/images/vizitor/Icon.svg" alt="Icon"></a>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="card-deck">
                    <a href="/blog/restart-after-lockdown-with-touchless-visitor-management-system">
                        <div class="card" style="background: #FCFCFC;border-radius: 20px;">
                            <img class="card-img-top" src="/images/blog/photo-1556741533-6e6a62bd8b49.jpg" alt="photo-1556741533-6e6a62bd8b49" />
                            <div class="card-body">
                                <h5 maxlength="50" class="card-title titleclear">Enhance the Workplace security with Touchless Visitor Management System</h5>
                                <p class="card-text">May 19 2020</p>
                                <p maxlength="100" class="card-text mb-3 descriptionclear">The spread of COVID-19 is having repercussions on businesses. Organizations are implementing new processes and technology aimed at ensuring the safety of their workplace. Organizations are working on Touchless technology
                                    that provides seamless modern experiences and protects the workplaces from disease outbreaks. This Touchless technology implements on the visitor management system too.</p>
                                <a class="blog-btn-arrow " href="/blog/restart-after-lockdown-with-touchless-visitor-management-system" style="color: #ED5C18;">Read more  <img src="/images/vizitor/Icon.svg" alt="Icon"></a>
                            </div>
                        </div>
                    </a>

                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="card-deck">
                    <a href="/blog/a-comprehensive-way-of-safety-in-the-workplace-2/">
                        <div class="card" style="background: #FCFCFC;border-radius: 20px;">
                            <img class="card-img-top" src="/images/blog/safety-blog.jpg" alt="safety-blog" />
                            <div class="card-body">
                                <h5 maxlength="50" class="card-title titleclear">A Comprehensive Way of Safety In The Workplace</h5>
                                <p class="card-text">18 December 2019</p>
                                <p maxlength="100" class="card-text mb-3 descriptionclear">Offices are considered to be most safe environment places. However, sometimes offices still have their fair share of workplace incidents and accidents due to a lack of a strong office safety culture.</p>
                                <a class="blog-btn-arrow " href="/blog/a-comprehensive-way-of-safety-in-the-workplace-2/" style="color: #ED5C18;">Read more  <img src="/images/vizitor/Icon.svg" alt="Icon"></a>
                            </div>
                        </div>
                    </a>

                </div>
            </div>

        </div>
        <div class="text-center mt-4">
            <a href="/blog" class="btn-arrow">All Blogs</a>
        </div>
    </div>
</div>
<div id="bvms2">
    {{- partial "faqattendance.html" . -}}
</div>
<div>{{- partial "subscribesection.html" . -}}</div>
{{end}}