{{ define "main" }}
<div class="pagebanneres">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h1 class="paint"> Attendance Mastery with Vizitor: Revolutionizing the Way You Manage Your Workforce</h1>
                <p>Ensure your workplace stays secure with Vizitor's innovative access control solution. Stay ahead and navigate through the crisis with our innovative solution.</p>
                <div class="my-5">
                    <form id="attendanceForm">
                        <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email" required>
                        <input class="btn-try-free" type="submit" value="Try for free">
                    </form>
                </div>

            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="/images/vizitor/touchless-attendance/attendance-banneres.svg" alt="attendance-banneres" />
            </div>
        </div>
    </div>
</div>
<div class="pagesection" id="bvms2">
    <div class="container ">
        <h2 class="text-center">Maximize Your Team's Performance <br> with the Right Tool
        </h2>
        <div class="row mt-5">
            <div id="attendance" class="card-deck">
                <div class="card">
                    <img class="reliable-point" src="/images/vizitor/touchless-attendance/TouchlessClock-In.svg" alt="TouchlessClock-In">
                    <div class="card-body">
                        <h5 class="card-title">Touchless Clock-In</h5>
                        <p class="card-text">Employees can check in and out of the workplace using their mobile device, eliminating the need for manual sign-in sheets.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="reliable-point" src="/images/vizitor/touchless-attendance/Real-Time-Monitoring.svg" alt="Real-Time-Monitoring">
                    <div class="card-body">
                        <h5 class="card-title">Real-Time Monitoring</h5>
                        <p class="card-text">Managers can see who's on-site in real-time, allowing them to make informed decisions about scheduling and workplace safety.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="reliable-point" src="/images/vizitor/touchless-attendance/SecureAccessControl.svg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Secure Access Control</h5>
                        <p class="card-text">Only approved employees can check in and access the workplace, ensuring compliance with safety and security regulations.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div id="attendance" class="card-deck">
                <div class="card">
                    <img class="reliable-point" src="/images/vizitor/touchless-attendance/Capacity-Management.svg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Capacity Management</h5>
                        <p class="card-text">The Vizitor helps manage workplace capacity by setting limits on the number of employees who can be on-site at any given time.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="reliable-point" src="/images/vizitor/touchless-attendance/Reporting-and-Analytics.svg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Reporting and Analytics</h5>
                        <p class="card-text">The Vizitor provides real-time data and analytics on employee attendance, enabling managers to make informed decisions about workplace productivity and efficiency.</p>
                    </div>
                </div>
                <div class="card ">
                   
                </div>
            </div>
        </div>
        <div class="bannerbtn mt-5 text-center">
            <a href="/attendance-management-system" class="btn-arrow">Know more</a>
        </div>
    </div>
</div>

<div class="mainbanneres">
    <div class="container ">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 col-12 ">
                <h2>Simplify Your Attendance Processes with Innovative Solutions</h2>
                <div class="bannerbtn mt-4">
                    <a href="/signup" class="btn-arrow">Get Started</a>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-12"></div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="card-deck " id="Simplify">
                    <div class="card">
                        <img class="reliable-point" src="/images/vizitor/touchless-attendance/Increased-Productivity.svg" alt="Increased-Productivity">
                        <div class="card-body">
                            <h5 class="card-title">Increased Productivity</h5>
                            <p class="card-text">An attendance management system streamlines the process of tracking employee attendance, reducing the amount of manual work and freeing up time for more important tasks. </p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="reliable-point" src="/images/vizitor/touchless-attendance/Improved-Accuracy.svg" alt="Improved Accuracy">
                        <div class="card-body">
                            <h5 class="card-title">Improved Accuracy</h5>
                            <p class="card-text">The attendance management system accurately tracks employee attendance and provides accurate data for payroll and other HR processes.</p>
                        </div>
                    </div>
                </div>
                <div class="card-deck " id="Simplify">
                    <div class="card">
                        <img class="reliable-point" src="/images/vizitor/touchless-attendance/Better-Scheduling.svg" alt="Better Scheduling">
                        <div class="card-body">
                            <h5 class="card-title">Better Scheduling</h5>
                            <p class="card-text">An attendance management system provides real-time information on employee availability and helps managers make informed decisions about scheduling. This can help to improve scheduling and reduce conflicts.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="reliable-point" src="/images/vizitor/touchless-attendance/Increased-Compliance.svg" alt="Increased Compliance">
                        <div class="card-body">
                            <h5 class="card-title">Increased Compliance</h5>
                            <p class="card-text">An attendance management system helps organizations comply with legal requirements and labor laws by accurately tracking employee attendance and providing the necessary documentation.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>

<div id="Eco-friendly-Blogs">
    <div class="container ">
        <div class="center-content pb-5">
            <h2> Blogs</h2>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="card-deck">
                    <a href="/blog/the-benefits-of-attendance-managemet-system-for-your-business-productivity/">
                        <div class="card" style="background: #FCFCFC;border-radius: 20px;">
                            <img class="card-img-top" src="/images/blog/image-39.png" alt="image-39" />
                            <div class="card-body">
                                <h5 maxlength="50" class="card-title titleclear">The benefits of Attendance managemet system for your business productivity!</h5>
                                <p class="card-text">18 July 2022</p>
                                <p maxlength="100" class="card-text mb-3 descriptionclear">Attendance management software is very essential to a company. Just like in the Real Estate company where I currently work, we moderate and monitor our employees to produce a great impact on our business. Attendance management
                                    is somehow the same as a time clock, they both keep track of your employee’s working hours. </p>
                                <a class="blog-btn-arrow " href="/blog/the-benefits-of-attendance-managemet-system-for-your-business-productivity/" style="color: #ED5C18;">Read more  <img src="/images/vizitor/Icon.svg" alt="Icon"></a>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="card-deck">
                    <a href="/blog/restart-after-lockdown-with-touchless-visitor-management-system">
                        <div class="card" style="background: #FCFCFC;border-radius: 20px;">
                            <img class="card-img-top" src="/images/blog/photo-1556741533-6e6a62bd8b49.jpg" alt="photo-1556741533-6e6a62bd8b49" />
                            <div class="card-body">
                                <h5 maxlength="50" class="card-title titleclear">Enhance the Workplace security with Touchless Visitor Management System</h5>
                                <p class="card-text">May 19 2020</p>
                                <p maxlength="100" class="card-text mb-3 descriptionclear">The spread of COVID-19 is having repercussions on businesses. Organizations are implementing new processes and technology aimed at ensuring the safety of their workplace. Organizations are working on Touchless technology
                                    that provides seamless modern experiences and protects the workplaces from disease outbreaks. This Touchless technology implements on the visitor management system too.</p>
                                <a class="blog-btn-arrow " href="/blog/restart-after-lockdown-with-touchless-visitor-management-system" style="color: #ED5C18;">Read more  <img src="/images/vizitor/Icon.svg" alt="Icon"></a>
                            </div>
                        </div>
                    </a>

                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="card-deck">
                    <a href="/blog/a-comprehensive-way-of-safety-in-the-workplace-2/">
                        <div class="card" style="background: #FCFCFC;border-radius: 20px;">
                            <img class="card-img-top" src="/images/blog/safety-blog.jpg" alt="safety-blog" />
                            <div class="card-body">
                                <h5 maxlength="50" class="card-title titleclear">A Comprehensive Way of Safety In The Workplace</h5>
                                <p class="card-text">18 December 2019</p>
                                <p maxlength="100" class="card-text mb-3 descriptionclear">Offices are considered to be most safe environment places. However, sometimes offices still have their fair share of workplace incidents and accidents due to a lack of a strong office safety culture.</p>
                                <a class="blog-btn-arrow " href="/blog/a-comprehensive-way-of-safety-in-the-workplace-2/" style="color: #ED5C18;">Read more  <img src="/images/vizitor/Icon.svg" alt="Icon"></a>
                            </div>
                        </div>
                    </a>

                </div>
            </div>

        </div>
        <div class="text-center mt-4">
            <a href="/blog" class="btn-arrow">All Blogs</a>
        </div>
    </div>
</div>
<div id="bvms2">
    {{- partial "faqattendance.html" . -}}
</div>
<div>{{- partial "subscribesection.html" . -}}</div>
{{end}}