{{ define "main" }}
<div class="container pagebanneres">
    <div class="row ">
        <div class="col-lg-6">
            <h1><span class="Digitize">Promote Your</span> Business to Visitors</h1>
            <p>Promotion is a key element in putting across the benefits of your product or service to the customers. Managing and impressing your visitors is the key part to increase and expand your business. If you are successful to impress your visitor’s,
                then there’s increase in chances of turning visitors into potential customers. If visitors inputs are carefully managed at any workplace it adds up to the security and sorts every information individually. Vizitor is a complete solution
                for organisations of any size as it has ample amount of features that are beneficial for both customer and the business owners. Vizitor is capable of sending promotional custom messages to your customers letting them know about latest
                offers or best deals at your store. It offers good promotional activity that will inform customers about the company's products and persuade them to purchase from the company. It will also create awareness of the company's brand and in
                turn lead to increased sales and profit.</p>

            <div class="bannerbtn mt-4">
                <a href="/signup" class="btn-arrow">Get Started</a>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <img src="/images/vizitor/promotion/promotion.png" alt="promotion">
        </div>

    </div>
</div>

<div class="container pagesection">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <img src="/images/vizitor/promotion/promotion--emails.png" alt="promotion--emails" class="promotion-img">
            <p><b>Send promotional Emails</b></p>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <p>Vizitor allows any organisation's user to interact with their customers via sms or email on their device explaining the latest deals and offers. Vizitor has a very reliable integration with Amazon SES (Simple Email Service) that helps you
                to stay connected with your potential and valuable customers.
            </p>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 mt-5">
            <img src="/images/vizitor/promotion/promotion-sms.png" alt="promotion-sms" class="promotion-img">
            <p><b>Send promotional SMS</b></p>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <p>Inform your visitors about your all the updates and offers in a single click to multiple visitors on their devices via SMS service. This makes the visitor management and promotion even more faster and smooth. It provides fastest SMS service
                that works with ease of a touch.</p>
        </div>
    </div>
</div>





<!-- Interested in Knowing more features start -->


<div>{{- partial "upgrade.html" . -}}</div>
{{end}}