{{ define "main" }}
<div class="container pagebanneres ">
    <div class="row ">
        <div class="col-lg-6">
            <div>
                <h1> Give your Visitors a Futuristic <span class="Digitize">Welcome</span></h1>
                <p>The front desk is the most important aspect of any business. Because the more you interact with your guests, the more they will be interested in you.</p>
                <p>Start impressing your guests right from their entry into your premises with Vizitor A visitor management software. Provide your employees and visitors, a smart and technical virtual visitor management app that handles every aspect of your
                    reception.
                </p>

                <div class=" mt-4">
                    <form id="visitormanagement">
                        <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email" required>
                        <input class="btn-try-free" type="submit" value="Try for free">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <img src="/images/vizitor/visitor-management/visitor-management.png" alt="visitor-management" />
        </div>

    </div>
</div>
<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <div class="center-content">
                <img src="/images/vizitor/visitor-management/graph.png" class="img-shadow" alt="graph">
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div>
                <h2>Real-Time Dashboard</h2>
                <p>Managing the manual logbooks and guest entries are difficult and time consuming for the receptionists. It is a time-consuming process and sometimes the wait can even irritate your guests. With the changing world, businesses need to welcome
                    their visitors smoothly without wasting any time.</p>
                <p>
                    <span class="Digitize help-dot">&#8226;</span> Dashboard can be checked from any computer or mobile device, making it easy to keep a tab about who’s on-site.
                </p>
                <p>
                    <span class="Digitize help-dot">&#8226;</span> The built-in analytics dashboard provides live updates about your visitors.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div>
                <h2>Unlimited Guest Check-in</h2>
                <p>Vizitor can handle multiple guests without any hassle or confusion. Vizitor lets you put paperwork in the past. Your visitors can simply check-in and check-out with our QR based contactless system. You can also ask your visitors to sign
                    NDA. With the help of badge printing, you can send the alert to the concerned person when their visitors arrive.</p>
                <p>
                    <span class="Digitize help-dot">&#8226;</span> Streamline your guest check-in with vizitor and make your front desk the most efficient area of your workplace.
                </p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="center-content">
                <img src="/images/vizitor/visitor-management/visitor-log.png" class="img-shadow" alt="visitor-log">
            </div>
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <div class="center-content">
                <img src="/images/vizitor/visitor-management/invitees.png" class="img-shadow" alt="invitees">
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div>
                <h2>Pre-Registrations</h2>
                <p>You can create pre-invite for your visitors including the meeting details and can send them via SMS and Email. The visitor receives the invite notification with a code through SMS as well as QR code in Email helping them in signing in
                    easily.
                </p>
                <p>
                    <span class="Digitize help-dot">&#8226;</span> Visitors can accept/reject the invitation and update the status accordingly. A pre invited visitor can easily do contactless check-in with QR code via Vizitor.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div>
                <h2>Host Notifications</h2>
                <p>Vizitor automatically notifies your employees when their visitors arrive. Notifications can be sent via both email and SMS (text message). It gives the host a message about the meeting.</p>
                <p>
                    <span class="Digitize help-dot">&#8226;</span> Vizitor makes it easy to reach employees where they are. Choose to send host notifications via email, SMS, or push notifications.
                </p>
                <p>
                    <span class="Digitize help-dot">&#8226;</span>
                    <a href="/vizitor-pass" rel="canonical"> <b>Vizitor PASS</b></a> can send push notifications that include visitor photos and sign-in details.
                </p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="center-content">
                <img src="/images/vizitor/visitor-management/visitor-management---host-notification.png" class="img-shadow" alt="visitor-management---host-notification">
            </div>
        </div>
    </div>
</div>

<!-- Interested in Knowing more features start -->


<div>{{- partial "upgrade.html" . -}}</div>
{{end}}