{{ define "main" }}
<div class=" VisitorManagement-System-in-India">
    <div class="container">
        <div class="row  align-items-center">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <p><span class="Digitize">Meeting Room Booking System </span></p>
                <h2 class="bvms-size">Encourage In-person collaboration
                </h2>
                <p style="line-height: 30px;">Make the proper use of unused space for your team with the
                    smart meeting room booking system, which eases the process of finding and booking rooms for specific
                    tasks. </p>
            </div>
        </div>
    </div>
</div>
<!-------------------->
<div id="bvms">
    <div class="container">
        <div class="row  align-items-center">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <h3 class="bvms-size"> One System for all your <span class="Digitize"> Workplace problems </span></h3>
                <p style="line-height: 30px; "> Establish a workplace that embraces teamwork, sustained by advanced data
                    and productive decisions. Focus on smooth workflow, space usage, and accurate deliverables. </p>
            </div>
        </div>
    </div>
</div>
<!------------------------------------>
<div id="bvms2">
    <div class="container ">
        <div class="text-center">
            <p><span class="Digitize"> The Employees' solution </span></p>
            <h3 class="bvms-size"> What is Vizitor Meeting <span class="Digitize"> Room Booking Software? </span></h3>
            <p style="line-height: 30px; ">Employees need help in streamlining chaotic room management. </p>
            <p style="line-height: 30px; "> The problem demands the ultimate solution, a Meeting room booking
                software that is a specialized digital system designed to streamline the process of reserving and
                managing meeting spaces within an organization.
                oom scheduling system, it provides a centralized platform for employees to schedule, co
                Also known as a rordinate, and optimize meeting rooms, conference facilities, and other shared
                spaces.
            </p>
        </div>
        <div class="row card-deck mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <p class="card-text">Provides data and reports <br> on room utilization.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <p class="card-text">Tracks and allocates costs <br> related to room schedulings.
                    </p>
                </div>
            </div>
        </div>
        <div class="row card-deck mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <p class="card-text">Provide 24/7 Access <br> Control
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <p class="card-text">Creates a cohesive <br> and efficient workspace.
                    </p>
                </div>
            </div>
        </div>
        <div class="text-center bannerbtn mt-4">
            <a target="_blank" href="/blog/signing-in-has-never-been-easier-the-benefits-of-visitor-sign-in-system"
                class="btn-arrow"> Read more</a>
        </div>
    </div>
</div>
<!------------------------------->
<div id="bvms">
    <div class="container ">
        <div class="text-center">
            <h3 class="bvms-size"> How Meeting Room Booking Software Works, <span class="Digitize"> Easy and Efficient.
                </span></h3>
            <p style="line-height: 30px; ">Employees need help in streamlining chaotic room management. </p>
            <p style="line-height: 30px; "> The problem demands the ultimate solution, a Meeting room booking
                software that is a specialized digital system designed to streamline the process of reserving and
                managing meeting spaces within an organization.
                oom scheduling system, it provides a centralized platform for employees to schedule, co
                Also known as a rordinate, and optimize meeting rooms, conference facilities, and other shared
                spaces.
            </p>
        </div>
        <div class="row card-deck mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <h4>Find a Room</h4>
                    <p class="card-text"> Start with finding a meeting room you find suitable for your team.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <h4>Check-in</h4>
                </div>
            </div>
        </div>
        <div class="row card-deck mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <h4>Make or free up space </h4>

                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <h4>Be smarter about space management decisions</h4>

                </div>
            </div>
        </div>
    </div>
</div>
<!------------------------------->
<div id="bvms">
    <div class="container">
        <div class="row  align-items-center">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <p><span class="Digitize"> The convenient way to find and book rooms that work for everyone.</span></p>
                <h2 class="bvms-size">Vizitor Room Scheduling System Features
                </h2>
                <p style="line-height: 30px;">Reserve meeting rooms from your phones, email plugins, desktops, and room
                    panels.
                </p>
            </div>
        </div>
    </div>
</div>
<!----------------------------->
<div id="bvms">
    <div class="container ">
        <div class="text-center">
            <h3 class="bvms-size"> <span class="Digitize"> Benefits of </span> Room Booking System </h3>
            <p class="para_heading">Maximise use of unused office space and easy access to rooms for employees
            </p>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Real-time Availability
                    </h5>
                    <p class="vizitor-pass-h5-p ">Users can check the real-time availability of meeting rooms, ensuring
                        they choose a space that suits their needs and is available at the desired time.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Booking and Scheduling
                    </h5>
                    <p class="vizitor-pass-h5-p">Employees can easily reserve meeting rooms through a user-friendly
                        interface, specifying the date, time, duration, and additional equipment or services required.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Calendar Integration
                    </h5>
                    <p class="vizitor-pass-h5-p">Integration with popular calendar apps like Microsoft Outlook, Google
                        Calendar, or Apple Calendar allows for seamless scheduling and synchronization of meeting
                        bookings.
                    </p>
                </div>
            </div>
        </div>
        <div class="row visitorpass-row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Resource Management
                    </h5>
                    <p class="vizitor-pass-h5-p"> Some software solutions also allocate resources such as projectors,
                        teleconferencing equipment, and catering services, ensuring that everything needed for the
                        meeting is in place. </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Customizable Booking Rules
                    </h5>
                    <p class="vizitor-pass-h5-p">Organizations can set rules and policies for room bookings, including
                        booking lead times, maximum reservation durations, and cancellation policies.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Room Layout and Information
                    </h5>
                    <p class="vizitor-pass-h5-p ">Users can view details about each meeting room, such as capacity,
                        layout, and available amenities, helping them choose the most suitable space for their meeting.
                    </p>
                </div>
            </div>
        </div>
        <div class="text-center bannerbtn mt-5">
            <a target="_blank" href="/signup" class="btn-arrow">Get Started</a>
        </div>
    </div>
</div>
<!-------------------------------->
<div id="bvms">
    <div class="container">
        <div class="row  align-items-center">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <h3 class="bvms-size">Great Organizations <span class="Digitize"> Work differently! </span></h3>
                <p style="line-height: 30px; "> Organizations of any size and industry trust Vizitor for an advanced
                    makeover of workplaces
                </p>
                <p style="line-height: 30px; ">“After Implementing booking software, the workplace has been less
                    chaotic, and conflicts over room booking have drastically narrowed, providing a happy place for
                    staff and employees.”
                </p>
                <p>-Sam Chawla, Digicel </p>
            </div>
        </div>
    </div>
</div>
<!------------------------------->
<div id="bvms">
    <div class="container">
        <h2 class="text-center ">What sets <span class="Digitize">us apart?</span> </h2>
        <p>Every organization wants an advanced, reliable, efficient room booking system for smooth workflow. The
            Vizitor software fulfills all employee's purposes. Our team has led the industry since 2000 and successfully
            served around 2000 global clients.
        </p>
        <div class="row mt-5">
            <div id="attendance" class="card-deck">
                <div class="card">
                    <div class="card-body" style="padding: 30px;">
                        <h5 class="card-title text-center">We work on diverse devices </h5>
                        <p class="card-text text-center" style="line-height: 30px;">Our space management software works
                            on all your diverse devices, whether ios or Android; the software works for all.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body" style="padding: 30px;">
                        <h5 class="card-title text-center">24/7 Customer Support </h5>
                        <p class="card-text text-center" style="line-height: 30px;">Any query? Vizitor experts will
                            reply to you within minutes and provide you extensive support any time of day.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body" style="padding: 30px;">
                        <h5 class="card-title text-center">We value our surroundings </h5>
                        <p class="card-text text-center" style="line-height: 30px;">Vizitor firmly believes in giving
                            back to nature, and with our software, we encourage saving paper drives
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}