{{ define "main" }}
<div class="pagebanneres">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 col-sm-6 col-xs-12 pr-5 ">
                <h1 class="paint ">Meeting Room Booking System</h1>
                <p style="line-height: 30px;">Goodbye Double Bookings!</p>
                <p style="line-height: 30px;">Quick, Easy, and Reliable Room Booking Solutions With Vizitor</p>
                <div class="mt-5">
                    <form id="attendanceForm">
                        <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email" required>
                        <input class="btn-try-free" type="submit" value="Try for free">
                    </form>
                    <div class="mt-5 Try-free">
                        {{range .Site.Params.apps}}
                        <a href="{{.url}}" target="_blank"><img class="btn-app btn-apxp-mg phonetop-btn" src="{{.image  | absURL}}" alt="{{.title}}"></a>
                        {{end}}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 text-center mt-5">
                <img src="/images/vizitor/meeting-room/resourcebooking.webp" alt="resourcebooking" />
            </div>
        </div>
    </div>
</div>

<!-------------------->
<div class="pagesection">
    <div style="background: #ED5C18; padding: 80px 0;">
        <div class="container">
            <div class="content ">
                <div class="text-center">
                    <h2 class="color-wht mt-5 pb-3">Effortless Meeting Room Management
                    </h2>
                    <p class="color-wht text-center" style="line-height: 30px;">Easily manage your meetings with our conference room software. No more searching for rooms or waiting around. Employees can quickly book rooms for meetings or discussions right from their mobile app.
                    </p>
                    <div class=" text-center mt-5">
                        <a href="/signup" class="btn-arrow attendence-white-btn">Try For Free</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------------------------>
<div id="bvms2">
    <div class="container ">
        <div class="text-center">
            <h3 class="bvms-size"> Making Meetings Easy With Simple Meeting Room Booking System
            </h3>
            <p>Easily organize meetings. Finding and booking the right meeting space at the right time is simple. You can check availability and make a reservation quickly through Outlook, your mobile device, or the Vizitor web portal.
            </p>
        </div>

        <div class="row card-deck mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <h5 class="mt-3"> Virtual Meetings</h5>
                    <p class="card-text">Connect with anyone, anywhere. Vizitor lets you easily add Teams or Zoom calls to your meeting room booking and start them with just one click.


                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <h5 class="mt-3">Dynamic Space Management</h5>
                    <p class="card-text">Change plans without hassle. Vizitor automatically checks for available rooms if plans change, updates the booking, and adjusts all related services. It simplifies rescheduling and helps you use space more efficiently.


                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- -------------------------------------- -->
<div id="bvms">
    <div class="container ">
        <div class="text-center">
            <h3 class="bvms-size"> Why You Need a Meeting Room Booking System</h3>
            <p>In today's fast-paced work environment, managing meeting spaces efficiently is crucial. A meeting room booking system simplifies this process, ensuring that your meetings run smoothly and that resources are used effectively. Here's why investing
                in a booking system is essential:
            </p>
        </div>
        <div class="row card-deck mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12 card text-center">
                <div class="card-body">
                    <h4>Streamlined Scheduling</h4>
                    <p class="card-text" style="line-height: 30px;">A booking system helps you quickly reserve meeting rooms by selecting the date, time, and duration with just a few clicks. It also sends automatic confirmations to all participants, reducing confusion and saving time.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 card text-center">
                <div class="card-body">
                    <h4>Efficient Resource Management</h4>
                    <p class="card-text" style="line-height: 30px;">It allows you to allocate necessary resources such as projectors, video conferencing equipment, and catering services. This ensures that everything you need is ready and available, minimizing last-minute preparations.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 card text-center">
                <div class="card-body">
                    <h4>Calendar Integration</h4>
                    <p class="card-text" style="line-height: 30px;">By syncing with popular calendars like Google Calendar, a booking system helps you avoid scheduling conflicts and keeps all your appointments organized in one place.</p>
                </div>
            </div>
        </div>

        <div class="row card-deck mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12 card text-center">
                <div class="card-body">
                    <h4>Real-Time Availability</h4>
                    <p class="card-text" style="line-height: 30px;">Check the availability of meeting rooms in real-time to choose the best space without any conflicts. This feature ensures that you can book the right room when you need it, optimizing space usage</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 card text-center">
                <div class="card-body">
                    <h4> Notifications and Updates</h4>
                    <p class="card-text" style="line-height: 30px;">Receive alerts about upcoming meetings, cancellations, or changes to bookings, so you are always informed and prepared.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 card text-center">
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>
<!------------------------------->
<div id="bvms">
    <div class="container ">
        <div class="text-center">
            <h3 class="bvms-size"> ​​Understanding Meeting Room Booking Software</h3>
            <p>This software helps organizations optimize the use of their meeting rooms, reduce scheduling conflicts, and improve overall productivity. Here's a comprehensive guide to understanding meeting room booking software:</p>
        </div>
        <div class="row card-deck mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <h4>Real-Time Booking and Availability</h4>
                    <p class="card-text" style="line-height: 30px;"> Users can view the real-time availability of meeting rooms, making it easy to book a room at a convenient time. The software updates in real time to reflect changes, cancellations, or new bookings.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <h4>Integration with Calendar Systems</h4>
                    <p class="card-text" style="line-height: 30px;">Integration with popular calendar systems like Google Calendar, Microsoft Outlook, and Office 365 ensures seamless scheduling and reduces the risk of double bookings.</p>
                </div>
            </div>
        </div>
        <div class="row card-deck mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <h4>UseUser-Friendly Interface</h4>
                    <p class="card-text" style="line-height: 30px;">An intuitive interface allows users to quickly find and book available meeting rooms. Drag-and-drop functionality for scheduling and rescheduling meetings.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <h4>Customizable Booking Rules</h4>
                    <p class="card-text" style="line-height: 30px;">Administrators can set rules for room usage, such as booking time limits, advanced booking periods, and user permissions. Different rules can be applied to different rooms based on their size and facilities.</p>
                </div>
            </div>
        </div>

        <div class="row card-deck mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <h4>Resource Management</h4>
                    <p class="card-text" style="line-height: 30px;">The software can track and manage additional resources such as projectors, whiteboards, and catering services. Users can book these resources along with the meeting room to ensure everything is prepared in advance.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <h4>Reporting and Analytics</h4>
                    <p class="card-text" style="line-height: 30px;">Detailed reports on room usage, booking patterns, and resource utilization help organizations optimize their space and improve efficiency. Analytics can identify underused rooms and suggest ways to better allocate meeting space.</p>
                </div>
            </div>
        </div>

        <div class="row card-deck mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <h4>Mobile Accessibility</h4>
                    <p class="card-text" style="line-height: 30px;">Mobile apps or mobile-friendly interfaces allow users to book, modify, or cancel meetings on the go. Push notifications and reminders keep users informed about upcoming meetings and changes.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <h4>Check-In and No-Show Management</h4>
                    <p class="card-text" style="line-height: 30px;">Check-in features ensure that rooms are used as booked and free up space if users do not check in. Automated no-show management releases rooms for others to book if the original booking is not confirmed.</p>
                </div>
            </div>
        </div>

        <div class="row card-deck mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <h4>Integration with Other Systems</h4>
                    <p class="card-text" style="line-height: 30px;">Integration with building management systems, visitor management systems, and digital signage solutions enhances the overall efficiency of facility management.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <h4>Security and Compliance</h4>
                    <p class="card-text" style="line-height: 30px;">Secure user authentication and role-based access control ensure that only authorized personnel can book and manage meeting rooms. Compliance with data protection regulations, such as GDPR, ensures the privacy and security of user data.</p>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- ------------------------------------ -->
<div id="bvms2">
    <div class="container ">
        <div class="text-center">
            <h3 class="bvms-size"> Impact of a Meeting Room Booking System on Productivity</h3>
            <p>A meeting room booking system can significantly boost productivity in any organization. By simplifying how meeting spaces are managed, it removes many of the common obstacles that can disrupt work and waste time. Here’s how a booking system
                positively impacts productivity:
            </p>
        </div>

        <div class="row card-deck mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <img src="/images/vizitor/space-management/Data-driven-img.svg" alt="pen-underline-fill" />
                    <h5 class="mt-3"> Improves Collaboration</h5>
                    <p class="card-text">By integrating with calendars and supporting virtual meetings, the system facilitates smoother scheduling and better communication. Teams can collaborate more effectively, whether they’re in the office or working remotely.

                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <img src="/images/vizitor/space-management/money-recive.png" alt="qrcode-f" />
                    <h5 class="mt-3">Enhances Resource Management</h5>
                    <p class="card-text">The system allows for effective allocation of resources like projectors and video conferencing tools. This means everything needed for a meeting is prepared in advance, reducing last-minute scrambles and interruptions.

                    </p>
                </div>
            </div>
        </div>
        <div class="row card-deck mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <img src="/images/vizitor/space-management/customer-support.svg" alt="pen-underline-fill" />
                    <h5 class="mt-3">Saves Time</h5>
                    <p class="card-text">With an easy-to-use booking system, employees can quickly find and reserve meeting rooms without lengthy email chains or manual coordination. This efficiency reduces time spent on administrative tasks, allowing staff to focus on their
                        core work.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <img src="/images/vizitor/space-management/Sustainability-img.svg" alt="pen-underline-fill" />
                    <h5 class="mt-3">Reduces Scheduling Conflicts</h5>
                    <p class="card-text">Real-time availability checks help prevent double bookings and scheduling errors. This ensures that meetings start on time and that rooms are available as needed, minimizing disruptions and delays.
                    </p>
                </div>
            </div>
        </div>

        <div class="row card-deck mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <img src="/images/vizitor/space-management/customer-support.svg" alt="pen-underline-fill" />
                    <h5 class="mt-3"> Keeps Everyone Informed</h5>
                    <p class="card-text">Automated notifications and updates about meeting changes ensure that all participants are aware of any adjustments. This keeps everyone on the same page and helps avoid misunderstandings or missed meetings.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12  text-center">

            </div>
        </div>
        <div class="text-center bannerbtn mt-5">
            <a target="_blank" href="/blog/signing-in-has-never-been-easier-the-benefits-of-visitor-sign-in-system" class="btn-arrow"> Read more</a>
        </div>
    </div>
</div>



<!------------------------------->
<div id="bvms">
    <div class="container">
        <div class="text-center pb-5">
            <h2>Vizitor's Meeting Room Management Software: Your Perfect Meeting Space</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 c0l-12">
                <h5 class="mt-3">Find Rooms with the Amenities You Need </h5>
                <p class="card-text">Booking a room is easy with just a few clicks. Employees can use filters to choose a room that matches their meeting type—whether it's a one-on-one discussion, a team meeting, or a training workshop. They can also select rooms with specific
                    amenities, like video conferencing equipment or whiteboards.</p>
            </div>
            <div class="col-lg-4 c0l-12">
                <h5 class="mt-3">Maintain Conference Room Details </h5>
                <p class="card-text">Vizitor can provide detailed descriptions, upload photos, and list specifics for each room, such as seating capacity, location, and available amenities. This ensures employees can quickly find the right room for their needs and understand
                    exactly what each room offers.
                </p>
            </div>
            <div class="col-lg-4 c0l-12">
                <h5 class="mt-3">Encourage Check-Ins </h5>
                <p class="card-text">Maximize room usage by setting up check-in requirements. Employees can check in using their smartphones or tablets. If they fail to check in within a set time, the room becomes available for others to book, reducing wasted space.</p>
            </div>
            <div class="col-lg-4 c0l-12">
                <h5 class="mt-3">Configure Notification Emails </h5>
                <p class="card-text">Stay on top of your schedule with automatic notifications. The Vizitor app sends out confirmation emails, booking reminders, and check-in prompts, ensuring that you never miss a meeting and are always up-to-date.
                </p>
            </div>
            <div class="col-lg-4 c0l-12">
                <h5 class="mt-3">Auto-Invite Potential Attendees </h5>
                <p class="card-text">Meeting organizers can easily add attendees to the invite list when booking a room. The system then automatically sends emails with all the meeting details and updates, keeping everyone informed about any changes.</p>
            </div>
        </div>
    </div>
</div>

<div id="bvms2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <h2>Key Features of a Meeting Room Booking System
                </h2>
                <h5 class="mt-3">Easy Room Reservation</h5>
                <p class="card-text">Quickly find and book available meeting rooms with a user-friendly interface. Filters help you select rooms based on size, location, and amenities.</p>

                <h5 class="mt-3">Detailed Room Information</h5>
                <p class="card-text">View comprehensive details about each room, including seating capacity, equipment available, and room layout. Admins can update descriptions and upload photos to provide clear information.</p>

                <h5 class="mt-3">Check-In Requirements</h5>
                <p class="card-text">Implement check-in procedures to ensure rooms are used efficiently. Employees can check in via mobile devices, and if they don't, the room becomes available for others.</p>

                <h5 class="mt-3">Automatic Notifications</h5>
                <p class="card-text">Receive automated emails for booking confirmations, reminders, and check-in prompts. This keeps everyone informed and helps prevent missed meetings.</p>

                <h5 class="mt-3">Attendee Auto-Invites</h5>
                <p class="card-text">Easily add attendees to your meeting room bookings. The system sends out invitations with meeting details and updates, ensuring everyone stays informed.</p>

                <h5 class="mt-3">Integrated Virtual Meeting Options</h5>
                <p class="card-text">Seamlessly add virtual meeting links, such as Teams or Zoom, to room bookings. Start virtual meetings with a single click, integrating both in-person and online participants.</p>

                <h5 class="mt-3">Dynamic Space Management</h5>
                <p class="card-text">Adjust bookings and room assignments automatically if plans change. The system manages rescheduling and service adjustments without hassle.</p>

                <h5 class="mt-3">Real-Time Availability</h5>
                <p class="card-text">View real-time availability of meeting rooms to avoid double bookings and ensure rooms are available when needed.</p>

                <h5 class="mt-3">Customizable Booking Rules</h5>
                <p class="card-text">Set specific rules for booking, such as minimum notice periods or maximum booking durations, to fit your organization’s needs.</p>

                <h5 class="mt-3">Mobile Accessibility</h5>
                <p class="card-text">Manage bookings and check-ins from mobile devices, allowing for flexibility and ease of use on the go.</p>
            </div>
        </div>
    </div>
</div>


<!----------------------------->
<div id="bvms">
    <div class="container ">
        <div class="text-center">
            <h3 class="bvms-size"> Most Valuable Features of a Free Meeting Room Booking System!
            </h3>

        </div>
        <div class="row mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Room Booking
                    </h5>
                    <p class="vizitor-pass-h5-p " style="line-height: 30px;">Easily book the meeting room you need by choosing the date, time, and duration. You can add participants directly to the booking, and the system will automatically send out confirmation emails and messages to keep everyone in the loop.
                        This ensures that everyone knows where and when the meeting is happening, reducing confusion and missed appointments. With user-friendly options, you can also adjust bookings if plans change, making it simple to manage your schedule.

                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Resource Allocation
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Effortlessly assign important resources like projectors, teleconferencing equipment, and catering services to your meeting. The system helps you ensure that all necessary items are arranged ahead of time, so you’re well-prepared for
                        your meeting. This feature helps prevent last-minute scrambling for equipment or services and ensures everything runs smoothly, allowing you to focus on the meeting itself.

                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Calendar Sync
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Integrate your booking system with popular calendars such as Google Calendar to make scheduling and synchronization easier. This feature helps you avoid double bookings and keep track of all your meetings in one place. By syncing with
                        your calendar, you can see your schedule in real-time, making it easier to manage your appointments and avoid conflicts.

                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Availability Checks
                    </h5>
                    <p class="vizitor-pass-h5-p " style="line-height: 30px;">Check real-time availability of meeting rooms to find the perfect space without any scheduling conflicts. This feature ensures that you can select a room that meets your needs and is free at the time you require. By viewing current
                        room availability, you can efficiently utilize meeting spaces and avoid booking errors.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Stay Informed
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Receive timely notifications about upcoming meetings, cancellations, or changes to bookings. This keeps you up-to-date with all booking activities and helps you stay organized. By receiving alerts about any changes, you can make necessary
                        adjustments and ensure that you and your participants are always informed.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Virtual Collaboration
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Easily set up virtual meetings, interviews, and group sessions, no matter where the participants are located. This feature enhances team collaboration by allowing everyone to join from their own locations. It supports various online
                        platforms, making it simple to connect and collaborate effectively, regardless of physical distance.
                    </p>
                </div>
            </div>
        </div>
        <div class="text-center bannerbtn mt-5">
            <a target="_blank" href="/signup" class="btn-arrow">Get Started</a>
        </div>
    </div>
</div>
<!------------------------------->
<div id="bvms2">
    <div class="container ">
        <div class="text-center">
            <h3 class="bvms-size"> Say Goodbye to Last-Minute Booking Issues
            </h3>
        </div>

        <div class="row card-deck mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12 card text-center">
                <div class="card-body">
                    <h5 class="mt-3"> Customize</h5>
                    <p class="card-text">Our conference room management software is easy to customize from the start. Use the drag-and-drop builder and guided scripting to quickly add or adjust new features. You can tailor the software to meet your business needs and make
                        updates based on user feedback.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 card text-center">
                <div class="card-body">
                    <h5 class="mt-3">Go Mobile</h5>
                    <p class="card-text">Along with your desktop app, there's a fully optimized mobile version available. Access all your meeting room management features from your smartphone, anywhere you are. This gives you complete control and functionality on the go,
                        no matter where you are.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 card text-center">
                <div class="card-body">
                    <h5 class="mt-3">Integrate</h5>
                    <p class="card-text">Vizitor offers seamless integration with popular apps like Workspace, Zapier, and Salesforce. This makes it simple to connect your meeting room management software with other tools you use. You can also integrate with payment systems
                        like PayPal and inventory management software like SalesBinder through APIs.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<!-------------------------------->
<div id="bvms">
    <div class="container ">
        <div class="text-center">
            <h3 class="bvms-size"> What Sets Us Apart?
            </h3>
            <p>Every organization wants an advanced, reliable, efficient room booking system for smooth workflow. The Visitor software fulfills all employee's purposes. Our team has led the industry since 2000 and successfully served around 2000 global clients.
            </p>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <img src="/images/vizitor/space-management/work-diverse.svg" alt="qrcode-f" />
                    <h5 class="vizitor-pass-h5 mt-4">We Work on Diverse Devices</h5>
                    <p class="vizitor-pass-h5-p ">Our space management software works on all your diverse devices, whether iOS or Android; the software works for all.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <img src="/images/vizitor/space-management/customer-support.svg" alt="pen-underline-fill" />
                    <h5 class="vizitor-pass-h5 mt-4">24/7 Customer Support
                    </h5>
                    <p class="vizitor-pass-h5-p">Any query? Vizitor experts will reply to you within minutes and provide you with extensive support any time of day.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <img src="/images/vizitor/space-management/0ur-surrond-img.svg" alt="pen-underline-fill" />
                    <h5 class="vizitor-pass-h5 mt-4"> We Value Our Surroundings
                    </h5>
                    <p class="vizitor-pass-h5-p">Vizitor firmly believes in giving back to nature, and with our software, we encourage saving paper drives.</p>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="/www.vizitorapp.com" class="Digitize" style="font-weight: 500; font-size: 22px;"> Choose Vizitor
            </a>
        </div>
    </div>
</div>
<!-- Faq Section -->
<div id="bvms2">
    <div class="container">
        <div class="row">
            <div class="col-md-11 mx-auto">
                <h2 class="mb-5">Frequently Asked Questions</h2>
                <div id="accordion" class="accordion faqaccordion">
                    <div class="faqcard mb-0">
                        {{range $index, $elem := .Site.Data.meetingms.items }}
                        <div class="card-header collapsed" data-toggle="collapse" href="#faq{{$index}}">
                            <a class="card-title">
                                <b>{{.question}}</b>
                            </a>
                        </div>
                        <div id="faq{{$index}}" class="card-body collapse clrmod" data-parent="#accordion">
                            {{.answer | safeHTML}}
                        </div>
                        {{end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Faq Section Ends -->
{{end}}