{{ define "main" }}

<div class="container pagebanneres">
    <div class="row align-items-center mb-5">
        <div class="col-lg-6">
            <h1>Streamline Your Workplace with <span class="Digitize">Entry Management System</span></h1>
            <p>Transform your business in the digital age with Entry Management System (EMS), a mobile recording device designed to streamline the management of employee and supplier movement in the workplace. With EMS, remote workers can conveniently self-administer
                their temperature and movement recordings. This user-friendly software facilitates easy recording of entry and exit times, along with different security levels. Generate reports that can be viewed on mobile devices or printed for filing
                and auditing purposes. Additionally, employees working from remote locations can effortlessly check-in and check-out.</p>
            <div class="mt-5">
                <form id="entryMS">
                    <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email" required>
                    <input class="btn-try-free" type="submit" value="Try for free">
                </form>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <img src="/images/vizitor/visitor-management-system-scaled.webp" alt="visitor-management-system-scaled">
        </div>
    </div>
</div>



<div id="bvms2">
    <div class="container">
        <div class="text-center pb-5">
            <h2>Simplify Your Entry Processes with Our Smart Entry Management System
            </h2>
        </div>

        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12 center-content">
                <img src="/images/blog/image-310.png">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 " id="Delivery">
                <h3 class="bvms-size">Host Notifications</h3>
                <ul>
                    <li>Entry management system offers host notification options. You can use these notifications for the Different preferences.</li>
                    <li>Some visitors focus on their work for extended periods of time and do not check their emails often, they need a phone call.</li>
                    <li>Some visitors prefer email notifications instead.</li>
                    <li>Entry management system sends the alert notifications to the office staff for guest arrival.</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div id="bvms">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12 " id="Delivery">
                <h3 class="bvms-size">Pre-registration</h3>
                <ul>
                    <li>Entry management system provides a fast check-in process.</li>
                    <li>Entry management software allows guests to be pre registered ahead of their arrival.</li>
                    <li>Most advanced Entry management apps allow you to preregister visitors directly from the digital calendar.</li>
                    <li>Visitors details are stored in your cloud-based visitor logbook.</li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 center-content">
                <img src="/images/blog/image-311.png">
            </div>

        </div>
    </div>
</div>


<div id="bvms2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12 center-content">
                <img src="/images/blog/image-315.png">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 " id="Delivery">
                <h3 class="bvms-size">Visitor photo capture</h3>
                <ul>
                    <li>Capturing the image of the visitor allows people to know who is visiting them</li>
                    <li>Visitor photos are stored, for extra layer of security.</li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div id="bvms">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12 " id="Delivery">
                <h3 class="bvms-size">Visitor badges</h3>
                <ul>
                    <li>Visitor badges contain the information, photo and purpose of visiting. So this way we can recognize the authorized visitor.</li>
                    <li>The visitor badge will indicate when the visitor checked-in and who their host is so they can clarify the situation.</li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 center-content">
                <img src="/images/blog/image-316.png">
            </div>

        </div>
    </div>
</div>


<div id="bvms2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12 center-content">
                <img src="/images/blog/image-317.png">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 " id="Delivery">
                <h3 class="bvms-size">Legal document e-Signature capture</h3>
                <ul>
                    <li>Entry management system can capture electronic signatures on legal documents streamlines the process.</li>
                    <li>The security of an electronic signature is in the fact that there is traceable information associated with the signature.</li>
                    <li>The signature will hold information on who signed in, when they signed and where they signed.</li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div id="bvms">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12 " id="Delivery">
                <h3 class="bvms-size">Touchless visitor check-in</h3>
                <ul>
                    <li>Visitors use their smartphones for self check-ins without the help of any third person.</li>
                    <li>Instead of using a tablet to allow visitors to check-in on their own.</li>
                    <li>This will limit the potential spread of the virus when visitors use their hands to tap the screen.</li>
                    <li>Contactless check-ins are the best practice to prevent the spread of infection in the workplace.</li>

                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 center-content">
                <img src="/images/blog/image-111.png">
            </div>

        </div>
    </div>
</div>


<div id="bvms2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12 center-content">
                <img src="/images/blog/image-318.png">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 " id="Delivery">
                <h3 class="bvms-size">Send agreements in advance</h3>
                <ul>
                    <li>Before your guest arrives, be safe, sending them Pre agreement so that they can take precautions before arriving.</li>
                    <li>The company can send invitations to visitors with attached NDAs to sign in advance, or other agreements that might include health and safety precautions.</li>
                    <li>Visitors will receive and sign agreements in advance to avoid signing any agreements by hand once they arrive at your workplace.</li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div id="bvms">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12 " id="Delivery">
                <h3 class="bvms-size">Alert Employees</h3>
                <ul>
                    <li>The Touchless check-in system sends notifications to the worker when any visitor comes up to satisfy them and alerts them by sending the small print of the guest to form them aware and take necessary precautionary steps.</li>
                    <li>The Touchless Entry management system allows the worker to approve or disapprove the entry of any visitor on the premises.</li>

                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 center-content">
                <img src="/images/blog/image-320.png">
            </div>

        </div>
    </div>
</div>








<div class="Visitor-Management-System ">
    <div class="container ">
        <div>
            <p><span style="font-size: 28px;" class="color-wht ">Fact</span></p>
        </div>
        <div class="center-content ">
            <h2 class="color-wht mb-5">“As we move into the digital age and embrace paperless practices, this software can eliminate the need for manual data entry, significantly enhancing your business productivity.”</h2>
            <div class=" text-center mt-5">
                <a href="/signup" class="btn-arrow bvms-white-btn">Try for free</a>
            </div>
        </div>

    </div>
</div>

<div class="pagesection pb-5" style="background-color: rgb(240, 244, 247);">
    <div class="container standard">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2 class="center-content mb-5">Enable the highest standard of Safety and Compliance</h2>
            <div class="center-content border-line mb-5"></div>

        </div>
        <div class="row card-deck">
            <div class="col-md-4 col-sm-4 col-xs-12 card text-center card-shadow py-3">
                <div class="center-content mb-3">
                    <img src="/images/vizitor/hospitals/visitor-screening.png" class="pricingimg2 cardimg" alt="visitor-screening" />
                </div>
                <h5>
                    Suitable for Different Business Suites
                </h5>
                <p>The EMS software is designed to be flexible and customizable, making it suitable for businesses across various industries. Whether you are in healthcare, education, retail, or any other sector, the EMS can be tailored to suit your specific
                    needs.
                </p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 card text-center card-shadow py-3">
                <div class="center-content mb-3">
                    <img src="/images/vizitor/hospitals/visitor-time-ref.png" class="pricingimg2 imgtop-text cardimg" alt="visitor-time-ref" />
                </div>
                <h5 class="htop-tex ">
                    Increase Productivity with Digital Path
                </h5>
                <p>By implementing EMS, businesses can reduce the manual effort required for data entry and management, making it easier for staff to optimize their workload and focus on more strategic tasks. This can help increase overall productivity and
                    efficiency.
                </p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 card text-center card-shadow py-3">
                <div class="center-content mb-3">
                    <img src="/images/vizitor/hospitals/instant-alerts.png" class="pricingimg2 cardimg" alt="instant-alerts" />
                </div>
                <h5 class="desk">
                    Affordable & Budget-Friendly
                </h5>
                <p>EMS is available on a subscription-based model, which makes it affordable and budget-friendly for businesses of all sizes. You do not have to commit to hefty upfront purchases or high maintenance costs over time, making it a cost-effective
                    solution for businesses looking to optimize their operations.</p>
            </div>
        </div>
    </div>
</div>
<!-- -------------------------------------------- -->
<div id="bvms2">
    <div class="container ">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h3 class="bvms-size">Entry Management<span class="Digitize"> System Workflow</span></h3>
                <p>Streamline your visitor sign-in process, both on the front end for your guests and on the back end for your front desk admins.</p>
                <!-- --1-- -->
                <div class="mt-5">
                    <div class="right-btn">
                        <div>
                            <img src="/images/vizitor/bvm/1.svg" alt="1" />
                        </div>
                        <div>
                            <img style="margin: 10px 0px 0px 15px;" src="/images/vizitor/bvm/Line.svg" alt="Line" />
                        </div>
                    </div>
                    <div>
                        <p class="digital-visitor display-flex">Touchless Sign-In Process</p>
                        <p class="display-flex clients-p"> At the front desk, visitors can sign in by scanning a QR code with their phone or using the tablet
                        </p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- --2-- -->
                <div>
                    <div class="right-btn">
                        <div>
                            <img src="/images/vizitor/bvm/2.svg" alt="1" />
                        </div>
                        <div>
                            <img style="margin: 10px 0px 0px 15px;" src="/images/vizitor/bvm/Line.svg" alt="Line" />
                        </div>
                    </div>
                    <div>
                        <p class="digital-visitor display-flex">Enter the Details
                        </p>
                        <p class="display-flex clients-p"> Scan QR code, fill in necessary details on the customized form, and submit to check-in.

                        </p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- --3-- -->
                <div>
                    <div class="right-btn">
                        <div>
                            <img src="/images/vizitor/bvm/3.svg" alt="1" />
                        </div>
                        <div>
                            <img style="margin: 10px 0px 0px 15px;" src="/images/vizitor/bvm/Line.svg" alt="Line" />
                        </div>
                    </div>
                    <div>
                        <p class="digital-visitor display-flex">Host Notification
                        </p>
                        <p class="display-flex clients-p"> The VMS automatically notifies the designated host employee that their guest has arrived.
                        </p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- --4-- -->
                <div>
                    <div class="right-btn">
                        <div>
                            <img src="/images/vizitor/bvm/4.svg" alt="1" />
                        </div>
                        <div>
                            <img style="margin: 10px 0px 0px 15px;" src="/images/vizitor/bvm/Line.svg" alt="Line" />
                        </div>
                    </div>
                    <div>
                        <p class="digital-visitor display-flex">Greeting</p>
                        <p class="display-flex clients-p">The host employee can identify their guest and greet them upon arrival, reducing awkwardness.
                        </p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- --5-- -->
                <div>
                    <div class="right-btn">
                        <div>
                            <img src="/images/vizitor/bvm/5.svg" alt="1" />
                        </div>

                    </div>
                    <div>
                        <p class="digital-visitor display-flex">Check-Out</p>
                        <p class="display-flex clients-p" style="margin-left: 45px;"> Tap the check-out button to quickly exit the building, with departure time automatically recorded.

                        </p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- ---- -->

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <img class="center-content" src="/images/vizitor/howit-works.svg" alt="howit-works" />
                <div class="center-content">
                    <div class="my-5">
                        <form id="entryMsWorkflow">
                            <input type="email" class="email-input" id="emaildigital" name="emaildigital" placeholder="Enter your email" required>
                            <input class="btn-try-free" type="submit" value="Try for free">
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- -------------------------------------------- -->

<div class="container pagesection pb-5">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h2 class="center-content">Benefits of the Entry Management System</h2>
        <div class="center-content border-line"></div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4 col-sm-4 col-xs-12  center-content">
            <div class="center-content mb-3">
                <img src="/images/vizitor/hospitals/instant-alerts1.png" class="pricingimg2 cardimg" alt="instant-alerts1" />
            </div>
            <h5>
                Increased security
            </h5>
            <p>Protect your premises with customizable access levels and real-time reporting.</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12  center-content">
            <div class="center-content mb-3">
                <img src="/images/vizitor/hospitals/NDA.png" class="pricingimg2 imgtop-text cardimg" alt="NDA" />
            </div>
            <h5 class="htop-tex ">
                Enhanced visitor experience
            </h5>
            <p>Provide a seamless and hassle-free experience for your guests, from pre-registration to check-out.</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12  center-content">
            <div class="center-content mb-3">
                <img src="/images/vizitor/hospitals/health-screening.png" class="pricingimg2 cardimg" alt="health-screening" />

            </div>
            <h5>
                Improved efficiency
            </h5>
            <p>Save time and reduce administrative work with our streamlined system.
            </p>
        </div>
    </div>
</div>


<div class="pagesection pb-5" style="background-color: rgb(240, 244, 247);">
    <div class="container black-card">
        <div class="row align-items-center">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="center-content">
                    <img src="/images/vizitor/Pre-registration.svg" alt="Pre-registration" />
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row card-deck">
                        <div class="col-md-6 col-sm-6 col-xs-12 ">
                            <div class="card  card-shadow py-3 pl-3 pr-3">
                                <div>
                                    <img src="/images/vizitor/bvm/qrcode-f.svg" class="mb-3" alt="qrcode-f">
                                    <h5 class="htop-tex desk">Streamlined check-in process</h5>
                                </div>
                                <p>Save time and reduce administrative work with our easy-to-use system.</p>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12 ">
                            <div class="card  card-shadow py-3 pl-3 pr-3">
                                <div>
                                    <img src="/images/vizitor/bvm/clipboard-list.svg" class="mb-3" alt="clipboard-list">
                                    <h5 class="htop-tex desk">Real-time reporting</h5>
                                </div>
                                <p>Stay on top of visitor activity with instant reporting on check-ins, check-outs, and any security breaches.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 30px;">
                    <div class="row card-deck">
                        <div class="col-md-6 col-sm-6 col-xs-12 ">
                            <div class="card  card-shadow py-3 pl-3 pr-3">
                                <div>
                                    <img src="/images/vizitor/bvm/identification.svg" class="mb-3" alt="identification">
                                    <h5 class="htop-tex ">Visitor badges</h5>
                                </div>
                                <p>Provide a professional and welcoming experience for your guests with customizable badges.</p>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12 ">
                            <div class="card card-shadow py-3 pl-3 pr-3">
                                <div>
                                    <img src="/images/vizitor/bvm/Notifications-f.svg" class="mb-3" alt="Notifications-f">
                                    <h5 class="htop-tex ">Email notifications</h5>
                                </div>
                                <p>Keep track of your visitors with automatic email notifications when they arrive.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div>{{- partial "upgrade.html" . -}}</div>
{{end}}