{{ define "main" }}
<div class="container mainbanneres" style="border: 1px solid #fff;">
    <div class=" text-center">
        <h1>How we reshaped <span class="Digitize">visitor management for Hard Rock Cafe</span> at 175 locations across the globe</h1>
        <p>Every guest is unique in a way and with vizitor they are provided unique IDs which helps us in tracking down their details easily along with their in and out time. Hard rock cafes get a lot of great feedback from their guests based on the easy
            check-in process. “This is how we can visualize a future centric workplace”</p>
        <p><br>Dhiren, Hard Rock Cafe Nigeria</b>
        </p>
    </div>
    <div class="relative">
        <img src="/images/case-studies/negative-swoop.svg" class="negative-swoop" alt="negative-swoop">
        <img src="/images/case-studies/hard-rock-cafe-nigeria.svg" alt="hard-rock-cafe-nigeria" class="xs-hide sm-hide hero-image">
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
            <h3>Client Overview </h3>
            <p>Hard Rock Cafe is one of the largest restaurant chains in the world spread around 175 locations across 74 countries, supported by 4800 employees. </p>
            <p>It is known for its innovative menus and excellent modern ambiance serving thousands of guests every day with a range of Mediterranean, Mexican, American, and Indian-style burgers.</p>
            <h3>The Challenge</h3>
            <p>Prior to connecting with Vizitor, Hard Rock Cafe managed their guests' check-in using conventional logbooks, which was obviously time-consuming and involved physical interactions with the staff.</p>
            <p>When Hard Rock Cafe was hit by the pandemic, they had one important question in mind…</p>
            <p>How do we minimise physical interactions from our operations?</p>
            <p>And what bothered them the most was the logbook-based visitor check-in at each location that involved physical interaction between customers and employees which was a huge problem on two fronts:
            </p>
            <p>First, because it was a tedious task and chipped away on customer experience. Second, because it didn’t conform with the government's new regulations.
            </p>
            <p><b>Prashanth from Hard Rock Cafe, India says,- </b>“Every guest is unique in a way and with vizitor they are provided unique IDs which helps us in tracking down their details easily along with their in and out time. So, if a specific guest
                is even suspected of carrying the virus, we can run an audit train on him to know when he came in and if he interacted with any employee. It doesn’t matter either we are getting 1 visitor or 1000 visitors per day. The check-in process
                has been completely automated by Vizitor”.</p>
            <h3>The Solution</h3>
            <p>We proposed a holistic makeover of their visitor management system by offering 100% automation of the check-in process using the Vizitor app.</p>
            <p>With Vizitor, customers could simply check into the cafe by scanning a QR code from their smartphone, offering customers a seamless check-in experience while allowing Hard Rock to verify customer’s contact details as well.
            </p>
            <p>This ensured that the users could chek-into the cafe effortlessly using their mobile number or email as they have already been logged into the system.
            </p>
            <p>Visitor management automation has worked wonders for Hard Rock Cafe attracting loads of positive feedback from their customers post pandemic.
            </p>
            <h3>The Results</h3>
            <p>Our strategies have had a huge positive impact in terms of customer experience for Hard Rock Cafe. Here are the key improvements:</p>
            <ul style="color: #687888;list-style: disc;">
                <li>Hassle-free self check-in for customers</li>
                <li>Contact-less check-in to avoid spread of covid</li>
                <li>Seamless management of visitor details with unique keys(ID) assigned to each visitor</li>
                <li>Easier reservation management </li>
                <li>Central dashboard to keep track of customer and employee activity</li>
            </ul>
            <p>“ We’ve completely streamlined and automated our check-in process” </p>
            <p><b>- Dhiren, Hard Rock Cafe Nigeria </b></p>

        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            {{- partial "form-get-a-free-trial.html" . -}}
        </div>
    </div>
</div>

{{end}}