{{ define "main" }}
<div class="capturing-photos">
    <div class="container pagebanneres">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <div>
                    <h1>Instant Notification</h1>
                    <p>Nothing is better than immediately aware of your visitors and stay informed with instant notification. When a visitor enters an office, and you are greeted by a receptionist. Then receptionist would ask multiple questions about the
                        purpose of their visit. The receptionist gets in contact with the host. Host then, either tells the receptionist to inform the visitor to wait or comes out to meet with the visitor. However, with Vizitor at your front desk, your
                        visitors can directly enter details on the tablet, can send out a message notifying hosts of their presence.</p>
                    <p>
                        <span class="Digitize help-dot">&#8226;</span> Automatically notify your employees when their visitors arrive. Host notifications can be sent via email, SMS and push notification.
                    </p>
                    <p>
                        <span class="Digitize help-dot">&#8226;</span> Vizitor makes it easy to greet your visitors. Send notifications via welcome messages.
                    </p>
                    <div class="bannerbtn mt-4">
                        <a href="/signup" class="btn-arrow">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="center-content">
                    <img src="/images/vizitor/notificationn/instant-notification1.png" alt="instant-notification1">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container pagesection">
    <div class="card-deck">
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/notificationn/instant-host-notification.png" class="card-tb" alt="instant-host-notification" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Instant host notification</h5>
                <p>Automatically notify your employees when their visitors arrive. Host notifications can be sent via email and SMS.</p>
            </div>
        </div>
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/notificationn/customized-host-messae.png" alt="customized-host-messae" class="card-tb" />
            </div>
            <div class="card-body">
                <h5 class="card-title"> Customized host message</h5>
                <p>The host notification template is fully customizable, so you can add more detail, specific information to message.</p>
            </div>
        </div>
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/notificationn/outstay-alerts.png" class="card-tb" alt="outstay-alerts" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Outstay Alerts</h5>
                <p>If visitor forgets to check-out or overstays its duration, an automatic alert message is sent to the host, to extend the meeting duration.</p>
            </div>
        </div>
    </div>
</div>



<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="center-content">
                <img src="/images/vizitor/notificationn/instant-notification-2.png" alt="instant-notification-2">
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div>
                <h2>Vizitor PASS App!</h2>
                <p>With Vizitor PASS mobile app for Android and iOS, you have a companion for employees and Visitors to sync in at all times. A powerful tool to allow your employees to manage their visitors by saving each other's time.</p>
            </div>
        </div>
    </div>
</div>

<div class="container pagesection">
    <h2 class="center-content ">Notifications when employees need them</h2>
    <div class="center-content border-line"></div>
    <br>
    <h3>Check-In Notification</h3>
    <p>The moment visitor checks-in, our visitor management system sends out an email or SMS notification to the host and visitors,</p>
    <h6>It is of following types :</h6>

    <div class="row mt-5">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <h6>1. Welcome Notification</h6>
            <p>Vizitor sends a welcome notification to visitors, when they check-in.</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="/images/vizitor/notificationn/welcome-notification.png" class="img-shadow" alt="welcome-notification">
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <h6>2. Host Notification</h6>
            <p>The host receives a notification when their visitors have arrived.</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="/images/vizitor/notificationn/host-notification1.png" class="img-shadow" alt="host-notification1">
        </div>
    </div>
    <h3 class="mt-5">Check-In Notification</h3>
    <p>
        When the visitor check-out, our visitor management system sends out an email and SMS notification to the host and visitors.
    </p>
    <h6>It is of two types :</h6>
    <div class="row mt-5">

        <div class="col-md-6 col-sm-6 col-xs-12">
            <h6>1. Thanks Notification</h6>
            <p>When visitors signs-out, they receive a thanks message.</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="/images/vizitor/notificationn/thanks-notification.png" class="img-shadow" alt="thanks-notification">
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <h6>2. Host Notification</h6>
            <p>The host receives a notification when the visitors checks-out.</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="/images/vizitor/notificationn/host-notification2.png" class="img-shadow" alt="host-notification2">
        </div>
    </div>
    <div class="mt-5">
        <h3>Push Notifications</h3>
        <p>
            The Vizitor PASS mobile app can help your host to send invites to their visitors at any time. It can send push notifications that include visitor photos and sign-in details. You can even send your visitors a quick response, right from the app.
        </p>
    </div>
</div>



<div>{{- partial "upgrade.html" . -}}</div>
{{end}}