{{ define "main" }}
<div class="container pagebanneres">
    <div class="row align-items-center">
        <div class="col-md-7 col-sm-6 col-xs-12 ">
            <h1>Touchless Visitor Management System | Vizitor</h1>
            <div>
                <p><b>Ensure Safe, Contactless Visitor Check-ins</b></p>
                <p class="visitor-Smoothen">
                    Keep your workplace safe and efficient with Vizitor’s touchless visitor management system. Say goodbye to manual logbooks and long queues. Our platform ensures contactless check-ins, real-time visitor tracking, and seamless host notifications, all from one cloud-based dashboard.

                </p>
            </div>
            <div class=" mt-4">
                <form id="touchlessVMS">
                    <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email" required>
                    <input class="btn-try-free" type="submit" value="Try for free">
                </form>
            </div>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12 ">
            <img src="/images/vizitor/Touchless-check/Make-your-workplace.png" alt="Make-your-workplace" />
        </div>
    </div>
</div>

<div style="background-color: rgb(240, 244, 247); " class="pagebanneres">
    <div class="container">
        <div class="center-content">
            <h2 class="signapore-color">How it works</h2>
            <p>Vizitor, let you welcome your visitors and employees with a<br> contactless check-in. Your visitors and employees can simply <br> check-in with the help of their mobile phones.</p>
            <br>
        </div>
        <div class="row align-items-center">
            <div class="col-md-5 col-sm-5 col-xs-12 ">
                <img src="/images/vizitor/Touchless-check/touchless-check-in.png" alt="touchless-check-in" />
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 ">
                <div class="touchless-ms touchless-ms-phone">
                    <p class="box-touchless box-p"><b>1</b></p>
                </div>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="touchless-alerts">
                    <h5 class="desk">Touchless Check-in</h5>
                    <p>Harness the power of Touchless Check-in with vizitor. You can simply check-in by scanning a QR code with your mobile phone leading you to a customized form to fill in details.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="background-color: rgb(240, 244, 247);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="touchless-alerts">
                    <h5 class="desk">Enter your details</h5>
                    <p>After scanning the QR code a customized form will pop up. Just fill in the required details and submit the form to check-in.</p>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 ">
                <div class="touchless-ms touchless-ms-phone">
                    <p class="box-touchless box-p"><b>2</b></p>
                </div>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12 instant-notif">
                <img src="/images/vizitor/Touchless-check/enter-your-details.png" alt="enter-your-details" style="width: 80%;" />
            </div>
        </div>
    </div>
</div>
<div style="background-color: rgb(240, 244, 247);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 col-sm-5 col-xs-12 instant-notif">
                <img src="/images/vizitor/Touchless-check/photo-capture.png" alt="photo-capture" style="width: 80%;" />
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 ">
                <div class="touchless-ms touchless-ms-phone">
                    <p class="box-touchless box-p"><b>3</b></p>
                </div>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="touchless-alerts">
                    <h5 class="desk">Photo Capture</h5>
                    <p>For enhanced security ask your visitor for a photo. You don’t need any additional hardware to capture photos. Visitors can simply capture their photo with their mobile phone.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="background-color: rgb(240, 244, 247);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="touchless-alerts">
                    <h5 class="desk">Health Screening Form</h5>
                    <p>Once a visitor has submitted all the required details you can ask them to fill a Health Screening Form right on their mobile phone. This let’s you understand the health condition of your visitors.</p>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 ">
                <div class="touchless-ms touchless-ms-phone">
                    <p class="box-touchless box-p"><b>4</b></p>
                </div>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12 instant-notif">
                <img src="/images/vizitor/Touchless-check/health-screening-form.png" alt="health-screening-form" />
            </div>
        </div>
    </div>
</div>

<div style="background-color: rgb(240, 244, 247);" class="pb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 col-sm-5 col-xs-12 instant-notif">
                <img src="/images/vizitor/Touchless-check/e-Pass.png" alt="e-Pass" />
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 ">
                <div class="touchless-ms-5 touchless-ms-phone">
                    <p class="box-touchless box-p"><b>5</b></p>
                </div>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="touchless-alerts">
                    <h5 class="desk">e-Pass</h5>
                    <p>After filling out all the required details visitors and employees will be issued an E-Pass which will let them enter the facility with ease.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="background-color: #F17A39;" class="pb-5">
    <div class="container pt-5">
        <div class="demo-background-size">
            <div class="center-content">
                <h2 class="font-sizeh3" style="color: #fff !important;">New Features</h2>
                <p style="color: #fff !important;"> That will help you make your business operate securely</p>
            </div>
            <div class="row card-deck">
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <div class="card text-center card-shadow">
                        <div class="center-content my-5">
                            <img src="/images/vizitor/demo/COVID-mode.png" alt="COVID-mode">
                        </div>
                        <h6>COVID Mode</h6>
                        <p>Multiple Covid-19 health Questionnaire with feature to find if user came from a contaminated zone....
                            <a href="/contact-tracing" rel="canonical"> <span class="touchless-Read-more"><b>Read more</b></span></a><br> <br></p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <div class="card text-center card-shadow">
                        <div class="center-content my-5">
                            <img src="/images/vizitor/demo/live-occupancy-monitoring.png" alt="live-occupancy-monitoring" style="width: 51px;">
                        </div>
                        <h6>Live Occupancy Monitoring</h6>
                        <p>Help maintain a occupancy limit inside the workplace to prevent overcrowding with live alerts....
                            <a href="/" rel="canonical"> <span class="touchless-Read-more"><b>Read more</b></span></a><br></p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <div class="card text-center card-shadow">
                        <div class="center-content my-5">
                            <img src="/images/vizitor/demo/geo-attendance.png" alt="geo-attendance">
                        </div>
                        <h6>Geo Attendance</h6>
                        <p>Contact tracing help you know the status of your visitor's Accurate Time tracing and whom they met so it's easy to back trace in case of any virus.....
                            <a href="https://www.vizitorapp.com/blog/stop-covid-19-with-contact-tracking/" rel="canonical"> <span class="touchless-Read-more"><b>Read more</b></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container center-content pagesection">
    <h2 class=" desk font-sizeh3">Make Contactless Check-ins</h2>
    <div class="center-content border-line"></div>
    <p class="desk">Smoothen your guest's arrival through digitized check-in.<br> Make the process of check-in shift from messy <br>paper work to an organized digital framework.</p>
    <div class="bannerbtn mt-4">
        <a href="/signup" class="btn-arrow">Get Started</a>
    </div>
    <br>
    <br>
</div>




<div>{{- partial "upgrade.html" . -}}</div>

    <div id="bvms2">
        <div class="container">
            <div class="row">
                <div class="col-md-11 mx-auto">
                    <h2 class="mb-5">Frequently Asked Questions</h2>
                    <div id="accordion" class="accordion faqaccordion">
                        <div class="faqcard mb-0">
                            {{range $index, $elem := .Site.Data.touchlessvmsFaq.items }}
                            <div class="card-header collapsed" data-toggle="collapse" href="#faq{{$index}}">
                                <a class="card-title">
                                    <b>{{.question}}</b>
                                </a>
                            </div>
                            <div id="faq{{$index}}" class="card-body collapse clrmod" data-parent="#accordion">
                                {{.answer | safeHTML}}
                            </div>
                            {{end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}