{{ define "main" }}

<div class="container pagebanneres">
    <iframe style="height: 500px;" class="w-100" src="https://www.youtube.com/embed/7HUTsr762tw"></iframe>
</div>

<div class="container pagesection">
    <div class="center-content">
        <h1 style="color: #F15E5F;" class=" desk">Thanks for requesting a demo</h1>
        <p>Our team will get in touch with you within 12-24 hours.</p>
        <div class="bannerbtn my-5">
            <a href="/" class="btn-arrow">Go back to homepage</a>
        </div>
    </div>
</div>


{{end}}