{{ define "main" }}
<!--------------------->
<div class="pagebanneres">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12  ">
                <p span class="Digitize">VEHICLE BOOKING SOFTWARE</p>
                <h1 class="paint "> <span class="Digitize">Simplify the Process Of </span> Reserving Vehicles</h1>
                <p style="line-height: 30px;">The convenient way to find and book vehicles with Vizitor Vehicle Booking
                    System
                </p>
                <div class="mt-5">
                    <form id="attendanceForm">
                        <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email"
                            required>
                        <input class="btn-try-free" type="submit" value="Try for free">
                    </form>
                    <div class="mt-5 Try-free">
                        {{range .Site.Params.apps}}
                        <a href="{{.url}}" target="_blank"><img class="btn-app btn-app-mg phonetop-btn"
                                src="{{.image  | absURL}}" alt="{{.title}}"></a>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--------------------->
<div id="bvms2">
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-md-12 col-sm-12 col-xs-12 " id="bvmsli">
                <h3 class="bvms-size">Smart Vehicle Booking With A Comprehensive App
                </h3>
                <p>Say Goodbye to traditional ways of handwritten records and manage vehicle booking with ease on your
                    phone and desktop.
                </p>
                <ul>
                    <li><span>
                            The fair and straightforward way for staff to book cars from their phone and see the
                            availability.
                        </span>
                    </li>
                    <li><span>Assign customized features for the ease of staff and car usage.
                        </span></li>
                    <li><span>When booked, it's convenient to locate the vehicles with maps
                        </span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!------------------>
<div id="bvms">
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-md-12 col-sm-12 col-xs-12 " id="bvmsli">
                <h3 class="bvms-size">What is Vehicle Booking Software?
                </h3>
                <p>The vehicle booking software is an innovative software designed to streamline the reservation,
                    management, and tracking of company vehicles within an organization.
                </p>
                <p>Struggling at the office due to mismatched office vehicles monitoring?
                </p>
                <p>The smart way is to to invest in a vehicle booking system for business trips, client meetings, or
                    office-related tasks. This helps authorized employees meet the task at right place in right time.
                </p>
            </div>
        </div>
    </div>
</div>
<!------------------>
<div id="bvms2">
    <div class="container ">
        <div class="text-center">
            <h3 class="bvms-size">Book With Vehicles Like a Breeze In <span class="Digitize"> 6 Simple Steps </span>
            </h3>
            <p>With the help of vehicle booking software, you can book vehicles at office spaces conveniently.</p>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Access and Login
                    </h5>
                    <p class="vizitor-pass-h5-p " style="line-height: 30px;">Employees access the vehicle booking system
                        through a dedicated platform, typically online or through a mobile app, using their credentials
                        to log in.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Check Vehicle Availability
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">The system displays real-time information on
                        company vehicles, allowing team members to check availability for the desired date and time.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Select Vehicle and Time Slot
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Employees choose a specific vehicle and
                        select their preferred time slot for usage. Some smart vehicle booking systems allow specific
                        trip purposes.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Confirmation and Notifications
                    </h5>
                    <p class="vizitor-pass-h5-p " style="line-height: 30px;">Once smart vehicle booking is made, they
                        receive confirmation details, including the reserved vehicle, date, time, and additional
                        instructions.
                        Notifications may be sent through the app or email.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Vehicle Check-In
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">On the day of the reservation, employees
                        check in through the system to confirm the vehicle's usage. This involves using a mobile app or
                        QR code.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Usage Tracking
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">The vehicle booking software tracks the
                        vehicle's usage, recording details such as mileage, duration, and purpose.
                        The recorded information contributes to tracking overall vehicle utilization.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!----------------------->
<div id="bvms">
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-md-12 col-sm-12 col-xs-12 " id="bvmsli">
                <h3 class="bvms-size">Make it Easy To Locate Vehicles
                </h3>
                <p>Utilize the admin dashboard to view company vehicle usage, enabling informed business decisions
                    comprehensively.
                </p>
                <ul>
                    <li><span> Prevent vehicle idleness with timely check-in reminders.
                        </span> </li>
                    <li><span>Control access to specific vehicles for designated individuals or departments.
                        </span></li>
                    <li><span>Promote fairness by setting booking limits for vehicles on the vehicle booking system.
                        </span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--------------------------->
<div id="bvms2">
    <div class="container ">
        <div class="text-center">
            <h3 class="bvms-size">Make Office Vehicle Booking Flexible Done Right!
            </h3>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Frictionless Vehicle Booking
                    </h5>
                    <p class="vizitor-pass-h5-p " style="line-height: 30px;">The vehicle booking software make the
                        vehicle booking process frictionless and easy. The advanced technology helps smooth office
                        workflow.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">No Training Required
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Employees don’t require training to use the
                        software. They can easily operate the software to monitor vehicles and track current location.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Right Technology
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">The right technology employed in a vehicle
                        booking system is crucial to ensure efficiency, accuracy, and a seamless user experience.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------------->
<div id="bvms">
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-md-12 col-sm-12 col-xs-12 " id="bvmsli">
                <h3 class="bvms-size">There's Always More With Vizitor
                </h3>
                <p>Want to manage shared resources? We've got you covered!
                </p>
                <ul>
                    <li><span> Simplify employee bookings, reducing administrative workload.
                        </span> </li>
                    <li><span>Efficiently reserve a range of workplace assets, from parking spaces and equipment to
                            lockers and EV chargers.
                        </span></li>
                    <li><span>Gain comprehensive insights into workplace resource usage for effective future planning.
                        </span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--------------------------->
<div id="bvms" style="background: #ED5C18; padding: 80px 0;">
    <div class="container">
        <div class="content ">
            <div class="text-center">
                <h2 class="color-wht mt-5 pb-3">Nearly 2000 workplaces are already making smarter decisions with
                    Vizitor </h2>
                <p class="color-wht">Because we believe in delivering Quality not a trade deal!
                </p>
                <div class=" text-center mt-5">
                    <a href="/signup" class="btn-arrow attendence-white-btn">Try For Free</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Faq Section -->
<div id="bvms2">
    <div class="container">
        <div class="row">
            <div class="col-md-11 mx-auto">
                <h2 class="mb-5">Frequently Asked Questions</h2>
                <div id="accordion" class="accordion faqaccordion">
                    <div class="faqcard mb-0">
                        {{range $index, $elem := .Site.Data.faqvehicle.items }}
                        <div class="card-header collapsed" data-toggle="collapse" href="#faq{{$index}}">
                            <a class="card-title">
                                <b>{{.question}}</b>
                            </a>
                        </div>
                        <div id="faq{{$index}}" class="card-body collapse clrmod" data-parent="#accordion">
                            {{.answer | safeHTML}}
                        </div>
                        {{end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Faq Section Ends -->

{{end}}