{{ define "main" }}
<section>
    <div class="container pagebanneres">
        <div class="row">
            <div>
                <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <div>
                        <h1 class="center-content ">Visitor Management for <span class="Digitize">Data Center</span> </h1>
                    </div>
                    <div class="mt-5">
                        <p>India is the second largest online market, with over 460 million plus internet users, . Booming cloud adoption is further initiating the growth in Indian data center market. Vizitor is an easy solution for safeguard of the sensitive
                            data. With 3 easy steps you can track every step at your data center.</p>

                        <div class="col-md-12 col-sm-12 col-xs-12 mt-5">
                            <h2 class="center-content ">3 Step Process</h2>
                        </div>
                        <p><span>&#8226;</span> <b>Tap to Check in:</b> When the visitor comes, he/she can easily tap the ipad to check in smartly. The process is simple, paper-free and visitor friendly.</p>
                        <p><span>&#8226;</span> <b>Fill-in necessary details:</b> After the visitor taps to check in, he/she needs to fill in some minor details about him/her like: Name, phone no., whom to visit, purpose, etc.</p>
                        <p><span>&#8226;</span> <b>Captures the face:</b> Lastly, it just captures the face of visitor for better data management and then the visitor can easily rome around to serve their purpose.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container mt-5">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h2 class="center-content ">Features</h2>
    </div>
    <div class="row card-deck mt-5">

        <div class="col-md-4 col-sm-4 col-xs-12 card text-center card-shadow">
            <h6 style="margin-top: 25px;">Check-in/Check-out</h6>
            <p class="card-p">There is proper system for 24/7 watchguard. It records all the check-in/check-out of the guest.
            </p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 card text-center card-shadow">
            <h6 style="margin-top: 25px;">Photo of visitor</h6>
            <p class="card-p">The software has a feature of capturing the face of the guest for better clarity that helps in maintaining records.
            </p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 card text-center card-shadow">
            <h6 style="margin-top: 25px;">Host Notifications</h6>
            <p class="card-p">There is an in-built customized notification process that maintains a balance and saves time. The person (for whom there is a visitor) gets a notification so that he gets an alert.
            </p>
        </div>
    </div>
</div>


<div>{{- partial "upgrade.html" . -}}</div>
{{end}}