{{ define "main" }}
<div>
    <div class="container pagebanneres">
        <div class="row align-items-center">

            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <h1><span class="Digitize">Visitor management systems</span> Solution for workplace needs</h1>
                <div>
                    <p>Maximize workplace security, visitor experiences, and brand image with powerful cloud visitor management systems that unlock valuable insights.
                    </p>
                    <div class="mt-5">
                        <form id="vms">
                            <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email" required>
                            <input class="btn-try-free" type="submit" value="Try for free">
                        </form>
                    </div>


                    <p class="no-credit Try-free mt-4">* No credit card required</p>
                    <div class="mt-4 Try-free mb-4">
                        {{range .Site.Params.apps}}
                        <a href="{{.url}}" target="_blank"><img class="btn-app btn-app-mg phonetop-btn" src="{{.image  | absURL}}" alt="{{.title}}"></a>
                        {{end}}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="/images/vizitor/bvm/best-visitor-management-system-in-india.svg" alt="best-visitor-management-system-in-india" />
            </div>
        </div>
    </div>
    <div class="container-fluid">{{- partial "clients.html" . -}}</div>
    <!-- ------------------------------>
    <div class="Visitor-Management-System ">
        <div class="container ">
            <div class="center-content ">

                <h2 class="color-wht mb-5"> What is visitor management?</h2>
                <p class="What-Visitor mb-4">Visitor management is the process of monitoring and controlling access to a particular location or facility by visitors, contractors, and other non-employees. Automated visitor management system involves implementing systems and procedures
                    that enable organizations to effectively manage visitor access, enhance security, and streamline visitor registration and visitor check-in process. Cloud Visitor management systems often include tools such as screening questions, digital
                    sign-in forms, and visitor badges to facilitate a secure and efficient visitor experience.</p>
                <div class=" text-center mt-5">
                    <a href="/signup" class="btn-arrow bvms-white-btn">Try for free</a>
                </div>
            </div>

        </div>
    </div>

    <!-- -------------------------------------------- -->
    <div id="bvms2">
        <div class="container ">
            <div class="text-center">
                <h3 class="bvms-size"> Why do businesses use Vizitor <br>for<span class="Digitize"> visitor management?</span></h3>
            </div>
            <div class="row card-deck mt-5">
                <div class="col-md-4 col-sm-4 col-xs-12 card">
                    <div class="card-body">
                        <p class="digital-visitor">Make a Lasting Impression</p>
                        <p class="card-text">Upgrade the front desk with modern sign-in and custom branding to make a great first impression on visitors.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 card">
                    <div class="card-body">
                        <p class="digital-visitor">Streamline Sign-In Process</p>
                        <p class="card-text">Eliminate the need for paper documents, handwritten badges, and messaging employees about visitor arrivals with a streamlined sign-in process.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 card">
                    <div class="card-body">
                        <p class="digital-visitor">Enhance Workplace Security
                        </p>
                        <p class="card-text">Ensure better security with real-time visitor tracking, watchlists,data security and instant notifications for unauthorized visitors.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row card-deck mt-5">
                <div class="col-md-4 col-sm-4 col-xs-12 card">
                    <div class="card-body">
                        <p class="digital-visitor">Real-time Insights and Reporting
                        </p>
                        <p class="card-text">Understand visitor patterns, track peak hours, identify potential security risks and enhance workplace safety.

                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 card">
                    <div class="card-body">
                        <p class="digital-visitor">Improved Visitor Experience
                        </p>
                        <p class="card-text">Digital sign-in, automatic notifications, and self-service kiosks can help streamline the visitor experience.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 card">
                    <div class="card-body">
                        <p class="digital-visitor">Meet compliance Needs</p>
                        <p class="card-text">Simplify compliance requirements related to visitors with Vizitor’s automated cloud visitor system management
                        </p>
                    </div>
                </div>
            </div>
            <div class="text-center bannerbtn mt-4">
                <a target="_blank" href="/blog/signing-in-has-never-been-easier-the-benefits-of-visitor-sign-in-system" class="btn-arrow"> Read more</a>
            </div>
        </div>
    </div>

    <div id="bvms">
        <div class="container">
            <div class="center-content">
                <h3 class="bvms-size">What are visitor management systems?</h3>
                <p>Visitor management systems (VMS) are software applications that allow organizations to manage the flow of visitors entering their premises. These systems automate the process of registering, tracking, and managing visitors by collecting
                    and storing visitor information such as their name, contact details, purpose of the visit, and time of entry and exit. Visitor management systems can be used in a variety of settings, including office buildings, hospitals, schools,
                    government buildings, and event venues. Some common features of a VMS include:</p>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-6 col-xs-12 center-content">
                    <img src="/images/vizitor/vizitor-Dashborad.png" alt="vizitor-Dashborad" />
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 " id="bvmsli">
                    <ul>
                        <li><span>Pre-registration of visitors</span></li>
                        <li><span>Identification and verification of visitors</span></li>
                        <li><span>Printing of visitor id badges</span></li>
                        <li><span>Integration with access control systems</span></li>
                        <li><span>Tracking of visitor movements within the premises</span></li>
                        <li><span>Notification of hosts upon visitor arrival</span></li>
                        <li><span>Record-keeping of visitor data for compliance and security purposes</span></li>
                        <li><span>Reporting and analysis of visitor data</span></li>
                    </ul>
                    <div class="bannerbtn Try-free mb-3 bvmsbtn-learn">
                        <a href="/best-visitor-management-system-in-india" class="btn-arrow">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -------------------------------------------- -->
    <div id="bvms2">
        <div class="container ">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h3 class="bvms-size">Visitor Management<span class="Digitize"> System Workflow</span></h3>
                    <p>Streamline your visitor sign-in process, both on the front end for your guests and on the back end for your front desk admins.</p>
                    <!-- --1-- -->
                    <div class="mt-5">
                        <div class="right-btn">
                            <div>
                                <img src="/images/vizitor/bvm/1.svg" alt="1" />
                            </div>
                            <div>
                                <img style="margin: 10px 0px 0px 15px;" src="/images/vizitor/bvm/Line.svg" alt="Line" />
                            </div>
                        </div>
                        <div>
                            <p class="digital-visitor display-flex">Touchless Sign-In Process</p>
                            <p class="display-flex clients-p"> At the front desk, visitors can sign in by scanning a QR code with their phone or using the tablet
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- --2-- -->
                    <div>
                        <div class="right-btn">
                            <div>
                                <img src="/images/vizitor/bvm/2.svg" alt="1" />
                            </div>
                            <div>
                                <img style="margin: 10px 0px 0px 15px;" src="/images/vizitor/bvm/Line.svg" alt="Line" />
                            </div>
                        </div>
                        <div>
                            <p class="digital-visitor display-flex">Enter the Details
                            </p>
                            <p class="display-flex clients-p"> Scan QR code, fill in necessary details on the customized form, and submit to check-in.

                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- --3-- -->
                    <div>
                        <div class="right-btn">
                            <div>
                                <img src="/images/vizitor/bvm/3.svg" alt="1" />
                            </div>
                            <div>
                                <img style="margin: 10px 0px 0px 15px;" src="/images/vizitor/bvm/Line.svg" alt="Line" />
                            </div>
                        </div>
                        <div>
                            <p class="digital-visitor display-flex">Host Notification
                            </p>
                            <p class="display-flex clients-p"> The VMS automatically notifies the designated host employee that their guest has arrived.
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- --4-- -->
                    <div>
                        <div class="right-btn">
                            <div>
                                <img src="/images/vizitor/bvm/4.svg" alt="1" />
                            </div>
                            <div>
                                <img style="margin: 10px 0px 0px 15px;" src="/images/vizitor/bvm/Line.svg" alt="Line" />
                            </div>
                        </div>
                        <div>
                            <p class="digital-visitor display-flex">Greeting</p>
                            <p class="display-flex clients-p">The host employee can identify their guest and greet them upon arrival, reducing awkwardness.
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- --5-- -->
                    <div>
                        <div class="right-btn">
                            <div>
                                <img src="/images/vizitor/bvm/5.svg" alt="1" />
                            </div>

                        </div>
                        <div>
                            <p class="digital-visitor display-flex">Check-Out</p>
                            <p class="display-flex clients-p" style="margin-left: 45px;"> Tap the check-out button to quickly exit the building, with departure time automatically recorded.

                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- ---- -->

                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <img class="center-content" src="/images/vizitor/howit-works.svg" alt="howit-works" />
                    <div class="center-content">
                        <div class="my-5">
                            <form id="workflowvms">
                                <input type="email" class="email-input" id="emaildigital" name="emaildigital" placeholder="Enter your email" required>
                                <input class="btn-try-free" type="submit" value="Try for free">
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- -------------------------------------------- -->

    <div id="bvms2">
        <div class="col-md-7 mx-auto">
            <div class="text-center pb-5">
                <h2>How do you manage visitors and<br> <span class="Digitize">employees' experience?</span>
                </h2>
            </div>
            <div>
                <div>
                    <h4><span class="Digitize">For visitors</span></h4>
                </div>
                <div class="card-deck">

                    <div class="card">
                        <img class="card-img-top" src="/images/vizitor/visitor_baneer_linkdin-02.png" alt="visitor_baneer_linkdin-02" />
                        <div class="card-body " id="bvmsli">
                            <h5 class="card-title">Importance of Reception Area Design</h5>
                            <ul>
                                <li><span>The design of the reception area makes a lasting impression on visitors and employees.</span></li>
                                <li><span>A streamlined sign-in experience can prioritize the employee experience and allow for more human interactions.
                                </span></li>
                                <li><span>Going digital with visitor management offers benefits for both visitors and employees.</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="/images/blog/facebook-banner.png" alt="facebook-banner" />
                        <div class="card-body" id="bvmsli">
                            <h5 class="card-title">Streamlining Sign-In Experience for Visitors</h5>
                            <ul>
                                <!-- <li>Digital visitor management streamlines the reception experience for visitors and employees.</li> -->
                                <li><span>Front desk employees can focus on genuine, unhurried greetings and improving the reception area environment.</span></li>
                                <li><span>Legibility issues can be addressed, and tracking colleagues for visitor hand-offs is easier.
                                </span></li>
                                <li><span>Logistical obstacles can be removed, allowing for high-touch visitor management.
                                </span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <div>
                    <h4><span class="Digitize">For Employees</span></h4>
                </div>
                <div class="card-deck">

                    <div class="card">
                        <img class="card-img-top" src="/images/vizitor/fgraphic.png" alt="fgraphic" />
                        <div class="card-body " id="bvmsli">
                            <h5 class="card-title">Empowering Employees with Workplace Tools</h5>
                            <ul>
                                <li><span>Registration workplace software can involve team members across the company in facilitating a successful visitor journey.
                                </span></li>
                                <li><span>Pre-registration can be used for sending forms and documents ahead of arrival to manage expectations.</span></li>
                                <li><span>Getting feedback from staff and creating dynamic workplaces can improve employee pride and visitor experiences.</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="/images/vizitor/blog/safety-blog.png" alt="safety-blog" />
                        <div class="card-body" id="bvmsli">
                            <h5 class="card-title">The Impact of a Better Employee Experience</h5>
                            <ul>
                                <li><span>Re-envisioning communication management workflow can improve both visitor and employee experiences.</span></li>
                                <li><span>Bad impressions are faster to form and imprint on memory, so it is important to arm employees with the right tools and resources.</span>
                                </li>
                                <li><span>Removing guesswork allows employees to perform their job better and benefit both visitors and employees.</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- ----------------------------- -->
    <div class="Visitor-Management-System ">
        <div class="container ">

            <div class="center-content pb-5">
                <h2 class="color-wht mb-5"> Amazing Stats </h2>
                <p class="color-wht">Key Statistics and insights of vizitor</p>
            </div>
            <div class="row mt-5">
                <div class="col-md-4 col-sm-4 col-xs-12 vms-line">
                    <p class="vms-p mb-5">84</p>
                    <p class="What-Visitor center-content">Number of companies using Vizitor globally</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 vms-line">
                    <p class="vms-p mb-5">213,785</p>
                    <p class="What-Visitor center-content">Total visitors who have checked in with Vizitor
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <p class="vms-p mb-5">12</p>
                    <p class="What-Visitor center-content"> Number of countries where Vizitor is currently active</p>
                </div>
            </div>

        </div>
    </div>
    <!------------------------------------------ -->
    <div id="bvms">
        <div class="container">
            <div class="text-center">
                <h2>Types of Visitor Management Software</h2>
                <p>Visitor management systems have come a long way from the outdated pen-and-paper logbooks with visitor logging. With the advancements in internet technology, companies now have a range of options to choose from when it comes to visitor management.
                </p>
            </div>
            <div class="row align-items-center mt-5">
                <div class="col-md-6 col-sm-6 col-xs-12 " id="bvmsli">
                    <h3 class="bvms-size">Cloud-based visitor management solution</h3>
                    <ul>
                        <li><span>A cloud-based visitor management system is a solution that is connected to the cloud where visitors' information is gathered and presented on a dashboard for easy management.</span></li>
                        <li><span>Cloud-based systems integrate with other platforms, avoiding a complicated overhaul of existing architecture.</span></li>
                        <li><span>A cloud-based SaaS solution can provide companies with more control over what they're using and paying for.</span></li>
                        <li><span>Cloud-based systems offer many benefits such as convenience, scalability, and accessibility.</span></li>
                        <li><span>According to Forbes, a subscription to software as a service (SaaS) makes the most business sense</span></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                    <img src="/images/vizitor/TouchlessQR.svg" alt="TouchlessQR" />
                </div>
            </div>
        </div>
    </div>
    <!-- ----------------------------------------- -->
    <div id="bvms2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <img src="/images/vizitor/visitor-logvms.png" alt="visitor-logvms" />
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 " id="bvmsli">
                    <h3 class="bvms-size">On-premise software</h3>
                    <ul>
                        <li><span>On-premise software is an electronic logbook that requires installation on company servers.</span></li>
                        <li><span>The acquisition visitor management tools cost for on-premise software are high, involving the installation of server-side hardware, storage, anti-virus, or patch application</span></li>
                        <li><span>Companies also need to make space for the software, which requires power and cooling.</span></li>
                        <li><span>Maintaining on-premise software involves buying hardware maintenance plans, software support, and future software version upgrades.</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- ----------------------------------------- -->
    <div id="bvms">
        <div class="container">
            <div>
                <h2><span class="Digitize">Top Features for Effective Visitor Management</span></h2>
            </div>
            <div class="row mt-5">
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <p class="digital-visitor display-flex"><img class="vmsFeatures" src="/images/vizitor/24px-check.svg" alt="24px-check" /> Simple Sign-In Process</p>
                    <p class="display-flex clients-p">Self service visitor management system can customizable digital sign-in process for visitors with easy access to customize questions and fields.</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <p class="digital-visitor display-flex"><img class="vmsFeatures" src="/images/vizitor/24px-check.svg" alt="24px-check" /> Digital Visitor Log</p>
                    <p class="display-flex clients-p">Secure digital visitor records accessible anytime and anywhere.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <p class="digital-visitor display-flex"><img class="vmsFeatures" src="/images/vizitor/24px-check.svg" alt="24px-check" /> Host Notifications</p>
                    <p class="display-flex clients-p">Automatic notifications save time and reduce visitor wait times.
                    </p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <p class="digital-visitor display-flex"><img class="vmsFeatures" src="/images/vizitor/24px-check.svg" alt="24px-check" /> Digital Legal Documents</p>
                    <p class="display-flex clients-p">Legal documents can be integrated into the sign-in process and signed every time.</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <p class="digital-visitor display-flex"><img class="vmsFeatures" src="/images/vizitor/24px-check.svg" alt="24px-check" /> Badge Printing</p>
                    <p class="display-flex clients-p">Automatic badge printing helps enforce badge policies.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <p class="digital-visitor display-flex"><img class="vmsFeatures" src="/images/vizitor/24px-check.svg" alt="24px-check" /> Visitor Photos</p>
                    <p class="display-flex clients-p">Capturing photos helps identify visitors and enhances security.
                    </p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <p class="digital-visitor display-flex"><img class="vmsFeatures" src="/images/vizitor/24px-check.svg" alt="24px-check" /> Custom Branding</p>
                    <p class="display-flex clients-p">Showcase your company's branding for a professional look.</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <p class="digital-visitor display-flex"><img class="vmsFeatures" src="/images/vizitor/24px-check.svg" alt="24px-check" /> Registration</p>
                    <p class="display-flex clients-p">Visitors can be registered, and their arrivals and departures tracked.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <p class="digital-visitor display-flex"><img class="vmsFeatures" src="/images/vizitor/24px-check.svg" alt="24px-check" /> Multi-lingual</p>
                    <p class="display-flex clients-p">Vizitor is a Multi-lingual software so the visitors can translate the visitor experience software into different languages based on their choices
                    </p>
                </div>
            </div>
            <div>
                <a href="/features">
                    <p><span class="Digitize">Learn more about visitor management system features</span></p>
                </a>
            </div>
        </div>
    </div>

    <!-- ---------------------------------------------------------- -->
    <div id="bvms2">
        <div class="container">
            <div class="center-content pb-5">
                <h4 class="bvms-size">Why <span class="Digitize"> Digital VMS</span> better than traditional system?</h4>
            </div>
            <div class="row mt-5">
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <div class="center-content">
                        <img src="/images/vizitor/bvm/Digital-VMS11.svg" alt="Digital-VMS11" />
                        <div class="line-digital-check-ins"></div>
                    </div>
                    <div class="Digital-Visitor" style="height:auto">
                        <div class="row mt-4">
                            <div class="col-md-2 col-2 text-right">
                                <img src="/images/vizitor/bvm/red.svg" alt="red" />
                            </div>
                            <div class="col-md-10 col-10">
                                <h5 class="Digital-card-text">Digital Check-ins</h5>
                                <p class="color-r">Check-in is made on paper and It allows the guests to do contactless check-in digitally eliminating the paperwork.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 col-2 text-right">
                                <img src="/images/vizitor/bvm/red.svg" alt="red" />
                            </div>
                            <div class="col-md-10 col-10">
                                <h5 class="Digital-card-text">Safe and Secure</h5>
                                <p class="color-r">Visitor’s data can be accessed only by the concerned authority</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 col-2 text-right">
                                <img src="/images/vizitor/bvm/red.svg" alt="red" />
                            </div>
                            <div class="col-md-10 col-10">
                                <h5 class="Digital-card-text">OTP Authentication</h5>
                                <p class="color-r">OTP authentication based check-in</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 col-2 text-right">
                                <img src="/images/vizitor/bvm/red.svg" alt="red" />
                            </div>
                            <div class="col-md-10 col-10">
                                <h5 class="Digital-card-text">Notifications</h5>
                                <p class="color-r">Easily notifies host via SMS/email</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 Manual-top">
                    <div class=" Manual-Check-ins">
                        <div class="text-right">
                            <img src="/images/vizitor/bvm/Digital-VMS21.svg" alt="Digital-VMS21" />
                        </div>
                    </div>
                    <div class="Traditional-card" style="height:auto">
                        <div class="row mt-4">
                            <div class="col-md-2 col-2 text-right">
                                <img src="/images/vizitor/bvm/gre.svg" alt="gre" />
                            </div>
                            <div class="col-md-10 col-10">
                                <h5 class="Traditional-card-text">Manual Check-ins</h5>
                                <p>Check-in is made on paper and pen-based logbooks.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 col-2 text-right">
                                <img src="/images/vizitor/bvm/gre.svg" alt="gre" />
                            </div>
                            <div class="col-md-10 col-10">
                                <h5 class="Traditional-card-text">Non-confidential</h5>
                                <p>It becomes a public document that any visitor can seek through</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 col-2 text-right">
                                <img src="/images/vizitor/bvm/gre.svg" alt="gre" />
                            </div>
                            <div class="col-md-10 col-10">
                                <h5 class="Traditional-card-text">No identity verification</h5>
                                <p>Visitor’s mobile number can not be authenticated in a manual process</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 col-2 text-right">
                                <img src="/images/vizitor/bvm/gre.svg" alt="gre" />
                            </div>
                            <div class="col-md-10 col-10">
                                <h5 class="Traditional-card-text">Complex Process</h5>
                                <p>Verbally informing the host on the visitor’s arrival.<br><br></p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- ----------------------------------------- -->
    <div id="bvms">
        <div class="container ">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-6 col-xs-12 " id="bvmsli">
                    <h3 class="bvms-size">Free Trial for Vizitor</h3>
                    <p>Take the Plunge and Start Your Free Trial with Vizitor</p>
                    <p>At Vizitor, we understand the importance of a free trial before making a purchase decision. That's why we offer a no-cost, no-obligation free trial to our potential customers. If you need a few more days to fully test the solution,
                        don't hesitate to ask for an extension on your free trial.</p>
                    <div class="bannerbtn Try-free mb-3 bvmsbtn-learn">
                        <a href="/signup" class="btn-arrow">Try for free</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 center-content">
                    <img src="/images/vizitor/free-visitor-management-system/banner-illustration.png" alt="banner-illustration" />
                </div>
            </div>
        </div>
    </div>

    <div id="bvms2">
        <div class="container ">
            <div class="text-center">
                <h2>Maximize the Potential of Your Visitor Management System</h2>
            </div>
            <div class="row align-items-center mt-5">
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <div id="tabsContent" class="tab-content">
                        <div id="tabtable" class="tab-pane fade active show">
                            <img src="/images/vizitor/Touchless-Check-ins.svg" alt="Touchless-Check-ins" />
                        </div>
                        <div id="tab" class="tab-pane fade">
                            <img src="/images/vizitor/security/security.png" alt="security" />
                        </div>
                    </div>
                </div>
                <div id="tabs" class="col-md-6 col-sm-6 col-xs-12 ">
                    <div class=" nav ">
                        <a href="" data-target="#tabtable" data-toggle="tab" class=" active">
                            <h3>Elevate Your Brand Experience</h3>
                            <p>Showcasing your brand in the lobby and throughout the office is crucial for creating a positive first impression. cloud based visitor management system makes it easy to bring your brand to life with logo displays on tablets,
                                visitor badges, and emails. Let your brand shine and make a lasting impact on visitors.
                            </p>
                        </a>
                        <div class="linevms"></div>
                        <a href="" data-target="#tab" data-toggle="tab" class="">
                            <h3>Secure Your Building with Vizitor</h3>
                            <p>Improves a building's security by screening visitors, verifying their identity, and notifying the relevant parties upon their arrival and departure. Vizitor integrates with NDA e-sign form, emergency alert software, and access
                                control systems to ensure complete control over who is allowed onsite.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- -------------------- -->

    <!-- --------------------------------------------------- -->
    <div>{{- partial "Industries.html" . -}}</div>
</div>

<style>
    #tabs .active h3 {
        color: #ED5C18;
    }
    /* #tabs {
        display: list-item;
        position: relative;
        overflow: hidden;
    } */
    
    .linevms {
        border: 1px solid #687888;
        width: -webkit-fill-available;
        margin: 27px 0px;
    }
</style>


{{end}}