{{ define "main" }}
<div>
    <div class="container pagebanneres">
        <div class="row align-items-center">

            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <h1><span class="Digitize">Streamline Your Check-Ins</span> The Ultimate Visitor Management Solution</h1>
                <div>
                    <p>Experience the power of a modern, efficient solution designed to streamline visitor check-ins, enhance security, and elevate guest experiences.</p>
                    <div class="mt-5">
                        <form id="vms">
                            <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email" required>
                            <input class="btn-try-free" type="submit" value="Try for free">
                        </form>
                    </div>


                    <p class="no-credit Try-free mt-4">* No credit card required</p>
                    <div class="mt-4 Try-free mb-4">
                        {{range .Site.Params.apps}}
                        <a href="{{.url}}" target="_blank"><img class="btn-app btn-app-mg phonetop-btn" src="{{.image  | absURL}}" alt="{{.title}}"></a>
                        {{end}}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="/images/vizitor/vms.png" alt="visitor management system" />
            </div>
        </div>
    </div>
    <div class="container-fluid">{{- partial "clients.html" . -}}</div>

    <!-- ------------------------------>
    <div class="Visitor-Management-System ">
        <div class="container ">
            <div class="center-content ">

                <h2 class="color-wht mb-5">What Is A Visitor Management System?</h2>
                <p class="What-Visitor mb-4">Did You Know? Visitor Management System (VMS) can reduce check-in times by up to 50% and enhance overall security for your organization. A Visitor Management System is a digital solution designed to streamline registering, tracking, and
                    managing visitors in any facility. These system replace traditional paper logbooks, offering a more efficient and secure way to handle visitor check-ins. With features such as digital badges, automated notifications, and real-time
                    visitor tracking, a VMS enhances security and visitor experience. It helps organizations maintain accurate visitor logs, comply with safety regulations, and respond quickly in case of emergencies. Moreover, a VMS integrates seamlessly
                    with other security system like access control and surveillance, providing a comprehensive approach to facility management. The system can pre-register visitors, send instant alerts to hosts, and generate detailed reports, making the
                    visitor management process smooth and effective. You can even try out our Vizitor app to experience seamless and efficient visitor management firsthand. Its intuitive interface and powerful features ensure a smooth and secure check-in
                    process, perfect for any modern business environment.</p>
                <div class=" text-center mt-5">
                    <a href="/signup" class="btn-arrow bvms-white-btn">Try for free</a>
                </div>
            </div>

        </div>
    </div>

    <!-- -------------------------------------------- -->
    <div id="bvms2">
        <div class="container ">
            <div class="text-center">
                <h3 class="bvms-size"> Benefits Of Using Visitor Management <br>For Your Business</h3>
                <p>Implementing a Visitor Management System (VMS) can bring numerous advantages to your business, enhancing both security and operational efficiency. Here are some key benefits.</p>
            </div>
            <div class="row card-deck mt-5">
                <div class="col-md-4 col-sm-4 col-xs-12 card" style="background-color:transparent;">
                    <div class="card-body">
                        <img src="/images/vizitor/bvm/Brand-Image-Enhancement.svg">
                        <p class="digital-visitor"> Brand Image Enhancement</p>
                        <p class="card-text">A sleek, modern visitor management system reflects well on your organization, showcasing your commitment to innovation and professionalism. It leaves a positive impression on visitors, enhancing your brand image.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 card" style="background-color:transparent;">
                    <div class="card-body">
                        <img src="/images/vizitor/bvm/tools-fill (2).svg">
                        <p class="digital-visitor">Customizable Workflows</p>
                        <p class="card-text">VMS solutions often come with customizable workflows that can be tailored to your specific needs. Whether it's different check-in processes for different types of visitors or specific security protocols, the system can adapt to
                            your requirements.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 card" style="background-color:transparent;">
                    <div class="card-body">
                        <img src="/images/vizitor/bvm/lock 01.svg">
                        <p class="digital-visitor">Visitor Privacy
                        </p>
                        <p class="card-text">By eliminating the need for visitors to sign in on a shared paper logbook, a VMS protects their privacy. Each visitor's information on the website and Vizitor app is handled discreetly, which is especially important in environments
                            where confidentiality is crucial.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row card-deck mt-5">
                <div class="col-md-4 col-sm-4 col-xs-12 card" style="background-color:transparent;">
                    <div class="card-body">
                        <img src="/images/vizitor/bvm/drive.svg">
                        <p class="digital-visitor">Eco-Friendly Solution
                        </p>
                        <p class="card-text">Going digital with visitor management reduces paper waste, contributing to your company's sustainability efforts. This eco-friendly approach is not only better for the environment but also aligns with green business practices.

                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 card" style="background-color:transparent;">
                    <div class="card-body">
                        <img src="/images/vizitor/bvm/Grows with Your Business.svg">
                        <p class="digital-visitor">Visitor Insights and Analytics
                        </p>
                        <p class="card-text">A VMS can provide valuable insights and analytics about visitor patterns, peak times, and visit durations. This data can inform decision-making and help optimize operations, such as staffing and resource allocation.

                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 card" style="background-color:transparent;">
                    <div class="card-body">
                        <img src="/images/vizitor/bvm/destination 01.svg">
                        <p class="digital-visitor">Multi-location Management</p>
                        <p class="card-text">For businesses with multiple locations, a VMS can offer centralized management of visitor data. This ensures consistency across sites and simplifies the process of tracking and managing visitors across all locations.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row card-deck mt-5">
                <div class="col-md-4 col-sm-4 col-xs-12 card" style="background-color:transparent;">
                    <div class="card-body">
                        <img src="/images/vizitor/bvm/gear-fill 1.png">
                        <p class="digital-visitor">Seamless Integration</p>
                        <p class="card-text">Many VMS solutions can integrate with other business system such as CRM, HR, and facility management software. This integration streamlines operations and enhances the overall functionality of your business processes.</p>
                    </div>
                </div>


                <div class="col-md-4 col-sm-4 col-xs-12 card" style="background-color:transparent;">
                    <div class="card-body">
                        <img src="/images/vizitor/bvm/health care.svg">
                        <p class="digital-visitor">Visitor Self-Service</p>
                        <p class="card-text">Self-service kiosks allow visitors to check in independently, reducing the burden on reception staff and speeding up the process. This is particularly useful during busy periods or in high-traffic areas</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 card" style="background-color:transparent;">
                    <div class="card-body">
                        <img src="/images/vizitor/bvm/shield-plus-fill.svg">
                        <p class="digital-visitor">Health and Safety Compliance</p>
                        <p class="card-text">In the wake of health concerns such as pandemics, a VMS can include health screening questions and contactless check-in options, helping to maintain a safe environment for everyone.</p>
                    </div>
                </div>
            </div>




        </div>
    </div>

    <!-- ------------------------------------------- -->
    <div class="container text-center" id="bvms">
        <h2 class=" mb-3">Visitor Management System Workflow</h2>
        <p>Implementing a Visitor Management System (VMS) involves a streamlined workflow that enhances security, improves efficiency, and provides a professional visitor experience. Here is a typical workflow for a Visitor Management System:
        </p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3 ">
                    <img src="/images/vizitor/bvm/pre-img.svg" alt="envelope-fill">
                </div>
                <h3 class="color-h mb-3 ">Pre-Registration</h3>
                <ul id="bvmsli">
                    <li><span>Invitation Sent: The host sends an invitation to the visitor via email or a mobile app. The invitation includes details such as the visit date, time, location, and any necessary instructions.</span></li>
                    <li><span></span>Pre-Registration Form: The visitor completes a pre-registration form, providing information such as name, contact details, purpose of visit, and any required documentation (e.g., ID proof).
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <div class=" mb-3">
                    <img src="/images/vizitor/bvm/contact-check.svg" alt="qrcode-f">
                </div>
                <h3 class="color-h mb-3">Arrival and Check-In</h3>
                <ul id="bvmsli">
                    <li><span>Reception or Kiosk: Upon arrival, the visitor checks in at the reception desk or a self-service kiosk. For a touchless experience, QR codes or barcode scanners can be used.</span></li>

                    <li><span>Verification: The visitor’s information is verified, either manually by the receptionist or automatically by the system. This step may include identity verification and compliance checks (e.g., health screenings).
                </span></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 Manual-top card">
                <div class="mb-3">
                    <img src="/images/vizitor/bvm/identification.svg" alt="identification">
                </div>
                <h3 class="color-h mb-3">Badge Issuance
                </h3>
                <ul id="bvmsli">
                    <li><span>Digital Badge: The system generates a digital badge, which is sent to the visitor’s mobile device.</span></li>
                    <li><span></span>Physical Badge: Alternatively, a physical badge is printed and issued to the visitor. The badge typically includes the visitor’s name, photo, company, host details, and the date and time of the visit.</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 Manual-top">
                <div class="mb-3">
                    <img src="/images/vizitor/bvm/host-img.svg" alt="exclamation">
                </div>
                <h3 class="mb-3 color-h">Host Notification
                </h3>
                <ul id="bvmsli">
                    <li><span>Automated Notification: The system automatically notifies the host of the visitor’s arrival via email, SMS, or a mobile app. This ensures the host is prepared to greet the visitor promptly.
                    </span></li>

                    <li><span>Visitor Escort: If required, a staff member escorts the visitor to the host or designated meeting area.</span></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 Manual-top card">
                <div class="mb-3">
                    <img class="reliable-point" src="/images/vizitor/impression.svg" alt="impression">
                </div>
                <h3 class="mb-3 color-h">Access Control
                </h3>
                <ul id="bvmsli">
                    <li><span>Restricted Areas: The visitor’s badge may grant access to specific areas within the premises, controlled through integration with access control system. This ensures that visitors can only enter authorized areas.
                    </span></li>
                    <li><span>Temporary Access: Access permissions are typically set for the duration of the visit and automatically revoked upon check-out.
                    </span></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 Manual-top">
                <div class="mb-3">
                    <img src="/images/vizitor/delivery-management/Efficent-img.svg" alt="pen-underline-fill">
                </div>
                <h3 class="mb-3 color-h">Meeting and Visit
                </h3>
                <ul id="bvmsli">
                    <li><span>Guided Tour or Meeting: The visitor meets with the host or attends a scheduled meeting. During the visit, their movements can be tracked for security purposes.</span></li>
                    <li><span>Amenities and Assistance: The visitor is provided with any necessary amenities or assistance, such as Wi-Fi access, refreshments, or directions.
                    </span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <img src="/images/vizitor/delivery-management/digital-delivery-log-img.svg" alt="envelope-fill">
                </div>
                <h3 class="mb-3 color-h">Check-Out
                </h3>
                <ul id="bvmsli">
                    <li><span>Self Check-Out: The visitor checks out using a self-service kiosk or mobile app. This can be done by scanning the badge or entering their details.</span></li>
                    <li><span>Manual Check-Out: Alternatively, the receptionist can manually check the visitor out using the system.
                    </span></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <div class="mb-3">
                    <img src="/images/vizitor/delivery-management/Delivery-report-img.svg" alt="pen-underline-fill">
                </div>
                <h3 class="mb-3 color-h">Post-Visit
                </h3>
                <ul id="bvmsli">
                    <li><span>Feedback Collection: The system may prompt the visitor to provide feedback on their experience. This can be used to improve future visitor interactions.</span></li>
                    <li><span>Data Storage and Reporting: The visitor’s information and visit details are stored securely in the system. Reports can be generated for compliance, security audits, and operational insights.
                    </span></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3 ">
                    <img class="reliable-point" src="/images/vizitor/security.svg" alt="security">
                </div>
                <h3 class="mb-3 color-h">Security and Compliance
                </h3>
                <ul id="bvmsli">
                    <li><span>Real-Time Monitoring: The system provides real-time monitoring of visitor activities, ensuring immediate response to any security concerns.</span></li>
                    <li><span>Emergency Management: In case of emergencies, the system can quickly provide a list of all visitors on-site, aiding in evacuation and safety measures.
                    </span></li>
                </ul>
            </div>

        </div>
    </div>



    <!-- -------------------------------------------- -->

    <!-- <div class="container" id="bvms">
        <div class="tile" id="tile-1">
            <h2 class="text-center mb-5">How do you manage visitors and<br><span class="Digitize">employees' experience?</span>
            </h2>
            <ul class="nav nav-tabs nav-justified mt-5 mb-4" role="tablist" aria-label="Visitor Management System Tabs">
                <div class="slider"></div>
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tabes" data-toggle="tab" href="#productivity" role="tab" aria-controls="productivity" aria-selected="true">
                        <h3 class="color-h"> Managing Visitors Experience
                        </h3>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="security-tabes" data-toggle="tab" href="#security" role="tab" aria-controls="security" aria-selected="false">
                        <h3 class="color-h"> Managing Employees Experience
                        </h3>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="productivity" role="tabpanel" aria-labelledby="home-tabes">
                    <div class="row align-items-center">
                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                            <p>Managing visitors' experience begins with effective pre-visit preparation. By allowing visitors to pre-register through an online portal, the check-in time is significantly reduced, and they are provided with all necessary
                                information before their arrival. Automated invitations containing visit details such as date, time, location, and parking information enhance convenience and ensure visitors are well-informed.
                            </p>
                            <p>The check-in process is made seamless through self-service kiosks, which offer quick and easy check-ins, reducing wait times and providing a smooth, contactless experience. Additionally, enabling visitors to check in using
                                their mobile devices via QR codes or pre-arrival forms further enhances convenience. Upon arrival, visitors are greeted with a professional touch through digital badges that include their photo, host details, and visit
                                purpose. Automated notifications are sent to hosts immediately upon visitor arrival, ensuring visitors are promptly welcomed and reducing wait times.
                            </p>
                            <p>Security is significantly enhanced by using ID scanning and photo capture to verify visitor identity, ensuring only authorized individuals enter the premises. Integration with access control system restricts visitor access
                                to designated areas, maintaining security while allowing necessary access. To personalize the experience, the check-in process can be tailored to suit different visitor types, such as contractors, clients, or delivery personnel.
                            </p>
                            <p>Collecting feedback through the Visitor Management System (VMS) allows businesses to understand visitors' experiences and identify areas for improvement. The check-out process is made smooth with easy options through kiosks
                                or mobile devices, ensuring accurate visitor logs and a streamlined exit process. Post-visit follow-ups, such as thank-you emails or feedback requests, demonstrate appreciation and a commitment to continuous improvement.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="profile-tabes">
                    <div class="row align-items-center">
                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                            <p>Efficient scheduling and notifications play a crucial role in managing employees' experience. The VMS allows employees to schedule and manage visitor appointments, ensuring organized and efficient meetings. Real-time notifications
                                about visitor arrivals enable employees to prepare and greet visitors promptly, enhancing professionalism.</p>
                            <p>Security and compliance are enhanced by providing employees with real-time tracking of visitors, ensuring they are aware of who is on-site at any given time. This not only improves security but also aids in emergency management
                                by providing instant access to visitor logs for effective evacuation procedures. Integration with existing access control system allows employees to manage visitor access permissions seamlessly, while integration with communication
                                tools like email and messaging apps streamlines notifications and updates.
                            </p>
                            <p>Workflow efficiency is improved through the automation of repetitive tasks such as visitor check-in, badge printing, and host notifications, allowing employees to focus on core responsibilities. Detailed reports and analytics
                                on visitor patterns and trends help employees make informed decisions. A user-friendly dashboard and mobile accessibility ensure the VMS is easy to use and allows employees to manage visitors on the go, keeping them informed
                                at all times.
                            </p>
                            <p>Creating a positive work environment is essential, and reducing interruptions through automated notifications and streamlined check-ins leads to increased productivity. Improved visitor management fosters better collaboration
                                between employees and visitors, enhancing overall workplace efficiency and morale. By implementing a comprehensive Visitor Management System, businesses can significantly enhance both visitor and employee experiences, leading
                                to a more secure, efficient, and welcoming environment.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- ------------------------------------------------------------------ -->

    <!-- -------------------------------------------- -->
    <!-- <div id="bvms2">
        <div class="container ">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h3 class="bvms-size">Visitor Management<span class="Digitize"> System Workflow</span></h3>
                    <p>Streamline your visitor sign-in process, both on the front end for your guests and on the back end for your front desk admins.</p>
                    <div class="mt-5">
                        <div class="right-btn">
                            <div>
                                <img src="/images/vizitor/bvm/1.svg" alt="1" />
                            </div>
                            <div>
                                <img style="margin: 10px 0px 0px 15px;" src="/images/vizitor/bvm/Line.svg" alt="Line" />
                            </div>
                        </div>
                        <div>
                            <p class="digital-visitor display-flex">Touchless Sign-In Process</p>
                            <p class="display-flex clients-p"> At the front desk, visitors can sign in by scanning a QR code with their phone or using the tablet
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div>
                        <div class="right-btn">
                            <div>
                                <img src="/images/vizitor/bvm/2.svg" alt="1" />
                            </div>
                            <div>
                                <img style="margin: 10px 0px 0px 15px;" src="/images/vizitor/bvm/Line.svg" alt="Line" />
                            </div>
                        </div>
                        <div>
                            <p class="digital-visitor display-flex">Enter the Details
                            </p>
                            <p class="display-flex clients-p"> Scan QR code, fill in necessary details on the customized form, and submit to check-in.

                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div>
                        <div class="right-btn">
                            <div>
                                <img src="/images/vizitor/bvm/3.svg" alt="1" />
                            </div>
                            <div>
                                <img style="margin: 10px 0px 0px 15px;" src="/images/vizitor/bvm/Line.svg" alt="Line" />
                            </div>
                        </div>
                        <div>
                            <p class="digital-visitor display-flex">Host Notification
                            </p>
                            <p class="display-flex clients-p"> The VMS automatically notifies the designated host employee that their guest has arrived.
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div>
                        <div class="right-btn">
                            <div>
                                <img src="/images/vizitor/bvm/4.svg" alt="1" />
                            </div>
                            <div>
                                <img style="margin: 10px 0px 0px 15px;" src="/images/vizitor/bvm/Line.svg" alt="Line" />
                            </div>
                        </div>
                        <div>
                            <p class="digital-visitor display-flex">Greeting</p>
                            <p class="display-flex clients-p">The host employee can identify their guest and greet them upon arrival, reducing awkwardness.
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div>
                        <div class="right-btn">
                            <div>
                                <img src="/images/vizitor/bvm/5.svg" alt="1" />
                            </div>

                        </div>
                        <div>
                            <p class="digital-visitor display-flex">Check-Out</p>
                            <p class="display-flex clients-p" style="margin-left: 45px;"> Tap the check-out button to quickly exit the building, with departure time automatically recorded.

                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <img class="center-content" src="/images/vizitor/howit-works.svg" alt="howit-works" />
                    <div class="center-content">
                        <div class="my-5">
                            <form id="workflowvms">
                                <input type="email" class="email-input" id="emaildigital" name="emaildigital" placeholder="Enter your email" required>
                                <input class="btn-try-free" type="submit" value="Try for free">
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div> -->
    <!-- -------------------------------------------- -->




    <!-- ----------------------------- -->
    <!-- <div class="Visitor-Management-System ">
        <div class="container ">

            <div class="center-content pb-5">
                <h2 class="color-wht mb-5"> Amazing Stats </h2>
                <p class="color-wht">Key Statistics and insights of vizitor</p>
            </div>
            <div class="row mt-5">
                <div class="col-md-4 col-sm-4 col-xs-12 vms-line">
                    <p class="vms-p mb-5">84</p>
                    <p class="What-Visitor center-content">Number of companies using Vizitor globally</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 vms-line">
                    <p class="vms-p mb-5">213,785</p>
                    <p class="What-Visitor center-content">Total visitors who have checked in with Vizitor
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <p class="vms-p mb-5">12</p>
                    <p class="What-Visitor center-content"> Number of countries where Vizitor is currently active</p>
                </div>
            </div>

        </div>
    </div> -->
    <!------------------------------------------- --->
    <!----->
    <div id="bvms2">
        <div class="container">
            <div class="text-center">
                <h2>Types of Visitor Management Software</h2>
                <p>Visitor management system have evolved significantly from traditional pen-and-paper logbooks to advanced digital solutions. Businesses now have a variety of options to choose from based on their specific needs and technological preferences.
                </p>
            </div>
            <div class="row align-items-center mt-5">
                <div class="col-md-6 col-sm-6 col-xs-12 " id="bvmsli">
                    <h4 class="mb-5">Cloud-Based Visitor Management Solutions</h4>
                    <ul>
                        <li><span>Cloud-based visitor management system operate on a platform connected to the cloud, where visitor information is collected and managed via a centralized dashboard. </span></li>
                        <li><span>These system integrate seamlessly with other platforms, eliminating the need for complex infrastructure changes.</span></li>
                        <li><span>Companies benefit from the flexibility of Software as a Service (SaaS), allowing them to scale usage according to their needs while maintaining control over costs. </span></li>
                        <li><span>Cloud-based system offer advantages such as convenience, scalability, and accessibility, providing a modern and efficient approach to visitor management.
                        </span></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                    <img src="/images/vizitor/Cloud-Based-Visitor-Management-Solutions.png" alt="Cloud-Based-Visitor-Management-Solutions" />
                </div>
            </div>
        </div>
    </div>
    <!-- ----------------------------------------- -->
    <div id="bvms">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <img src="/images/vizitor/On-Premise-Software.png" alt="visitor-logvms" />
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 " id="bvmsli">
                    <h6 class="mb-5">On-Premise Software</h6>
                    <ul>
                        <li><span>On-premise visitor management software involves installing the system directly on company servers.</span></li>
                        <li><span>This type of software requires substantial initial investment in hardware and infrastructure, including server installation, storage, antivirus software, and ongoing maintenance. </span></li>
                        <li><span>Companies must allocate physical space for the servers, along with resources for power and cooling. Maintenance costs include hardware upkeep, software support, and future upgrades to newer versions of the software. </span></li>
                        <li><span>While on-premise solutions offer direct control over data and operations, they require significant upfront investment and ongoing maintenance compared to cloud-based alternatives.</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- ----------------------------------------- -->

    <!------------------------------------------ -->
    <!-- <div id="bvms">
        <div class="container">
            <div class="text-center">
                <h2>Choosing Between Digital VMS Vs Traditional System</h2>
            </div>
            <div class="row align-items-center mt-5">


                <div class="col-md-6 col-sm-6 col-xs-12 " id="bvmsli">
                    <h3 class="bvms-size">Digital Visitor Management System (VMS):</h3>
                    <ul>
                        <li><span><b>Efficiency:</b> Automates visitor registration, check-in, and badge printing processes, reducing wait times.</span></li>
                        <li><span><b>Security:</b> Offers identity verification through ID scanning and integrates with access control system for enhanced security.</span></li>
                        <li><span><b>Visitor Experience:</b> Provides a professional image with digital badges and improves visitor satisfaction Management System (VMS) with streamlined processes.</span></li>
                        <li><span><b>Real-Time Notifications:</b> Alerts hosts instantly upon visitor arrival via email, SMS, or app notifications.</span></li>
                        <li><span><b>Analytics:</b> Generates reports on visitor data, helping in compliance audits and operational insights.</span></li>
                        <li><span><b>Scalability:</b> Can easily scale to accommodate increasing visitor volumes and organizational growth.</span></li>
                        <li><span><b>Integration:</b> Integrates with existing system such as CRM, access control, and security cameras for seamless operations.</span></li>
                        <li><span><b>Data Security:</b> Stores visitor information securely in the cloud, reducing risks of data loss or breaches.</span></li>
                        <li><span><b>Compliance:</b> Helps businesses meet regulatory requirements with accurate visitor logs and data management capabilities.</span></li>
                        <li><span><b>Customization:</b> Allows customization of workflows and visitor interactions to suit specific organizational needs and preferences.</span></li>

                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                    <img src="/images/vizitor/TouchlessQR.svg" alt="TouchlessQR" />
                </div>
            </div>
        </div>
    </div> -->
    <!-- ----------------------------------------- -->
    <!-- <div id="bvms2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <img src="/images/vizitor/visitor-logvms.png" alt="visitor-logvms" />
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 " id="bvmsli">
                    <h3 class="bvms-size"> Traditional System (Paper Logbooks)
                    </h3>
                    <ul>
                        <li><span> <b>Cost-Effectiveness:</b> Low initial investment compared to digital system, suitable for small budgets.</span></li>
                        <li><span> <b>Ease of Use:</b> Simple and familiar process, requires minimal training for staff and visitors.</span></li>
                        <li><span> <b>No Technology Dependency:</b> Operates independently of technology infrastructure, reducing potential downtime.</span></li>
                        <li><span> <b>Privacy:</b> Limits exposure of visitor information since records are physically stored and not digital.</span></li>
                        <li><span> <b>Accessibility:</b> Always available and accessible without reliance on internet connectivity or power.</span></li>
                        <li><span> <b>No Maintenance Costs:</b> No ongoing costs for software updates, licenses, or technical support.</span></li>
                        <li><span> <b>Instant Deployment:</b> Can be implemented immediately without setup or installation requirements.</span></li>
                        <li><span> <b>Flexibility:</b> Allows for flexible record-keeping methods based on organizational preferences.</span></li>
                        <li><span> <b>Documentation:</b> Provides physical documentation that may be required for certain legal or compliance purposes.</span></li>
                        <li><span> <b>Simplicity:</b> Offers a straightforward process for visitor registration and tracking without complex technology interfaces.</span></li>

                    </ul>
                </div>
            </div>
        </div>
    </div> -->
    <!-- ----------------------------------------- -->
    <!-- ---------------------------------------------------------- -->
    <div id="bvms2">
        <div class="container">
            <div class="center-content pb-5">
                <h4 class="bvms-size">Traditional vs. Digital Visitor Management</h4>
                <p class="text-center">See Why Businesses Go Digital</p>
            </div>
            <div class="row mt-5">
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <div class="center-content">
                        <img src="/images/vizitor/bvm/Digital-VMS11.svg" alt="Digital-VMS11" />
                        <div class="line-digital-check-ins"></div>
                    </div>

                    <div class="Digital-Visitor" style="height:auto">
                        <h6 class="text-center"> Digital Visitor Management Systems (VMS)</h6>
                        <div class="row mt-4">
                            <div class="col-md-2 col-2 text-right">
                                <img src="/images/vizitor/bvm/right.svg" alt="red" class="mt-4" />
                            </div>
                           
                            <div class="col-md-10 col-10">
                              <p><b class="text-dark">Efficiency: </b>Automates visitor registration, check-in, and badge 
                                printing processes, reducing wait times.</p>
                               
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 col-2 text-right">
                                <img src="/images/vizitor/bvm/right.svg" alt="red" class="mt-4"  />
                            </div>
                            <div class="col-md-10 col-10">
                                <p ><b class="text-dark">Security: </b> Offers identity verification through ID scanning and 
                                    integrates with access control system for enhanced security.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 col-2 text-right">
                                <img src="/images/vizitor/bvm/right.svg" alt="red" class="mt-4"  />
                            </div>
                            <div class="col-md-10 col-10">
                                <p ><b class="text-dark">Visitor Experience: </b>Provides a professional image with digital 
                                    badges and improves visitor satisfaction Management System
                                    (VMS) with streamlined processes.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 col-2 text-right">
                                <img src="/images/vizitor/bvm/right.svg" alt="red" class="mt-4"  />
                            </div>
                            <div class="col-md-10 col-10">
                                <p ><b class="text-dark">Real-Time Notifications:  </b>Alerts hosts instantly upon visitor 
                                    arrival via email, SMS, or app notifications.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-2 text-right">
                                <img src="/images/vizitor/bvm/right.svg" alt="red" class="mt-4"  />
                            </div>
                            <div class="col-md-10 col-10">
                                <p > <b class="text-dark"> Analytics:  </b>Generates reports on visitor data, helping in 
                                    compliance audits and operational insights.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-2 text-right">
                                <img src="/images/vizitor/bvm/right.svg" alt="red" class="mt-4"  />
                            </div>
                            <div class="col-md-10 col-10">
                                <p ><b class="text-dark"> Scalability:  </b>Can easily scale to accommodate increasing visitor 
                                    volumes and organizational growth.</p>
                            </div>
                        </div>
                       
                    </div>

                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 Manual-top">
                    <div class=" Manual-Check-ins">
                        <div class="text-right">
                            <img src="/images/vizitor/bvm/Digital-VMS21.svg" alt="Digital-VMS21" />
                        </div>
                    </div>
                   
                    <div class="Traditional-card" style="height:auto">
                        <h6 class="text-center">Traditional System (Paper Logbooks)</h6>
                    
                                <div class="row mt-2">
                                    <div class="col-md-2 col-2 text-right">
                                        <img src="/images/vizitor/bvm/right.svg" alt="red" class="mt-4" />
                                    </div>
                                   
                                    <div class="col-md-10 col-10">
                                      <p><b class="text-dark">Cost-Effectiveness: </b>Low initial investment compared to digital 
                                        system, suitable for small budgets.</p>
                                       
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-2 col-2 text-right">
                                        <img src="/images/vizitor/bvm/right.svg" alt="red" class="mt-4" />
                                    </div>
                                   
                                    <div class="col-md-10 col-10">
                                      <p><b class="text-dark">Ease of Use: </b>Simple and familiar process, requires minimal 
                                        training for staff and visitors.</p>
                                       
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-2 col-2 text-right">
                                        <img src="/images/vizitor/bvm/right.svg" alt="red" class="mt-4" />
                                    </div>
                                   
                                    <div class="col-md-10 col-10">
                                      <p><b class="text-dark">No Technology Dependency: </b>Operates independently of 
                                        technology infrastructure, reducing potential downtime.</p>
                                       
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-2 col-2 text-right">
                                        <img src="/images/vizitor/bvm/right.svg" alt="red" class="mt-4" />
                                    </div>
                                   
                                    <div class="col-md-10 col-10">
                                      <p><b class="text-dark">Privacy: </b>Limits exposure of visitor information since records
                                        are physically stored and not digital.</p>
                                       
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-2 col-2 text-right">
                                        <img src="/images/vizitor/bvm/right.svg" alt="red" class="mt-4" />
                                    </div>
                                   
                                    <div class="col-md-10 col-10">
                                      <p><b class="text-dark">Accessibility:  </b>Always available and accessible without 
                                        reliance on internet connectivity or power.</p>
                                       
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-2 col-2 text-right">
                                        <img src="/images/vizitor/bvm/right.svg" alt="red" class="mt-4" />
                                    </div>
                                   
                                    <div class="col-md-10 col-10">
                                      <p><b class="text-dark">No Maintenance Costs: </b>No ongoing costs for software updates, licenses, or technical support.</p>
                                       
                                    </div>
                                </div>
                       <br>
                       <br>
                       <br>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- ----------------------------------------- -->
    <!-- <div id="bvms">
        <div class="container ">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-6 col-xs-12 " id="bvmsli">
                    <h3 class="bvms-size">Free Trial for Vizitor</h3>
                    <p>Take the Plunge and Start Your Free Trial with Vizitor</p>
                    <p>At Vizitor, we understand the importance of a free trial before making a purchase decision. That's why we offer a no-cost, no-obligation free trial to our potential customers. If you need a few more days to fully test the solution,
                        don't hesitate to ask for an extension on your free trial.</p>
                    <div class="bannerbtn Try-free mb-3 bvmsbtn-learn">
                        <a href="/signup" class="btn-arrow">Try for free</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 center-content">
                    <img src="/images/vizitor/free-visitor-management-system/banner-illustration.png" alt="banner-illustration" />
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div id="bvms2">
        <div class="container ">
            <div class="text-center">
                <h2>Maximize the Potential of Your Visitor Management System</h2>
            </div>
            <div class="row align-items-center mt-5">
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <div id="tabsContent" class="tab-content">
                        <div id="tabtable" class="tab-pane fade active show">
                            <img src="/images/vizitor/Touchless-Check-ins.svg" alt="Touchless-Check-ins" />
                        </div>
                        <div id="tab" class="tab-pane fade">
                            <img src="/images/vizitor/security/security.png" alt="security" />
                        </div>
                    </div>
                </div>
                <div id="tabs" class="col-md-6 col-sm-6 col-xs-12 ">
                    <div class=" nav ">
                        <a href="" data-target="#tabtable" data-toggle="tab" class=" active">
                            <h3>Elevate Your Brand Experience</h3>
                            <p>Showcasing your brand in the lobby and throughout the office is crucial for creating a positive first impression. cloud based visitor management system makes it easy to bring your brand to life with logo displays on tablets,
                                visitor badges, and emails. Let your brand shine and make a lasting impact on visitors.
                            </p>
                        </a>
                        <div class="linevms"></div>
                        <a href="" data-target="#tab" data-toggle="tab" class="">
                            <h3>Secure Your Building with Vizitor</h3>
                            <p>Improves a building's security by screening visitors, verifying their identity, and notifying the relevant parties upon their arrival and departure. Vizitor integrates with NDA e-sign form, emergency alert software, and access
                                control system to ensure complete control over who is allowed onsite.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- -------------------- -->

    <!-- --------------------------------------------------- -->
    <div>{{- partial "Industries.html" . -}}</div>

    <div id="bvms2">
        {{- partial "faqvms.html" . -}}
    </div>
</div>

<style>
    #tabs .active h3 {
        color: #ED5C18;
    }
    /* #tabs {
        display: list-item;
        position: relative;
        overflow: hidden;
    } */
    
    .linevms {
        border: 1px solid #687888;
        width: -webkit-fill-available;
        margin: 27px 0px;
    }
</style>


{{end}}