{{ define "main" }}
<div class="container pagebanneres">
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div>
                <h1 class="desk">
                    <span class="Digitize">OTP</span> Based Authentication
                </h1>
            </div>

            <p>To make your premises secure, you must keenly observe visitors trespassing your front door or appoint a person for tracking and reporting all information. Managing visitor data and registrations with a pen, papers and manual logbooks are time-consuming
                and frustrating as well.</p>
            <p>Vizitor come into action and handles every single person entering the front door and keep their information safe and sound. Know your visitors with OTP authentication and Keep track of all the visitors. One time password is an easy and reliable
                source. OTP messages are unique to every single visitor and every single log-in on any digital device.</p>

            <div class="bannerbtn mt-4">
                <a href="/signup" class="btn-arrow">Get Started</a>
            </div>

        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">

            <img src="/images/vizitor/otp.png" alt="otp">
        </div>
    </div>
</div>


<div class="container pagesection">
    <h6 class=" desk help-p">Comprehensive Solution for Two Way Authentication</h6>
    <br>
    <h6><span class="Digitize help-dot">&#8226;</span>Validate new visitors </h6>
    <p>Let the new visitors verify their phone numbers by adding the OTP generated when they visited for the first time.</p>

    <h6><span class="Digitize help-dot">&#8226;</span>Secure accounts logins</h6>
    <p>Protect your dashboard and accounts from data theft and let users sign in with an OTP via SMS at each attempt.</p>
</div>

<div class="container pagesection">
    <h2 class="center-content ">One Time Password via SMS</h2>
    <div class="center-content border-line"></div>
    <div>
        <p>With a maximum open rate, SMS is known for its high reliability. By sending One Time Passwords via SMS.Even when users don't have access to the internet they can still use this multi-factor authentication solution.</p>
        <p>1 Number validation</p>
        <p>2 Fast and reliable delivery</p>
        <p>3 Enhance Security</p>
    </div>

</div>

<div class="container pagesection">
    <h6>Vizitor PASS A New Way To Sign-in!</h6>
    <p>If you have frequent visitors to offices that use Vizitor, Vizitor PASS was made for you, too. Pass uses the OTP based authentication to the visitors to make secure check-in.</p>
</div>

<div>{{- partial "upgrade.html" . -}}</div>
{{end}}