{{ define "main" }}

<div class="container pagebanneres">
    <div class="row align-items-center ">
        <div class="col-12  ">
            <h1 class="text-center">Shipping policy</h1>
            <div class="mt-5">
                <p>Welcome to VizitorApp! As we offer digital products and services, our delivery policy is designed to ensure you receive access to our solutions promptly and securely. 
                    This document outlines how we deliver our services to you, including access to any digital content, software, or subscriptions you purchase from us.
                </p>
                <br>
                <h5>Delivery Time</h5>
                <br>
                <p>Access to digital products and services is typically granted immediately after your purchase is confirmed. 
                   However, in certain cases, it may take up to 24 hours for the product or service to be activated or for access information to be sent to your email address. This delay can be due to verification processes or technical issues.
                </p>
                <br>
                <h5>Technical Support</h5>
                <br>
                <p>If you encounter any issues accessing or using your digital product, please contact our technical support team for assistance.
                     We are available to help resolve any problems or answer questions at hello@vizitorapp.com.</p>
                <br>
            </div>
        </div>
    </div>

</div>






{{end}}