{{ define "main" }}
<div class="container pagebanneres">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <h1> <span class="Digitize">#1 Delivery
                </span><br>Management System</h1>
            <div>
                <p><b>Streamline Your Delivery Operations and Ensure Prompt Package Pickups !</b>
                    <br><br>Simplifies the entire parcel management process, saving valuable time and money for your
                    organization and building.
                </p>
                <div class="mt-5">
                    <form id="deliveryMS">
                        <div class="form-inline2">
                            <input type="email" class="email-input" id="email" name="email"
                                placeholder="Enter your email" required>
                            <input class="btn-try-free" type="submit" value="Try for free">
                        </div>
                    </form>
                </div>
                <p class="no-credit Try-free mt-4">* No credit card required</p>
                <div class="mt-4 Try-free mb-4">
                    {{range .Site.Params.apps}}
                    <a href="{{.url}}" target="_blank"><img class="btn-app btn-app-mg phonetop-btn"
                            src="{{.image  | absURL}}" alt="{{.title}}"></a>
                    {{end}}
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="/images/vizitor/delivery-management/delivery-management-system.webp" alt="vizitor2" />
        </div>
    </div>
</div>
<div id="bvms2">
    <div class="container">
        <div class="text-center pb-5">
            <h2>Revolutionize the way manage<br> <span class="Digitize">Delivery with Vizitor</span>
            </h2>
            <p>Simply scan received packages to notify recipients, and easily<br> collect proof-of-handoff upon
                collection.</p>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12 center-content">
                <img src="/images/vizitor/delivery-management/effortless-img.png" alt="effortlessly_manage_packages" />
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 " id="Delivery">
                <h3 class="bvms-size">Effortlessly Manage Packages </h3>
                <ul>
                    <li>Delivery software matches packages with recipients seamlessly, saving time.</li>
                    <li>Recipient names are automatically selected from a dropdown list.</li>
                    <li>Notifications are sent to designated employees instantly upon package arrival.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="bvms">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12 " id="Delivery">
                <h3 class="bvms-size">Get deliveries to employees on-site</h3>
                <ul>
                    <li>Employees can easily find their packages and arrange for pickup or delivery.</li>
                    <li>Streamlines the package retrieval process.</li>
                    <li>Delivery software provides a smarter, more efficient way to manage deliveries.</li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 center-content">
                <img src="/images/vizitor/delivery-management/delivery-empolyes-img.png" alt="3d-delivery" />
            </div>
        </div>
    </div>
</div>
<div id="bvms2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12 center-content">
                <img src="/images/vizitor/delivery-management/notify-img.png" alt="businessman" />
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 " id="Delivery">
                <h3 class="bvms-size">Notify Employees About their Mail and Parcels</h3>
                <ul>
                    <li>Parcels are captured and sorted by the recipient.</li>
                    <li>Notifications with custom messages and sent through Email and SMS .</li>
                    <li>Triggers can be set for parcels that arrive or are dispatched.</li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div id="bvms">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12 " id="Delivery">
                <h3 class="bvms-size">Secure Parcel Collections and Drop-offs
                </h3>
                <ul>
                    <li>Secure parcel pickups are ensured</li>
                    <li>No parcels will go missing.</li>
                    <li>Proof that parcels were collected or delivered is provided.</li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 center-content">
                <img src="/images/vizitor/delivery-management/secure-parcel-img.png" alt="3d-cartoon-hand" />
            </div>
        </div>
    </div>
</div>
<div id="bvms2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12 center-content">
                <img src="/images/vizitor/delivery-management/delivery-img-pickup.svg" alt="delivery-of-boxes" />
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 " id="Delivery">
                <h3 class="bvms-size">Delivery pick-up
                </h3>
                <ul>
                    <li>Recipients type their name in the kiosk to see available deliveries for pickup.</li>
                    <li>Recipient selects deliveries and marks them as picked up.
                    </li>
                    <li>
                        <p><b>Two ways to mark a delivery as 'picked up':-</b></p>
                    </li>
                    <ul>
                        <li>
                            Via the delivery or reminder notification's "Mark as picked up" button.
                        </li>
                        <li>Through a delivery pick-up kiosk.</li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="Visitor-Management-System ">
    <div class="container ">
        <div>
            <p><span style="font-size: 28px;" class="color-wht ">Fact</span></p>
        </div>
        <div class="center-content ">
            <h2 class="color-wht mb-5">“You’ll never have to log parcels manually; our users save an average of 1250
                hours a year. What would you do with this extra time?”</h2>
            <div class=" text-center mt-5">
                <a href="/signup" class="btn-arrow bvms-white-btn">Try for free</a>
            </div>
        </div>

    </div>
</div>
<!-------------->
<div id="bvms">
    <div class="container ">
        <div class="text-center">
            <h3 class="bvms-size"> Features</span>
            </h3>
            <p class="vizitor-pass-p ">Vizitor's Delivery Management Software offers a range of features to make the
                parcel management process easier and more efficient. Our innovative solution uses advanced technology to
                streamline the entire process, saving valuable time and effort for your organization. Here are some of
                the key features of Vizitor's Delivery Management Software.
            </p>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <img src="/images/vizitor/delivery-management/effort-img.png" alt="qrcode-f" />
                    <h5 class="vizitor-pass-h5 mt-3">Effortless Recipient <br> Identification</h5>
                    <p class="vizitor-pass-h5-p "> Easily match the name on the label to the right recipient using the
                        employees list, with no need for extra hardware.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <img src="/images/vizitor/delivery-management/Efficent-img.svg" alt="pen-underline-fill" />
                    <h5 class="vizitor-pass-h5 mt-3">Efficient Web-Based <br> Delivery Scanning</h5>
                    <p class="vizitor-pass-h5-p">With Vizitor's web-based scan delivery feature, deliveries can be
                        easily added and photos can be captured using the web, providing a streamlined and convenient
                        process for administrators.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <img src="/images/vizitor/delivery-management/Delivery-report-img.svg" alt="pen-underline-fill" />
                    <h5 class="vizitor-pass-h5 mt-3">Delivery Analytics and <br> Reports</h5>
                    <p class="vizitor-pass-h5-p">Analytics and reporting tools help you identify trends to improve
                        operations and scale your mail process.</p>
                </div>
            </div>
        </div>
        <div class="row visitorpass-row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <img src="/images/vizitor/delivery-management/digital-delivery-log-img.svg" alt="envelope-fill" />
                    <h5 class="vizitor-pass-h5 mt-3">Digital Delivery Log</h5>
                    <p class="vizitor-pass-h5-p">Establishes a record of when packages arrive, when they're retrieved,
                        and packages awaiting pickup. </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <img src="/images/vizitor/delivery-management/notification-img.svg" alt="exclamation" />
                    <h5 class="vizitor-pass-h5 mt-3">Package Notifications</h5>
                    <p class="vizitor-pass-h5-p">Automatically notifies employees when they have a delivery ready for
                        pickup, ensuring prompt package pickups. </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <img src="/images/vizitor/delivery-management/automatic-img.svg" alt="exclamation" />
                    <h5 class="vizitor-pass-h5 mt-3">Automatic Reminders</h5>
                    <p class="vizitor-pass-h5-p">Prompts your team to pick up lingering packages with reminder
                        notifications, ensuring that packages don't go unclaimed.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------>
<div id="bvms" class="container ">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <h3 class="mb-5 bvms-size">How <span class="Digitize">Delivery management</span> Works?
            </h3>
            <!-- --1-- -->
            <div>
                <div class="right-btn">
                    <div>
                        <img src="/images/vizitor/bvm/1.svg" alt="1" />
                    </div>

                </div>
                <div>
                    <p class=" display-flex">Parcel arrives and Vizitor uses employee list to match recipient name with
                        employee in your directory
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- --2-- -->
            <div class="mt-4">
                <div class="right-btn">
                    <div>
                        <img src="/images/vizitor/bvm/2.svg" alt="2" />
                    </div>

                </div>
                <div>
                    <p class=" display-flex">Recipient is automatically notified via SMS and email of package arrival
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- --3-- -->
            <div class="mt-4">
                <div class="right-btn">
                    <div>
                        <img src="/images/vizitor/bvm/3.svg" alt="3" />
                    </div>

                </div>
                <div>
                    <p class=" display-flex">Recipient marks package as "picked up" either on an iPad kiosk or directly
                        from their notification
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- --4-- -->
            <div class="mt-4">
                <div class="right-btn">
                    <div>
                        <img src="/images/vizitor/bvm/4.svg" alt="4" />
                    </div>

                </div>
                <div>
                    <p class=" display-flex">Vizitor Deliveries sends automatic reminders if package isn't picked up in
                        a timely manner
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- --5-- -->
            <div class="mt-4">
                <div class="right-btn">
                    <div>
                        <img src="/images/vizitor/bvm/5.svg" alt="5" />
                    </div>

                </div>
                <div>
                    <p class=" display-flex">Delivery package status is updated to "received" or "picked up"</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- ---- -->
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <img class="center-content" src="/images/vizitor/workspace-img.svg" alt="istockphoto11" />
        </div>
    </div>
</div>

<div id="bvms2">
    {{- partial "faqdelivery.html" . -}}
</div>

{{end}}