{{ define "main" }}

<div class="container pagebanneres">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <h1>Touchless Visitor Management System for <span class="Digitize">Hospitals</span></h1>
            <p>Healthcare facilities are more prone to security and operational risks due to their complex needs. They face major safety challenges due to large numbers of people in the form of employees, visitors, patients, and other people passing through
                entrances and sometimes queued up in corridors.</p>
            <p>Making every visit count and to best serve every visitors’ needs is not an easy task. Especially in this time of coronavirus pandemic, it's really important to screen each and every visitor that comes into the hospital.</p>
            <p>The Solution is a <a href="/" rel="canonical"><b>visitor management system</b></a> for hospitals — a complete system for offices, clinics, and hospitals to enable your front desk to be fully ready and prepared to manage visitors through various
                screening processes, while keeping facilities, employees, and their data safe and secure.</p>

            <div class="bannerbtn mt-4">
                <a href="/signup" class="btn-arrow">Get Started</a>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <img src="/images/vizitor/societies/societies.png" alt="office-management-system">
        </div>

    </div>
</div>



<div class="container pagesection pb-5">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h2 class="center-content desk">Touchless Patient Check in Process</h2>
        <div class="center-content border-line"></div>
    </div>
    <div>
        <div class="row mt-5 align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12 center-content">
                <img src="/images/vizitor/Touchless-check/Make-your-workplace.png" style="width: 75%;" alt="Make-your-workplace" />
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <h6 class="desk">1 Touchless Check-In</h6>
                <p>Visitors use their smartphones for themselves check-ins without the help of any third person.Pre-registered visitors can sign in by scanning their QR code. Instead of using a tablet to allow visitors to check-in on their own. This will
                    limit the potential spread of the virus when visitors use their hands to tap the screen. </p>
            </div>
        </div>

        <div class="row align-items-center mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h6 class="desk">2 Enter your details and capturing photo</h6>
                <p>After scanning the QR code a customized form will pop up. Just fill in the required details and submit the form to check-in.For enhanced security ask your visitor for a photo. Visitors can simply capture their photo with their mobile phone.
                </p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 center-content">
                <img src="/images/vizitor/contact-tracing/screening-visitors.png" style="width: 75%;" alt="screening-visitors" />
            </div>
        </div>

        <div class="row align-items-center mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 center-content">
                <img src="/images/vizitor/Touchless-check/touchless-check-in.png" style="width: 55%;" alt="touchless-check-in" />
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <h6 class="desk">3 Health Screening Form</h6>
                <p>Once a visitor has submitted all the required details you can ask them to fill a Health Screening Form right on their mobile phone. This let’s you understand the health condition of your visitors.</p>
            </div>
        </div>

        <div class="row align-items-center mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <h6 class="desk">4 Visitor e-Pass</h6>
                <p>After filling out all the required details visitors and employees will be issued an E-Pass which will let them enter the facility with ease. </p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 center-content">
                <img src="/images/vizitor/Touchless-check/enter-your-details.png" style="width: 55%;" alt="enter-your-details" />
            </div>
        </div>

    </div>
</div>


<div class="pagesection pb-5" style="background-color: rgb(240, 244, 247);">
    <div class="container standard">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2 class="center-content desk mb-5">Enable the highest standard of Safety and Compliance</h2>
        </div>
        <div class="row card-deck">
            <div class="col-md-4 col-sm-4 col-xs-12 card text-center card-shadow py-3">
                <div class="center-content mb-3">
                    <img src="/images/vizitor/hospitals/visitor-screening.png" class="pricingimg2 cardimg" alt="visitor-screening" />
                </div>
                <a href="/visitor-covid-screening" target="_blank" rel="canonical">
                    <h5 class="vizitorpass">
                        Visitor
                        <br />Screening
                    </h5>
                </a>
                <p>Hospitals can add a COVID-19 screening questionnaire to their general visitor flow. Touchless Patient Check in will help in easily screening your visitors by asking them basic health-related questions. The screening form can be completely
                    customized.
                </p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 card text-center card-shadow py-3">
                <div class="center-content mb-3">
                    <img src="/images/vizitor/hospitals/visitor-time-ref.png" class="pricingimg2 imgtop-text cardimg" alt="visitor-time-ref" />
                </div>
                <a href="/contact-tracing" target="_blank" rel="canonical">
                    <h5 class="htop-tex vizitorpass">
                        Visitor
                        <br />Time-reference
                    </h5>
                </a>
                <p>Contact tracing works more perfectly with an accurate visitor record including date, name, temperature, and Check-In time-stamping.</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 card text-center card-shadow py-3">
                <div class="center-content mb-3">
                    <img src="/images/vizitor/hospitals/instant-alerts.png" class="pricingimg2 cardimg" alt="instant-alerts" />
                </div>
                <h5 class="desk">
                    Instant
                    <br />Alerts
                </h5>
                <p>You can send an alert to your admins and hosts. To take action on the arrival of a possibly infected visitor and give them instructions as per the protocol.</p>
            </div>
        </div>
    </div>
</div>


<div class="container pagesection pb-5">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h2 class="center-content desk">How Vizitor can help you with Hospital Safety Amid the Coronavirus Outbreak?</h2>
        <div class="center-content border-line"></div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4 col-sm-4 col-xs-12  center-content">
            <div class="center-content mb-3">
                <img src="/images/vizitor/hospitals/health-screening.png" class="pricingimg2 cardimg" alt="health-screening" />
            </div>
            <a href="/visitor-covid-screening" target="_blank" rel="canonical">
                <h5 class="vizitorpass">
                    Custom health screening
                    <br />questionnaires
                </h5>
            </a>
            <p>Vizitor allows healthcare screening questions verbally instead of using the tab. Creating custom fields relevant to health information about the visitor.</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12  center-content">
            <div class="center-content mb-3">
                <img src="/images/vizitor/hospitals/NDA.png" class="pricingimg2 imgtop-text cardimg" alt="NDA" />
            </div>
            <a href="/visitor-management-nda" target="_blank" rel="canonical">
                <h5 class="htop-tex vizitorpass">
                    Digital Non Disclosure
                    <br />Agreement (NDA’s)
                </h5>
            </a>
            <p>We can send invitation emails to visitors with attached NDAs to sign in advance or other agreements that might include health and safety rules or precautions.</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12  center-content">
            <div class="center-content mb-3">
                <img src="/images/vizitor/hospitals/instant-alerts1.png" class="pricingimg2 cardimg" alt="instant-alerts1" />
            </div>
            <a href="/instant-notification" target="_blank" rel="canonical">
                <h5 class="vizitorpass">
                    Host
                    <br />Notification
                </h5>
            </a>
            <p>Alerts and Host Notification to hosts with crucial information about visitor's health, to take necessary precautions.</p>
        </div>
    </div>
</div>


<div class="pagesection pb-5" style="background-color: rgb(240, 244, 247);">
    <div class="container black-card">
        <div class="row align-items-center">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="center-content">
                    <img src="/images/vizitor/hospitals/mobile-screen.png" alt="mobile-screen" />
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row card-deck">
                        <div class="col-md-6 col-sm-6 col-xs-12 ">
                            <div class="card  card-shadow py-3 pl-3 pr-3">
                                <div>
                                    <img src="/images/vizitor/hospitals/blacklisting.png" class=" mb-3" alt="blacklisting" />
                                    <h5 class="htop-tex desk">Blacklisting <br><br></h5>
                                </div>
                                <p>Vizitor allows you to trigger actions against visitors by displaying denied access messages. If a visitor is returning multiple times without any purpose you can put them in the blacklist.<br><br></p>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12 ">
                            <div class="card  card-shadow py-3 pl-3 pr-3">
                                <div>
                                    <img src="/images/vizitor/hospitals/emergency-evacuation.png " class=" mb-3" alt="emergency-evacuation" />
                                    <h5 class="htop-tex desk">Emergency<br>Evacuation</h5>
                                </div>
                                <p>Vizitor helps organizations be proactive through an emergency situation by providing visitors and hosts with important safety information during evacuation.<br><br><br></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 30px;">
                    <div class="row card-deck">
                        <div class="col-md-6 col-sm-6 col-xs-12 ">
                            <div class="card  card-shadow py-3 pl-3 pr-3">
                                <div>
                                    <img src="/images/vizitor/hospitals/advance-security.png" class="mb-3" alt="advance-security" />
                                    <a href="/visitor-security" target="_blank" rel="canonical">
                                        <h5 class="htop-tex vizitorpass">Advance<br>Security</h5>
                                    </a>
                                </div>
                                <p>Data Security is our main concern. The customer database, financial information, and appointment history are protected by our military-grade infrastructure.</p>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12 ">
                            <div class="card card-shadow py-3 pl-3 pr-3">
                                <div>
                                    <img src="/images/vizitor/hospitals/help-and-support.png" class="mb-3" alt="help-and-support" />
                                    <a href="/help" target="_blank" rel="canonical">
                                        <h5 class="htop-tex vizitorpass">Help centre<br>and Support</h5>
                                    </a>
                                </div>
                                <p>We provide you with 24/7 customer support. Get trouble-free experience with our round over chat, phone, email.<br><br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div>{{- partial "upgrade.html" . -}}</div>
{{end}}