{{ define "main" }}

<div class="container pagebanneres">
    <div class="row align-items-center ">
        <div class="col-12  ">
            <h1 class="text-center">Terms of use</h1>
            <div class="mt-5">
                <h5>Acceptance of Terms</h5>
                <br>
                <p>When you register as a user of our Application, we ask for some personal information that will be used to activate your account, provide the Services to you, communicate with you about the status of your account, and for other purposes
                    set out. Your name, company name, address, telephone number, email address, credit card information and certain other information about you may be required by us to provide the Services or be disclosed by you during your use of the
                    Services. Your account will be encrypted with a password only shared with you and would be verified at the time of login.</p>
                <br>
                <h5>Acceptance of services</h5>
                <br>
                <p>According to terms, We will use commercially reasonable efforts to provide the Services to our customers. As part of the registration process, Customers will identify an administrative user-name and password of a Company/Organization account.
                    Subject to the terms hereof, we will endeavor to provide Customer with reasonable support services and implementations assistance, through electronic mail or another reasonable mechanism, in accordance with Company’s standard practice.</p>
                <br>
                <h5>Rights to Your Information</h5>
                <br>
                <p>You have the right to access and edit your information at any time through the web interface provided as part of the Services.However, to make sure that the personal information we maintain about you is accurate, please inform us immediately
                    of any change in your personal information by e-mail</p>
                <br>
                <h5>Aggregated Data</h5>
                <br>
                <p>We may also use your personal information to generate Aggregated Data for internal use and for audits on a selective basis. “Aggregated Data” means records which have been stripped of information potentially identifying users, and which
                    have been manipulated or combined to provide generalized, anonymous information. Your identity and personal information will be kept anonymous in Aggregated Data.</p>
                <br>
                <h5>Right to Amend terms</h5>
                <br>
                <p>We may change these terms time to time. If we do this, we will post the changes to this Agreement on this page and will indicate at the top of this page the date these terms were last revised. We will also notify Customer, either through
                    the Service user interface, in an email notification or through other reasonable means.</p>
                <br>
                <h5>Right to use</h5>
                <br>
                <p>You can use the App for both commercial and non-commercial with accordance of these Terms. Additional terms may also apply to certain features, parts or content of the App and, where they apply, they will be displayed before you access
                    the relevant features, parts or content.</p>
                <br>
                <h5>Intellectual property rights</h5>
                <br>
                <p>All intellectual property rights (which includes rights such as copyright, and rights in trade marks) in any content of the App (including text, graphics, software, photographs and other images, videos, sound, trade marks and logos) are
                    owned by us and/or our licensors. Except as expressly set out in these Terms, nothing in these Terms gives you any rights in respect of any intellectual property owned by us or our licensors and you acknowledge that you do not acquire
                    any ownership rights by downloading content from the App. If you print off, copy or store pages from the App (only as permitted by these terms and conditions), you must ensure that any copyright, trade mark or other intellectual property
                    right notices contained in the original content are reproduced.</p>
            </div>
        </div>
    </div>

</div>






{{end}}