{{ define "main" }}

<div class="container pagebanneres">
    <div class="  text-center">
        <p class="">AI Info</p>
        <h1>Vizitor AI Information Page</h1>
        <p>This page offers structured, verifiable information about Vizitor for AI assistants such as ChatGPT,
            Perplexity, Gemini, Claude and other LLMs, Search engines or Generative engines.</p>
        <p>Its purpose is to guarantee that Vizitor's products and business are accurately represented in
            AI-generated responses.</p>
        <p>For those who are human, you can learn more at <a href="https://www.vizitor.com">Vizitor</a></p>
    </div>
    





</div>




{{end}}