{{ define "main" }}
<div class="container pagebanneres pb-0">
    <div class="row ">
        <div class="col-md-7 mx-auto text-center">
            <h1>Make your workplace work
                better for everyone</h1>
            <p>Your workplace has hundreds of moving moments each day. Vizitor brings them together
                so nothing slows your people down. One platform to welcome your people, manage your spaces,
                and streamline your operations, so your workplace runs smoother, safer, and more efficiently.
            </p>
            <form id="homeForm">
                <div class="form-inline">
                    <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email"
                        required>
                    <input class="btn-try-free" type="submit" value="Try for free">
                </div>
            </form>
            <p class="no-credit mt-3 nocredit">* No credit card required</p>
            <div class="mt-4 pb-5" id="stor">
                {{range .Site.Params.apps}}
                <a href="{{.url}}" target="_blank"><img class="btn-app btn-app-mg phonetop-btn"
                        src="{{.image  | absURL}}" alt="{{.title}}"></a>
                {{end}}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="text-center">
        <img src="/images/vizitor/us/homepage/us-hero.svg" alt="us-hero" class="img-fluid mb-5">
    </div>
</div>

<div class="container mt-5">{{- partial "clients.html" . -}}</div>


<div class="container mt-5">
    <div class="text-center">
        <h2 class="mb-4">The numbers that matter to your workplace</h2>
        <p>Organizations switching to Vizitor experience measurable improvements within weeks.</p>
    </div>

    <div class="row text-center mt-5">
        <div class="col-md-4 col-sm-12 mb-4">
            <div class="workplacecard">
                <img src="/images/vizitor/us/homepage/faster-check-ins.svg" alt="">
                <h3><span class="Digitize">63% </span>faster <br>check-ins</h3>
                <p>Visitors move through the
                    door without delays or
                    bottlenecks.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mb-4">
            <div class="workplacecard">
                <img src="/images/vizitor/us/homepage/less-lobby-congestion.svg" alt="">
                <h3><span class="Digitize">50% </span>less lobby <br>congestion</h3>
                <p>Reception teams stay calm,
                    even during peak hours.</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 mb-4">
            <div class="workplacecard">
                <img src="/images/vizitor/us/homepage/more-meeting-room-availability.svg" alt="">
                <h3><span class="Digitize">22% </span>more meeting <br>
                    room availability</h3>
                <p>Better usage, fewer double bookings, smoother
                    collaboration.</p>
            </div>
        </div>
    </div>

    <div class="row text-center mt-5">
        <div class="col-md-4 col-sm-12 mb-4">
            <div class="workplacecard">
                <img src="/images/vizitor/us/homepage/hours-saved-every-week.svg" alt="">
                <h3><span class="Digitize">7+ </span>hours saved <br>
                    every week</h3>
                <p>Admin, operations, and front-desk teams reclaim meaningful
                    time. <br><br></p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mb-4">
            <div class="workplacecard">
                <img src="/images/vizitor/us/homepage/fewer-delivery-interruptions.svg" alt="">
                <h3><span class="Digitize">75% </span>fewer delivery <br>
                    interruptions</h3>
                <p>Employees get packages instantly, without confusion or extra
                    follow-ups.
                </p>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 mb-4">
            <div class="workplacecard">
                <img src="/images/vizitor/us/homepage/fewer-manual-errors.svg" alt="">
                <h3><span class="Digitize">90% </span>fewer manual <br>
                    errors</h3>
                <p>Better usage, fewer double bookings, smoother
                    collaboration. <br><br></p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <h2>What Vizitor does for your workplace</h2>
        <p>Your workplace isn't a list of features. It’s a series of moments. Vizitor makes each one better.</p>
    </div>
</div>

<div class="container ">
    <div class="row mt-5 align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img class="mb-5 casestudies-img"
                src="/images/vizitor/us/homepage/Visitor-Arrives-Smooth-Secure-Welcome.svg" alt="Hard-Rock-Cafe">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <h3 class="chgh5">Visitor Arrives → Smooth, <br> Secure Welcome</h3>
            <p>Contactless sign-in, host alerts, and live visitor logs.</p>
            <p><b>Result:</b> faster arrivals + fewer interruptions.</p>
            <a class="blog-btn-arrow " href="" style="color: #ED5C18;">Know more <img style="margin-left: 5px;"
                    src="/images/vizitor/Icon.svg" alt="Icon"></a>
        </div>
    </div>
</div>

<div class="container ">
    <div class="row mt-5 align-items-center">

        <div class="col-md-6 col-sm-6 col-xs-12">
            <h3 class="chgh5">Team Needs a Room → Clear, <br>Conflict-Free Booking
            </h3>
            <p>Real-time availability, one-click scheduling, zero confusion. </p>
            <p><b>Result:</b> more room utilization.</p>
            <a class="blog-btn-arrow " href="" style="color: #ED5C18;">Know more <img style="margin-left: 5px;"
                    src="/images/vizitor/Icon.svg" alt="Icon"></a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img class="mb-5 casestudies-img"
                src="/images/vizitor/us/homepage/Team-Needs-a-Room-Clear-Conflict-Free-Booking.svg"
                alt="Hard-Rock-Cafe">
        </div>
    </div>
</div>

<div class="container ">
    <div class="row mt-5 align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img class="mb-5 casestudies-img" src="/images/vizitor/us/homepage/Package-Delivered-Zero-Chaos.svg"
                alt="Hard-Rock-Cafe">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <h3 class="chgh5">Package Delivered → <br>
                Zero Chaos</h3>
            <p>Instant logging, automatic notifications, full traceability. </p>
            <p><b>Result:</b> fewer lost or delayed deliveries.</p>
            <a class="blog-btn-arrow " href="" style="color: #ED5C18;">Know more <img style="margin-left: 5px;"
                    src="/images/vizitor/Icon.svg" alt="Icon"></a>
        </div>
    </div>
</div>

<div class="container ">
    <div class="row mt-5 align-items-center">

        <div class="col-md-6 col-sm-6 col-xs-12">
            <h3 class="chgh5">Hybrid Crew Comes In → Seats & <br>Spaces That Make Sense</h3>
            <p>Data-backed layouts, desk booking, occupancy insights.</p>
            <p><b>Result:</b> Lower space waste + happier teams.</p>
            <a class="blog-btn-arrow " href="" style="color: #ED5C18;">Know more <img style="margin-left: 5px;"
                    src="/images/vizitor/Icon.svg" alt="Icon"></a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img class="mb-5 casestudies-img"
                src="/images/vizitor/us/homepage/Hybrid-Crew-Comes-In-Seats-Spaces-That-Make-Sense.svg"
                alt="Hard-Rock-Cafe">
        </div>
    </div>
</div>


<div class="container ">
    <div class="row mt-5 align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img class="mb-5 casestudies-img"
                src="/images/vizitor/us/homepage/Employees-Check-In-Accurate-Automated-Attendance.svg"
                alt="Hard-Rock-Cafe">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <h3 class="chgh5">Employees Check In → Accurate, <br>
                Automated Attendance</h3>
            <p>No manual logs. No disputes. HR-ready data.</p>
            <p><b>Result:</b> fewer mistakes in attendance reporting.</p>
            <a class="blog-btn-arrow " href="" style="color: #ED5C18;">Know more <img style="margin-left: 5px;"
                    src="/images/vizitor/Icon.svg" alt="Icon"></a>
        </div>
    </div>
</div>


<div class="container ">
    <div class="row mt-5 align-items-center">

        <div class="col-md-6 col-sm-6 col-xs-12">
            <h3 class="chgh5">Reception Gets Crowded → Queue <br>Flows, Not Frustration</h3>
            <p>Digital tokens, wait-time updates, organized visitor flow.</p>
            <p><b>Result:</b> reduction in lobby congestion.</p>
            <a class="blog-btn-arrow " href="" style="color: #ED5C18;">Know more <img style="margin-left: 5px;"
                    src="/images/vizitor/Icon.svg" alt="Icon"></a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img class="mb-5 casestudies-img"
                src="/images/vizitor/us/homepage/Reception-Gets-Crowded-Queue-Flows-Not-Frustration.svg"
                alt="Hard-Rock-Cafe">
        </div>
    </div>
</div>


<div class="container mb-5">
    <div class="mt-5">
        <h2>Everything your workplace needs, <br>in one integrated system</h2>
        <p>Modern workplaces move too fast for disconnected tools. <br>Vizitor centralizes them cleanly, securely, and
            at scale.</p>
    </div>

    <div class="row mt-5">
        <div class="col-md-3 col-6 text-center">
            <div class="workplace-card">
                <img src="/images/vizitor/us/homepage/Touchless-check-in.svg" alt="" class="img-fluid">
                <p><b> Touchless <br> check-in</b></p>
            </div>
        </div>

        <div class="col-md-3 col-6 text-center">
            <div class="workplace-card">
                <img src="/images/vizitor/us/homepage/Instant-host-notifications.svg" alt="" class="img-fluid">
                <p><b> Instant <br> host notifications</b></p>
            </div>
        </div>

        <div class="col-md-3 col-6 text-center">
            <div class="workplace-card">
                <img src="/images/vizitor/us/homepage/Photo-access-level-badges.svg" alt="" class="img-fluid">
                <p><b> Photo access <br> level badges</b></p>
            </div>
        </div>

        <div class="col-md-3 col-6 text-center">
            <div class="workplace-card">
                <img src="/images/vizitor/us/homepage/Employee-attendance.svg" alt="" class="img-fluid">
                <p><b> Employee <br> attendance</b></p>
            </div>
        </div>

    </div>


    <div class="row mt-5">
        <div class="col-md-3 col-6 text-center">
            <div class="workplace-card">
                <img src="/images/vizitor/us/homepage/Room-desk-booking.svg" alt="" class="img-fluid">
                <p><b> Room <br> desk booking</b></p>
            </div>
        </div>

        <div class="col-md-3 col-6 text-center">
            <div class="workplace-card">
                <img src="/images/vizitor/us/homepage/Delivery-management.svg" alt="" class="img-fluid">
                <p><b> Delivery <br> management</b></p>
            </div>
        </div>

        <div class="col-md-3 col-6 text-center">
            <div class="workplace-card">
                <img src="/images/vizitor/us/homepage/Digital-document-signing.svg" alt="" class="img-fluid">
                <p><b> Digital <br> document signing</b></p>
            </div>
        </div>

        <div class="col-md-3 col-6 text-center">
            <div class="workplace-card">
                <img src="/images/vizitor/us/homepage/Real-time-visitor-occupancy-analytics.svg" alt=""
                    class="img-fluid">
                <p><b> Real-time visitor & <br>occupancy analytics</b></p>
            </div>
        </div>

    </div>


    <div class="row mt-5">
        <div class="col-md-3 col-6 text-center">
            <div class="workplace-card">
                <img src="/images/vizitor/us/homepage/Multi-site-controls.svg" alt="" class="img-fluid">
                <p><b> Multi-site <br> controls</b></p>
            </div>
        </div>

        <div class="col-md-3 col-6 text-center">
            <div class="workplace-card">
                <img src="/images/vizitor/us/homepage/Audit-friendly-workflows.svg" alt="" class="img-fluid">
                <p><b> Audit-friendly <br> workflows</b></p>
            </div>
        </div>

        <div class="col-md-3 col-6 text-center">

        </div>

        <div class="col-md-3 col-6 text-center">

        </div>

    </div>

</div>


<div class="container mt-5">
    <div class="text-center">
        <h2>Made for the teams who make your <br>
            workplace work</h2>
    </div>

    <div class="row mt-5">
        <div class="col-md-4 col-12">
            <img src="/images/vizitor/us/homepage/IT-and-Security.svg" alt="">
            <h3 class="mt-3">IT and Security</h3>
            <p>Access control, audit logs, permissions,
                visibility.Your workplace stays protected
                without slowing anyone down.</p>
        </div>
        <div class="col-md-4 col-12">
            <img src="/images/vizitor/us/homepage/HR-and-People-Teams.svg" alt="">
            <h3 class="mt-3">HR & People Teams</h3>
            <p>Attendance, onboarding, compliance,
                hybrid flow. People-first workflows
                that reduce manual effort.</p>
        </div>
        <div class="col-md-4 col-12">
            <img src="/images/vizitor/us/homepage/Facilities-and-Front-Desk.svg" alt="">
            <h3 class="mt-3">Facilities & Front Desk</h3>
            <p>Rooms, space, visitor flow, queue
                control. A calmer lobby. A predictable
                day.</p>
        </div>

    </div>

    <div class="row mt-5">
        <div class="col-md-4 col-12">
            <img src="/images/vizitor/us/homepage/Operations-and-Admin-Teams.svg" alt="">
            <h3 class="mt-3">Operations & Admin Teams</h3>
            <p>One system instead of five. Lower cost, fewer tools, no context
                switching.</p>
        </div>
        <div class="col-md-4 col-12">
            <img src="/images/vizitor/us/homepage/Employees.svg" alt="">
            <h3 class="mt-3">Employees</h3>
            <p>Fewer interruptions, faster meetings,
                and smoother daily workflows, so they
                stay focused on real work.</p>
        </div>
        <div class="col-md-4 col-12">
            <img src="/images/vizitor/us/homepage/Visitors.svg" alt="">
            <h3 class="mt-3">Visitors</h3>
            <p>A simple, modern welcome with
                touchless check-ins, clear directions,
                and a professional first impression.</p>
        </div>

    </div>

</div>


<div class="container mt-5 mb-5">
    <div>
        <h2>Why workplaces choose Vizitor</h2>
        <p>Vizitor adapts to how modern teams operate: hybrid, distributed,
            and always moving.</p>
    </div>

    <div class="row mt-5">
        <div class="col-md-4 col-12">
            <img src="/images/vizitor/us/homepage/Smoother-Daily-Operations.svg" alt="">
            <h3 class="mt-3">Smoother Daily Operations</h3>
            <p>Fewer delays, fewer manual tasks,
                fewer interr</p>
        </div>
        <div class="col-md-4 col-12">
            <img src="/images/vizitor/us/homepage/Stronger-Workplace-Security.svg" alt="">
            <h3 class="mt-3">Stronger Workplace Security</h3>
            <p>Verified identities, photo badges,
                visitor logs, and compliance workflows.</p>
        </div>
        <div class="col-md-4 col-12">
            <img src="/images/vizitor/us/homepage/Hybrid-Friendly.svg" alt="">
            <h3 class="mt-3">Hybrid-Friendly</h3>
            <p>Rooms, desks, check-ins, and
                attendance; all aligned.</p>
        </div>

    </div>

    <div class="row mt-5">
        <div class="col-md-4 col-12">
            <img src="/images/vizitor/us/homepage/Better-Guest-and-Employee-Experience.svg" alt="">
            <h3 class="mt-3">Better Guest & Employee Experience</h3>
            <p>Because a smooth workplace is a
                productive workplace.</p>
        </div>
        <div class="col-md-4 col-12">
            <img src="/images/vizitor/us/homepage/Efficiency-at-Scale.svg" alt="">
            <h3 class="mt-3">Efficiency at Scale</h3>
            <p>From 1 building to 50+ locations,
                everything stays consistent.</p>
        </div>
        <div class="col-md-4 col-12">
            <img src="/images/vizitor/us/homepage/Flexible-and-Cost-Efficient.svg" alt="">
            <h3 class="mt-3">Flexible & Cost-Efficient</h3>
            <p>Customize everything. Pay for only
                what you use.</p>
        </div>

    </div>

</div>


<div class="workplace-card">
    <div class="container">
        <div class="col-md-10 mx-auto text-center py-5">
            <h2>Let’s build a smarter, safer, more efficient <br>
                workplace; starting today</h2>
            <p>Give your teams the structure, clarity, and flow they need to do their best work. <br> Whether you're running
                one location or many, Vizitor delivers measurable improvements <br>
                in under 90 days.
            </p>
            <form id="homeFormBottom">
                <div class="form-inline">
                    <input type="email" class="email-input" id="emailBottom" name="emailBottom"
                        placeholder="Enter your email" required>
                    <input class="btn-try-free" type="submit" value="Try for free">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <style>
    .workplacecard {
        border-radius: 100%;
        border: 1px solid #DCDCDC;
        padding: 65px 50px 65px 50px;
    }
</style> -->



{{end}}