{{ define "main" }}

<div class="container pagebanneres">
    <div class="row align-items-center">
        <div class="col-12">
            <h1 class="text-center">{{ .Title }}</h1>

            {{ with .Params.description }}
            <p class="text-center mt-3">{{ . }}</p>
            {{ end }}

            <div class="mt-5">
                <h5>Productivity through workplace automation</h5>
                <p>
                    This is US specific layout.
                </p>
            </div>
        </div>
    </div>
</div>

{{ end }}