{{ define "main" }}

<div class="container pagebanneres">
    <div class="row align-items-center ">
        <div class="col-12  ">
            <h1 class="text-center">Privacy policy</h1>
            <div class="mt-5">
                <p>Your privacy is important to us. This privacy policy explains what personal data Vizitor collects from you through our services and how we use that data. We are committed to protecting your privacy online. We appreciate that you do not
                    want the personal information you provide to us distributed indiscriminately and here we explain how we collect information, what we do with it and what controls you have. By using the App, you consent to the collection and use of
                    information in accordance with this privacy policy.</p>
                <br>
                <h5>Information we may collect from you</h5>
                <br>
                <p>We may collect and process the following information about you information such as your name, email address, postal address and telephone number that you provide by registering on the App. We can also keep record of any data upload by
                    you via the App like your preferences. We may request any information or enter into any competition or promotion we may sponsor. We keep track of details of every transaction made by you through the application or website.
                </p>
                <br>
                <h5>How we utilize your information</h5>
                <br>
                <p>We will use the information you provide to help us to build a profile of your preferences so we can offer you events and services you are interested in. The Visitor/Guest data is recorded for future audits and help your customers login
                    more swiftly. The information also enables us to process your requests and to provide you with the services and information offered through the App and which you request. It helps us to administer your account with us verify and carry
                    out financial transactions.</p>
                <br>
                <h5>Additional information</h5>
                <br>
                <p>When you visit the App, we may automatically collect additional information about you, such as the type of phone or operating system you use and, if you came to the website, the type of internet browser you use and the website from which
                    you have been redirected to our site. Also, depending on whether you access Visitor on your PC or via your mobile device, we may collect your IP address or the unique identifier which are automatically recognised by our servers. You
                    cannot be identified solely from this information and it is only used to assist us in providing an effective service on the App and to collect broad demographic information for aggregate use.</p>
                <br>
                <h5>Assistance</h5>
                <br>
                <p>We may send you information we think you may find useful or which you have requested from us by via query,e-mail, including information about the latest or upcoming events featured on the App.</p>
                <br>
                <h5>Security</h5>
                <br>
                <p>We place great importance on the security of all personally identifiable information associated with our users. We have security measures in place to attempt to protect against the loss, misuse and alteration of personal information under
                    our control. For example, our security and privacy policies are periodically reviewed and enhanced as necessary and only authorised personnel have access to personal information. Whilst we cannot ensure or guarantee that loss, misuse
                    or alteration of information will never occur, we use all reasonable efforts to prevent it</p>
            </div>
        </div>
    </div>

</div>






{{end}}