{{ define "main" }}
<div class="container pagebanneres">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="bannerleft">
                <h1><span class="Digitize">Multi-Lingual</span> Visitor Management System
                </h1>
                <p>We always welcome all our visitors when they entered our offices with one common language, that’s mainly English. But there are some visitors from different countries who want a warm welcome in their preferred language. How can we resolve
                    it?. Vizitor, Visitor Management System that supports multi-language support that makes your visitor check-in experience flexible. Below are the benefits of using the multilingual sign-in app and how it can improve its work experience</p>
                <div class="bannerbtn mt-4">
                    <a href="/signup" class="btn-arrow">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <img src="/images/vizitor/multilingual/Multilingual.png" alt="Multilingual">
        </div>

    </div>
</div>


<div class="container pagesection">
    <div class="card-deck">
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/multilingual/faster-check-in-exp.png" class="card-tb" alt="faster-check-in-exp" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Faster Check-in<br>Experience</h5>
                <p>By using the app in preferable language by the visitor helps them get the faster check-in experience. The language barriers, make the visitors more comfortable and feel valued. Regardless of the language they speak, visitors can quickly
                    sign-in and get their meetings and events on time.</p>
            </div>
        </div>
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/multilingual/front-desk-staff.png" alt="front-desk-staff" class="card-tb" />
            </div>
            <div class="card-body">
                <h5 class="card-title"> Manageable for front
                    <br />desk staff</h5>
                <p>A multi-language check-in system reduces the load of front desk staff. If the visitors sign-in using their preferred language, they don't have any trouble in check-in flow. This means the employees don't need to walk around the visitors
                    to make them understand the process.</p>
            </div>
        </div>
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/multilingual/brad-value.png" class="card-tb" alt="brad-value" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Enhance the
                    <br />brand value</h5>
                <p>The positive first impression is the key to make your visitors happy. Understandably, visitors might be more comfortable using the tablet-based sign-in app in their native language. Having this option available makes them valuable, increases
                    the accessibility and boost the workplace experience.</p>
            </div>
        </div>
    </div>
</div>



<div class="container pagesection">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <p><b>Use cases of Visitor Management System in multiple languages</b></p>
            <p>Visitor management in multiple languages is useful for global companies with offices around the world. Rather than investing in a different tool, this gives you all in one solution.</p>
            <br>
            <h6>Your visitors can use the Vizitor in 12 languages.</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
            <p>Hindi(hi)</p>
            <p>French(fr)</p>
            <p>German(de)</p>
            <p>Spanish(es)</p>
            <p>Italian(it)</p>
            <p>Japanese(ja)</p>
            <p>Russian(ru)</p>
            <p>Chinease(zh)</p>
            <p>Korean(ko)</p>
            <p>Danish(da)</p>
            <p>Portuguese(pt)</p>
            <p>Dutch(nl)</p>
            <br>
            <p>There are many benefits to using a visitor management solution that offers multiple languages. Ready to give your visitors a welcoming customized experience? </p>
            <p>To try this feature just Sign up for a free trial.</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <img src="/images/vizitor/multilingual/12-languages.png" class="pricingimg2 cardimg" alt="12-languages">
        </div>
    </div>
</div>










<div>{{- partial "upgrade.html" . -}}</div>
{{end}}