{{ define "main" }}
<div class="container pagebanneres">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <p> <span class="Digitize">Hotel Front Desk Software
                </span></p>
            <div>
                <h1>More Time for Guests, <br>
                    Less Time for Work!
                </h1>
                <p>Hospitality Simplified.
                </p>
                <div class="mt-5">
                    <form id="deliveryMS" data-cb-wrapper="true">
                        <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email"
                            required="">
                        <input class="btn-try-free" type="submit" value="Try for free">
                    </form>
                </div>
                <p class="no-credit Try-free mt-4">* No credit card required</p>
                <div class="mt-4 Try-free mb-4">

                    <a href="https://play.google.com/store/apps/details?id=com.vizitor.app" target="_blank"><img
                            class="btn-app btn-app-mg phonetop-btn"
                            src="https://www.vizitorapp.com/images/vizitor/playstore.svg" alt="googlePlay"></a>

                    <a href="https://apps.apple.com/us/app/vizitor/id1408560525?ls=1" target="_blank"><img
                            class="btn-app btn-app-mg phonetop-btn"
                            src="https://www.vizitorapp.com/images/vizitor/appstore.svg" alt="IOSapp"></a>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="/images/vizitor/hotels/main-image/hotels.png" alt="office-management-system">
        </div>
    </div>
</div>

<div id="bvms">
    <div class="Visitor-Management-System ">
        <div class="container ">
            <div class="center-content ">
                <h2 class="color-wht mb-5"> What is Hotel Front Desk Software?</h2>
                <p class="What-Visitor mb-4" style="line-height: 30px;">Hotel front desk software is a comprehensive
                    solution designed to optimize and simplify the check-in and checkout processes for guests in hotels.
                    This software is a centralized hub, efficiently managing reservations, room assignments, and guest
                    information. It allows hotels to streamline their operations by automating administrative tasks,
                    such as billing and reporting, while also enhancing security measures through features like ID badge
                    issuance and access control. By leveraging hotel front desk software, establishments can provide a
                    seamless and efficient experience for guests, ensuring a smooth stay from arrival to departure.
                </p>
                <div class=" text-center mt-5">
                    <a target="_blank" href="#" class="btn-arrow bvms-white-btn">Get Started Today!</a>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="container pagesection">
    <h2 class="text-center my-5">Benefits of Hotel Front Desk Management Software
    </h2>
    <div class="row">
        <div class="card-deck">
            <div class="card text-center card-shadow">
                <div>
                    <img src="/images/vizitor/hotels/main-fetaures/digital-check-ins.png" class="card-tb"
                        alt="real-time-dashboard" />
                </div>
                <div class="card-body">
                    <h5 class="desk">
                        Enhanced Guest Experience Through Streamlined Check-ins and Checkouts
                    </h5>
                    <p>Hotel front desk software facilitates a swift and hassle-free check-in and checkout process,
                        ensuring a positive and efficient experience for guests. With automated systems, guests can
                        expect reduced wait times, personalized service, and a seamless transition from arrival to
                        departure.
                    </p>
                </div>
            </div>
            <div class="card text-center card-shadow">
                <div>
                    <img src="/images/vizitor/hotels/main-fetaures/mobile-number-verification.png"
                        alt="host-notification" class="card-tb" />
                </div>
                <div class="card-body">
                    <h5 class="card-title"> Improved Security Measures with Access Control and ID Badge Integration
                    </h5>
                    <p>The integration of access control and ID badge issuance features in hotel front desk software
                        significantly enhances security measures. This ensures that only authorized personnel have
                        access to specific areas, providing a secure environment for both guests and staff. The issuance
                        of digital or physical ID badges adds an extra layer of identification for better control and
                        monitoring.
                    </p>

                </div>
            </div>
            <div class="card text-center card-shadow">
                <div>
                    <img src="/images/vizitor/hotels/main-fetaures/qr-code-scanner.png" class="card-tb"
                        alt="phone-number-verification" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Optimal Operational Efficiency and Administrative Automation
                    </h5>
                    <p>Hotel front desk software optimizes operational efficiency by automating administrative tasks
                        such as billing, invoicing, and reporting. This reduces the workload for hotel staff and
                        minimizes the risk of errors, allowing the team to focus on delivering a superior guest
                        experience.
                    </p>

                </div>
            </div>
        </div>
        <div class="col-md-8 mx-auto mt-5">
            <div class="row">
                <div class="card-deck">
                    <div class="card text-center card-shadow">
                        <div>
                            <img src="/images/vizitor/hotels/main-fetaures/feedback-management.png" class="card-tb"
                                alt="smart-pre--registration" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Customization for Tailored Solutions to Meet Specific Hotel Needs
                            </h5>
                            <p>A key advantage of hotel front desk software is its flexibility and customization
                                capabilities. This enables hotels to tailor the software to their specific needs,
                                adapting
                                to unique requirements and preferences. Whether it's adjusting room assignment protocols
                                or
                                incorporating specific reporting parameters, customization ensures the software aligns
                                perfectly with the hotel's operations.
                                .</p>
                        </div>
                    </div>
                    <div class="card text-center card-shadow">
                        <div>
                            <img src="/images/vizitor/hotels/main-fetaures/feedback-management.png" class="card-tb"
                                alt="smart-pre--registration" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"> Comprehensive Data Insights for Informed Decision-Making
                            </h5>
                            <p>Hotel front desk software provides valuable data insights through detailed reporting and
                                analytics. This information empowers hotel management to make informed decisions related
                                to
                                occupancy rates, guest preferences, and overall operational performance. Utilizing these
                                insights can contribute to strategic planning and improvements in service quality.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div id="bvms">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mb-5">
                <h2>Vizitor: Your All-in-One Front Desk Solution</h2>
                <div class="center-content border-line"></div>
                <p>Vizitor is a cloud-based hotel front desk software solution that offers a wide range of features to
                    help
                    you streamline operations, enhance the guest experience, and increase revenue. Here are just a few
                    of
                    the benefits that Vizitor can provide</p>
            </div> 
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="row phone-row">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <img src="/images/vizitor/hotels/other-features/powerful-web-dashboard.png"
                            class="pricingimg2 cardimg" alt="digital-impression" />
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <h6 class="offer desk">Digital Check-Ins</h6>

                    </div>
                </div>
                <div class="phone-center">
                    <p>Go paperless and speed up the registration process with our mobile app.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="row phone-row">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <img src="/images/vizitor/hotels/other-features/visitor-badges.png" class="pricingimg2 cardimg"
                            alt="customized-forms" />
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <h6 class="offer">
                            Mobile Number Verification
                    </div>
                </div>
                <div class="phone-center">
                    <p> Ensure the security of your guests and staff with our secure OTP verification process.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="row phone-row">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <img src="/images/vizitor/hotels/other-features/nda.png" class="pricingimg2 cardimg"
                            alt="image-capturing" />
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <h6 class="offer">
                            QR Code Sign-Ins
                        </h6>
                    </div>
                </div>
                <div class="phone-center">
                    <p>Allow guests to bypass the registration process with our easy-to-use QR code system.
                    </p>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="row phone-row">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <img src="/images/vizitor/hotels/other-features/security.png" class="pricingimg2 cardimg"
                            alt="badge-printing" />
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <h6 class="offer">
                            Feedback Management
                        </h6>
                    </div>
                </div>
                <div class="phone-center">
                    <p> Get valuable feedback from your guests to help you improve your services.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="row phone-row">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <img src="/images/vizitor/hotels/other-features/unlimited-visitors.png"
                            class="pricingimg2 cardimg" alt="badge-printing" />
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <h6 class="offer">
                            Online
                           Booking
                        </h6>
                    </div>
                </div>
                <div class="phone-center">
                    <p>Make it easy for guests to book their stay directly on your website.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="row phone-row">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <img src="/images/vizitor/co-working/other-features/customer-care.png"
                            class="pricingimg2 cardimg" alt="emergency-evacuation" />
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <h6 class="offer">
                            Visitors
                             Badges
                        </h6>
                    </div>
                </div>
                <div class="phone-center">
                    <p> ID Badge printing of visitor badges that contain visitor’s credentials for more security.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Faq Section -->
<div id="bvms2">
    <div class="container">
        <div class="row">
            <div class="col-md-11 mx-auto">
                <h2 class="mb-5">Frequently Asked Questions</h2>
                <div id="accordion" class="accordion faqaccordion">
                    <div class="faqcard mb-0">
                        {{range $index, $elem := .Site.Data.hotel.items }}
                        <div class="card-header collapsed" data-toggle="collapse" href="#faq{{$index}}">
                            <a class="card-title">
                                <b>{{.question}}</b>
                            </a>
                        </div>
                        <div id="faq{{$index}}" class="card-body collapse clrmod" data-parent="#accordion">
                            {{.answer | safeHTML}}
                        </div>
                        {{end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Faq Section Ends -->







{{end}}