{{ define "main" }}
<div class="container pagebanneres">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <h1>Front Desk Software for <span class="Digitize">Hotel</span></h1>
            <p>An immense number of individuals are expected to work in a hotel, including brief staff, customary representatives, cooks, cleaning staff, and servers. Additionally, there is a consistent progression of salespersons, temporary workers, merchants,
                and others. A huge lodging regularly has a few doors at the back for consistent traffic of every one of these individuals. Front desk software for hotel makes the activity of the safety faculty even more troublesome as they have to monitor
                both one-time and ordinary guests and watch out for the numerous doorways and ways out.</p>
            <p>A hotel front desk system can help you both with guests and the executives and reconnaissance. You can take care of the considerable number of insights regarding ordinary staff into the stage and give ID identifications to them. Hotel front
                desk software makes it straightforward and quick to do their security check, and they can likewise self check during passage and exit. Further, you can print out an identification for temporary workers just as other incessant guests and
                enter their own data in the product. Hotel front desk management system will assist security with staffing to give them access to the required regions and keep them from getting to confined spots.</p>

            <div class="bannerbtn mt-4">
                <a href="/signup" class="btn-arrow">Get Started</a>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <img src="/images/vizitor/hotels/main-image/hotels.png" alt="office-management-system">
        </div>

    </div>
</div>


<div class="container pagesection">
    <div class="card-deck">
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/hotels/main-fetaures/digital-check-ins.png" class="card-tb" alt="real-time-dashboard" />
            </div>
            <div class="card-body">
                <h5 class="desk">
                    Digital
                    <br>Check-Ins
                </h5>
                <p>Vizitor allows guest check-In by going paperless and speed up the registration process reducing the waiting time</p>

            </div>
        </div>
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/hotels/main-fetaures/mobile-number-verification.png" alt="host-notification" class="card-tb" />
            </div>
            <div class="card-body">
                <h5 class="card-title"> Mobile Number
                    <br />Verification</h5>
                <p>Verifies every mobile number via a six-digit secured OTP as a first mandatory step for any visitor.</p>

            </div>
        </div>
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/hotels/main-fetaures/qr-code-scanner.png" class="card-tb" alt="phone-number-verification" />
            </div>
            <div class="card-body">
                <h5 class="card-title">QR Code
                    <br />Sign-In’s</h5>
                <p>Automatically generated QR codes allows visitors to bypass the registration process.</p>

            </div>
        </div>
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/hotels/main-fetaures/feedback-management.png" class="card-tb" alt="smart-pre--registration" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Feedback
                    <br />Management</h5>
                <p>Get a complete set of opinions by your customers about your product and services.</p>

            </div>
        </div>
    </div>
</div>




<div class="container pagesection">
    <div class="text-center">
        <h2>How Vizitor can help you at your workplace?</h2>
        <div class="center-content border-line"></div>
    </div>

    <!-- A -->
    <div class="col-md-10 mx-auto text-center ">
        <div class="row align-items-center">
            <div class="col-md-6 text-center mb-5">
                <img src="/images/vizitor/hotels/process-image/online-registration.png" alt="get-registered" />
                <div class="mt-4">
                    <h3><span class="number">(A)</span> Online Booking</h3>
                    <p>Vizitor provides a consistent, branded experience for customers by making hassle free appointment online, via the vizitor.</p>
                </div>
            </div>

            <div class="col-md-6 text-center mb-5">
                <img src="/images/vizitor/hotels/process-image/offline-registration.png" alt="get-registered" />

                <div class="mt-4">
                    <h5><span class="number">(B)</span> Offline Registration</h5>
                    <p> Visitors are required to enter specific details about their name, phone number, address, photograph and details about whom they are meeting.</p>
                </div>
            </div>



        </div>
    </div>

    <!-- 1 -->
    <div class="row align-items-center">

        <div class="col-md-6 text-center">
            <img src="/images/vizitor/hotels/process-image/image-capturing.png" alt="get-registered" />
        </div>

        <div class="col-md-6">
            <div class="w-100">
                <h5><span class="number">(01)</span> Image Capturing</h5>
                <p>Image capturing to every visitor who comes to your facility and stores within your database for future reference.</p>
            </div>
        </div>
    </div>
    <!-- 2 -->
    <div class="row align-items-center mt-5">
        <div class="col-md-6">
            <div class="w-100">
                <h5><span class="number">(02)</span> Know Your Visitor</h5>
                <p>Meeting is scheduled with concerned person without any hassle.</p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="/images/vizitor/schools/process-image/know-your-visitor.png" alt="image-capturing" />
        </div>
    </div>
</div>





<div class="container pagesection">
    <div class="row">
        <div class="col-md-12 text-center mb-5">
            <h2>More Features</h2>
            <div class="center-content border-line"></div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/hotels/other-features/powerful-web-dashboard.png" class="pricingimg2 cardimg" alt="digital-impression" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer desk">Powerful Web<br> Dashboard</h6>

                </div>
            </div>
            <div class="phone-center">
                <p>Gives real time data of visitors by simply search for a specific sign-in to view visitor photos, sign-in times, signed legal documents and more</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/hotels/other-features/visitor-badges.png" class="pricingimg2 cardimg" alt="customized-forms" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        Visitors
                        <br />Badges
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>ID Badge printing of visitor badges that contain visitor’s credentials for more security.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/hotels/other-features/nda.png" class="pricingimg2 cardimg" alt="image-capturing" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        NDA
                        <br />Disclosure
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>Enhance the security of your office by making visitors to sign NDAs digitally.ail</p>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/hotels/other-features/security.png" class="pricingimg2 cardimg" alt="badge-printing" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        Security
                        <br />
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>With features like storage of visitor’s digital signatures, and approval based visitor entry, ensures optimal security.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/hotels/other-features/unlimited-visitors.png" class="pricingimg2 cardimg" alt="badge-printing" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        Unlimited
                        <br />Visitors
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>No bar to number of visitors signing-in in vizitor.You can offer a professional experience by greeting your visitors in a digital way</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/co-working/other-features/customer-care.png" class="pricingimg2 cardimg" alt="emergency-evacuation" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        Help centre
                        <br />and Support
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>Have a trouble free experience with our round the clock help centre, chat, phone, email.</p>
            </div>
        </div>
    </div>

</div>




<div>{{- partial "upgrade.html" . -}}</div>
{{end}}