{{ define "main" }}
<div>
    <section>
        <div class="container pagebanneres">
            <div class="col-md-12 col-sm-12 col-xs-12 center-content">
                <div>
                    <h1>
                        Visitor Management System
                        <br>
                        <span class="Digitize">Indonesia</span>
                    </h1>
                </div>
                <div>
                    <p>The global visitor management system market will grow at a CAGR of more than 15% during the forecast period 2019-2025. The market trends for visitor management systems are primarily driven by the increasing demand from organizations
                        to inspect and detect visitors in facilities. </p>
                    <p>An integrated approach to screen and monitor visitors is driving the growth of the market. Industries and countries that are prone to security threats are expected to focus more on visitor management systems. The admin team is responsible
                        for properly planning their activities when a visitor arrives at the facility</p>
                    <div class="bannerbtn mt-4">
                        <a href="/signup" class="btn-arrow">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <h2 class=" center-content">Challenges before the Visitor Management System</h2>
                <p>Most companies in Indonesia are facing the challenges of dealing with a large number of visitors traffic coming in and out of the building premises on a daily basis.</p>
                <p><span>&#8226;</span> During this pandemic, visitor screening is the basic parameter companies need to follow. The companies are ensuring that all the safety measures to be taken care off.</p>
                <p><span>&#8226;</span> Now companies are more concerned about touchless operations. Contactless check-in options based on RFID readers is the major requirement.</p>
                <p>This is where a visitor management software can come in to manage and distinguish between the different types of visitors</p>
                <p>Visitor Management System is a management solution which is gaining widespread adoption among companies in Indonesia. The system mainly consists of emerging players focusing on digital technologies, including IoT, RFID, and analytics.
                </p>

            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <h2 class=" center-content">Some of the Key Vendors included</h2>
                <p><span>&#8226;</span> Trakit</p>
                <p><span>&#8226;</span> Axindo Security Solutions</p>
                <p><span>&#8226;</span> Indovisitor</p>
                <p><span>&#8226;</span> leego</p>
                <p>The players are security agencies that provide the visitor management system. These companies are rising in the market sphere by leveraging smart and intelligent technologies that help visitor tracking in facilities. Most of the vendors
                    are offering cloud-based visitor management software with web and mobile applications.</p>
                <p>According to visitor management system market analysis, Asia Pacific is anticipated to grow substantially due to the market potential in China, India, & Australia and investments in IoT, mobility, & RFID.</p>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <h2 class=" center-content">Importance of Visitor Management System</h2>
                <p><span>&#8226;</span> The key components in the market would be various technology influx in bringing mobility and a centralized control system for visitors. </p>
                <p><span>&#8226;</span> The significant adoption of the visitor management system is witnessed in commercial and public buildings. </p>
                <p><span>&#8226;</span> Few of the societies are adopting the visitor management system, looking into the increasing need in the housing societies.</p>
                <p><span>&#8226;</span> One of the most important features that a visitor management system provides is automation in processes, which were previously done by manual process.</p>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <h2 class=" center-content">Keys features of visitor management system</h2>
                <h6><span>&#8226;</span> Express Check-in</h6>
                <p>Make check-in even faster, QR codes are included in your visitors invitation and print badges Notifications</p>

                <h6><span>&#8226;</span> Badge Printing</h6>
                <p>Provides visitor badges that help employees easily recognize the visitor as well as their credentials.</p>

                <h6><span>&#8226;</span> Pre Registration</h6>
                <p>Host can pre register their expecting visitor. Visitors will receive an invitation email with barcode. </p>

                <h6><span>&#8226;</span> Automatic Check-out</h6>
                <p>Situations where visitors forget to check-out, the system will check-out by user definable settings</p>

                <p> The key players in the market are adopting various organic growth strategies, i.e., new product launches and expansion strategies, to be in a strong position with distinguished products. The software modules help in pre-registration and
                    are an agile & easy way to connect to guests or visitors for meetings. It also helps in keeping a database to check their previous visits, entry or exit, to the building or premises.</p>
            </div>
        </div>
    </section>
</div>

<div>{{- partial "upgrade.html" . -}}</div>
{{end}}