{{ define "main" }}
<div class="container pagebanneres ">
    <div class="row ">
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <h1>Contact Tracing Application</h1>
            <p>Specially designed for offices, industries, hospitals<br> and many other workplaces planning to re-open <br>office after lockdown. Highly secured and <br>useful application to screen daily visitors <br>entering your premises.</p>
            <div class=" mt-3">
                <div>
                    <form id="contactTracing">
                        <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email" required>
                        <input class="btn-try-free" type="submit" value="Try for free">
                    </form>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <img src="/images/vizitor/contact-tracing/contact-tracing-application.png" alt="contact-tracing-application" />
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="center-content pb-5">
        <h2 class="desk">Advantages of Contact Tracing System</h2>
        <div class="center-content border-line"></div>
        <p>Digital Transformation will be the key for companies after lockdown.<br>More the Digitalization, more the Automation</p>

    </div>
    <div class="row mt-5">
        <div class="col-md-6 col-sm-6 col-xs-12 al">
            <div class="visitor-screening align-items-center">
                <h5 class="signapore-color align-items-center">Visitor Screening</h5>
                <p>Easily ask your visitors custom yes/no questions before about their recent travel history or current state of health. Send instant alerts to concerned people to approve their entry into your workplace.</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 instant-notif">
            <img src="/images/vizitor/contact-tracing/screening-visitors.png" alt="screening-visitors" style="width: 70%;" />
        </div>
    </div>
</div>



<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12 instant-notif">
            <img src="/images/vizitor/contact-tracing/touchless-check-ins.png" alt="touchless-check-ins" style="width: 60%;" />
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="touchless-check-ins">
                <h5 class="signapore-color">Touchless Check-ins</h5>
                <p>Touchless check-in experience by sending them QR codes via email in advance so that they can access specific areas of your building during a given timeframe.</p>
            </div>
        </div>
    </div>
</div>



<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="automatic-alerts">
                <h5 class="signapore-color">Automatic Alerts</h5>
                <p>Vizitor sends notification to the employees with complete visitor’s details accordingly the host can approve or disapprove the entry of the visitors.</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 instant-notif">
            <img src="/images/vizitor/contact-tracing/automatic-alerts.png" alt="automatic-alerts" style="width: 60%;" />
        </div>

    </div>
</div>



<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12 instant-notif">
            <img src="/images/vizitor/contact-tracing/search-analysis.png" alt="search-analysis" style="width: 65%;" />
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="accurate-time-tracing">
                <h5 class="signapore-color">Accurate Time-tracing</h5>
                <p>Vizitor’s web dashboard gives a complete overview about the exact time of entry and exit for visitors and employees. Capture your visitor's name, phone number, email address and any other required information.</p>
            </div>
        </div>
    </div>
</div>

<div class="container pagesection pb-5">
    <div class="pb-5">
        <h2 class="center-content desk font-sizeh3">Contact Tracing For Every Sector</h2>
        <div class="center-content border-line"></div>
        <p class="desk center-content">Digital contact tracing has become a <br>central component of every business <br>against Coronavirus.</p>

    </div>
    <div class="row ">
        <div class="col-md-3 col-sm-3 col-xs-12 share-refer-card center-content">
            <div class="center-content">
                <img src="/images/vizitor/contact-tracing/Healthcare.png" class="pricingimg2 cardimg" alt="Healthcare" />
            </div>
            <h6>
                Healthcare
            </h6>
            <p>Contact-Tracing Technology that assists the healthcare sector to screen the visitors</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 share-refer-card center-content">
            <div class="center-content">
                <img src="/images/vizitor/contact-tracing/offices.png" class="pricingimg2 imgtop-text cardimg" alt="offices" />
            </div>
            <h6 class="htop-tex">
                Offices
            </h6>
            <p>New coronavirus contact tracing tool could help offices reopen by tracking employees health</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 share-refer-card center-content">
            <div class="center-content">
                <img src="/images/vizitor/contact-tracing/Industries.png" class="pricingimg2 cardimg" alt="Industries" />
            </div>
            <h6>
                Industries
            </h6>
            <p>Visitor Screening before entering with No-touch thermometers using contact tracing app.</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 share-refer-card center-content">
            <div class="center-content">
                <img src="/images/vizitor/contact-tracing/Government.png" class="pricingimg2 cardimg" alt="Government" />
            </div>
            <h6>
                Government
            </h6>
            <p>Government agencies use contact tracing apps to record visitor logs with instant alerts.</p>
        </div>
    </div>
</div>

<div class="pagesection pb-5" style="background-color: #f0f4f7;">
    <div class="container">
        <h2 class="center-content ">Vizitor Blogs</h2>
        <p class=" center-content">Read the series of blogs related to the current situation</p>
        <div class="row mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="card-deck">
                    <a href="https://www.vizitorapp.com/blog/stop-covid-19-with-contact-tracking/">
                        <div class="card" style="border-radius: 20px;">
                            <img class="card-img-top" src="/images/vizitor/contact-tracing/photo-vizitor.png" alt="blog1" />
                            <div class="card-body">
                                <h5 class="card-title">Stop COVID-19 with Contact Tracing</h5>
                                <p class="card-text">6 MAY 2020
                                </p>
                                <p class="card-text mb-3">The Indian government announced the Lockdown 3.0. This allows economic activity in districts with zero cases in the past 21 days.Activities permitted include the re-opening of various </p>
                                <a class="blog-btn-arrow " href="https://www.vizitorapp.com/blog/stop-covid-19-with-contact-tracking/" style="color: #5A74C7;">Read more  <img src="/images/vizitor/bvm/read-more.svg" alt="read-more" /></a>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="card-deck">
                    <a href="https://www.vizitorapp.com/blog/vizitor-services-free-amid-coronavirus/">
                        <div class="card" style="border-radius: 20px;">
                            <img class="card-img-top" src="/images/vizitor/contact-tracing/coronavirus-blog.png" alt="blog1" />
                            <div class="card-body">
                                <h5 class="card-title">Vizitor services Free amid Coronavirus outbreak</h5>
                                <p class="card-text">9 MARCH 2020</p>
                                <p class="card-text mb-3">With the latest Coronavirus condition, we at Vizitor are offering our Visitor Management Services for free for businesses, schools and workplaces to help take preventive measures to screen visitors.
                                </p>
                                <a class="blog-btn-arrow " href="https://www.vizitorapp.com/blog/vizitor-services-free-amid-coronavirus/" style="color: #5A74C7;">Read more  <img src="/images/vizitor/bvm/read-more.svg" alt="read-more" /></a>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="card-deck">
                    <a href="https://www.vizitorapp.com/blog/ensure-your-workplace-safety-during-coronavirus-outburst/">
                        <div class="card" style="border-radius: 20px;">
                            <img class="card-img-top" src="/images/vizitor/contact-tracing/coronavirus.png" alt="blog1" />
                            <div class="card-body">
                                <h5 class="card-title">Ensure your Workplace Safety during CoronaVirus Outburst</h5>
                                <p class="card-text">9 MARCH 2020
                                </p>
                                <p class="card-text mb-3">Businesses and the leaders within them are preoccupied and find challenging to keep a safe workplace during the pandemics, such as the Coronavirus (COVID-19).In the span of a few months, the coronavirus</p>
                                <a class="blog-btn-arrow " href="#" style="color: #5A74C7;">Read more  <img src="/images/vizitor/bvm/read-more.svg" alt="read-more" /></a>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="container center-content pagesection">
    <div>
        <h2 class=" desk font-sizeh3">Make Contactless Check-ins</h2>
        <div class="center-content border-line"></div>
        <p class="desk">Smoothen your guest's arrival through digitized check-in.<br> Make the process of check-in shift from messy <br>paper work to an organized digital framework.</p>
    </div>
    <br>
    <div class="instant-notif">


        <div class="bannerbtn mt-4">
            <a href="/signup" class="btn-arrow">Start Free Trial</a>
        </div>
    </div>
    <br>
    <br>
</div>



<div>{{- partial "upgrade.html" . -}}</div>
{{end}}