{{ define "main" }}
<div class="container pagebanneres">
    <div class="row ">
        <div class="col-md-2 col-sm-2 col-xs-12"></div>
        <div class="col-md-8 col-sm-8 col-xs-12 text-center">
            <h1>Vizitor: The Preferred Choice for the <span class="Digitize">World's Top Workplaces</span></h1>
            <p>From startups to large enterprises, organizations rely on Vizitor to transform their work environments and enhance their reception areas.
            </p>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12"></div>
    </div>
</div>
<div class="container-fluid">{{- partial "clients.html" . -}}</div>
<div class="container mainbanneres">
    <div class="row mt-5 align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img class="mb-5 casestudies-img" src=" /images/vizitor/Hard-Rock-Cafe.webp" alt="Hard-Rock-Cafe">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <h5 class="chgh5">How we reshaped visitor management for Hard Rock Cafe at 175 locations across the globe</h5>
            <p>Every guest is unique in a way and with vizitor they are provided unique IDs which helps us in tracking down their details easily along with their in and out time. Hard rock cafes get a lot of great feedback from their guests based on the
                easy check-in process.
            </p>
            <br>
            <p>“This is how we can visualize a future centric workplace”
                <br><b>Dhiren, 
                        <br>Hard Rock Cafe Nigeria</b></p>
            <br>
            <a class="blog-btn-arrow " href="/case-studies/hard-rock" style="color: #ED5C18;">Know more  <img style="margin-left: 5px;" src="/images/vizitor/Icon.svg" alt="Icon"></a>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="card-deck">
        <div class="card caseSt-card">
            <img class="caseborder" src="/images/case-studies/snap.svg" alt="snapdeal">
            <div class="card-body">
                <h5 maxlength="50" class="card-title titleclear chgh2">Efficient and Secure: Vizitor's Digital Solution Enhances Visitor Management for Snapdeal</h5>
                <p class="card-text">Manish IT Manager, Snapdeal</p>
                <p maxlength="100" class="card-text mb-3 descriptionclear">Experience efficient and secure visitor management at Snapdeal with Vizitor's digital solution</p>
            </div>
            <div class="card-footer">
                <a class="blog-btn-arrow " aria-label="Know more" href="/case-studies/snapdeal" style="color: #ED5C18;">Know more  <img src="/images/vizitor/Icon.svg" alt="Icon"></a>
            </div>
        </div>
        <div class="card caseSt-card">
            <img class="caseborder" src="/images/case-studies/retina-centre.jpeg" alt="retina centre">
            <div class="card-body">
                <h5 maxlength="50" class="card-title titleclear chgh2">Enhancing Patient Experience: Retina Centre Optimizes Appointment Management with Vizitor</h5>
                <p class="card-text">Farhad Ahmed, Retina Centre</p>
                <p maxlength="100" class="card-text mb-3 descriptionclear">Vizitor has revolutionized our appointment management process, enabling us to provide a seamless and efficient experience for our patients. </p>
            </div>
            <div class="card-footer">
                <a class="blog-btn-arrow " aria-label="Know more" href="/case-studies/retina-centre" style="color: #ED5C18;">Know more  <img src="/images/vizitor/Icon.svg" alt="Icon"></a>
            </div>
        </div>
        <!-- <div class="card caseSt-card">
            <img class="caseborder" src="/images/case-studies/seeds.jpeg" alt="seeds">
            <div class="card-body">
                <h5 maxlength="50" class="card-title titleclear chgh2">Seeds Empowering Dreams</h5>
                <p class="card-text">Manish IT Manager, Snapdeal</p>
                <p maxlength="100" class="card-text mb-3 descriptionclear">Vizitor has enabled Snapdeal to create a safer and more efficient workplace, while improving the overall visitor experience</p>
            </div>
            <div class="card-footer">
                <a class="blog-btn-arrow " aria-label="Know more" href="/case-studies/seeds" style="color: #ED5C18;">Know more  <img src="/images/vizitor/Icon.svg" alt="Icon"></a>
            </div>
        </div> -->
    </div>
</div>
{{end}}