{{ define "main" }}

<div>
    <section>
        <div class="container">
            <div class="row">
                <div class="main_des_third_contant">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <div>
                            <h1 class="center-content ">Vizitor management system for Museums</h1>
                        </div>
                        <div>
                            <p>Public leisure spaces such as libraries and museums often face a lot of issues with their security system. This is because, these places are visited by thousands of people on a daily basis. However, managing the flow of visitors
                                in museums can be very difficult for the respective authorities at peak hours. </p>
                            <p>Museums may vary considerably in their collection size, scope and location. However, it is an evident fact that museums are responsible for conserving artefacts and other objects of historical, scientific, artistic, and cultural
                                importance and in the midst of all these, it offers visitors to get educated about historical items and the story behind them.</p>
                            <p>Be it profit or non-profit, private or public, museums play an important role as society’s storyteller. Thus, managing visitors and ensuring that they have a memorable and knowledge-gaining time is important in order to meet
                                the visitors expectations.</p>
                            <p>From individuals, small tour groups to entire group of students coming for school visit, all visitors must be counted and accounted for! A large number of museums measure their success based on the number of visitors coming
                                to visit their museum. Hence, accurate visitor logs are a must for these institutions. Unfortunately, thousands of visitors find themselves waiting in endless lines to gain access to the museum and begin their exploration.</p>
                            <p>Vizitor simplifies the process of registration by providing museums with an easy-to-use, affordable and customisable interface that accelerates admissions and exponentially reduces the waiting time. In other words, it helps
                                in streamlining the check-in and check-out process. Vizitor also provides a unique badge to every visitor based upon their personal details along with access to all approved areas immediately after registration. These badges
                                are also extremely helpful for for museum and security staff because this helps them to identify the visitors quickly and easily if they enter into a restricted area.</p>
                            <p>Vizitor is also equipped with visitor logs that makes it easy to generate reports for measuring attendance and tracking frequent visitors.</p>
                            <p>Even in the case of thousands of visitors visiting the museum, Vizitor does not lets you wait for endless time in order to gain access to the museum. Through the Vizitor, unlimited number of visitors can be checked in. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<div>{{- partial "upgrade.html" . -}}</div>
{{end}}