{{ define "main" }}
<div class="container pagebanneres">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <h1><span class="Digitize">Visitor Management System </span> For Museums</h1>
            <div>
                <p class="para_heading">Public leisure spaces such as libraries and museums often need help with their
                    security system. Museums are responsible for conserving artifacts, historical objects, and cultural
                    importance. Thus, managing visitors and ensuring they have a memorable and knowledge-gaining time is
                    vital to meeting visitors' expectations.</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="/images/vizitor/museums/museums00-img.svg" alt="museums-image" />
        </div>
    </div>
</div>
<div class="Touchless-technology technology-tb">
    <div class="container">
        <div class="center-content ">
            <h4 class="color-wht  bvms-size">You need visitor management for museums just like Vizitor!</h4>
            <div class=" text-center mt-5">
                <a href="/signup" class="btn-arrow bvms-color-btn">Learn More</a>
            </div>
        </div>
    </div>
</div>
<div id="bvms">
    <div class="container">
        <div class=" headingsub">
            <div class=" text-center">
                <h3 class="chgh3">Visitor Management
                    <span class="Digitize"> Solutions Features </span>
                </h3>
            </div>
        </div>
        <div class="card-deck">
            <div class="card workplace-card">
                <div>
                    <img src="/images/vizitor/museums/Efficient-img.svg" class="workplace-card-img"
                        alt="Attendance-management">
                </div>
                <div class="card-body p-0">
                    <h5 class="card-title ">Efficient Check-In and Check-Out</h5>
                    <p class="workplace-card-p">Vizitor simplifies the process of visitor check-in and check-out.
                        Visitors can seamlessly .</p>
                </div>
                <a href="/touchless-attendance-management-system" class="card-footer p-0">
                    <p class="know-more p-0">Know more <img style="margin-left: 5px;" src="/images/vizitor/Icon.svg"
                            alt="Icon"></p>
                </a>
            </div>
            <div class="card workplace-card">
                <div>
                    <img src="/images/vizitor/museums/custmoized-img.svg" class="workplace-card-img"
                        alt="Attendance-management">
                </div>
                <div class="card-body p-0">
                    <h5 class="card-title ">Customized Visitor Badges</h5>
                    <p class="workplace-card-p">The museum visitor tracking system allows personalized visitor badges,
                        including visitor names, photographs.</p>
                </div>
                <a href="/touchless-attendance-management-system" class="card-footer p-0">
                    <p class="know-more p-0">Know more <img style="margin-left: 5px;" src="/images/vizitor/Icon.svg"
                            alt="Icon">
                    </p>
                </a>
            </div>
            <div class="card workplace-card">
                <div>
                    <img src="/images/vizitor/museums/real-time-1.svg" class="workplace-card-img"
                        alt="Deliveries-management">
                </div>
                <div class="card-body p-0">
                    <h5 class="card-title">Real-time Visitor Tracking</h5>
                    <p class="workplace-card-p">The visitor management software for libraries offers real-time visitor
                        tracking within the libraries and museum premises.</p>
                </div>
                <a href="/" class="card-footer p-0">
                    <p class="know-more p-0">Know more <img style="margin-left: 5px;" src="/images/vizitor/Icon.svg"
                            alt="Icon">
                    </p>
                </a>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="col-md-8 mx-auto">
            <div class="card-deck ">
                <div class="card workplace-card">
                    <div>
                        <img src="/images/vizitor/museums/membermanagement-img.svg" class="workplace-card-img"
                            alt="Deliveries-management">
                    </div>
                    <div class="card-body p-0">
                        <h5 class="card-title ">Membership Management</h5>
                        <p class="workplace-card-p">The visitor management solutions for museums support membership
                            management.</p>
                    </div>
                    <a href="/" class="card-footer p-0">
                        <p class="know-more p-0">Know more <img style="margin-left: 5px;" src="/images/vizitor/Icon.svg"
                                alt="Icon">
                        </p>
                    </a>
                </div>
                <div class="card workplace-card">
                    <div>
                        <img src="/images/vizitor/museums/interactiv-kiosk-img.svg" class="workplace-card-img"
                            alt="Deliveries-management">
                    </div>
                    <div class="card-body p-0">
                        <h5 class="card-title ">Interactive Kiosks</h5>
                        <p class="workplace-card-p">Visitor management software for museums can be integrated with
                            interactive kiosks strategically placed throughout the museum.
                        </p>
                    </div>
                    <a href="/" class="card-footer p-0">
                        <p class="know-more p-0">Know more <img style="margin-left: 5px;" src="/images/vizitor/Icon.svg"
                                alt="Icon">
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="Touchless-technology technology-tb">
    <div class="container">
        <div class="center-content ">
            <h4 class="color-wht  bvms-size">You need visitor management for museums just like Vizitor!</h4>
            <p class="Touchless-technology-p"> With a smart visitor management system for museums and libraries, you can
                have an attractive welcome screen,
                add your brand logo, and customize badges with top security. The ultimate one-stop solution
                For efficient management of visitors, try Vizitor!
            </p>
            <div class=" text-center mt-5">
                <a href="/signup" class="btn-arrow bvms-color-btn">Learn More</a>
            </div>
        </div>
    </div>
</div>

{{end}}