{{ define "main" }}


<div class="container pagebanneres">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="bannerleft">
                <h1><span class="Digitize">Online NDA’s</span> for Visitor’s sign-in</h1>
                <p>Collecting the visitor signatures on legal documents now easy with the Vizitor. This feature comes in handy in sign-in your non-disclosure agreement directly from the tablet. It makes easy for visitors to submit legal documents digitally
                    and maintaining the records is easier than before.</p>
                <div class="bannerbtn mt-4">
                    <a href="/signup" class="btn-arrow">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <img src="/images/vizitor/nda/NDA-BANNER.png" alt="NDA-BANNER">
        </div>

    </div>
</div>



<div class="container pagesection">
    <div class="row card-deck">
        <div class="col-md-4 col-sm-4 col-xs-12 card text-center card-shadow">
            <div class="center-content mt-5">
                <img src="/images/vizitor/nda/E-Signature.png " alt="E-Signature" />
            </div>
            <h6>E-signatures</h6>
            <br />
            <p class="mb-5">Since all the signatures are captured digitally, it’s easier to avoid any hassle in maintaining the data.</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 card text-center card-shadow">
            <div class="center-content mt-5">
                <img src="/images/vizitor/nda/Avoid-loopholes.png " alt="Avoid-loopholes" />
            </div>
            <h6 class="htop-tex">
                Avoid
                <br />loopholes
            </h6>
            <p class="mb-5">For visitor check-in options where the host has turned this feature on, Vizitor ensures that signing your NDA is a required part of the process.</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 card text-center card-shadow">
            <div class="center-content mt-5">
                <img src="/images/vizitor/nda/easy-storage.png " alt="easy-storage" />
            </div>
            <h6>
                Easy
                <br />Storage
            </h6>
            <p class="mb-5">With Vizitor, you’ll automatically store and view signed legal documents where and when you want them.</p>
        </div>
    </div>
</div>

<div class="container pagesection">
    <div>
        <p>The general purpose of a non-disclosure agreement is to protect your company’s “trade secrets”—the legal term for confidential information that’s valuable to your business.</p>
        <p>Making them digitally sign documents such as NDAs or other Legal Agreements is a sure shot way of protecting confidential information that was meant to be kept under wraps.</p>
        <br />
        <p>There are great benefits to using a Visitor Management System to get an NDA signed:</p>
        <p>
            <span class="Digitize help-dot">&#8226;</span> Time savings
        </p>
        <p>
            <span class="Digitize help-dot">&#8226;</span> Convenience
        </p>
        <p>
            <span class="Digitize help-dot">&#8226;</span> Authenticated
        </p>
    </div>
</div>

<div class="container pagesection">
    <h2 class="center-content desk">Other Features</h2>
    <div class="center-content border-line"></div>
    <br />
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div data-wow-duration="1.5s">
                <h6>
                    <span class="Digitize help-dot">&#8226;</span> Legal Documentation
                </h6>
                <p>Enhance the security of your office by making visitors sign NDAs digitally. If your legal document is required, no visitor will be able to sign in without providing their signature.</p>
                <br />
                <h6>
                    <span class="Digitize help-dot">&#8226;</span> Host Notifications
                </h6>
                <p>Automatically notify your employees when their visitors arrive. Host notifications can be sent via email and SMS (text message). It gives the host a message about the meeting.</p>
                <br />
                <h6>
                    <span class="Digitize help-dot">&#8226;</span> Pre- Registrations
                </h6>
                <p>Invite guests individually or in a bulk by sending automatically request to Visitors through QR codes via messages and emails to fast-track the sign-in process. Provide check-in details via email even before the visitor arrives.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="center-content">
                <img src="/images/vizitor/nda/NDA-screen.png " alt="NDA-screen" />
            </div>
        </div>
    </div>
</div>


<div>{{- partial "upgrade.html" . -}}</div>
{{end}}