{{ define "main" }}
<div class="container pagebanneres">
    <div class="row ">
        <div class="col-lg-6">
            <h1><span class="Digitize"> Visitors Security and Safety </span> at its best</h1>
            <p>When anyone enters your workspace, it’s your responsibility to make them feel safe and secure. Customers
                develop trust if they feel comfortable and secure while interacting with you. To make your premises
                secure, you must keenly observe visitors
                trespassing your front door or appoint a person for tracking and reporting all information. Managing
                visitor data and registrations with pen,papers and manual logbooks is time consuming and frustrating as
                well.</p>
            <p>Vizitor comes into action and handles every single person entering the front door and keep their
                information safe and sound. Know your visitors with ID Scanning, Keep track of who’s with photo
                capturing, who’s Sign-in and Stop the unwanted
                guests.
            </p>
            <div class="bannerbtn mt-4">
                <a href="/signup" class="btn-arrow">Get Started</a>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <img src="/images/vizitor/security/security.png" alt="security" />
        </div>

    </div>
</div>

<div class="container pagesection">
    <h2 class="center-content">Boost Your Workplace Security With Vizitor!</h2>
    <div class="row align-items-center mt-5">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div>
                <img src="/images/vizitor/security/security1.png" class="isometric-img" alt="security1">
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <div>
                <h4 class="font-size-index">OTP Authentication</h4>
                <p>Visitor’s data is recorded properly and uniformly. Also, It verifies the visitor’s details via OTP to
                    make sure that the data entered by the guest is correct.</p>

                <h4 class="font-size-index">Photos Capturing</h4>
                <p>Capture a photo of each visitor during sign-in. Photos will appear on your dashboard. It Keep them
                    secure and stored and will always be there if you need them.</p>

                <h4 class="font-size-index"> Badge Printing</h4>
                <p>Vizitor automatically prints detailed visitor badges when guests sign-in. High quality visitors
                    badges are printed instantly to identify them in your organisation premises.</p>

                <h4 class="font-size-index">Sign out visitors</h4>
                <p>Visitors can self checkout or be signed out by host using the vizitor PASS. </p>

                <h4 class="font-size-index">ID Scanning</h4>
                <p>Visitors ID can be scanned with ipad’s camera as they sign-in. Creates alters with administrator when
                    it doesn’t match up the details.</p>

            </div>
        </div>
    </div>
</div>






<div>{{- partial "upgrade.html" . -}}</div>
{{end}}