{{ define "main" }}
<!------------------------------------------------------------------------>
<div id="unveil">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p class="digital-visitor">#behindthescenes</p>
                <h1 class="paint">Unveil Your Story<span class="Digitize"><br>“Behind-the-Scenes”</span></h1>
                <p class="digital-visitor">Unlocking Insights, Sharing Success,<br> Empowering Influence</p>
                <div class="my-5">
                    <form id="attendanceForm">
                        <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email"
                            required>
                        <input class="btn-try-free" type="submit" value="Try for free">
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="/images/ronald.svg" alt="ronald-svg" />
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------------------------->
<div id="bvms">
    <div class="container">
        <h2 class="text-center">Insights & <span class="Digitize">Interviews</span>
        </h2>
        <p class="text-center">“It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. <br>It was popularised in the 1960s with the release of Letraset sheets
            containing Lorem Ipsum passages, and more<br> recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.”</p>
        <div class="row align-items-center">
            <div class="owl-carousel carousel-main owl-theme">
                <div class="text-center my-5">
                    <img src="/images/dp (5).svg" alt="attendance-banneres" style="height: 110px;">
                    <p class="digital-visitor">Kalpana Murthy</p>
                    <p>HR Koren Ferry Ltd. </p>
                </div>
                <div class="text-center my-5">
                    <img src="/images/ravinder_img.svg" alt="attendance-banneres" style="height: 120px;">
                    <p class="digital-visitor">Ravinder K.</p>
                    <p>CEO ABSTech Pvt. Ltd. </p>
                </div>
                <div class="text-center my-5">
                    <img src="/images/sharma_img.svg" alt="attendance-banneres" style="height: 120px;">
                    <p class="digital-visitor">B.R. Sharma</p>
                    <p>CEO Infossis Ltd. </p>
                </div>
                <div class="text-center my-5">
                    <img src="/images/mohan_img.svg" alt="attendance-banneres" style="height: 120px;">
                    <p class="digital-visitor">Mohan Bedi</p>
                    <p>CEO BlueStone</p>
                </div>
                <div class="text-center my-5">
                    <img src="/images/kalpana_img.svg" alt="attendance-banneres" style="height: 120px;">
                    <p class="digital-visitor">Kalpana Murthy</p>
                    <p>HR Koren Ferry Ltd. </p>
                </div>
                <div class="text-center my-5">
                    <img src="/images/ravinder_img.svg" alt="attendance-banneres" style="height: 120px;">
                    <p class="digital-visitor">Ravinder K.</p>
                    <p>CEO ABSTech Pvt. Ltd. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------------------------------>
<div id="bvms">
    <div class="container ">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 col-12 ">
                <h2>Participation benefits in <span class="Digitize">Vizitor</span> </h2>
                <p class="mt-4">A powerful tool to allow your employees to manage <br>their visitors by saving each
                    other's time</p>
                <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Dignissim arcu cursus
                    tincidunt et odio enim aliquam. Gravida<br> augue arcu duis turpis nisl. Sed tellus quis nisl, est
                    ridiculus. <br>Gravida faucibus in ut hendrerit. Eget sed sit.Egestas pretium<br> aenean pharetra
                    magna ac placerat vestibulum. Nulla<br> pharetra diam sit amet nisl suscipit adipiscing bibendum</p>
                <div class="my-5">
                    <form id="attendanceForm">
                        <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email"
                            required>
                        <input class="btn-try-free" type="submit" value="Book a Demo">
                    </form>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-12"></div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="card-deck" id="Simplify">
                    <div class="card">
                        <img class="reliable-point" src="/images/personal.svg" alt="Increased-Productivity">
                        <div class="card-body">
                            <h5 class="card-title">Personal Branding
                            </h5>
                            <p class="card-text">Sharing your experiences will strengthen your personal brand within
                                your industry. </p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="reliable-point" src="/images/social.svg" alt="Improved Accuracy">
                        <div class="card-body">
                            <h5 class="card-title">Social Media Spotlight
                            </h5>
                            <p class="card-text">We'll promote your interview on our social media platforms, giving you
                                increased visibility.</p>
                        </div>
                    </div>
                </div>
                <div class="card-deck " id="Simplify">
                    <div class="card">
                        <img class="reliable-point" src="/images/website.svg" alt="Better Scheduling">
                        <div class="card-body">
                            <h5 class="card-title">Website Link</h5>
                            <p class="card-text">Your interview will include a link back to your website, boosting your
                                online presence.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="reliable-point" src="/images/person.svg" alt="Increased Compliance">
                        <div class="card-body">
                            <h5 class="card-title">Community Impact</h5>
                            <p class="card-text">By sharing your challenges and successes, you'll be contributing to
                                supportive professional community.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---------------------------------------------------------------------------------->
<div id="bvms2">
    <div id="bvms" class="container ">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- <p><span class="Digitize"> Features</span></p> -->
                <h3 class="bvms-size mb-5">Process for Email</h3>
                <ul id="bvmsli">
                    <li><span>Complete a simple form with your <br>details and experiences.</span></li>
                    <li><span>Visitor badges give visitors an identity in your workplace, which creates a pleasant
                            experience for your visitors.</span></li>
                    <li><span>Our team will reach out for a brief <br>interview.</span></li>
                    <li><span>Participate in a meaningful <br> conversation about your journey and <br>solutions.</span>
                    </li>
                </ul>
                <div class="bannerbtn Try-free mb-3 bvmsbtn-learn">
                    <a href="/visitor-badge-management-system" class="btn-arrow">Know more</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class=" box" style="padding: 40px;">
                    <h2 class="text-center mt-4">Contact Us</h2>
                    <p class="text-center my-2">Feel free to Contact Us any time. We’ll get back <br> to you as soon as
                        we can!</p>
                    <div class="contactform">
                        <form id="demoForm">
                            <div class="row">
                                <div class="col-md-12 my-3 ">
                                    <input type="text" class="form-control" id="name" placeholder="Full Name" required>
                                </div>
                                <div class="col-md-12 my-3">
                                    <input type="email" class="form-control" id="email" placeholder="Email" required>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="countrySelect custom-select browser-default" id="country"
                                            name="country">
                                            {{range .Site.Data.countryCode}}
                                            <option value="{{.unicode}} - {{.name}}">{{.emoji}} {{.name}} ({{.unicode}})
                                            </option>
                                            {{end}}
                                        </select>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-12 singnup-valu signup-input-ph singup-code">
                                        <div class="form-group">
                                            <label for="message">code</label>
                                            <input class="form-control" id="code" required value="+91">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <input type="number" class="form-control" name="phoneNumber"
                                                id="phoneNumber" placeholder="Phone number" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <textarea type="text" class="form-control" placeholder="message" id="message"
                                        required></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 my-4 text-center">
                                    <button type="submit" value="Submit Now">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------------------------------------------------------------------------->
<div class="pagesection" id="bvms">
    <div class="container">
        <h2 class="text-center">Happy <span class="Digitize">Participants</span> </h2>
        <p class="text-center">"While these testimonials don't come every day, it's important to seize these
            opportunities and put this<br> content on blast for potential leads to see."</p>
        <div class="row align-items-center">
            <div class="col-12 col-carousel">
                <div class="owl-carousel carousel-maines owl-theme">
                    <div>
                        <div class=" workplace-card-campaign">
                            <p class="mb-4">“The word Lorem Ipsum is derived from
                                the Latin word which means “pain itself”.
                                It is a kind of a text filler tool that is used
                                by the webmaster on the website.”</p>
                            <hr>
                            <div class="happy-class mt-4">
                                <div class="my-3">
                                    <img src="/images/Mask group.png" alt="attendance-banneres"
                                        style="height: 50px; width: 50px;">
                                </div>
                                <div class="happy-class-img mt-0">
                                    <p><b>Robert Patinson</b></p>
                                    <p>HR AllyTechnizio Pvt. Ltd.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class=" workplace-card-campaign">
                            <p class="mb-4">“The word Lorem Ipsum is derived from
                                the Latin word which means “pain itself”.
                                It is a kind of a text filler tool that is used
                                by the webmaster on the website.”</p>
                            <hr>
                            <div class="happy-class mt-4">
                                <div class="my-3">
                                    <img src="/images/Mask group.png" alt="attendance-banneres"
                                        style="height: 50px; width: 50px;">
                                </div>
                                <div class="happy-class-img mt-0">
                                    <p><b>Robert Patinson</b></p>
                                    <p>HR AllyTechnizio Pvt. Ltd.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class=" workplace-card-campaign">
                            <p class="mb-4">“The word Lorem Ipsum is derived from
                                the Latin word which means “pain itself”.
                                It is a kind of a text filler tool that is used
                                by the webmaster on the website.”</p>
                            <hr>
                            <div class="happy-class mt-4">
                                <div class="my-3">
                                    <img src="/images/Mask group.png" alt="attendance-banneres"
                                        style="height: 50px; width: 50px;">
                                </div>
                                <div class="happy-class-img mt-0">
                                    <p><b>Robert Patinson</b></p>
                                    <p>HR AllyTechnizio Pvt. Ltd.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class=" workplace-card-campaign">
                            <p class="mb-4">“The word Lorem Ipsum is derived from
                                the Latin word which means “pain itself”.
                                It is a kind of a text filler tool that is used
                                by the webmaster on the website.”</p>
                            <hr>
                            <div class="happy-class mt-4">
                                <div class="my-3">
                                    <img src="/images/Mask group.png" alt="attendance-banneres"
                                        style="height: 50px; width: 50px;">
                                </div>
                                <div class="happy-class-img mt-0">
                                    <p><b>Robert Patinson</b></p>
                                    <p>HR AllyTechnizio Pvt. Ltd.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class=" workplace-card-campaign">
                            <p class="mb-4">“The word Lorem Ipsum is derived from
                                the Latin word which means “pain itself”.
                                It is a kind of a text filler tool that is used
                                by the webmaster on the website.”</p>
                            <hr>
                            <div class="happy-class mt-4">
                                <div class="my-3">
                                    <img src="/images/Mask group.png" alt="attendance-banneres"
                                        style="height: 50px; width: 50px;">
                                </div>
                                <div class="happy-class-img mt-0">
                                    <p><b>Robert Patinson</b></p>
                                    <p>HR AllyTechnizio Pvt. Ltd.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class=" workplace-card-campaign">
                            <p class="mb-4">“The word Lorem Ipsum is derived from
                                the Latin word which means “pain itself”.
                                It is a kind of a text filler tool that is used
                                by the webmaster on the website.”</p>
                            <hr>
                            <div class="happy-class mt-4">
                                <div class="my-3">
                                    <img src="/images/Mask group.png" alt="attendance-banneres"
                                        style="height: 50px; width: 50px;">
                                </div>
                                <div class="happy-class-img mt-0">
                                    <p><b>Robert Patinson</b></p>
                                    <p>HR AllyTechnizio Pvt. Ltd.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------------------------------------------------------------->

<div>{{- partial "subscribesection.html" . -}}</div>


{{end}}