{{ define "main" }}
<div class="container pagebanneres ">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <h1 class="integration-slack-h1">Contactless Visitor <span class="Digitize">Registration System</span></h1>
            <p>The contactless vms-visitor registration system is Safe, Simple, secure, digital, and fast contactless visitor management & tracking system. Specially designed for workplaces planning to re-open office during the pandemic. Contactless visitor
                registration system is highly secured and useful for visitors entering your premises.</p>
            <div class="instant-notif">
                <div class="bannerbtn mt-4">
                    <a href="/signup" class="btn-arrow">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
            <img src="/images/vizitor/contactless/Contactless-vms.png" alt="Contactless-vms" />
        </div>
    </div>
</div>





<div class="container pagesection">
    <div class="center-content">
        <h2 class="desk">Advantages of Contactless Visitor Registration System</h2>
        <div class="center-content border-line"></div>
        <p>Digital Transformation will be the key for companies after lockdown.<br>More the Digitalization, more the Automation</p>
        <br>
        <br>
    </div>
    <div class="row section-top align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="visitor-Contactless">
                <h5 class="signapore-color">Contactless Sign In</h5>
                <p>Visitors can use their smartphones to sign in and sign out without touching the tablet screen. You can simply check-in by scanning a visitor registration QR code. Display the secure QR code on a tablet screen or on a printed notice for
                    visitors to scan and enter all the required information. Such visitor tracking is extremely convenient.</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 instant-notif">
            <img src="/images/vizitor/visitor-management/visitor-management---host-notification.png" class="img-shadow" alt="visitor-management---host-notification">
        </div>
    </div>
</div>





<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12 instant-notif">
            <img src="/images/vizitor/pre-registration/pre-registration.png" alt="pre-registration">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="touchless-Pre-Register">
                <h5 class="signapore-color">Pre-Register Visitors</h5>
                <p>The visitor registration system provides the facility to Pre-register your visitors using our web portal or Vizitor pass. Send invitations with an easy to use QR code to make their check-in super fast. Manage visitors and provide a smooth
                    experience on their arrival with our Vizitor pass that is quick, and effective.</p>
            </div>
        </div>
    </div>
</div>









<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="automatic-Signing">
                <h5 class="signapore-color">NDA Signing</h5>
                <p> You can configure different documents for different flows, capturing what you need when you need it. All documents securely stored on our cloud and available on our visitor registration software’s web portal.</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 instant-notif">
            <img src="/images/vizitor/nda/NDA-BANNER.png" alt="NDA-BANNER" />
        </div>
    </div>
</div>




<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12 instant-notif">
            <img class="img-shadow" src="/images/vizitor/help/visitor-log.png" alt="visitor-log" />
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="touchless-Real-Time ">
                <h5 class="signapore-color">Real-Time Dashboard</h5>
                <p>With the changing world, businesses need to welcome their visitors smoothly without wasting any time. Dashboards can be checked from any computer or mobile device, making it easy to keep a tab about who’s on-site. The built-in analytics
                    dashboard provides live updates about your visitors.</p>
            </div>
        </div>
    </div>
</div>






<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="accurate-contact-tracing">
                <h5 class="signapore-color">Contact-tracing </h5>
                <p>Contact-tracing is one that helps to track the virus and warn staff with alerts. The contact tracing system provides check-in with adding their information, capturing a photo with a user-friendly interface. Contactless registration app
                    uses visitor initial screening with digital questionnaires asking their health and travel history.</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 instant-notif">
            <img src="/images/vizitor/contact-tracing/screening-visitors.png" alt="screening-visitors" />
        </div>
    </div>
</div>







<section style="background-color: #f0f4f7;">
    <div class="container pagesection pb-5">

        <h2 class="center-content ">Vizitor Blogs</h2>
        <p class=" center-content">Read the series of blogs related to the current situation</p>
        <br>


        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="card-deck">
                    <a href="https://www.vizitorapp.com/blog/stop-covid-19-with-contact-tracking/">
                        <div class="card" style="border-radius: 20px;">
                            <img class="card-img-top" src="/images/vizitor/contact-tracing/photo-vizitor.png" alt="blog1" />
                            <div class="card-body">
                                <h5 class="card-title">Stop COVID-19 with Contact Tracing</h5>
                                <p class="card-text">6 MAY 2020
                                </p>
                                <p class="card-text mb-3">The Indian government announced the Lockdown 3.0. This allows economic activity in districts with zero cases in the past 21 days.Activities permitted include the re-opening of various </p>
                                <a class="blog-btn-arrow " href="https://www.vizitorapp.com/blog/stop-covid-19-with-contact-tracking/" style="color: #5A74C7;">Read more  <img src="/images/vizitor/bvm/read-more.svg" alt="read-more" /></a>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="card-deck">
                    <a href="https://www.vizitorapp.com/blog/vizitor-services-free-amid-coronavirus/">
                        <div class="card" style="border-radius: 20px;">
                            <img class="card-img-top" src="/images/vizitor/contact-tracing/coronavirus-blog.png" alt="blog1" />
                            <div class="card-body">
                                <h5 class="card-title">Vizitor services Free amid Coronavirus outbreak</h5>
                                <p class="card-text">9 MARCH 2020</p>
                                <p class="card-text mb-3">With the latest Coronavirus condition, we at Vizitor are offering our Visitor Management Services for free for businesses, schools and workplaces to help take preventive measures to screen visitors
                                </p>
                                <a class="blog-btn-arrow " href="https://www.vizitorapp.com/blog/vizitor-services-free-amid-coronavirus/" style="color: #5A74C7;">Read more  <img src="/images/vizitor/bvm/read-more.svg" alt="read-more" /></a>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="card-deck">
                    <a href="https://www.vizitorapp.com/blog/ensure-your-workplace-safety-during-coronavirus-outburst/">
                        <div class="card" style="border-radius: 20px;">
                            <img class="card-img-top" src="/images/vizitor/contact-tracing/coronavirus.png" alt="blog1" />
                            <div class="card-body">
                                <h5 class="card-title">Ensure your Workplace Safety during CoronaVirus Outburst</h5>
                                <p class="card-text">9 MARCH 2020
                                </p>
                                <p class="card-text mb-3">Businesses and the leaders within them are preoccupied and find challenging to keep a safe workplace during the pandemics, such as the Coronavirus (COVID-19).In the span of a few months, the coronavirus</p>
                                <a class="blog-btn-arrow " href="#" style="color: #5A74C7;">Read more  <img src="/images/vizitor/bvm/read-more.svg" alt="read-more" /></a>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>



<div class="container pagesection center-content">
    <div>
        <h2 class=" desk font-sizeh3">Make Contactless Check-ins</h2>
        <div class="center-content border-line"></div>
        <p class="desk">Smoothen your guest's arrival through digitized check-in.<br> Make the process of check-in shift from messy <br>paper work to an organized digital framework.</p>
    </div>
    <br>
    <div class="instant-notif">


        <div class="bannerbtn mt-4">
            <a href="/signup" class="btn-arrow">Start Free Trial</a>
        </div>
    </div>
    <br>
    <br>
</div>



<div>{{- partial "upgrade.html" . -}}</div>
{{end}}