@charset "utf-8";
@media only screen and (min-width:1801px) and (max-width:1919px) {
    .hear-img {
        background: url(../images/vizitor/vizitor1.svg) 0 0/cover no-repeat;
        padding: 0 0 560px
    }
}

@media only screen and (max-width:1360px) {
    .tooltip1 .tooltiptext1,
    .tooltip2 .tooltiptext2,
    .tooltip3 .tooltiptext3 {
        box-shadow: 0 0 20px rgba(203, 201, 201, .25);
        visibility: hidden;
        color: #687888;
        font-size: 12px!important;
        padding: 10px;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        font-weight: 400!important
    }
    .container {
        max-width: 1060px
    }
    .vistor-hr {
        border: 0;
        border-top: 2px solid #33475b
    }
    .box-shadow-hero1,
    .box-shadow-hero2 {
        background: #fff;
        border-radius: 2px;
        box-shadow: 0 0 20px rgb(203 201 201 / 25%)
    }
    .tooltip1 .tooltiptext1::after,
    .tooltip2 .tooltiptext2::after,
    .tooltip3 .tooltiptext3::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 15%;
        border-width: 15px;
        border-style: solid;
        border-color: #fff transparent transparent
    }
    .box-shadow-hero1 {
        width: 120px;
        margin: -76px 0 0 200px
    }
    .box-shadow-hero2 {
        width: 280px;
        margin: -51px 0 0 116px
    }
    .box-shadow-hero3,
    .tooltip1 .tooltiptext1 {
        width: 120px;
        background: #fff;
        border-radius: 2px
    }
    .box-shadow-hero3 {
        box-shadow: 0 0 20px rgb(203 201 201 / 25%);
        margin: 0 0 0 75px
    }
    .tooltip-sec1 {
        margin: -330px 0 0
    }
    .tooltip1,
    .tooltip2,
    .tooltip3 {
        position: relative;
        display: inline-block;
        opacity: 1
    }
    .tooltip1 .tooltiptext1 {
        position: absolute;
        margin-left: -40px
    }
    .tooltip1 .tooltiptext1::after,
    .tooltip2 .tooltiptext2::after {
        margin-left: -5px
    }
    .tooltip1:hover .tooltiptext1,
    .tooltip2:hover .tooltiptext2,
    .tooltip3:hover .tooltiptext3 {
        visibility: visible
    }
    .tooltip2 .tooltiptext2 {
        background: #fff;
        border-radius: 2px;
        width: 250px;
        position: absolute;
        margin-left: -40px
    }
    .tooltip3 .tooltiptext3 {
        background: #fff;
        border-radius: 2px;
        width: 120px;
        position: absolute;
        margin-left: -90px;
        margin-bottom: -50px
    }
    .tooltip3 .tooltiptext3::after {
        margin-left: 15px
    }
    .whychoose-text {
        font-weight: 400!important;
        font-size: 13px!important;
        font-family: Englebert!important
    }
    .m-text {
        margin-top: 85px
    }
    .hint1 {
        width: 70%;
        margin-left: 90px
    }
    .hint2 {
        width: 75%;
        margin-top: -100px;
        margin-left: -125px
    }
    .hint3 {
        width: 50%;
        margin-top: 50px;
        margin-left: -40px
    }
    .active .headimg-color {
        color: #ed5c18;
        font-size: 16px;
        font-weight: 700
    }
    .title {
        display: inline-block;
        padding: 0 5px;
        vertical-align: middle;
        color: #292d34;
        font-size: 16px
    }
}

@media only screen and (min-width:969px) and (max-width:1024px) {
    .bsnav-sticky-slide .navbar-nav .nav-link {
        padding: 5px 8px
    }
    .influencebanner,
    .mainbanner {
        background-size: 50%
    }
    #hero h4 {
        font-size: 18px
    }
    #hero h1 {
        font-size: 30px
    }
    .slickslide h2 {
        color: #2c2b30;
        font-size: 22px!important
    }
    .social::after,
    .social::before {
        width: 125px
    }
}

@media screen and (max-width:1023px) {
    #hero h1,
    h1,
    h2 {
        font-weight: 600
    }
    .bsnav-sticky.bsnav-sticky-slide {
        background: 0 0!important
    }
    .keyline1:before,
    .keyline2:after,
    .keyline3:after,
    .keyline:before {
        height: 100%;
        background: no-repeat;
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0
    }
    .social::after,
    .social::before {
        width: 125px
    }
    .heroimg {
        margin-top: 35px
    }
    #whychoose .grids {
        padding: 0 8px 20px
    }
    .influencebanner,
    .mainbanner {
        background-size: 50%
    }
    .navbar-nav {
        background: #fff;
        /* padding: 15px */
    }
    #whychoose .grids figure img {
        width: 100%;
        margin-top: 0
    }
    .keyline:before {
        width: 100%;
        transform: translateY(0)
    }
    .keyline1:before {
        width: 100%;
        transform: translateY(-50%)
    }
    .keyline2:after,
    .keyline3:after {
        width: 100%;
        bottom: 0
    }
    .VisitorManagement-System-in-India {
        padding-top: 100px;
        padding-bottom: 100px
    }
    .bvms-size {
        font-size: 38px;
        line-height: 48px
    }
    .phone-hid,
    .slide-text-phone {
        display: none
    }
    .workplace-card {
        border: transparent;
        max-width: 100%;
        color: #33475b;
        background: #fef9f4!important;
        border-radius: 16px!important;
        padding: 10px
    }
    .Try-free,
    .features-img-tabs,
    .for-img {
        text-align: center
    }
    .Try-for-free-btn-features {
        margin-top: 10%
    }
    .key-card {
        padding: 0
    }
    .detail-page-section {
        width: 25%
    }
    h2 {
        font-size: 25px;
        line-height: 34px
    }
    .card-img-top {
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 150px
    }
    .whychoose {
        background: #536cba
    }
    h1 {
        font-size: 36px;
        line-height: 46px
    }
    #hero h1 {
        color: #33475b;
        font-style: normal;
        font-size: 40px;
        line-height: 50px
    }
    .md-hide {
        display: none !important;
    }
}

@media screen and (max-width:767px) {
    .pagebanneres,
    .pagesection {
        position: relative;
        z-index: 1
    }
    #hero h1,
    h1 {
        font-weight: 600
    }
    #hero h1,
    #hero p {
        text-align: initial
    }
    .heromanbiner,
    .manbineroverflow {
        overflow: hidden
    }
    .blogs-img-head {
        width: auto;
        height: auto
    }
    .get-p {
        padding-right: 15px;
    }
    h1 {
        font-size: 36px;
        line-height: 46px
    }
    .whatap-img {
        width: 35px
    }
    .phone-signup {
        margin-top: 60px
    }
    .singnup-valu {
        padding: 0 15px
    }
    .signup-input-ph {
        margin-top: 30px
    }
    .line-phone,
    .mobhide,
    .phone-hid,
    .slide-text-phone,
    .social::after,
    .social::before {
        display: none
    }
    .keyline1:before,
    .keyline2:after,
    .keyline3:after,
    .keyline:before {
        height: 100%;
        width: 100%;
        content: '';
        display: block;
        left: 0
    }
    #hero {
        height: auto;
        padding: 115px 0 0;
        width: 100%;
        float: left
    }
    .pagebanneres {
        padding-top: 115px
    }
    .pagesection {
        padding-top: 50px
    }
    .dropdown-item {
        padding: 15px 0 10px
    }
    .keyline:before {
        background: no-repeat;
        position: absolute;
        top: 0;
        transform: translateY(0)
    }
    .clients-h2:after,
    .keyline1:before {
        background: no-repeat;
        top: 0;
        transform: translateY(-50%)
    }
    .keyline1:before {
        position: absolute
    }
    .keyline2:after,
    .keyline3:after {
        background: no-repeat;
        position: absolute;
        top: 0;
        bottom: 0
    }
    .vertical-center {
        position: absolute;
        top: 0;
        left: 5%;
        right: 5%;
        transform: translate(0, 50%)
    }
    .box-shadow-hero1,
    .box-shadow-hero2,
    .box-shadow-hero3 {
        box-shadow: 0 0 20px rgb(203 201 201 / 25%);
        position: relative
    }
    /* -------------------rowitems------------------- */
    .rowitems {
        flex-direction: column
    }
    .rowitems:nth-child(odd) .gridcontent {
        order: 2;
    }
    .rowitems:nth-child(2n) .gridcontent {
        order: 1;
    }
    /* -------------------rowitems------------------- */
    .influencebanner,
    .mainbanner {
        padding: 0 15px 55px;
        background-size: 50%
    }
    #hero h1 {
        color: #33475b;
        font-style: normal;
        font-size: 37px;
        line-height: 42px
    }
    #hero h4 {
        font-size: 19px;
        line-height: 1.7rem
    }
    #businessaccess h3,
    #hero h3 {
        font-size: 18px
    }
    .p-text {
        color: #687888;
        font-size: 9px!important;
        font-weight: 400!important;
        margin: 15px 0;
        padding: 5px
    }
    .bvms-size,
    .greenbs,
    .vizitor-pass-h2,
    h2 {
        font-size: 32px;
        line-height: 38px
    }
    .chgh3,
    .chgh4,
    h1,
    h2 {
        font-weight: 600;
        font-size: 32px;
        line-height: 35px;
    }
    .box-shadow-hero1 {
        background: #fff;
        border-radius: 2px;
        width: 118px;
        margin: -76px 0 0
    }
    .box-shadow-hero1:before {
        border: solid;
        border-color: #fff transparent;
        border-width: 12px 15px 0;
        content: "";
        left: 12%;
        bottom: -10px;
        position: absolute
    }
    .vistor-card {
        padding: 20px 0
    }
    .features-Effortless,
    .rowitems .imgcontent img {
        margin-bottom: 15px
    }
    .Try-for-free-btn-features {
        margin-top: 10%
    }
    .Try-free,
    .benifts-card-center,
    .features-img-tabs {
        text-align: center
    }
    .vistor-hr {
        border: 0;
        border-top: 2px solid #33475b
    }
    .box-shadow-hero2 {
        background: #fff;
        border-radius: 2px;
        width: 125px;
        margin: -62px 0 0 125px
    }
    .box-shadow-hero2:before {
        border: solid;
        border-color: #fff transparent;
        border-width: 12px 15px 0;
        content: "";
        left: 35%;
        bottom: -10px;
        position: absolute
    }
    .box-shadow-hero3 {
        background: #fff;
        border-radius: 2px;
        width: 90px;
        margin: -46px 0 0 263px
    }
    .box-shadow-hero3:before {
        border: solid;
        border-color: #fff transparent;
        border-width: 12px 15px 0;
        content: "";
        left: 11%;
        bottom: -10px;
        position: absolute
    }
    .bvms-size,
    h2 {
        font-weight: 600
    }
    .VisitorManagement-System-in-India {
        padding-top: 100px;
        padding-bottom: 100px
    }
    .vizitor-pass-h2 {
        font-weight: 700!important;
        text-align: center;
        color: #33475b
    }
    .GreenBusiness-p {
        font-weight: 500;
        font-size: 25px;
        line-height: 28px;
        text-align: center;
        color: #fff
    }
    #keysection .keybottom img,
    .bvmsbtn-learn,
    .footer-newsletter {
        margin-top: 25px
    }
    .visitorpass-row {
        margin-top: 10px
    }
    .Survey-Analysis-line {
        border-right: none;
        padding: 0
    }
    #Benefits,
    #Download-Vizitor-Pass,
    #Eco-friendly-Blogs,
    #Survey-Analysis,
    #Vizitor-PASS,
    #bvms,
    #bvms2,
    .Visitor-Management-System,
    .technology-tb {
        padding-top: 50px;
        padding-bottom: 50px
    }
    #bvms2 {
        background: #fef9f4
    }
    #Vizitor-PASS {
        background: #f1fff7
    }
    #Download-Vizitor-Pass {
        background: #00a850
    }
    #Benefits,
    #Eco-friendly-Blogs {
        background: #fff
    }
    .Visitor-Management-System {
        background: #5a74c7
    }
    .saypb {
        padding-bottom: 15px
    }
    .hear-img {
        background: url(../images/vizitor/vizitor1.svg) 0 0/contain no-repeat;
        padding: 0 0 125px
    }
    .bannerleft {
        margin-top: 331px
    }
    .bannerleft h3 {
        font-size: 16px
    }
    .followersection {
        font-size: 16px;
        margin-top: 40px;
        text-align: center
    }
    .followersection img {
        max-width: 50%
    }
    .panel-default>.panel-heading a,
    .topblocktxt h3,
    h3 {
        font-size: 22px
    }
    .rowitems .gridcontent,
    .social {
        margin-top: 0
    }
    .creativecol,
    .navbar-nav {
        margin-top: 15px
    }
    #whyinfluence h3,
    .aboutpage h2,
    .rowitems .gridcontent h2 {
        font-size: 22px!important
    }
    .rowitems .gridcontent h5 {
        font-size: 16px;
        line-height: 1.3
    }
    #toolsection .rightcolcontent {
        padding: 30px 15px
    }
    .getimg-txt {
        position: absolute;
        top: 37%;
        right: 0;
        left: -2%
    }
    .darkdes1 {
        order: 2
    }
    .darkdes2 {
        order: 1
    }
    .followersection1 .fstxt2 {
        left: 170px
    }
    .banner-download {
        width: 100%
    }
    #hero.influencebanner h2 {
        font-size: 20px!important;
        line-height: 21px!important
    }
    #influencertop h3,
    .customerservicesection h4 {
        font-size: 20px
    }
    .customerservicesection {
        padding-bottom: 50px;
        text-align: center
    }
    .customerservicesection h1,
    .inspiresection h2 {
        font-size: 19px
    }
    .customerservicesection .get-arrow {
        margin-bottom: 20px;
        margin-top: 12px
    }
    .inspiresection .col-md-6.pl-5 {
        padding-left: 15px!important
    }
    .happycustomer .col-md-6.pl-0 {
        padding-left: 15px!important;
        margin-top: 20px
    }
    .carouselsection .owl-theme .owl-nav {
        display: none!important
    }
    .carouselsection .owl-carousel .owl-dots {
        display: block;
        margin-top: 20px
    }
    .creativecol {
        border-left: 10px solid #f7f5ff;
        border-top: 10px solid #f7f5ff
    }
    .footer h2 {
        font-size: 24px!important;
        color: #fff;
        font-weight: 600;
        margin-top: 12px;
        margin-bottom: 0;
        padding: 0
    }
    #hero .bannerbtn a,
    #scholor .darkimg p,
    .imagetext p {
        font-size: 12px!important
    }
    .imagetext p {
        line-height: 13px!important
    }
    .imagetext h1 {
        font-size: 40px;
        margin-bottom: 0
    }
    #bottombg .imagetext {
        top: 34%
    }
    .client-logo {
        display: flex;
        flex-wrap: wrap
    }
    .client-logo li {
        flex: 50%;
        width: 50%
    }
    #clientscroll li {
        margin: 10px 0 0
    }
    .topblocktxt h3 {
        line-height: 24px
    }
    #scholor .darkimg p {
        line-height: 12px!important
    }
    .banner-download form input[type=submit] {
        font-size: 13px;
        padding: 0 13px
    }
    .topblockimg img {
        align-items: center;
        margin-left: 0;
        max-width: 100%
    }
    .pinkbar .newbtn {
        font-size: 11px
    }
    .inspiresection h2 {
        font-size: 20px!important
    }
    #clientscroll h2,
    .innercontentarea h2 {
        font-size: 22px!important;
        font-weight: 600!important
    }
    .nav-tabs {
        height: 70px
    }
    #toolsection .toolscol figure::after {
        content: none
    }
    #hero {
        padding-left: 0;
        padding-bottom: 0
    }
    .navbar-brand img {
        max-width: 130px
    }
    .influencers-hero li img {
        max-width: 60px
    }
    .innercontentarea h2 {
        line-height: 25px!important;
        margin-top: 25px
    }
    .innercontentarea h3 {
        font-size: 21px!important;
        font-weight: 500!important
    }
    .image-p {
        font-size: 14px!important;
        line-height: 18px!important
    }
    .dbba {
        padding-bottom: 150px
    }
    .btnfloat {
        position: static;
        bottom: -53px
    }
    .brdisplay {
        display: block
    }
    .card-deck .card {
        margin-bottom: 20px;
        margin-left: 0
    }
    .benefits-card-b {
        background-color: transparent;
        box-shadow: 0 16px 24px rgb(0 0 0 / 6%), 0 2px 6px rgb(0 0 0 / 4%), 0 0 1px rgb(0 0 0 / 4%)
    }
    .detail-page-section {
        width: 33%
    }
    .email-input-footer {
        border: 2px solid transparent;
        border-radius: 5px;
        height: 55px;
        padding: 5px 20px 5px 15px;
        -webkit-transition: .5s;
        transition: .5s;
        outline: 0
    }
    .btn-try-free-footer {
        background: #33475b;
        border-radius: 0 5px 5px 0;
        color: #fff;
        height: 55px;
        border: none;
        padding: 0 15px;
        margin-left: -10px
    }
    .whychoose {
        background: #536cba
    }
    .heromanbiner {
        height: 328px;
        width: auto;
        max-width: none;
        position: relative
    }
    .nocredit {
        text-align: center!important
    }
    .clients-h2:after {
        height: 0;
        width: 0;
        content: '';
        display: block;
        position: absolute;
        right: 0
    }
    .navbar-phone {
        display: block !important;
    }
    .navbar-dis {
        display: none !important;
    }
    .singup-page {
        padding-top: 45px;
        position: relative;
        z-index: 1;
    }
    /* -------------------rowitems----------- */
    /* .rowitems {
        flex-direction: column;
    }
    .rowitems:nth-child(odd) .gridcontent {
        order: 2;
        text-align: center;
    }
    .rowitems:nth-child(even) .gridcontent {
        order: 1;
        text-align: center;
        margin-top: 25px;
    }
    .rowitems .gridcontent {
        margin-top: 0;
    }
    .rowitems .gridcontent h2 {
        font-size: 22px !important;
    }
    .rowitems .gridcontent h5 {
        font-size: 16px;
        line-height: 1.3;
    }
    .rowitems .imgcontent img {
        margin-bottom: 15px;
    } */
    /* -----------------rowitems------------------------ */
    .logphone {
        margin-bottom: 25px;
    }
    .dropdown-menu {
        position: absolute;
        right: auto;
        left: 50%;
        padding: 5px;
        -webkit-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(2%, 0);
        box-shadow: 0 4px 13px rgba(0, 0, 0, .1);
        display: none;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #fff;
        border-radius: .25rem;
    }
    .dropdown-item p {
        font-weight: 400;
        font-size: 16px;
        line-height: 12px;
        color: #687888;
        margin: 5px 0;
        display: none;
    }
    .social a {
        color: #fff;
        padding: 5px 15px;
        margin: 0px 7px 0 0;
    }
    .email-input {
        border: 2px solid #33475b;
        border-radius: 5px;
        height: 43px;
        padding: 5px 12px;
        -webkit-transition: .5s;
        transition: .5s;
        outline: 0;
    }
    .btn-try-free {
        background: #33475b;
        border-radius: 0 5px 5px 0;
        color: #fff;
        height: 43px;
        border: none;
        padding: 0 25px;
        margin-left: -10px;
    }
    .footer-btn-try {
        background: #425568 !important;
    }
}

@media screen and (max-width:479px) {
    .imgcontent {
        order: 1
    }
    .gridcontent {
        order: 2
    }
    .influencebanner,
    .mainbanner {
        padding: 0 15px 55px;
        background-size: 100%
    }
}

@media only screen and (max-width:767px) {
    .b-bottom,
    .b-right-bottom {
        border-bottom: none
    }
    .b-right,
    .b-right-bottom {
        border-right: none
    }
    .modal.fade.bd-example-modal-sm.blog-pop-cus.show {
        padding-right: 0!important
    }
    .blog-pop-cus h3 {
        font-size: 18px;
        width: 100%;
        margin: 10px auto;
        line-height: 26px;
        padding: 0 10px
    }
}