{{ define "main" }}
<div class=" pagebanneres">
    <div class="container">
        <div class="row  align-items-center">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <h2 class="bvms-size">Smart Desk Booking For <span class="Digitize">Your Workplace</span></h2>
                <p style="line-height: 30px;">Make it easy for your employees to find and book desks of their choice
                </p>
            </div>
        </div>
        <div class=" bannerbtn mt-5 text-center">
            <a target="_blank" href="/signup" class="btn-arrow">Get Started</a>
        </div>
    </div>
</div>
<!--------------------->
<div id="bvms2">
    <div class="container ">
        <div class="text-center">
            <h3 class="bvms-size"> Book Your Perfect Desk With <span class="Digitize"> 5 Simple Steps </span></h3>
            <p class="vizitor-pass-h5-p">Using a Desk booking system to book your favorite desk is simple, like
                clockwork. All you have to do is follow these 5 steps:
            </p>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Access the Platform
                    </h5>
                    <p class="vizitor-pass-h5-p " style="line-height: 30px;">Admins or employees can log into the desk
                        booking system, an integrated workplace management software. The access to software helps in
                        finding suitable desks for them.

                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">View Available Desks
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">You can view a real-time display of
                        available desks, often shown on a floor plan or a list. Information about each desk may include
                        location, amenities, and availability. The functions help smooth the run of office space.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Select Date and Time
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Employees can select a specific desk or
                        workspace they would like to book based on availability. You can choose the date and time you
                        want to use a desk. Some systems may allow for recurring bookings or multiple-day reservations.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Confirmation and Notifications
                    </h5>
                    <p class="vizitor-pass-h5-p " style="line-height: 30px;">You will receive confirmation details once
                        a booking is made, including the reserved desk location, date, and time. Notifications may be
                        sent via email, app alerts, or other communication channels.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Check-In
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Employees can check the reserved desk on the
                        booked date and time. This can involve scanning a QR code or using a mobile app to confirm
                        occupancy.Such crucial features are necessary to avoid any undue conflicts.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--------------------->
<div id="bvms">
    <div class="container ">
        <div class="text-center">
            <h3 class="bvms-size"> Desk Booking Done - <span class="Digitize">The Smart Way  </span></h3>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Responsive technology
                    </h5>
                    <p class="vizitor-pass-h5-p " style="line-height: 30px;">The advanced technology help is responsive
                        for all devices. The desk booking system can be operated from mobile to tablet. The inclusivity
                        helps employees to use the hot desk booking to its potential.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">No prior Training
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Organization Team members don't require
                        prior training to use the desk booking system. it is a simple yet effective interface that is
                        easy to use.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Fast and steady desk booking
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">With this smart hot desk booking system,
                        users can swiftly access a user-friendly platform, enabling them to browse through available
                        desks in real-time.
                    </p>
                </div>
            </div>
        </div>
        <p class="vizitor-pass-h5-p text-center" style="line-height: 30px;">The fast desk booking process allows
            individuals to select their preferred desks effortlessly. The system's speed ensures users can secure their
            workspace in clicks, promoting quick and hassle-free reservations.</p>
    </div>
</div>
<!--------------------------->
<div id="bvms2">
    <div class="container ">
        <div class="text-center">
            <h3 class="bvms-size"> Manage Your Space Your Way With Simple<span class="Digitize"> Desk Booking </span>
            </h3>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Flexibility and Adaptability
                    </h5>
                    <p class="vizitor-pass-h5-p " style="line-height: 30px;">The desk booking system allows employees to
                        choose their workspace based on their daily needs. This flexibility is particularly beneficial
                        in environments with focused work.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Optimized Space Utilization
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Desk booking system helps organizations
                        optimize their office space by efficiently utilizing desks. Unused desks can be easily
                        identified and reallocated.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Cost Savings
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Efficient space utilization leads to cost
                        savings. Organizations can reduce the total square footage of office space needed, lowering rent
                        and operational costs.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Enhanced Collaboration
                    </h5>
                    <p class="vizitor-pass-h5-p " style="line-height: 30px;">Employees can choose desks close to team
                        members for improved collaboration. This fosters a more dynamic and interactive work
                        environment.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Improved Employee Experience
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Smart desk booking contributes to a positive
                        employee experience by allowing individuals to choose their work environment. It can lead to
                        increased job satisfaction.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Hot Desking Opportunities
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">The software is often associated with hot
                        desks, where employees share workstations. This promotes equality and a more open company
                        culture.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------------------>
<div id="bvms">
    <div class="container">
        <h2 class="bvms-size text-center">Save Time and find the Right Desk <br> With the Vizitor Pocket App
        </h2>
        <div class="row align-items-center mt-5">
            <div class="col-md-12 col-sm-12 col-xs-12 " id="bvmsli">
                <p>Monitor all the workspaces and resources from one place or even one device. Custom resources settings
                    with pre-set categories or customize all. You have all the right! </p>
                <ul>
                    <li><span>Provide employees with time-saving smart tools to pre-plan their week and fulfill their
                            requirements to work efficiently.
                        </span></li>
                    <li><span>Use push notifications to acknowledge if admins have created or even changed the booking
                            for various reasons. The booking software helps establish transparency among the employees
                            and admins. </span></li>
                    <li><span>The software helps employees view desk recommendations, which help them book their
                            favorite once it's available or empty.
                    </span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Faq Section -->
<div id="bvms2">
    <div class="container">
        <div class="row">
            <div class="col-md-11 mx-auto">
                <h2 class="mb-5">Frequently Asked Questions</h2>
                <div id="accordion" class="accordion faqaccordion">
                    <div class="faqcard mb-0">
                        {{range $index, $elem := .Site.Data.desksystem.items }}
                        <div class="card-header collapsed" data-toggle="collapse" href="#faq{{$index}}">
                            <a class="card-title">
                                <b>{{.question}}</b>
                            </a>
                        </div>
                        <div id="faq{{$index}}" class="card-body collapse clrmod" data-parent="#accordion">
                            {{.answer | safeHTML}}
                        </div>
                        {{end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Faq Section Ends -->


{{end}}