{{ define "main" }}force
<!----------------------------------------------------------------->
<div class=" VisitorManagement-System-in-India">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 col-sm-6 col-xs-12 pr-5 ">
                <h1 class="paint "> <span class="Digitize">Digital Attendance Management System</span> Smart way to
                    Track and Manage Attendence
                </h1>
                <p style="line-height: 30px;">Vizitor is a unique attendance management system that keeps tabs on
                    employee attendance. It
                    covers all aspects of time management, including recording work hours, handling holidays, setting
                    shifts,approving leaves, and tracking employees with GPS.</p>
                <div class="mt-5">
                    <form id="attendanceForm">
                        <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email"
                            required>
                        <input class="btn-try-free" type="submit" value="Try for free">
                    </form>
                    <div class="mt-5 Try-free">
                        {{range .Site.Params.apps}}
                        <a href="{{.url}}" target="_blank"><img class="btn-app btn-apxp-mg phonetop-btn"
                                src="{{.image  | absURL}}" alt="{{.title}}"></a>
                        {{end}}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 text-center mt-5">
                <img src="/images/vizitor/attendance/attendance-baner.svg" alt="attendance-banneres" />
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------------------->
<div id="bvms" class="whychoose ">
    <div class="col-md-11 mx-auto">
        <div class="row ">
            <div class="col-md-12 text-center">
                <p class="why-p">HOW ATTENDANCE MANAGEMENT WORKS</p>
                <h2 class="color-wht">Transform Attendance Management <br> for Enhanced Efficiency</h2>
                <p class="why-p" style="line-height: 30px;">Vizitor makes it easy to keep track of employees' presence
                    at work and <br>provides a
                    user-friendly interface for employees to manage their time.</p>
            </div>
        </div>
        <div class="text-center">
            <img src="/images/vizitor/attendance/attendencemanagement.svg" alt="vizitor-secure" />
        </div>
        <div class=" text-center mt-3 mb-2">
            <a href="/signup" class="btn-arrow bvms-white-btn">Get Started</a>
        </div>
    </div>
</div>
<!-------------------------------------------------------------------->
<div class="pagesection">
    <div class="container">
        <div class="row  align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <img src="/images/vizitor/attendance/QR-Attendence.svg" alt="snap">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 bvmbest">
                <p><span class="Digitize">QR BASED ATTENDANCE</span></p>
                <h2 class="chgh5">Touchless Attendance With Vizitor's QR System</h2>
                <p style="line-height: 30px;">Vizitor's employee management system stands as India's sole touchless
                    platform offering QR-based attendance. By utilizing the GPS system, it assesses both your current
                    location and the designated office location. Only when your location aligns with that of your office
                    can you mark your attendance.
                </p>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------------------->
<div class="pagesection">
    <div class="container">
        <div class="row  align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p><span class="Digitize"> TIME TRACKING</span></p>
                <h2 class="chgh5">Improve Your Employees'<br> Time Habits</h2>
                <p style="line-height: 30px;">Tracking policies are crucial for shaping employee time habits. Admins can
                    check total working hours, clock-in/out times, and view individual employee calendars. Employees can
                    also check and track their own working hours.
                </p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <img src="/images/vizitor/attendance/TIME TRACKING.svg" alt="snap">
            </div>
        </div>
    </div>
</div>
<!--------------------------------------------------------------->
<div class="pagesection">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <img src="/images/vizitor/attendance/leave approval image.svg" alt="snap">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 bvmbest">
                <p><span class="Digitize">LEAVE APPROVAL</span></p>
                <h2 class="chgh5">Efficient and Personalized Leave Approval Workflows</h2>
                <p style="line-height: 30px;">Give authority to specific individuals for approving time off requests and
                    arranging replacements.
                    Junior employees can ask their senior counterparts for time off. They can approve, reject, or leave
                    the request pending. Customize the system to handle delays, receive notifications, and accommodate
                    many approval stages.
                </p>
            </div>
        </div>
    </div>
</div>
<!-------------------------------------------------------------->
<div class="pagesection">
    <div style="background: #ED5C18; padding: 80px 0;">
        <div class="container">
            <div class="content ">
                <div class="text-center">
                    <h2 class="color-wht mt-5 pb-3">What is an Attendance Management System?</h2>
                    <p class="color-wht text-center" style="line-height: 30px;">An attendance management system is a
                        software that monitors and
                        records the working hours of employees accurately. It keeps track of attendance, breaks, time
                        off,clock in, and clock out data for each employee, ensuring error-free records. With such
                        a system, employees can conveniently mark their time and attendance through a mobile app.
                        The software automates the entire attendance management process, providing real-time data to the
                        HR department for precise payroll calculations, ensuring that employees are compensated
                        accurately for their time worked.
                    </p>
                    <div class=" text-center mt-5">
                        <a href="/signup" class="btn-arrow attendence-white-btn">Try For Free</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!----------------------------------------------------------->
<div class="pagesection">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p><span class="Digitize">EASY SHIFT MANAGEMENT</span></p>
                <h2 class="chgh5">Simplify Your Schedule with Effortless Shift Planning</h2>
                <p style="line-height: 30px;">Vizitor's employee shift management simplifies the handling of various
                    shift patterns in your
                    company. It can manage both rotating and fixed shifts with customized options. The system
                    efficiently handles round-the-clock 24/7 shifts and assigns them to employees as needed.
                </p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <img src="/images/vizitor/attendance/Easy-management.svg" alt="snap">
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------------->
<div class="pagesection">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <img src="/images/vizitor/attendance/Employees Dashboard.svg " alt="snap">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <p><span class="Digitize">EMPLOYEES ANALYTICS DASHBOARD</span></p>
                <h2 class="chgh5">Powerful Analytics For Executive and Employees</h2>
                <p style="line-height: 30px;">Vizitor provides rich analytics and dashboards for employees and managers.
                    It offers valuable
                    information and insightful dashboards tailored to their specific needs. It's designed to serve the
                    entire workforce. The admin can check employees' attendance performance. Employees can also check
                    their own leave and working hours. It's designed to serve the entire workforce.
                </p>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------------->
<div class="pagesection">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p><span class="Digitize">HOLIDAYS MANAGEMENT</span></p>
                <h2 class="chgh5">Manage Holidays in Efficient<br> way</h2>
                <p style="line-height: 30px;">Vizitor's employee management system efficiently handles holidays. Admins
                    can add or delete holidays,
                    while employees can view the holiday dashboard. Simplify your holiday management with the best
                    attendance and holidays management system.
                </p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <img src="/images/vizitor/attendance/holiday-img.svg" alt="snap">
            </div>
        </div>
    </div>
</div>
<!----------------------------------------------------->
<!-- Tabs  -->
<div class="container" id="bvms">
    <div class="tile" id="tile-1">
        <!-- Nav tabs -->
        <h2 class="text-center my-5">Efficient Workforce Management: Attendance, <br>Leaves, Admin Control</h2>
        <ul class="nav nav-tabs nav-justified " role="tablist">
            <div class="slider"></div>
            <li class="nav-item">
                <a class="nav-link active" id="home-tabes" data-toggle="tab" href="#homees" role="tab"
                    aria-controls="homees" aria-selected="true">
                    <h3 class="color-h"> Employees Use</h3>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tabes" data-toggle="tab" href="#profilees" role="tab"
                    aria-controls="profilees" aria-selected="false">
                    <h3 class="color-h">Admin Use</h3>
                </a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="homees" role="tabpanel" aria-labelledby="home-tabes">
                <div class="row align-items-center">
                    <div class="col-md-6 col-sm-6 col-xs-12 Manual-top">
                        <h3 style="font-size: 35px;color: #3f4450; line-height: 46px;">Attendance and Leaves Made Simple
                            for
                            Employees</h3>
                        <div class="row mt-4">
                            <div class="col-md-2 col-2 text-right" style="max-width: 7.666667%">
                                <img src="/images/vizitor/bvm/gre.svg" style="width: 18px;" alt="gre" />
                            </div>
                            <div class="col-md-10 col-10">
                                <h4 class="Traditional-card-text">Attendance Insight:</h4>
                                <p style="line-height: 30px;">Dashboard displays check-in/out times, total working
                                    hours, monthly
                                    attendance logs, and shift tim.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-2 text-right" style="max-width: 7.666667%">
                                <img src="/images/vizitor/bvm/gre.svg" style="width: 18px;" alt="gre" />
                            </div>
                            <div class="col-md-10 col-10">
                                <h4 class="Traditional-card-text">Comprehensive Dashboard:</h4>
                                <p style="line-height: 30px;"> Attendance system shows total leaves, remote work days,
                                    holidays,
                                    leave requests and monthly overview graph.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-2 text-right" style="max-width: 7.666667%">
                                <img src="/images/vizitor/bvm/gre.svg" style="width: 18px;" alt="gre" />
                            </div>
                            <div class="col-md-10 col-10">
                                <h4 class="Traditional-card-text">Leave Management:</h4>
                                <p style="line-height: 30px;">Employees can apply for leave, selecting seniors from a
                                    provided
                                    list, and view leave history with status.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                        <div class="center-content">
                            <img src="/images/vizitor/attendance/empolyee-use.svg" alt="Digital-VMS11" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profilees" role="tabpanel" aria-labelledby="profile-tabes">
                <div class="row align-items-center">
                    <div class="col-md-6 col-sm-6 col-xs-12 Manual-top">
                        <h3 style="font-size: 35px;color: #3f4450; line-height: 46px;">Attendance and Leaves Made Simple
                            for
                            Employees</h3>
                        <div class="row mt-4">
                            <div class="col-md-2 col-2 text-right" style="max-width: 7.666667%">
                                <img src="/images/vizitor/bvm/gre.svg" alt="gre" />
                            </div>
                            <div class="col-md-10 col-10">
                                <h4 class="Traditional-card-text">Comprehensive Dashboard:</h4>
                                <p style="line-height: 30px;">Dashboard displays check-in/out times, total working
                                    hours, monthly
                                    attendance logs, and shift tim.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-2 text-right" style="max-width: 7.666667%">
                                <img src="/images/vizitor/bvm/gre.svg" alt="gre" />
                            </div>
                            <div class="col-md-10 col-10">
                                <h4 class="Traditional-card-text">Attendance Management:</h4>
                                <p style="line-height: 30px;"> Admins can access the attendance log for presence and
                                    absence tracking, with
                                    available total working hours and a monthly calendar view.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-2 text-right" style="max-width: 7.666667%">
                                <img src="/images/vizitor/bvm/gre.svg" alt="gre" />
                            </div>
                            <div class="col-md-10 col-10">
                                <h4 class="Traditional-card-text">Shift Scheduling:</h4>
                                <p style="line-height: 30px;">Admin can schedule shifts according to preferences, and
                                    manage shifts by adding,
                                    deleting, updating, and sending alerts to employees.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                        <div class="center-content">
                            <img src="/images/vizitor/attendance/admin-use.png" alt="Digital-VMS11" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="/signup" class="btn-arrow">Sign Up Now</a>
        </div>
    </div>
</div>
<!-- Tabs content -->
<!--------------------------------------------------->
<div class="pagesection" id="bvms2">
    <div class="container">
        <h2 class="text-center mb-5">Effortless Attendance Tracking with<br>
            <span class="Digitize"> Vizitor Pass App!</span>
        </h2>
        <div class="row mt-5">
            <div id="attendance" class="card-deck">
                <div class="card">
                    <img class="reliable-points" src="/images/vizitor/attendance/Simplified-Attendance.svg"
                        alt="TouchlessClock-In" width="100%">
                    <div class="card-body" style="padding: 30px;">
                        <h5 class="card-title text-center">Simplified Attendance</h5>
                        <p class="card-text text-center" style="line-height: 30px;">Vizitor simplifies employee
                            attendance with easy
                            clock-in and clock-out through the QR code in Vizitor pass app, ensuring secure management.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img class="reliable-points" src="/images/vizitor/attendance/Leave-Easy.svg"
                        alt="Real-Time-Monitoring">
                    <div class="card-body" style="padding: 30px;">
                        <h5 class="card-title text-center">Leave Made Easy</h5>
                        <p class="card-text text-center" style="line-height: 30px;">Employees can request leave, specify
                            dates, add
                            messages, and seek senior approval via a pop-up form, while also ,accessing their leave
                            history.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="reliable-points" src="/images/vizitor/attendance/GPS-Enabled .svg" alt="card">
                    <div class="card-body" style="padding: 30px;">
                        <h5 class="card-title text-center">GPS-Enabled Security</h5>
                        <p class="card-text text-center" style="line-height: 30px;">GPS tracking is enabled to ensure
                            attendance accuracy.
                            Employees can check in only at designated locations for dependable QR-based
                            attendance.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.vizitor.pass "
                class="btn-arrow">Download Now</a>
        </div>
    </div>
</div>
<!----------------------------------------------------------->
<div class="Visitor-Management-System " id="bvms">
    <div class="container ">
        <div class="center-content ">
            <h2 class="color-wht mb-5"> Download Product Brochure</h2>
            <p class="What-Visitor mb-4" style="line-height: 30px;">Experience the Power of Leading Attendance and HR
                Software in India. Discover advanced features that streamline and <br> elevate business operations
                effortlessly.
                Simplify attendance tracking, optimize HR processes, and drive success<br>
                with ease. Explore now and
                revolutionize attendance management.</p>
            <div class=" text-center mt-5">
                <a target="_blank" href="/images/vizitor/attendance/Vizitor-sales-beochure.pdf"
                    class="btn-arrow bvms-white-btn">Get Brochure</a>
            </div>
        </div>

    </div>
</div>
<div id="bvms2">
    {{- partial "faqattendance.html" . -}}
</div>
<!-- <div>{{- partial "subscribesection.html" . -}}</div> -->

{{end}}