{{ define "main" }}
<div class="container pagebanneres">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <h1 class="desk">
                <span class="Digitize">Planting initiative </span> from Vizitor
            </h1>
            <div data-wow-duration="1.5s">
                <p>Help us to make our planet regreen by making your guest’s check-in process digital, shifting from messy paperwork that is responsible for cutting down of 20 trees for each 1,000kg of paper used.</p>
                <div class="bannerbtn mt-4">
                    <a href="/signup" class="btn-arrow">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div style="margin-top:5%;">
                <img src=" /images/vizitor/jpg.webp" alt="jpg">
            </div>
        </div>
    </div>
</div>


<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div>
                <img src=" /images/vizitor/Framemin.png " alt="Framemin" />
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div>
                <h2>How can I contribute in planting initiative ?</h2>
                <p>It is a single step process. By the moment you have signed up for vizitor replacing your old visitor check-in system with a digital check-in system, you have already been contributed in plantation initiative.</p>
            </div>
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <p>The <b>plantation initiative from vizitor</b> is a little effort with a goal to increase the green cover on our planet Earth. This initiative will aim at planting a tree in the name of their every turned customer and sending them a tree as
                a thanking gesture for turning digital. The initiative will not help workplaces go digital but also contribute to the community.</p>
            <p>Vizitor is aiming at planting a forest that will save the Earth from deforestation. It’s a big number, but we know we can do it with your help.</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div>
                <img src=" /images/vizitor/Plant-a-Million-tree.png " alt="Plant-a-Million-tree" />
            </div>
        </div>
    </div>
</div>

<div class="container pagesection">
    <h2 class="center-content ">What you can do with Vizitor</h2>

    <div class="row mt-5">
        <div class="col-md-4 col-sm-4 col-xs-4 center-content">
            <img src=" /images/vizitor/Security-startups.png " class="startups-img mb-3" alt="Security-startups">
            <h6>Enhance Workplace Security</h6>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 center-content">
            <img src=" /images/vizitor/Branding-startups.png " alt="Branding-startups" class="startups-img mb-3">
            <h6>Business Branding</h6>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 center-content">
            <img src=" /images/vizitor/Tracking-startups.png " class="startups-img mb-3" alt="Tracking-startups">
            <h6>Visitor Tracking</h6>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4 col-sm-4 col-xs-4 center-content">
            <img src=" /images/vizitor/Invites-startups.png " class="startups-img mb-3" alt="Invites-startups">
            <h6>Send Pre-Invites</h6>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 center-content">
            <img src=" /images/vizitor/Notification-startups.png " class="startups-img mb-3" alt="Notification-startups">
            <h6>Host Notification</h6>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 center-content">
            <img src=" /images/vizitor/sms-startups.png " class="startups-img mb-3" alt="sms-startups">
            <h6>Send Promotional SMS </h6>
        </div>
    </div>
</div>

<div>{{- partial "upgrade.html" . -}}</div>
{{end}}