{{ define "main" }}
<div class=" VisitorManagement-System-in-India">
    <div class="container">
        <div class="row  align-items-center">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <p><span class="Digitize">Conference Room Scheduling Software </span></p>
                <h2 class="bvms-size">Utilize your space right for <span class="Digitize">your team </span></h2>
                <p style="line-height: 30px;">From shared workplaces to conference rooms, make the most out of all and
                    schedule all spaces using the conference scheduling software that works effectively for solving all
                    space problems of employees. </p>
            </div>
        </div>
    </div>
</div>
<!--------------------->
<div id="bvms">
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 " id="bvmsli">
                <h3 class="bvms-size">Smart vehicle booking with a comprehensive app </h3>
                <p>Say Goodbye to traditional ways of handwritten records and manage vehicle booking with ease on your
                    phone and desktop.
                </p>
                <ul>
                    <li><span>The fair and straightforward way for staff to book cars from their phone and see the
                            availability.
                        </span></li>
                    <li><span>Assign customized features for the ease of staff and car usage.
                        </span></li>
                    <li><span>When booked, it's convenient to locate the vehicles with maps
                        </span></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <img src="/images/vizitor/TouchlessQR.svg" alt="TouchlessQR" />
            </div>
        </div>
        <div class="row align-items-center mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <img src="/images/vizitor/TouchlessQR.svg" alt="TouchlessQR" />
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 " id="bvmsli">
                <h3 class="bvms-size">Make it easy to locate vehicles </h3>
                <p>Utilize the admin dashboard to view company vehicle usage, enabling informed business decisions
                    comprehensively.
                </p>
                <ul>
                    <li><span>Prevent vehicle idleness with timely check-in reminders. </span></li>
                    <li><span>Control access to specific vehicles for designated individuals or departments.</span></li>
                    <li><span>Promote fairness by setting booking limits for vehicles. </span> </li>
                </ul>
            </div>
        </div>
        <div class="row align-items-center mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 " id="bvmsli">
                <h3 class="bvms-size">There's always more with Vizitor </h3>
                <p>Want to manage shared resources? We've got you covered! </p>
                <ul>
                    <li><span> Simplify employee bookings, reducing administrative workload. </span></li>
                    <li><span>Efficiently reserve a range of workplace assets, from parking spaces and equipment to
                            lockers and EV chargers. </span></li>
                    <li><span>Gain comprehensive insights into workplace resource usage for effective future planning.
                        </span></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <img src="/images/vizitor/TouchlessQR.svg" alt="TouchlessQR" />
            </div>
        </div>
    </div>
</div>
<!--------------------------->
<div class="pagesection">
    <div style="background: #ED5C18; padding: 80px 0;">
        <div class="container">
            <div class="content ">
                <div class="text-center">
                    <h2 class="color-wht mt-5 pb-3">Nearly 2000 workplaces are already making smarter decisions with
                        Vizitor </h2>
                    <div class=" text-center mt-5">
                        <a href="/signup" class="btn-arrow attendence-white-btn">Try For Free</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{end}}