{{ define "main" }}

<div>
    <section>
        <div class="container">
            <div class="row">
                <div class="main_des_third_contant">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <div>
                            <h1 class="center-content ">Visitor Management System For Manufacturing Companies</h1>
                        </div>
                        <div>
                            <p>If you are a manufacturing company, your office requires more than a paper log book and friendly receptionist at the door. Its complex requires for high efficiency, robust security and regulatory compliance for smooth and safe
                                operations. Manufacturing offices and companies often deal with sensitive data and security protocols. Hence, a safe and secure visitor management system is required for instant check-in, keeping track of visitors at your
                                facility thus, reducing the potential for external and internal threats.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2 class="center-content ">Our visitor management system, Vizitor helps the manufacturing companies in :
                    </h2>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <p><span>&#8226;</span> Streamlining the visitor’s check-in process</p>
                        <p><span>&#8226;</span> Keeping visitor’s information confidential</P>
                        <p><span>&#8226;</span> Visually identifying visitors</p>
                        <p><span>&#8226;</span> Increasing security in the facility</p>
                        <p><span>&#8226;</span> Pre-registration of visitors</p>
                    </div>
                    <div>
                        <p>Manufacturing companies have to address several visitors everyday which include guests, delivery person, packages, raw materials and so on. In order to manage and track every visitor at the same time, there’s need to be a visitor
                            management system such as Vizitor which can take care of your visitors ranging from delivery person to packages.
                        </p>
                        <p>Vizitor also comprises of a real-time dashboard which keeps a track of every new and frequent visitor.Vizitor acting as a receptionist brings your entire network online to automate visitor’s check-in through multiple entrances,
                            digitally record their visit, and even sign legal agreements before entering.</p>
                        <p>It’s time to upgrade your company to a modern, unconventional and customisable visitor management system, it’s time to switch to visitor!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<div>{{- partial "upgrade.html" . -}}</div>
{{end}}