{{ define "main" }}

<div>
    <section>
        <div class="container">
            <div class="row">
                <div class="main_des_third_contant">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <div>
                            <h1 class="center-content ">visitor management system ipad</h1>
                        </div>
                        <div class="mt-5">
                            <p>Streamline the visitor’s check-in process and upgrade your front desk experience for your guests with an iPad based visitor registration system.Our visitor management system ipad, Vizitor is suitable for all types of locations
                                to improve efficiency, security and the overall visitor check-in experience. How Vizitor, an iPad based visitor management system can help in upgrading your organization?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12 ">
            <div>
                <p><b><span>&#8226;</span> Offices & Workspaces</b></p>
                <p>You can modernize your office’s front desk with an iPad based visitor check-in app named Vizitor that will replace your hard-to-manage paper logbooks. This will eventually help in impressing your clients and guests.
                </p>
            </div>
            <div>
                <p><b><span>&#8226;</span> Schools & Campuses</b></p>
                <p>Installing Vizitor in school campuses helps in streamlining visitor management process. This is because it easily manages visitors like parents, staff, guests and ensures that they register to Vizitor before checking-in thus, making sure
                    that the campus is secured of unknown threats.
                </p>
            </div>
            <div>
                <p><b><span>&#8226;</span> Manufacturing Facilities </b></p>
                <p>Vizitor ensures security and legal compliance for workers and contractors by using a check-in management solution and eventually helps in reducing administrative burden.
                </p>
            </div>
            <div>
                <p><b><span>&#8226;</span> Housing Societies</b> </p>
                <p>Implementing a iPad visitor management app, Vizitor empowers the security guards to manage entries for delivery boys, residents guests and others.
                </p>
            </div>
            <div>
                <p><b><span>&#8226;</span> Hotels, Hospitals & Banks</b> </p>
                <p>Implementing a iPad visitor management app, Vizitor empowers the security guards to manage entries for delivery boys, residents guests and others.
                </p>
            </div>
        </div>
    </div>
    <section>
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <p><span>&#8226;</span> In short, Vizitor is a visitor management system ipad based system that is equipped with features like :</p>
                        <p><span>&#8226;</span> Easy self-registration process</p>
                        <p><span>&#8226;</span> Cloud-based application that lets you access visitor information anytime, anywhere</p>
                        <p><span>&#8226;</span> Customised Welcome screen.</p>
                        <p><span>&#8226;</span> Allows you to capture photos and signatures</p>
                        <p><span>&#8226;</span> Displays the Terms & Conditions of your premise</p>
                        <p><span>&#8226;</span> Pre-registers your visitors for express entry</p>
                        <p><span>&#8226;</span> Prints visitor badges with photo and visitor detail.</p>
                        <p><span>&#8226;</span> Host notifications</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<div>{{- partial "upgrade.html" . -}}</div>
{{end}}