{{ define "main" }}
<div class="container pagebanneres">
    <div class="row align-items-center">
        <div class="col-lg-8">
            <h1>Visitor <span class="Digitize">Tracking System</span></h1>
            <p>You may be liable at your premises for taking excellent care of your guests. If so, you must always understand where and why they're there.</p>

            <p>Worrying about keeping records: Who within the company are they visiting? How often do they come? How long are their designated visits? </p>

            <p>Isn’t the entire process time-consuming? </p>

            <p>Don’t worry anymore; the visitor tracking system gives you full-featured visitor tracking.</p>

            <p>The guest visitor system allows you to customize your desired options and keeps things straightforward. This system gathers all the information regarding securing your facility. You can handle it quickly, whether about tracking names or complex
                security needs.</p>

            <p>Vizitor is the premier visitor tracking system. It Informs hosts about guest arrival and allows hosts to pre-register visits using the online registration module. The visitor watch list can be generated in the case of an emergency. It also
                lets you screen visitors at the time of registration.</p>

            <p>Vizitor's visitor log monitoring system outweighs anything else nowadays. The visitor tracking software is versatile enough to deliver valuable results to businesses. The software keeps visitor monitoring intact, which makes it a user-friendly
                system. It also creates even self-service kiosks as a viable answer for your visitor management wants.</p>
            <div class="bannerbtn mt-4 ">
                <a href="/signup" class="btn-arrow">Get Started</a>
            </div>
        </div>
        <div class="col-lg-4 text-center">
            <img src="/images/vizitor/societies/societies.png" alt="office-management-system">
        </div>

    </div>
</div>
<div class="Visitor-Management-System mt-5">
    <div class="container ">
        <div class="center-content ">
            <h2 class="color-wht mb-5"> Get a free trial now and stay informed about your facility's visitors</h2>
            <div class=" text-center mt-5">
                <a href="/signup" class="btn-arrow bvms-white-btn">Try for free</a>
            </div>
        </div>

    </div>
</div>
<div class="container pagesection">
    <!-- 1 -->
    <div class="row align-items-center">
        <div class="col-md-12 text-center mb-5">
            <h2> Key Features of Visitor Tracking System</h2>
            <div class="center-content border-line"></div>
        </div>
        <div class="col-md-6">
            <div class="w-100">
                <h3> Impressive for Visitors</h3>
                <p>Visitors develop a particular impression within the first few seconds of entering your premises. With a visitor tracking system, set up a hassle-free and hospitable atmosphere.
                </p>

            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="/images/vizitor/societies/visitor-records.png" alt="Make-your-workplace" />
        </div>
    </div>
    <!-- 2 -->
    <div class="row align-items-center mt-5">

        <div class="col-md-6 text-center">
            <img src="/images/vizitor/covid/visitor-screening-1.png" alt="signing-agreement1" />
        </div>
        <div class="col-md-6">
            <div class="w-100">
                <h3>Access Control
                </h3>
                <p>This feature lets you control who can enter your facility. You can set specific access permissions on visitor monitoring tools for visitors. This ensures that only authorized individuals can gain entry, improving security.
                </p>

            </div>
        </div>
    </div>
    <!-- 3 -->
    <div class="row align-items-center mt-5">
        <div class="col-md-6">
            <div class="w-100">
                <h6>Manage Seamless Integrations</h6>
                <p>Seamlessly integrate with different libraries. The visitor tracking tools are protractible. It modifies each feature to outfit your development workflow and feature desires.</p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="/images/vizitor/covid/pre-invitation1.png" alt="pre-invitation1" />
        </div>
    </div>
    <!-- 4 -->
    <div class="row align-items-center mt-5">
        <div class="col-md-6 text-center">
            <img src="/images/vizitor/covid/instant-alert-1.png" alt="pre-invitation1" />
        </div>
        <div class="col-md-6">
            <div class="w-100">
                <h6>Secure Your Premises
                </h6>
                <p>Put acceptable security measures in place to protect your business & your individuals, no matter what kind of premises you operate from.</p>
            </div>
        </div>

    </div>
    <!-- 3 -->
    <div class="row align-items-center mt-5">
        <div class="col-md-6">
            <div class="w-100">
                <h6>Visitor Registration</h6>
                <p>Visitors monitoring enables the efficient registration of visitors, whether it's through self-registration kiosks or pre-registration by hosts. It captures essential visitor information, prints visitor badges, and notifies hosts when their
                    guests arrive.
                </p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="/images/vizitor/covid/pre-invitation1.png" alt="pre-invitation1" />
        </div>
    </div>
    <!-- 4 -->
    <div class="row align-items-center mt-5">
        <div class="col-md-6 text-center">
            <img src="/images/vizitor/covid/instant-alert-1.png" alt="pre-invitation1" />
        </div>
        <div class="col-md-6">
            <div class="w-100">
                <h6>Reporting & Analytics</h6>
                <p>You can gain valuable insights into visitor traffic, trends, and security incidents through reporting and analytics. This information empowers data-driven decision-making to improve security and operational efficiency in your facility.</p>
            </div>
        </div>

    </div>


</div>
<!-- Subscribe Section -->
<div class="mt-5" style="background: #ED5C18; padding: 100px 0;">
    <div class="content ">
        <div class="text-center">
            <div class=" text-center ">
                <a href="/signup" class="btn-arrow bvms-white-btn">Try for free</a>
            </div>
            <h2 class="color-wht mt-5 pb-3">Vizitor - The Ideal Choice for businesses <br> wanting to upgrade their workplace! </h2>
        </div>
    </div>
</div>
<!-- Subscribe Section Ends -->
<div class="container pagesection">
    <!-- 1 -->
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="w-100">
                <h2> Behind Vizitor Tracking System Success </h2>
                <p>Get the most out of the visitor tracking system offering. With our in-depth understanding of enterprise wants, we at Vizitor tend to modify visitor tracking systems as per your needs to attain way more than just managing your visitors.
                </p>
                <p>Visitor tracking tools focus on tracking and management as a critical point. On the other hand, traditional ways require registration of customers at reception involving paper logs and unreliable hefty registers. </p>
                <p>With visitor management systems at the doorstep, you'll be able to seamlessly check-in the arrival of multiple guests quickly without any external help or oversight of security personnel. This improves client experience and employees'
                    productivity to attract more customers without compromising a bit in terms of security.</p>
                <p>Not only this, you can send invitations & pre-register with the latest visitor management technology. The authorities can send invites to the expected customers on their registered devices. This saves the client's registration time. Visitor
                    tracking systems help business owners and management focus on other vital tasks that improve productivity.</p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="/images/vizitor/societies/visitor-records.png" alt="Make-your-workplace" />
        </div>
    </div>
    <!-- 2 -->
    <div class="row align-items-center mt-5">

        <div class="col-md-6 text-center">
            <img src="/images/vizitor/covid/visitor-screening-1.png" alt="signing-agreement1" />
        </div>
        <div class="col-md-6">
            <div class="w-100">
                <h2>Benefits of Visitor Tracking Software
                </h2>
                <p><span class="Digitize help-dot">•</span> The system facilitates visitor tracking throughout the positioning premises.
                </p>
                <p><span class="Digitize help-dot">•</span> The effective system sends all the notifications to the host bodies.</p>
                <p><span class="Digitize help-dot">•</span> The visitor monitoring tool permits the host bodies to send messages to the individuals regarding any kind of event or programs</p>
                <p><span class="Digitize help-dot">•</span> Moreover, tracking apps keep all the data safe and secured.</p>
            </div>
        </div>
    </div>
    <!-- 3 -->
</div>
<div>{{- partial "upgrade.html" . -}}</div>
{{end}}