{{ define "main" }}
<div class="pagebanneres">
    <div class="container ">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1>Black Friday Mega Sale: 50% OFF Vizitor Plans Worldwide</h1>
                <p>Simplify, secure, and modernize your workplace with Vizitor’s Visitor
                    Management System. This Black Friday, go digital and save 50%; offer
                    valid globally till December 05,2025.
                </p>
                <p><b>Activate anytime within 3 months</b></p>

                <div class="mb-4">
                    <a href="https://buy.stripe.com/9B67sNfSyaWif1D1hYcMM0d" class="btn-arrow">Claim My Black Friday
                        Offer</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <img src="/images/vizitor/black-friday/black-friday-banner.svg" alt="Black Friday Offer"
                    class="img-fluid" />
            </div>
        </div>
    </div>

    <!-- --------------------------------------------------------------- -->

    <div class="Visitor-Management-System mt-5">
        <div class="container ">
            <div class="center-content ">
                <h2 class="color-wht mb-5">The Only Front Desk Deal <br>You Need This Black Friday</h2>
                <p class="What-Visitor mb-0">Don’t wait for long queues this Black Friday neither at stores nor at your
                    reception! <br>Vizitor helps businesses across the world digitize visitor entry, automate guest
                    tracking, </p>
                <p class="What-Visitor">and ensure compliance; with style and simplicity.</p>
                <p class="subheading mb-4"><b>Trusted in 40+ countries by smart workplaces.</b></p>
                <div class=" text-center mt-5">
                    <a href="https://buy.stripe.com/9B67sNfSyaWif1D1hYcMM0d" class="btn-arrow bvms-white-btn">Get Started</a>
                </div>
            </div>

        </div>
    </div>

    <!-- --------------------------------------------------------- -->


    <section class="upgrade-section py-5">
        <div class="container">
            <div class="row align-items-center">

                <!-- LEFT CONTENT -->
                <div class="col-md-6 mb-4">
                    <h2 class="font-weight-bold mb-3">Why Upgrade Now</h2>
                    <p class="text-muted mb-4">
                        Because smart workplaces don’t wait for magic, they build it.
                    </p>

                    <div class="mt-5 feature-item d-flex align-items-start mb-4 ">
                        <img src="/images/vizitor/black-friday/Touchless Check-Ins.svg" class="feature-icon">
                        <div>
                            <h5 class="mb-1 font-weight-bold">Touchless Check-Ins</h5>
                            <p class="text-muted mb-0">Visitors scan a QR and walk in. No pens, no paper.</p>
                        </div>
                    </div>

                    <div class="feature-item d-flex mb-4 align-items-start">
                        <img src="/images/vizitor/black-friday/Photo & ID Capture.svg" class="feature-icon">
                        <div>
                            <h5 class="mb-1 font-weight-bold">Photo & ID Capture</h5>
                            <p class="text-muted mb-0">Verify guests in seconds, build trust at entry.</p>
                        </div>
                    </div>

                    <div class="feature-item d-flex mb-4 align-items-start">
                        <img src="/images/vizitor/black-friday/Host Notification.svg" class="feature-icon">
                        <div>
                            <h5 class="mb-1 font-weight-bold">Host Notification</h5>
                            <p class="text-muted mb-0">Real-time alerts the moment your guest arrives.</p>
                        </div>
                    </div>

                    <div class="feature-item d-flex mb-4 align-items-start">
                        <img src="/images/vizitor/black-friday/Multi-Location Access.svg" class="feature-icon">
                        <div>
                            <h5 class="mb-1 font-weight-bold">Multi-Location Access</h5>
                            <p class="text-muted mb-0">Manage every global site from a single dashboard.</p>
                        </div>
                    </div>

                    <div class="feature-item d-flex mb-4 align-items-start">
                        <img src="/images/vizitor/black-friday/Pre-Registrations.svg" class="feature-icon">
                        <div>
                            <h5 class="mb-1 font-weight-bold">Pre-Registrations</h5>
                            <p class="text-muted mb-0">Manage every global site from a single dashboard.</p>
                        </div>
                    </div>

                    <div class="feature-item d-flex mb-4 align-items-start">
                        <img src="/images/vizitor/black-friday/Visitor Analytics.svg" class="feature-icon">
                        <div>
                            <h5 class="mb-1 font-weight-bold">Visitor Analytics</h5>
                            <p class="text-muted mb-0">Get insights into visitor patterns and security logs.</p>
                        </div>
                    </div>
                </div>

                <!-- RIGHT FORM -->
                <div class="col-md-6">
                    <img src="/images/vizitor/black-friday/new-invitee.svg" alt="Upgrade Now" class="img-fluid">
                </div>

            </div>
        </div>
    </section>

    <!-- -------------------------2----------------------------- -->
    <div class="bg-pricing-halloween mt-5">
        <div class="container py-5">
            <div class="text-center mb-4">
                <h2>Black Friday Pricing: Flat 50% OFF</h2>
            </div>

            <div class="row justify-content-center mt-5">
                <!-- Starter Plan -->
                <div class="col-md-4 mb-4">
                    <div class="pricing-card">
                        <h4>Starter</h4>
                        <div class="old-price">$45</div>
                        <div class="price">$29</div>
                        <p>Per month</p>
                        <p><strong>300 check-ins /month</strong></p>
                        <p>Billed yearly</p>
                        <p class="pricing-card-yearly-p"><span class="pricing-card-yearly">$540</span> $324</p>
                        <a target="_blank" href="https://buy.stripe.com/14A3cx0XEc0m6v74uacMM0c"
                            class="btn btn-outline-dark mt-3">Pay Now</a>
                    </div>
                </div>

                <!-- Premium Plan -->
                <div class="col-md-4 mb-4">
                    <div class="pricing-card popular">
                        <div class="top-label">Most popular</div>
                        <h4>Premium</h4>
                        <div class="old-price">$90</div>
                        <div class="price">$58</div>
                        <p>Per month</p>
                        <p><strong>1000 check-ins /month</strong></p>
                        <p>Billed yearly</p>
                        <p class="pricing-card-yearly-popular-p"><span class="pricing-card-yearly-popular">$1080</span>
                            $648</p>
                        <a target="_blank" href="https://buy.stripe.com/9B67sNfSyaWif1D1hYcMM0d"
                            class="btn btn-outline-dark mt-3">Pay Now</a>
                    </div>
                </div>

                <!-- Enterprise Plan -->
                <div class="col-md-4 mb-4">
                    <div class="pricing-card">
                        <h4>Enterprise</h4>
                        <div class="price">Contact</div>
                        <p>Ready to assist your<br>enterprise needs?</p>
                        <p><strong>Unlimited visitors</strong></p>
                        <a href="/contact" class="btn btn-outline-dark mt-3">Contact</a>
                    </div>
                </div>
            </div>

            <div class="text-center mt-4">
                <p class="offerpricing">Offer valid till December 05, 2025. <span>Activate anytime within 3 months.</span></p>
                <a href="https://buy.stripe.com/9B67sNfSyaWif1D1hYcMM0d" class="btn-arrow">Get 50% OFF, Limited Time Only</a>

            </div>
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="col-md-10 mx-auto">
        <div class="text-center">
            <h2>Built for Every Workplace</h2>
            <p>Designed for every workplace from startups to global enterprises.</p>
        </div>
        <div class="row mt-5">
            <div class="col-md-2 col-6">
                <img src="/images/vizitor/Offices.svg" alt="Offices">
                <p class="Industries-heading ">Offices</p>
            </div>
            <div class="col-md-2 col-6">
                <img src="/images/vizitor/School.svg" alt="School">
                <p class="Industries-heading ">School</p>
            </div>
            <div class="col-md-2 col-6">
                <img src="/images/vizitor/Hospitals.svg" alt="Hospitals">
                <p class="Industries-heading "> Healthcare</p>
            </div>
            <div class="col-md-2 col-6">
                <img src="/images/vizitor/Hotels.svg" alt="Hotels">
                <p class="Industries-heading ">Hotels</p>
            </div>
            <div class="col-md-2 col-6">
                <img src="/images/vizitor/Societies.svg" alt="Societies">
                <p class="Industries-heading "> Banks</p>
            </div>
            <div class="col-md-2 col-6">
                <img src="/images/vizitor/Co-working.svg" alt="Co-working">
                <p class="Industries-heading ">Manufacturing</p>

            </div>

        </div>
    </div>
</div>

<div class="container pt-5 pb-5">
    <div class="text-center mb-4">
        <h2>Why Businesses Choose Vizitor</h2>
    </div>
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6 text-center">
            <img src="/images/vizitor/black-friday/scalable.svg" alt="Touchless Visitor Check-Ins">
            <p class="mt-1">Smart, touchless, and scalable <br>
                visitor check-in.</p>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <img src="/images/vizitor/black-friday/security.svg" alt="Photo & ID Capture">
            <p class="mt-1">Strengthened workplace security <br>
                and compliance.</p>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <img src="/images/vizitor/black-friday/time.svg" alt="Instant Host Notifications">
            <p class="mt-1">Real-time tracking and visitor <br>
                analytics.</p>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <img src="/images/vizitor/black-friday/global.svg" alt="Centralized Dashboard">
            <p class="mt-1">24×7 cloud access and global <br>
                support.</p>
        </div>
    </div>

</div>




<div class="halloween-offer">
    <div class="container position-relative">
        <h2>Final Call: The Black Friday Countdown Is On!</h2>
        <p>Don’t miss your once-a-year chance to modernize your workplace at half the cost. <br>Offer ends December 05, 2025.
        </p>
        <div class="text-center mt-5">
            <a href="https://buy.stripe.com/9B67sNfSyaWif1D1hYcMM0d" class="btn-arrow Queue-white-btn">Book a Demo & Lock Your 50% Black Friday Discount</a>
        </div>
    </div>
</div>
<style>
    .feature-item img.feature-icon {
        margin-right: 10px;
    }

    .upgrade-section h5{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0px;
    }

    .upgrade-section p{
        margin-top: 0px;
    }

    .offerpricing{
        font-size: 20px;
    }

    .offerpricing span{
        color: #ED5C18;
    }


    .subheading {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
        color: #fff;
        letter-spacing: 0px;
    }

    .bg-pricing-halloween {
        background-color: #FEF9F4;
    }

    .annual-billing-btn {
        background-color: #ED5C18;
        color: #fff;
        padding: 10px 20px;
        border-radius: 6px;
        font-weight: 500;
        text-decoration: none;
    }

    .pricing-card {
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: #fff;
        text-align: center;
        padding: 40px 20px;
        transition: all 0.3s ease;
        height: 100%;
    }

    .pricing-card:hover {
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    }

    .pricing-card h4 {
        color: #ED5C18;
        font-weight: 700;
    }

    .pricing-card .price {
        font-size: 40px;
        font-weight: 700;
        color: #243746;
    }

    .pricing-card .old-price {
        text-decoration: line-through;
        text-decoration-color: #CC2E36;
        color: #9c9c9c;
        font-size: 22px;
    }

    .pricing-card.popular .old-price {
        text-decoration: line-through;
        text-decoration-color: #CC2E36;
        color: #fff;
        font-size: 22px;
    }

    .pricing-card-yearly {
        text-decoration: line-through;
        text-decoration-color: #CC2E36;
        color: #9c9c9c;
        font-size: 22px;
    }

    .pricing-card-yearly-p {
        font-size: 24px;
    }

    .pricing-card-yearly-popular {
        text-decoration: line-through;
        text-decoration-color: #CC2E36;
        color: #fff;
        font-size: 22px;
    }

    .pricing-card-yearly-popular-p {
        font-size: 24px;
    }

    .pricing-card p {
        color: #6b778c;
        margin-bottom: 8px;
    }

    .btn-outline-dark {
        border-radius: 6px;
        padding: 10px 25px;
        font-weight: 500;
    }

    /* Highlight Card (Premium) */
    .pricing-card.popular {
        background-color: #ED5C18;
        color: #fff;
        position: relative;
        overflow: hidden;
    }

    .pricing-card.popular .top-label {
        background-color: #243746;
        color: #fff;
        font-weight: 600;
        padding: 8px 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin: -40px -20px 20px -20px;
    }

    .pricing-card.popular h4,
    .pricing-card.popular .price,
    .pricing-card.popular p {
        color: #fff;
    }

    .pricing-card.popular .btn-outline-dark {
        background-color: #fff;
        border: none;
        color: #243746;
    }

    .subheading-touchless {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
        color: #3f4450;

    }

    #Choose span {
        font-size: 16px;
        color: #6b778c;
    }

    /* --------------------------- */

    .halloween-offer {
        background-color: #ED5C18;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: #fff;
        text-align: center;
        padding: 80px 0px;
        position: relative;
        overflow: hidden;
    }

    .halloween-offer h2 {
        font-weight: 700;
        font-size: 36px;
        margin-bottom: 25px;
        color: #fff;
    }

    .halloween-offer p {
        font-size: 16px;
        color: #fff;
        margin-bottom: 15px;
    }

    .halloween-offer .date-badge {
        background-color: #fff;
        color: #ED5C18;
        border-radius: 5px;
        padding: 3px 8px;
        font-weight: 600;
        display: inline-block;
    }

    .halloween-offer .btn-offer {
        display: inline-block;
        margin-top: 25px;
        background: #fff url('images/btn-icon.png') no-repeat right 15px center;
        /* 🧡 Replace with button image if needed */
        background-size: 20px;
        border-radius: 6px;
        border: none;
        padding: 12px 45px;
        font-weight: 600;
        color: #243746;
        font-size: 16px;
        text-decoration: none;
        transition: all 0.3s ease;
    }

    .halloween-offer .btn-offer:hover {
        background-color: #243746;
        color: #fff;
    }



    @media (max-width: 768px) {
        .halloween-offer {
            padding: 70px 15px;
        }

        .halloween-offer .witch {
            right: 30px;
            width: 70px;
        }

        .halloween-offer .pumpkin-left,
        .halloween-offer .pumpkin-right {
            width: 80px;
        }
    }
</style>
{{end}}