{{ define "main" }}
<div class="container pagebanneres" style="border: 1px solid #fff;">
    <div class=" text-center">
        <h1>Efficient and Secure: Vizitor's Digital Solution Enhances <span class="Digitize">Visitor Management for Snapdeal</span> </h1>
        <p>Vizitor has enabled Snapdeal to create a safer and more efficient workplace, while improving the overall visitor experience</p>
        <p><br>Manish IT Manager, Snapdeal</b>
        </p>
    </div>
    <div class="relative">
        <img src="/images/case-studies/negative-swoop.svg" class="negative-swoop" alt="negative-swoop">
        <img src="/images/case-studies/snap.svg" alt="snap" class="xs-hide sm-hide hero-image">
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
            <h3>Client Overview</h3>
            <p>Snapdeal is one of the largest online marketplace companies in India, serving millions of customers across the country. With over 300,000 sellers and 35 million+ products listed on their platform, Snapdeal is a major player in the e-commerce
                industry in India.</p>
            <h3>The Challenge</h3>
            <p>Snapdeal's offices and warehouses receive a large number of visitors every day, including job applicants, vendors, and business partners. Managing this high volume of visitors and maintaining a record of their check-in and check-out times
                was becoming a major challenge for Snapdeal's security and administrative staff.</p>
            <p>Snapdeal's security team was spending a significant amount of time managing visitors' check-ins manually, leading to long wait times for visitors and affecting their overall experience.</p>
            <p><b>Manish-IT Manager from Snapdeal,  says</b> Vizitor has exceeded all my expectations with its seamless and user-friendly interface. It has revolutionized the way I schedule and manage my appointments, making my life so much more organized
                and efficient. I am truly impressed with its innovative features and highly recommend it to anyone looking for a top-notch appointment management solution.
            </p>
            <h3>The Solution</h3>
            <p>Snapdeal partnered with Vizitor to streamline their visitor management system and create a better experience for their visitors.</p>
            <p>With Vizitor's automated visitor management system, Snapdeal's visitors could easily check-in and check-out of the premises using their smartphones or self-service kiosks. Vizitor's digital solution provided a hassle-free check-in experience
                for visitors while reducing wait times and improving overall efficiency for Snapdeal's security and administrative staff.</p>
            <p>Vizitor also enabled Snapdeal to maintain a digital record of all visitors, making it easier to track visitor activity and ensure compliance with security protocols.</p>
            <h3>The Results</h3>
            <p>Since implementing Vizitor's visitor management system, Snapdeal has experienced significant improvements in their overall visitor management process, including</p>
            <ul style="color: #687888;list-style: disc;">
                <li>Faster check-ins for visitors</li>
                <li>Reduced wait times and improved visitor experience</li>
                <li>Enhanced security and compliance with security protocols</li>
                <li>Streamlined administrative processes and reduced workload for staff</li>
            </ul>
            <p>“Vizitor has enabled Snapdeal to create a safer and more efficient workplace, while improving the overall visitor experience.” <b>- Snapdeal IT Manager</b></p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            {{- partial "form-get-a-free-trial.html" . -}}
        </div>
    </div>
</div>

{{end}}