{{ define "main" }}

<section>
    <div class="container">
        <div class="row">
            <div class="main_des_third_contant">
                <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <div>
                        <h1 class="center-content">visitor management system for windows</h1>
                    </div>
                    <div>
                        <p>How many visitors are present in your office right now? How many did you have yesterday? What about on 30th December, 2018? You probably struggled to answer the last question, if not the former one. And if you could answer them
                            all, you likely had to go through several sheets in your manual logbook that holds your visitor’s details or find an old Excel spreadsheet in your computer and manually count the entries.
                        </p>
                        <p>If you are facing such challenges then we have a solution just for you! Vizitor, a highly customisable visitor management system that allows you to modernise your front desk by giving your guests the welcome they deserve, is capable
                            of being installed in every device, be it iPad, Windows or Android. </p>
                        <p>Windows is an operating system that is utilised by a large section of the society because it is affordable, easy to use and customizable to a certain extent. Hence, a windows based Vizitor can be be of great use and public service.
                            It offers a simple, smart and secure visitor experience by making the process of registration easy and quick.</p>
                        <p><span>&#8226;</span> It is equipped with features that saves time of the receptionist and other employees through visitor’s pre-registration and windows based self-registration process.</p>
                        <p><span>&#8226;</span> Vizitor installed in a windows based device also helps in making the organization’s premise secure by capturing the visitor’s photo and registering their verified phone number. </p>
                        <p><span>&#8226;</span> Installing a visitor management software such as Vizitor in your Windows device, minimises the requirement of hardware since it leverages the power of cloud.</p>
                        <p>The Vizitor ecosystem consists of the Vizitor Terminal that sits at your reception area for guests to check-in, uses apps for your employees and visitors for pre-registrations & superfast check-ins, and the Vizitor Dashboard for
                            your admin team to keep a bird’s eye view on visitor movement. </p>
                        <p>Along with photo capturing and mobile number verification, Vizitor also allows you to print badges of guests, visiting your premise. Vizitor terminals can be customized to reflect your brand identity and create a positive first
                            impression on your visitors. Apart from all these features, it sends an instant notification to the host as the visitor registers on the device. </p>
                        <p>It is equipped with a real time dashboard tracking every visitors’ movement in your premise. It also sends an emergency notification to all the hosts and visitors in case of an emergency.</p>
                        <p>With Vizitor you can maximise your team’s efficiency by powering up your guest management system and windows based mobile app that allows your employees, receptionists and visitors to be in sync at all time. </p>
                        <p>Hence, a visitor management system that works perfectly in the most used operating system maximising your organization’s efficiency along with minimising the time required can upgrade your guest management system to another level
                            and should definitely be installed at your reception desk. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div>{{- partial "upgrade.html" . -}}</div>
{{end}}