{{ define "main" }}
<div class="container pagebanneres">
    <div class="row ">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <h1 class="desk">
                <span class="Digitize">Centralised Visitor</span> Dashboard
            </h1>
            <p>Managing manual logbooks and guest entries is difficult for receptionist. It is time consuming and boring process and sometimes can irritate your guests. With the changing world we need to welcome our visitors smoothly without any time wastage.
                <br>Vizitor’s dashboard displays your visitors data on a real-time basis. Get access to this powerful feature to manage multiple locations, configure account setting and many more.</p>
            <div class="bannerbtn mt-4">
                <a href="/signup" class="btn-arrow">Get Started</a>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div>
                <img src="/images/vizitor/dashboard/features--dashboard.png" alt="features--dashboard">
            </div>
        </div>
    </div>
</div>
<div class="container pagesection">
    <div class="row card-deck ">
        <div class="col-md-4 col-sm-4 col-xs-12 card text-center card-shadow">
            <div class="text-center">

                <img src="/images/vizitor/dashboard/real-time-analysis.png" class=" visitor-any " alt="real-time-analysis">
            </div>
            <h6>Real Time <br>Analysis</h6>
            <p>If visitor forgets to check-out or overstays its duration, an automatic alert message is sent to the host, to extend the meeting duration</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 card text-center card-shadow">
            <div class="text-center">

                <img src="/images/vizitor/dashboard/centralised-data.png" class="visitor-any " alt="centralised-data">
            </div>
            <h6 class="htop-tex">Centralised<br> Data</h6>
            <p>With vizitor you can easily manage lengthy visitor logs in ease of a touch. Dashboard accumulates all the guest inputs and displays them on the dashboard together along with other statistics.</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 card text-center card-shadow">
            <div class="text-center">

                <img src="/images/vizitor/dashboard/features--access-anywhere.png" class="visitor-any" alt="features--access-anywhere">
            </div>
            <h6>Access from<br> anywhere</h6>
            <p>You can export the visitor stats in your desired format and can manage visitor’s data for your promotional purposes. Whenever there is an emergency you can open your dashboard and cross check each single detail.</p>
        </div>
    </div>
</div>
<div class="container pagesection">
    <div class="row align-items-center">
        <div>
            <h2 class="center-content desk">Vizitor Dashboard</h2>
            <div class="center-content border-line"></div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div>
                    <h6>Web check-In</h6>
                    <p>Accessible to data that gives you details like Name, Mobile no. Host, Identity card, check In/ Out time and action/check out. Data can be exported in csv file for easy use.
                    </p>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="center-content my-5">
                    <img class="img-shadow" src="/images/vizitor/help/web-check-in.png" alt="web-check-in" />
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div>
                    <h6>Check Out</h6>
                    <p>You can check out visitor from dashboard, by clicking checkout option.</p>
                    <p><b>*Note: On top left there is option for web check-In</b></p>
                    <p><b>Total Visitors:</b> No. of visitors who are all visited your premise for the selected date.</p>
                    <p><b>Checked-In Visitors:</b> No. of visitors who are inside your premises.</p>
                    <p><b>Invitees:</b> Shows data of total Pre-register visitors before they arrive.
                    </p>
                    <p><b>Visitor history:</b> Graphical representation of visitor log for the selected month. It's only visual representation that you can see how many people coming in to your premises as a visitor for an every day in a month.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="row align-items-center">
        <div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div>
                    <h6>Visitor Log</h6>
                    <p>You can monitor the visitor log in real-time for any selected date using visitor log table, edit or modify the details entered by the visitor while check in or check out the visitor.
                    </p>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 section-top">
                <div class="center-content my-5">
                    <img class="img-shadow" src="/images/vizitor/help/visitor-log.png" alt="visitor-log" />
                </div>
            </div>
        </div>
        <div>
            <div class="col-md-12 col-sm-12 col-xs-12 section-top">
                <div>
                    <h6>Employee</h6>
                    <p>This section gives employee directory which enable you to add new employee and export the bulk data.</p>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 section-top">
                <div class="center-content my-5">
                    <img class="img-shadow" src="/images/vizitor/help/employee.png" alt="employee" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <div>
                <h6>Add Employee</h6>
                <p>Click the ADD button from the top left, then enter your employee details in respective fields like name, email, Mobile no. and Department. The name, email and Mobile no.is mandatory and all other fields are optional.</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="center-content">
                <img class="img-shadow" src="/images/vizitor/help/add-employee.png" alt="add-employee" />
            </div>
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="center-content">
                <img class="img-shadow" src="/images/vizitor/help/bulk-import.png" alt="bulk-import" />
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <div>
                <h6>Bulk Import</h6>
                <p>Import the employees as bulk from a CSV file directly to your employee directory. The CSV file which has your all the employees must comply with our guidelines. Click BULK IMPORT icon from the employee's actions to get started with importing.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div>
                <h6>Invitees</h6>
                <p><b>Send Invite</b></p>
                <p><span class="Digitize help-dot">&#8226;</span>Create an invite with admin dashboard, a notification about the meeting will be sent to the visitor and the host.</p>
                <p><span class="Digitize help-dot">&#8226;</span>Click on the Send Invite option, now enter the details about visitor whom you want to invite. Fill up the contact number and click Save to create invite.</p>
            </div>
            <div>
                <p><b>In the Visitor App, follow these steps:</b></p>
                <p><span class="Digitize help-dot">&#8226;</span> Click on Invitee, for those who have been invited by you to your office.They do not need to enter their details again.</p>
                <p><span class="Digitize help-dot">&#8226;</span> Please enter the invitee code received through email and SMS and click Next to check out.</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <div class="center-content">
                <img src="/images/vizitor/help/new-invitee.png" alt="new-invitee" />
            </div>
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div>
            <h6>Devices</h6>
            <p><span class="Digitize help-dot">&#8226;</span>You are accessible to pair the multiple devices. To utilize Visitors, you should have an iPad/tablet, which will be the stand your visitors use when they sign in. In the event that you'd like to
                print guest badge, you'll need a supported badge printer as well.</p>
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12  ">
            <div>
                <h6>Pair your device</h6>
                <p><span class="Digitize help-dot">&#8226;</span>Download vizitor App from Google Play Store or App store</p>
                <p><span class="Digitize help-dot">&#8226;</span>Open the App and type the code to connect
                </p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="center-content">
                <img class="img-shadow" src="/images/vizitor/help/devices.png" alt="devices" />
            </div>
        </div>
    </div>
</div>


<div>{{- partial "upgrade.html" . -}}</div>
{{end}}