{{ define "main" }}
<div id="locations" class="pagebanneres">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h1 class="paint">The Insider Scoop: Insights and Information from Vizitor</h1>
                <p>Dive into the world of Vizitor, where we share our expertise and industry knowledge to help you stay ahead of the curve
                </p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="/images/vizitor/blog-banner.svg" alt="blog-banner" />
            </div>
        </div>
    </div>
</div>
<div class="container mt-4 mb-4 ">
    <div class="row ">
        <div class="col-sm-9 ">
            <h3>Latest News</h3>
        </div>
        <div class="col-sm-3 blog-search">
            {{ partial "search-form.html" . }}
        </div>
    </div>
    <div class="row" id="showresults">
        {{ range (.Paginator 1000).Pages.ByPublishDate.Reverse }}
        <div class="col-lg-4 col-md-6 col-12 phone-fast mt-4 filter {{range .Params.categories}}{{.}} {{end}}">
            <div>
                {{ .Render "li"}}
            </div>
        </div>
        {{ end }}
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>

<script src="https://unpkg.com/lunr/lunr.js"></script>
<script>
    window.store = {
      {{ range where .Pages.ByPublishDate.Reverse "Section" "blog" }}
      "{{ .Permalink }}": {
        "title": {{ .Title | jsonify }},
        "url": "{{ .Permalink }}",
        "image": {{ .Params.image | jsonify }},
        "date": {{ .Date | time.Format "Mon Jan 2 2006" | jsonify }},
        "Description": {{ .Description | jsonify }}
      },
      {{ end }}
    };
</script>
<script>
    function buildCard(item) {
      return '<div class="col-lg-4 col-md-6 col-12 phone-fast mt-4">' +
        '<div class="grids blog-shadow"><div style="background: #FCFCFC;border-radius: 20px;">' +
        '<a href="'+item.url+'" class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100">' +
        '<img class="card-img-top" loading="lazy" src="'+item.image+'" alt="'+item.title+'" />' +
        '<div style="padding: 15px;">' +
        '<h4 class="mt-2 f3 b lh-title mb1 primary">'+item.title+'</h4>' +
        '<p class="mt-2 mid-gray lh-title mb2">'+item.date+'</p>' +
        '<p class="mt-2 mb0">'+item.Description+'</p><br>' +
        '<p class="link b dib black mb0 color5" style="color: #ED5C18;">Know more &rarr;</p>' +
        '</div></a></div></div></div>';
    }

    function displayResults(results, store) {
      var searchResults = document.getElementById('showresults');
      if (results.length) {
        var resultList = '';
        for (var key in store) {
          for (var n in results) {
            if (store[key].title === results[n].ref) {
              resultList += buildCard(store[key]);
            }
          }
        }
        searchResults.innerHTML = resultList;
      } else {
        searchResults.innerHTML = '<div class="noresult">No results found.</div>';
      }
    }

    function showSearchResults() {
      var query = document.getElementById('search-input').value;
      if (query) {
        var idx = lunr(function () {
          this.ref('title');
          this.field('title', { boost: 15 });
          for (var key in window.store) {
            this.add({ title: window.store[key].title, url: window.store[key].url });
          }
        });
        var results = idx.search(query + '*');
        if (results.length === 0) {
          results = idx.search(query);
        }
        displayResults(results, window.store);
      } else {
        var searchResults = document.getElementById('showresults');
        var resultList = '';
        for (var key in window.store) {
          resultList += buildCard(window.store[key]);
        }
        searchResults.innerHTML = resultList;
      }
    }
</script>
{{end}}
