{{ define "main" }}
<div class="container pagebanneres ">
    <h1 class="text-center"><span class="Digitize">Introducing Facial Recognition</span> <br>for Visitor Management System</h1>
</div>

<div class="container pagesection ">
    <h2 class="">Get Recognised Smartly!</h2>
    <p>Facial recognition is one of the most rapidly developing security technologies around, as it enables the fast and precise identification/registration of known individuals, whether in a large crowd or public places. Vizitor is also based on facial
        recognition technology that means, now you can rely on the electronic system. With this feature, visitors can check-in instantly, the system captures the facial details of visitor and stores it in the database. In the next visit, the system will
        match the newly captured facial details with the old stored patterns. If the system finds a match it grants the permission otherwise it denies.</p>
</div>

<div class="container pagesection ">
    <h2 class="">How does it work?</h2>
    <p>Facial Recognition makes it easy for organizations to add an image to the check-in process for visitors, arriving on-site. If a visitor has previously checked-in on-site and authorized the tablet to capture a photo of their face, their facial features
        are instantly recognized, allowing the visitor to avoid multiple check-in screens. Additionally, for unscheduled on-site visitors, the photo capture process inside the tablet is simple and time-effective and can be completed in a flash.</p>
</div>

<div class="container pagesection ">
    <h2 class=""> Benefits of Facial Recognition Feature</h2>
    <div class="mt-5">
        <h5>Improve Security</h5>
        <p>It allows organizations to easily identify and track any new visitors, security teams can work on strategies to increase their focus on other areas of security protocol while the Visitor Management tablet caters to validating and verifying visitors.</p>
    </div>

    <div class="mt-5">
        <h5>Easy Installation</h5>
        <p>With facial recognition being an easy installation procedure. This allows organizations to consolidate visitor logbook data into a centralized platform, improving visibility over the unwanted visitors. </p>
    </div>

    <div class="mt-5">
        <h5>Enhance Accuracy</h5>
        <p>By using highly integrable technology like 3D mapping and deep learning, facial recognition feature is highly reliable and can perform facial comparison analysis in seconds, comparing faces for a wide variety of user verification, Visitors counting,
            and visitor safety use cases. </p>
    </div>


    <div class="mt-5">
        <h5>Highly Effective System</h5>
        <p>The software provides consistent response time regardless of the volume of requests you make. This Application remains consistent, even as your request volume increases to tens of millions of requests. </p>
    </div>

    <div class="mt-5">
        <h5>Increase Brand Image</h5>
        <p>Facial recognition is a great way of enhancing your corporate brand image, creating a powerful first impression for your guests. With its existence, the visitor check-in process has been simplified and made quicker than ever before </p>
    </div>


</div>


<div>{{- partial "upgrade.html" . -}}</div>
{{end}}