{{ define "main" }}
    <div class=" pagebanneres">
        <div class="container">
            <div class="row  align-items-center">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <p><span class="Digitize">MEETING ROOM BOOKING SYSTEM </span></p>
                    <h2 class="bvms-size">Encourage In-person collaboration
                    </h2>
                    <p style="line-height: 30px;">Make the proper use of unused space for your team with the
                        smart meeting room booking system, <br> which eases the process of finding and booking rooms for
                        specific
                        tasks. </p>
                    <div class="mt-5 text-center">
                        <form id="attendanceForm">
                            <input type="email" class="email-input" id="email" name="email"
                                placeholder="Enter your email" required>
                            <input class="btn-try-free" type="submit" value="Try for free">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-------------------->
<div id="bvms">
    <div class="container">
        <div class="row  align-items-center">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <h3 class="bvms-size"> One System for all your <span class="Digitize"> Workplace problems </span></h3>
                <p style="line-height: 30px; "> Establish a workplace that embraces teamwork, sustained by advanced data
                    and productive decisions. Focus on <br> smooth workflow, space usage, and accurate deliverables.
                </p>
            </div>
        </div>
    </div>
</div>
<!------------------------------------>
<div id="bvms2">
    <div class="container ">
        <div class="text-center">
            <p><span class="Digitize"> THE EMPLOYEES SOLUTION </span></p>
            <h3 class="bvms-size"> What is Vizitor Meeting <span class="Digitize"> Room Booking Software? </span></h3>
            <p style="line-height: 30px; ">Employees require assistance in organizing chaotic room management. The
                solution lies in a specialized digital system – Meeting Room Booking Software.</p>
            <p style="line-height: 30px; "> This room scheduling system offers a centralized platform designed to
                streamline the reservation and management of meeting spaces within an organization. It enables employees
                to efficiently schedule, coordinate, and optimize meeting rooms, conference facilities, and other shared
                areas. Employees need help in streamlining chaotic room management.
            </p>
        </div>
        <div class="row card-deck mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <p class="card-text">Provides data and reports <br> on room utilization.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <p class="card-text">Tracks and allocates costs <br> related to room schedulings.
                    </p>
                </div>
            </div>
        </div>
        <div class="row card-deck mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <p class="card-text">Provide 24/7 Access <br> Control
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <p class="card-text">Creates a cohesive <br> and efficient workspace.
                    </p>
                </div>
            </div>
        </div>
        <div class="text-center bannerbtn mt-5">
            <a target="_blank" href="/blog/signing-in-has-never-been-easier-the-benefits-of-visitor-sign-in-system"
                class="btn-arrow"> Read more</a>
        </div>
    </div>
</div>
<!------------------------------->
<div id="bvms">
    <div class="container ">
        <div class="text-center">
            <h3 class="bvms-size"> How Meeting Room Booking Software Works<br> <span class="Digitize"> Easy and
                    Efficient.
                </span></h3>
        </div>
        <div class="row card-deck mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <h4>Find a new meeting room
                    </h4>
                    <p class="card-text" style="line-height: 30px;"> The initial step is to find a meeting room suitable
                        for your team. The
                        specific meeting rooms help in successful meeting conduction. The set up of rooms reflects a
                        serious discussion basis, with a big screen to the line of chairs. According to no of employees
                        for the particular meeting, you can find a suitable room. All you need to do is fill in the room
                        name and choose the number.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <h4>Book a meeting room check-in
                    </h4>
                    <p class="card-text" style="line-height: 30px;">After finding the room, select the date and time for
                        the meeting. You can
                        customise the information for any time in the future too. The secret advantage is that you can
                        add required resources if available for a particular time.
                    </p>
                </div>
            </div>
        </div>
        <div class="row card-deck mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <h4>Check meeting room availability
                    </h4>
                    <p class="card-text" style="line-height: 30px;">The meeting room software works on the availability
                        of rooms. You can view
                        availability on the app. You can check the app on any device and filter the data, time, and
                        capacity according to schedule. Room booking can be revised due to some urgency only through the
                        app.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center">
                <div class="card-body">
                    <h4>Manage user credits
                    </h4>
                    <p class="card-text" style="line-height: 30px;">Admins who manage room booking software can audit
                        user's credits. They can add
                        or remove significant users from system usage. Employees can easily remove their user accounts
                        when they leave an organization. Space management becomes efficient and leads to more thoughtful
                        decisions. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------------------->
<div id="bvms2">
    <div class="container">
        <div class="row  align-items-center">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <p><span class="Digitize"> THE CONVENIENT WAY TO FIND AND BOOK ROOMS THAT WORK FOR EVERYONE.</span></p>
                <h2 class="bvms-size">Vizitor Room Scheduling System Features
                </h2>
                <p style="line-height: 30px;">Reserve meeting rooms from your phones, email plugins, desktops, and room
                    panels.
                </p>
            </div>
            <div class="row mt-5">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="text-center">
                        <h5 class="vizitor-pass-h5 mt-3">Manage Custom Space Booking
                        </h5>
                        <p class="vizitor-pass-h5-p" style="line-height: 30px;">With the help of a room scheduling
                            system, employers can manage
                            their office spaces. The software will update you on unused, vacant, and required spaces.
                            You can just find and book the places which suit you the best. Just check the availability
                            before making any space booking.

                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class=" text-center">
                        <h5 class="vizitor-pass-h5 mt-3">Resources Booking
                        </h5>
                        <p class="vizitor-pass-h5-p" style="line-height: 30px;">Worried about the resources usage that
                            doesn't just justice with
                            their potential. The organization's resources include laptops, projector screens, and
                            meeting rooms that aren’t used sufficiently.
                            You can see the best results if the employees check their usage and availability. They can
                            book resources according to their needs with rightful space management software.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="text-center">
                        <h5 class="vizitor-pass-h5 mt-3">Limitless creative categories
                        </h5>
                        <p class="vizitor-pass-h5-p" style="line-height: 30px;">Room scheduling systems can apply to
                            limitless creative categories.
                            The space utilization is teh primary reason to use the system for desk booking, parking
                            spaces, and Dormitories. You can use the space management software for other categories that
                            suit you.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="text-center">
                        <h5 class="vizitor-pass-h5 mt-3">Smart Booking and availability check
                        </h5>
                        <p class="vizitor-pass-h5-p" style="line-height: 30px;">Simplify your booking experience with
                            our smart scheduling system.
                            The responsive access to space availability ensures a seamless reservation process. Enjoy
                            the convenience of booking directly through the user-friendly app or dashboard. The
                            streamlined process for efficient and hassle-free scheduling.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class=" text-center">
                        <h5 class="vizitor-pass-h5 mt-3">Digitalized user check-in logs
                        </h5>
                        <p class="vizitor-pass-h5-p" style="line-height: 30px;">Digitalized systems are the future, and
                            our technology represents
                            it. The software helps in tracking user check-ins and check-outs for all spaces. It can
                            generate reports on space usage by employees.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!----------------------------->
<div id="bvms">
    <div class="container ">
        <div class="text-center">
            <h3 class="bvms-size">  Benefits of <span class="Digitize"> Room Booking System </span></h3>
            <p class="para_heading">Maximise use of unused office space and easy access to rooms for employees
            </p>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Resource Management
                    </h5>
                    <p class="vizitor-pass-h5-p " style="line-height: 30px;">Some software solutions also allocate
                        resources such as projectors,
                        teleconferencing equipment, and catering services, ensuring that everything needed for the
                        meeting is in place.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Booking and Scheduling
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Employees can easily reserve meeting rooms
                        through a user-friendly
                        interface, specifying the date, time, duration, and additional equipment or services required.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Calendar Integration
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Integration with popular calendar apps like
                        Microsoft Outlook, Google
                        Calendar, or Apple Calendar allows for seamless scheduling and synchronization of meeting
                        bookings.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Real-time Availability
                    </h5>
                    <p class="vizitor-pass-h5-p " style="line-height: 30px;">Users can check the real-time availability
                        of meeting rooms, ensuring
                        they choose a space that suits their needs and is available at the desired time.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Customizable Booking Rules
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Organizations can set rules and policies for
                        room bookings, including
                        booking lead times, maximum reservation durations, and cancellation policies.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Room Layout and Information
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Users can view details about each meeting
                        room, such as capacity,
                        layout, and available amenities, helping them choose the most suitable space for their meeting.
                    </p>
                </div>
            </div>
        </div>
        <div class="text-center bannerbtn mt-5">
            <a target="_blank" href="/signup" class="btn-arrow">Get Started</a>
        </div>
    </div>
</div>
<!------------------------------->
<div id="bvms2">
    <div class="container">
        <div class="row  align-items-center">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <h3 class="bvms-size">Great Organizations Work differently! </h3>
                <p style="line-height: 30px; "> Organizations of any size and industry trust Vizitor for an advanced
                    makeover of workplaces
                </p>
                <p style="line-height: 30px; ">“After Implementing booking software, the workplace has been less
                    chaotic, and conflicts over room booking have drastically narrowed, providing a happy place for
                    staff and employees.”
                </p>
                <p>-Sam Chawla, Digicel </p>
            </div>
        </div>
    </div>
</div>
<!-------------------------------->
<div id="bvms">
    <div class="container ">
        <div class="text-center">
            <h3 class="bvms-size"> What sets us <span class="Digitize"> apart? </span>
            </h3>
            <p>Every organization wants an advanced, reliable, efficient room booking system for smooth workflow. The
                Visitor software fulfills all employee's purposes. Our team has led the industry since 2000 and
                successfully served around 2000 global clients. </p>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <img src="/images/vizitor/space-management/work-diverse.svg" alt="qrcode-f" />
                    <h5 class="vizitor-pass-h5 mt-4">We Work on Diverse Devices</h5>
                    <p class="vizitor-pass-h5-p "> Our space management software works on all your diverse devices,
                        whether iOS or Android; the software works for all.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <img src="/images/vizitor/space-management/customer-support.svg" alt="pen-underline-fill" />
                    <h5 class="vizitor-pass-h5 mt-4">24/7 Customer Support</h5>
                    <p class="vizitor-pass-h5-p">Any query? Vizitor experts will reply
                        to you within minutes and provide you extensive support any time of day.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <img src="/images/vizitor/space-management/0ur-surrond-img.svg" alt="pen-underline-fill" />
                    <h5 class="vizitor-pass-h5 mt-4"> We Value Our Surroundings </h5>
                    <p class="vizitor-pass-h5-p">Vizitor firmly believes in giving back to nature, and with our
                        software, we encourage saving paper drives. </p>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="/www.vizitorapp.com" class="Digitize" style="font-weight: 500; font-size: 22px;"> Choose Vizitor
            </a>
        </div>
    </div>
</div>
<!-- Faq Section -->
<div id="bvms2">
    <div class="container">
        <div class="row">
            <div class="col-md-11 mx-auto">
                <h2 class="mb-5">Frequently Asked Questions</h2>
                <div id="accordion" class="accordion faqaccordion">
                    <div class="faqcard mb-0">
                        {{range $index, $elem := .Site.Data.meetingms.items }}
                        <div class="card-header collapsed" data-toggle="collapse" href="#faq{{$index}}">
                            <a class="card-title">
                                <b>{{.question}}</b>
                            </a>
                        </div>
                        <div id="faq{{$index}}" class="card-body collapse clrmod" data-parent="#accordion">
                            {{.answer | safeHTML}}
                        </div>
                        {{end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Faq Section Ends -->
{{end}}