{{ define "main" }}
<div class="container pagebanneres">
    <div class="row ">
        <div class="col-lg-6">
            <h1> Easily Capture Visitor <span class="Digitize">Photos</span></h1>
            <p>Nowadays, security is the most important factor for any business place. Vizitor provides you the most easiest way to capture your visitor photos. Know your visitors not only by their name but also with facial photograph, you can access visitors
                photos anytime on your dashboard. It provides an added security level to your place. When visitor signs in into vizitor, then it simply captures the photo through front camera of your mobile/tablet that will be displayed later on admin
                dashboard and the visitor badge.</p>

            <div class="bannerbtn mt-4">
                <a href="/signup" class="btn-arrow">Get Started</a>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <img src="/images/vizitor/vms-capturing-photos/vms-capturing-photo.png" alt="vms-capturing-photo">
        </div>

    </div>
</div>

<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div>
                <img src="/images/vizitor/vms-capturing-photos/vms-features.png" alt="vms-features">
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <h6>Visitor Photos</h6>
            <p>Capture Visitor photos while signing in, through your mobile/tablet easily. It will automatically be updated on admin dashboard and make it easy to secure and manage your premises.</p>

            <h6>Recuring Visitor’s Photos</h6>
            <p>Vizitor automatically recognises the recurring visitors through their mobile number and displays their previously uploaded photos. At the time of checking in, visitor can skip the photo capturing step which makes sign-in even fast</p>

            <h6>Accessing Visitors Photos</h6>
            <p>Vizitor allows an admin to export the photos of visitors in their desired format. Accessing visitor photos at anytime anywhere could be effective in case of any emergency or security case.</p>

            <h6>Save the Visitor Photos</h6>
            <p>Vizitor safely stores all the photos of visitors along with their details. It can be used for emergency purpose in future. It helps you to identify the particular visitor present at particular time in your premises.</p>

            <h6>Visitor photos on badges</h6>
            <p>This could benefit host person to identify the visitors when it’s too crowded in building. This will also help to identify recognised visitors in your premises and provide added security at you workplace.</p>
        </div>
    </div>
</div>



<!-- Interested in Knowing more features start -->


<div>{{- partial "upgrade.html" . -}}</div>
{{end}}