{{ define "main" }}
<!--------------------->
<div class=" VisitorManagement-System-in-India">
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-md-12 col-sm-12 col-xs-12 pr-5 text-center">
                <p span class="Digitize">PARKING MANAGEMENT SOFTWARE </p>
                <h1 class="paint "> <span class="Digitize"> Save Time With an Easy Car Park </span> Booking System
                </h1>
                <p style="line-height: 30px;">The better and more convenient way to book car parking spots at your
                    organization.
                </p>
                <div class="mt-5">
                    <form id="attendanceForm">
                        <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email"
                            required>
                        <input class="btn-try-free" type="submit" value="Try for free">
                    </form>
                    <div class="mt-5 Try-free">
                        {{range .Site.Params.apps}}
                        <a href="{{.url}}" target="_blank"><img class="btn-app btn-app-mg phonetop-btn"
                                src="{{.image  | absURL}}" alt="{{.title}}"></a>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------>
<div id="bvms2">
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-md-12 col-sm-12 col-xs-12 " id="bvmsli">
                <h3 class="bvms-size">Park Your Vehicles Hassle-Free </h3>
                <ul>
                    <li><span> Promote the booking of parking spaces to prevent any inconvenience. </span></li>
                    <li><span>Empower staff to plan their week and reserve resources with the Vizitor Pocket app.
                        </span></li>
                    <li><span>Foster fairness and inclusivity by limiting how far in advance employees can book parking
                            spaces.
                        </span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--------------------->
<div id="bvms">
    <div class="container ">
        <div class="text-center">
            <h3 class="bvms-size"> Parking Management System Features </span></h3>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Real-Time Space Availability
                    </h5>
                    <p class="vizitor-pass-h5-p " style="line-height: 30px;">Parking management systems provide
                        real-time information on available parking spaces. Users can access space management data
                        through their devices, quickly locating and reserving parking spots to save time.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Reservation and Booking
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Advanced parking software offers reservation
                        and booking functionalities, enabling users to reserve parking spaces. The software is
                        particularly useful for events, and corporate campuses, ensuring users have a guaranteed parking
                        spot on arrival.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Integration with Access Control
                    </h5>
                    <p class="vizitor-pass-h5-p " style="line-height: 30px;">Many parking management systems integrate
                        with using technologies such as QR codes. Such integration enhances security by ensuring
                        authorized vehicles and individuals can access specific parking areas.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Analytics and Reporting
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Analytics provide insights into parking
                        space utilization, usage times, and overall parking trends. The data is valuable for facility
                        managers to optimize parking layouts, plan for peak times, and make informed decisions.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--------------------->
<div id="bvms2">
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-md-12 col-sm-12 col-xs-12 " id="bvmsli">
                <h3 class="bvms-size">Automation is the Future </h3>
                <p>Still, admin staff are occupied with parking spot issues? Automate your way out using parking
                    management software and manage car parking smartly.</p>
                <ul>
                    <li><span> Make regulations and limit parking access to specific individuals or departments. </span>
                    </li>
                    <li><span>Send reminders for check-ins to prevent valuable parking spaces from being
                            underutilized.</span></li>
                    <li><span>Allocate various features liek wheelchair accessibility according to the employee's
                            needs.</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!----------------------->
<div id="bvms">
    <div class="container">
        <h2>Create a Fair Vehicle Parking In 5 Easy Steps
        </h2>
        <div class="row align-items-center mt-5">
            <div class="col-md-12 col-sm-12 col-xs-12 " id="bvmsli">
                <h3 class="bvms-size">User Registration and Authentication</h3>
                <ul>
                    <li><span> Users register on the parking management system, providing necessary information.
                        </span> </li>
                    <li><span>Access credentials, such as RFID cards, license plate recognition, or mobile app logins,
                            authenticate users. </span></li>
                </ul>
            </div>
        </div>
        <div class="row align-items-center mt-5">
            <div class="col-md-12 col-sm-12 col-xs-12 " id="bvmsli">
                <h3 class="bvms-size">Real-Time Space Availability
                </h3>
                <ul>
                    <li><span> The system constantly monitors and updates real-time information on parking space
                            availability.
                        </span> </li>
                    <li><span>Users can access this information through various interfaces, such as mobile apps and
                            websites.
                        </span></li>
                </ul>
            </div>
        </div>
        <div class="row align-items-center mt-5">
            <div class="col-md-12 col-sm-12 col-xs-12 " id="bvmsli">
                <h3 class="bvms-size">Reservation and Booking </h3>
                <ul>
                    <li><span> Users have the option to reserve parking spaces in advance through the system.
                        </span> </li>
                    <li><span>Reservation details are stored, ensuring a designated space is available for the user upon
                            arrival.
                        </span></li>
                </ul>
            </div>
        </div>
        <div class="row align-items-center mt-5">
            <div class="col-md-12 col-sm-12 col-xs-12 " id="bvmsli">
                <h3 class="bvms-size">Access Control Integration </h3>
                <ul>
                    <li><span> Access control technologies, like RFID cards, are integrated to manage entry and exit
                            points.
                        </span> </li>
                    <li><span>Only authorized vehicles or individuals with valid credentials can access the parking
                            facility.
                        </span></li>
                </ul>
            </div>
        </div>
        <div class="row align-items-center mt-5">
            <div class="col-md-12 col-sm-12 col-xs-12 " id="bvmsli">
                <h3 class="bvms-size">Sensors and Surveillance </h3>
                <ul>
                    <li><span> Sensors, such as occupancy sensors, are deployed to detect the presence of vehicles in
                            parking spaces.</span> </li>
                    <li><span>Surveillance cameras may be used to monitor overall parking facility activity for security
                            purposes. </span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!----------------------->
<div id="bvms2">
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-md-12 col-sm-12 col-xs-12 " id="bvmsli">
                <h3 class="bvms-size">There's always more with Vizitor </h3>
                <p>Want to manage shared resources? We've got you covered!</p>
                <ul>
                    <li><span> Simplify employee bookings, reducing administrative workload with parking management
                            software.</span> </li>
                    <li><span>Efficiently reserve a range of workplace assets, from desks and vehicles to lockers and EV
                            chargers.</span></li>
                    <li><span>Gain comprehensive insights into workplace resource usage for effective future
                            planning.</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--------------------------->
<div id="bvms" style="background: #ED5C18; padding: 80px 0;">
    <div class="container">
        <div class="content ">
            <div class="text-center">
                <h2 class="color-wht mt-5 pb-3">Around 2000 workplaces are already making smarter decisions with Vizitor
                </h2>
                <p class="color-wht">Because we believe in delivering quality products not a trade deal!
                </p>
                <div class=" text-center mt-5">
                    <a href="/signup" class="btn-arrow attendence-white-btn">Try For Free</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------------->
<!-- Faq Section -->
<div id="bvms2">
    <div class="container">
        <div class="row">
            <div class="col-md-11 mx-auto">
                <h2 class="mb-5">Frequently Asked Questions</h2>
                <div id="accordion" class="accordion faqaccordion">
                    <div class="faqcard mb-0">
                        {{range $index, $elem := .Site.Data.faqparking.items }}
                        <div class="card-header collapsed" data-toggle="collapse" href="#faq{{$index}}">
                            <a class="card-title">
                                <b>{{.question}}</b>
                            </a>
                        </div>
                        <div id="faq{{$index}}" class="card-body collapse clrmod" data-parent="#accordion">
                            {{.answer | safeHTML}}
                        </div>
                        {{end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Faq Section Ends -->

{{end}}