{{ define "main" }}
<div class="pagebanneres">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1>Don’t Let Ghost Visitors Haunt Your Workplace!</h1>
                <p class="subheading">Halloween Treat for Smart Workplaces, 40% OFF Vizitor Plans</p>
                <p>Make your workplace secure, professional, and future-ready. Vizitor helps
                    businesses around the world streamline visitor check-ins, deliveries,
                    meetings, and more; with a simple, smart, and touchless experience.</p>

                <div class="mb-4">
                    <a href="/https://buy.stripe.com/9B67sNfSyaWif1D1hYcMM0d"><img src="/images/vizitor/halloween/claim-your-offer.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 ">
                <img src="/images/vizitor/halloween/halloween-offer.png" alt="Halloween Offer" class="img-fluid" />
            </div>
        </div>
    </div>
    <!-- -------------------------2----------------------------- -->
    <div class="bg-pricing-halloween mt-5">
        <div class="container py-5">
            <div class="text-center mb-4">
                <h2>Halloween Special Pricing <br>
                    (After 40% Discount)</h2>
            </div>

            <div class="row justify-content-center mt-5">
                <!-- Starter Plan -->
                <div class="col-md-4 mb-4">
                    <div class="pricing-card">
                        <h4>Starter</h4>
                        <div class="old-price">$45</div>
                        <div class="price">$29</div>
                        <p>Per month</p>
                        <p><strong>300 check-ins /month</strong></p>
                        <p>Billed yearly</p>
                        <p class="pricing-card-yearly-p"><span class="pricing-card-yearly">$540</span> $324</p>
                        <a target="_blank" href="https://buy.stripe.com/14A3cx0XEc0m6v74uacMM0c" class="btn btn-outline-dark mt-3">Pay Now</a>
                    </div>
                </div>

                <!-- Premium Plan -->
                <div class="col-md-4 mb-4">
                    <div class="pricing-card popular">
                        <div class="top-label">Most popular</div>
                        <h4>Premium</h4>
                        <div class="old-price">$90</div>
                        <div class="price">$58</div>
                        <p>Per month</p>
                        <p><strong>1000 check-ins /month</strong></p>
                        <p>Billed yearly</p>
                        <p class="pricing-card-yearly-popular-p"><span class="pricing-card-yearly-popular">$1080</span> $648</p>
                        <a target="_blank" href="https://buy.stripe.com/9B67sNfSyaWif1D1hYcMM0d" class="btn btn-outline-dark mt-3">Pay Now</a>
                    </div>
                </div>

                <!-- Enterprise Plan -->
                <div class="col-md-4 mb-4">
                    <div class="pricing-card">
                        <h4>Enterprise</h4>
                        <div class="price">Contact</div>
                        <p>Ready to assist your<br>enterprise needs?</p>
                        <p><strong>Unlimited visitors</strong></p>
                        <a href="/contact" class="btn btn-outline-dark mt-3">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5">
        <div class="text-center mb-4">
            <h2>Smarter, Simpler, Safer Workplaces Start Here</h2>
            <p>Vizitor’s visitor management software helps modern offices handle check-ins, meetings, and deliveries
                without manual logs. <br> Go touchless, stay compliant, and protect your workplace with ease.
            </p>
        </div>
        <div class="row mt-5">
            <div class="col-md-3 col-sm-6 text-center">
                <img src="/images/vizitor/halloween/Touchless Visitor Check-Ins.png" alt="Touchless Visitor Check-Ins">
                <p class="subheading-touchless">Touchless Visitor Check-Ins</p>
                <p class="mt-1">Fast, QR-based, and secure.</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <img src="/images/vizitor/halloween/Photo & ID Capture.png" alt="Photo & ID Capture">
                <p class="subheading-touchless">Photo & ID Capture</p>
                <p class="mt-1"> Keep verified digital records.</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <img src="/images/vizitor/halloween/Instant Host Notifications.png" alt="Instant Host Notifications">
                <p class="subheading-touchless">Instant Host Notifications</p>
                <p class="mt-1">Real-time alerts for every guest</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <img src="/images/vizitor/halloween/Centralized Dashboard.png" alt="Centralized Dashboard">
                <p class="subheading-touchless">Centralized Dashboard</p>
                <p class="mt-1">Manage multiple offices globally.</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-3 col-sm-6 text-center">
                <img src="/images/vizitor/halloween/Pre-Registration.png" alt="Pre-Registration">
                <p class="subheading-touchless">Pre-Registration</p>
                <p class="mt-1">Speed up entry with smart invites.</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <img src="/images/vizitor/halloween/Badge Printing.png" alt="Badge Printing">
                <p class="subheading-touchless">Badge Printing</p>
                <p class="mt-1"> Branded visitor passes.</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <img src="/images/vizitor/halloween/Analytics & Reports.png" alt="Analytics & Reports">
                <p class="subheading-touchless">Analytics & Reports</p>
                <p class="mt-1">Track visits, trends, and compliance.</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <img src="/images/vizitor/halloween/Cloud-Based.png" alt="Cloud-Based">
                <p class="subheading-touchless">Cloud-Based</p>
                <p class="mt-1">Access data anytime, anywhere.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">{{- partial "clients.html" . -}}</div>

    <!-- <section id="Choose" class="my-5">
        <div class="container">
            <div class="text-center">
                <h2>Why Businesses Choose Vizitor</h2>
                <p class="subtext">Smart | Simplified | Seamless</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-sm-6 mt-5">
                    <div class="feature-item">
                        <img src="/images/vizitor/halloween/feature1.png" alt="Feature 1">
                        <span>Easy setup, no coding required.</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 mt-5">
                    <div class="feature-item">
                        <img src="/images/vizitor/halloween/feature1.png" alt="Feature 1">

                        <span>Custom branding and digital badges.</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 mt-3">
                    <div class="feature-item">
                        <img src="/images/vizitor/halloween/feature1.png" alt="Feature 1">

                        <span>Real-time analytics and security compliance.</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 mt-3">
                    <div class="feature-item">
                        <img src="/images/vizitor/halloween/feature1.png" alt="Feature 1">

                        <span>Integrates with access control and communication systems.</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 mt-3">
                    <div class="feature-item">
                        <img src="/images/vizitor/halloween/feature1.png" alt="Feature 1">
                        <span>Integrates with access control and communication systems.</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">

                </div>
            </div>
        </div>
    </section> -->
</div>
 <div class="halloween-offer">
        <div class="container position-relative">
            <h2>Limited-Time Offer, Claim Before It Vanishes!</h2>
            <p>Halloween Offer Ends <span class="date-badge">November 5, 2025</span></p>
            <p>Activate your plan anytime before <span class="date-badge">January 31, 2026</span></p>
            <p>Lock your 40% discount now and transform your workplace experience;<br>
                no tricks, only smart check-ins.</p>
        </div>
    </div>
<style>
    .subheading {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 20px;
        color: #687888;
        letter-spacing: 0px;
    }

    .bg-pricing-halloween {
        background-color: #FEF9F4;
    }

    .annual-billing-btn {
        background-color: #ED5C18;
        color: #fff;
        padding: 10px 20px;
        border-radius: 6px;
        font-weight: 500;
        text-decoration: none;
    }

    .pricing-card {
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: #fff;
        text-align: center;
        padding: 40px 20px;
        transition: all 0.3s ease;
        height: 100%;
    }

    .pricing-card:hover {
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    }

    .pricing-card h4 {
        color: #ED5C18;
        font-weight: 700;
    }

    .pricing-card .price {
        font-size: 40px;
        font-weight: 700;
        color: #243746;
    }

    .pricing-card .old-price {
        text-decoration: line-through;
        text-decoration-color: #CC2E36;
        color: #9c9c9c;
        font-size: 22px;
    }

    .pricing-card.popular .old-price {
        text-decoration: line-through;
        text-decoration-color: #CC2E36;
        color: #fff;
        font-size: 22px;
    }

    .pricing-card-yearly{
        text-decoration: line-through;
        text-decoration-color: #CC2E36;
        color: #9c9c9c;
        font-size: 22px;
    }

    .pricing-card-yearly-p{
        font-size: 24px;
    }

     .pricing-card-yearly-popular{
        text-decoration: line-through;
        text-decoration-color: #CC2E36;
        color: #fff;
        font-size: 22px;
    }

    .pricing-card-yearly-popular-p{
        font-size: 24px;
    }

    .pricing-card p {
        color: #6b778c;
        margin-bottom: 8px;
    }

    .btn-outline-dark {
        border-radius: 6px;
        padding: 10px 25px;
        font-weight: 500;
    }

    /* Highlight Card (Premium) */
    .pricing-card.popular {
        background-color: #ED5C18;
        color: #fff;
        position: relative;
        overflow: hidden;
    }

    .pricing-card.popular .top-label {
        background-color: #243746;
        color: #fff;
        font-weight: 600;
        padding: 8px 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin: -40px -20px 20px -20px;
    }

    .pricing-card.popular h4,
    .pricing-card.popular .price,
    .pricing-card.popular p {
        color: #fff;
    }

    .pricing-card.popular .btn-outline-dark {
        background-color: #fff;
        border: none;
        color: #243746;
    }

    .subheading-touchless {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
        color: #3f4450;

    }

    #Choose span {
        font-size: 16px;
        color: #6b778c;
    }

    /* --------------------------- */

    .halloween-offer {
        background-color: #ED5C18;
        background-image: url('/images/vizitor/halloween/halloween-bg.svg');
        /* 🎃 Replace with your background image */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: #fff;
        text-align: center;
        padding: 160px 0px;
        position: relative;
        overflow: hidden;
    }

    .halloween-offer h2 {
        font-weight: 700;
        font-size: 36px;
        margin-bottom: 25px;
        color: #fff;
    }

    .halloween-offer p {
        font-size: 16px;
        color: #fff;
        margin-bottom: 15px;
    }

    .halloween-offer .date-badge {
        background-color: #fff;
        color: #ED5C18;
        border-radius: 5px;
        padding: 3px 8px;
        font-weight: 600;
        display: inline-block;
    }

    .halloween-offer .btn-offer {
        display: inline-block;
        margin-top: 25px;
        background: #fff url('images/btn-icon.png') no-repeat right 15px center;
        /* 🧡 Replace with button image if needed */
        background-size: 20px;
        border-radius: 6px;
        border: none;
        padding: 12px 45px;
        font-weight: 600;
        color: #243746;
        font-size: 16px;
        text-decoration: none;
        transition: all 0.3s ease;
    }

    .halloween-offer .btn-offer:hover {
        background-color: #243746;
        color: #fff;
    }

 

    @media (max-width: 768px) {
        .halloween-offer {
            padding: 70px 15px;
        }

        .halloween-offer .witch {
            right: 30px;
            width: 70px;
        }

        .halloween-offer .pumpkin-left,
        .halloween-offer .pumpkin-right {
            width: 80px;
        }
    }
</style>
{{end}}