{{ define "main" }}
<div class="container pagebanneres">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div>
                <h1 class="desk">
                    Reception Management
                    <br />
                    <span class="Digitize">System for Hospital</span>
                </h1>
            </div>
            <p>Hospitals have complex security and operational needs. Hospital premises serve hundreds and thousands of patients and their visitors every day. To manage these visitors and patients at the reception area with the paper-based system is basically
                a very tedious and nonsecure task. </p>
            <p>The visitor management system is one way to manage these visitors at the reception area i.e. With the advancement in technology reception management systems are enabling a contactless visitor check-in experience, by replacing paper logbooks.
                The visitor management system makes managing visitor’s check-ins easy and secure for Hospitals.</p>
            <br />
            <div class="bannerbtn mt-4">
                <a href="/signup" class="btn-arrow">Get Started</a>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="center-content">
                <img src="/images/vizitor/hospitals/hospitals-header.png" alt="hospitals-header" />
            </div>
        </div>
    </div>
</div>
<div class="container pagesection">
    <div class="center-content">
        <h2>How a Digital Visitor Management System can help the Hospital reception area?
        </h2>
        <p>Many hospitals in India still use a paper-based system for managing visitors. The dimensions and complexity of security and operational challenges the hospitals face due to this paper-based system make it imperative that they need a strong and
            efficient hospital operations management system in place. One such solution is a digital visitor management software for hospitals to make sure security within the hospital facility is efficient. Replacing paper registers or semi-automated
            systems that need high maintenance hardware the digital VMSs are the future. However, its adoption across the healthcare industry, mainly in India, has not yet begun.
        </p>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 mt-5">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <img src="/images/vizitor/in-india/Survey-analysis/compliance-regulations.png" alt="compliance-regulations" class="promotion-img">
            <h3>Managing Visitors</h3>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <p>Since hospitals receive a lot of visitors on a day to day basis, it becomes imperative for hospital security and facility managers to possess a track of visitors on a daily basis.</p>
            <p><span class="Digitize help-dot">•</span> A visitor management system also recognizes different categories of visitors and captures maximum visitor data alongside visitor photos and standard details like email id and phone numbers, within seconds.
            </p>
            <p><span class="Digitize help-dot">•</span>This way, hospitals can prevent unlawful activities on the premises. All records are accessible on a single dashboard and may be viewed in real-time also.</p>
            <p><span class="Digitize help-dot">•</span>Another additional security measure you get with VMS is that the software is definitely scalable to many locations and these locations can be managed from one location or dashboard.</p>
            <p><span class="Digitize help-dot">•</span>It can assist you schedule appointments via the dashboard you can also send alerts and notifications to the host and therefore the visitor. Making the whole visitor process seamless.</p>
            <p><span class="Digitize help-dot">•</span>It also can send alerts in case of an emergency like an earthquake or evacuation. You can notify all the visitors to vacate the building as soon as possible.</p>
            <p><span class="Digitize help-dot">•</span>This comes extremely handy especially when hospitals in seismically active areas are deploying quake-ready technology to stay them safe in an emergency.</p>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 mt-5">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <img src="/images/vizitor/in-india/Survey-analysis/brand-image.png" alt="brand-image" class="promotion-img">
            <h3>Improve your Hospital’s Brand & Reputation</h3>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <p>Having a visitor management Software at the front desk enables automated check-in processes which result in a decrease within the pressure of handling visitors, eventually leading to building the reputation and brand image of hospitals, which
                is important for highly competitive hospital industry.</p>
            <p><span class="Digitize help-dot">•</span>A good system can create mutual dependency and trust between the hospital management and visitors. Also, the system will impress visitors which could directly or indirectly affect your brand reputation.</p>
            <p><span class="Digitize help-dot">•</span>Visitors understand that your hospital is more concerned about visitor security and also about hospital management.</p>
            <p><span class="Digitize help-dot">•</span>Naturally, it builds mutual trust between the visitors and hospital management, and also it results in building a brand reputation within the visitor’s mind.</p>

        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 mt-5">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <img src="/images/vizitor/in-india/Survey-analysis/Boost-your-office-efficiency.png" alt="Boost-your-office-efficiency" class="promotion-img">
            <h3>Improve Work Efficiency and Patient Satisfaction</h3>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <p>According to a recent survey, 45% of individuals said they prefer to have a VMS for his or her organization to enhance work efficiency.</p>
            <p><span class="Digitize help-dot">•</span>A sophisticated visitor app has advanced self-service functions. Such a system offers a patient or the patient attendant the power to feature his or her own list of Visitors to the system.</p>
            <p><span class="Digitize help-dot">•</span>The visitors can then get automatic access to go to the patient during visiting hours.</p>
            <p><span class="Digitize help-dot">•</span>The system also enables the patient or the attendant to spot someone as an unwanted visitor. This empowers the patient and goes an extended way in enhancing patient satisfaction.</p>
            <p><span class="Digitize help-dot">•</span>Self-registration software can lessen the burden on hospital receptionists who are usually overburdened with managing visitors.</p>
            <p><span class="Digitize help-dot">•</span> The modern digital visitor management system enables visitors to manually enter their details and schedule the appointment with doctors and provides a seamless experience for the visitors.</p>
            <p><span class="Digitize help-dot">•</span> The QR code-based visitor id within the VMS gives a seamless check-in experience for the visitors.</p>
            <p><span class="Digitize help-dot">•</span>The self-registration visitor management system is an efficient way of handling visitors, especially, pre-registered visitors, and can reduce the manual check-ins that receptionists handle.</p>
            <p><span class="Digitize help-dot">•</span>Having a VMS at your front desk can reduce pressure on hospital receptionists who are mostly overburdened by managing visitors thereby improving their work efficiency by leaps and bounds.</p>
        </div>
    </div>
</div>

<div class="container pagesection">
    <h2 class="center-content desk">How does the visitor management system provide security at the hospital reception area from the COVID-19?</h2>
    <div class="center-content border-line"></div>
    <div class="row cardindex mt-5">
        <div class="col-md-4 col-sm-4 col-xs-12  center-content">
            <div class="center-content mb-3">
                <img src="/images/vizitor/hospitals/health-screening.png" class="pricingimg2 cardimg" alt="health-screening" />
            </div>
            <a href="/visitor-covid-screening" target="_blank" rel="canonical">
                <h6 class="vizitorpass">
                    screening
                    <br />questionnaires
                </h6>
            </a>
            <p>Vizitor allows healthcare screening questions verbally rather than using the tab. Creating custom fields relevant to health information about the visitor.</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12  center-content">
            <div class="center-content mb-3">
                <img src="/images/vizitor/hospitals/NDA.png" class="pricingimg2 imgtop-text cardimg" alt="NDA" />
            </div>
            <a href="/visitor-management-nda" target="_blank" rel="canonical">
                <h6 class="htop-tex vizitorpass">
                    Digital Non Disclosure
                    <br />Agreement (NDA’s)
                </h6>
            </a>
            <p>You can send invitation emails to visitors with attached NDAs to check in advance or other agreements which may include health and safety rules or precautions.</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12  center-content">
            <div class="center-content mb-3">
                <img src="/images/vizitor/hospitals/instant-alerts1.png" class="pricingimg2 cardimg" alt="instant-alerts1" />
            </div>
            <a href="/instant-notification" target="_blank" rel="canonical">
                <h6 class="vizitorpass">
                    Host
                    <br />Notification
                </h6>
            </a>
            <p>Send notification to hosts with information about visitor's health and travel history, to require necessary precautions. The visitor management system sends an alert to the host about the infected person.</p>
        </div>
    </div>
</div>


<div>{{- partial "upgrade.html" . -}}</div>
{{end}}