{{ define "main" }}force
<!----------------------------------------------------------------->
<div>
    <div class="container pagebanneres">
        <div class="row align-items-center">

            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <h1><span class="Digitize">Revolutionize Patient Flow  </span>in Your Healthcare Facility</h1>
                <div>
                    <p>Long wait times and crowded waiting rooms can create frustration for patients and staff alike. At Vizitor, we understand the importance of a smooth patient experience. That's why we offer a state-of-the-art queue management system designed specifically for healthcare facilities.
                    </p>
                </div>
                <div class="bannerbtn Try-free mb-3 ">
                    <a href="/demo" class="btn-arrow">Book a demo</a>
                    <a href="/signup" class="btn btn-outline-danger">Request a free trial</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="/images/vizitor/Retail-3.png" alt="Retail-3" />
            </div>
        </div>
    </div>
    <!---------------------------------------------->
    <div id="bvms2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-6 col-xs-12 center-content">
                    <img src="/images/vizitor/delivery-management/effortless-img.png" alt="effortlessly_manage_packages" />
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 " id="Delivery">
                    <h3 class="bvms-size">Streamlined Patient Flow from Check-In to Checkout </h3>
                    <ul>
                        <li>Simplified Check-In: Patients can check in remotely or on-site using kiosks, eliminating long lines at the reception desk.
                        </li>
                        <li>Real-Time Queue Updates: Patients receive real-time updates on their estimated wait time, reducing anxiety and improving the waiting room experience.
                        </li>
                        <li>Department-Specific Queues: Distribute patients to specific departments efficiently, ensuring faster service and shorter wait times.
                        </li>
                        <li>Flexible Queue Management: Offer appointment scheduling and walk-in options to accommodate all patient needs.
                        </li>
                        <li>Priority Management: Prioritize urgent cases and ensure timely care for critical patients.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- ----------------------------------------- -->

    <div id="bvms">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-6 col-xs-12 " id="Delivery">
                    <h3 class="bvms-size">Benefits for Both Patients and Staff
                    </h3>
                    <ul>
                        <li>Reduced Patient Wait Times: Create a more positive experience for patients by minimizing frustration and stress.</li>
                   <li>Improved Patient Flow: Optimize patient flow throughout the facility, leading to shorter overall visit times.</li>                
                     <li>Increased Staff Efficiency: Free up staff time by streamlining check-in and queue management processes.
                    </li> 
                    <li>Enhanced Patient Communication: Keep patients informed with real-time queue updates and progress notifications.
                    </li>
                    <li>Data-Driven Insights: Gain valuable data on patient flow to improve scheduling and resource allocation.
                    </li>
    </ul>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 center-content">
                    <img src="/images/vizitor/delivery-management/delivery-empolyes-img.png" alt="3d-delivery" />
                </div>
            </div>
        </div>
    </div>
    <!-- ----------------------------------------------- -->
    <div class="pagesection">
        <div style="background: #ED5C18; padding: 80px 0;">
            <div class="container">
                <div class="content ">
                    <div class="text-center">
                        <h2 class="color-wht mt-5 pb-3">Transform Your Patient Experience Today!
                        </h2>
                        <p class="color-wht text-center" style="line-height: 30px;">Contact Vizitor to learn more about our innovative queue management system.<BR> Let's create a more efficient and patient-centered experience in your healthcare facility.


                        </p>
                        <div class=" text-center mt-5">
                            <a href="/signup" class="btn-arrow attendence-white-btn">Try For Free</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- --------------------------------- -->
    <div id="bvms" class="container ">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h3 class="mb-5 bvms-size">A Perfect Fit for 
                    <span class="Digitize">All Healthcare Facilities</span> 
                </h3>
                <p>Our queue management system offers a flexible solution for various healthcare settings, including:
                </p>
                <!-- --1-- -->
                <div>
                    <div class="right-btn">
                        <div>
                            <img src="/images/vizitor/bvm/1.svg" alt="1" />
                        </div>
    
                    </div>
                    <div>
                        <p class=" display-flex">Hospitals and Clinics </p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- --2-- -->
                <div class="mt-4">
                    <div class="right-btn">
                        <div>
                            <img src="/images/vizitor/bvm/2.svg" alt="1" />
                        </div>
    
                    </div>
                    <div>
                        <p class=" display-flex">   Urgent Care Centers
                        </p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- --3-- -->
                <div class="mt-4">
                    <div class="right-btn">
                        <div>
                            <img src="/images/vizitor/bvm/3.svg" alt="1" />
                        </div>
    
                    </div>
                    <div>
                        <p class=" display-flex">Specialty Practices</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- --4-- -->
                <div class="mt-4">
                    <div class="right-btn">
                        <div>
                            <img src="/images/vizitor/bvm/4.svg" alt="1" />
                        </div>
    
                    </div>
                    <div>
                        <p class=" display-flex">Outpatient Facilities
                        </p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- --5-- -->
                <div class="mt-4">
                    <div class="right-btn">
                        <div>
                            <img src="/images/vizitor/bvm/5.svg" alt="1" />
                        </div>
    
                    </div>
                    <div>
                        <p class=" display-flex">Dental Offices
                        </p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- ---- -->
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <img class="center-content" src="/images/vizitor/workspace-img.svg" alt="istockphoto11" />
            </div>
        </div>
    </div>
        <!-- -------------------------------------------- -->
        <div id="bvms2">
            <div class="container">
                <div class="text-center">
                    <h3 class="bvms-size"> Why Choose <span class="Digitize"> for visitor ?</span></h3>
                </div>
                <div class="row card-deck mt-5">
                    <div class="col-md-4 col-sm-4 col-xs-12 card">
                        <div class="card-body">
                            <p class="digital-visitor">Patient-Centric Design</p>
                            <p class="card-text">Our system prioritizes patient comfort and convenience.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 card">
                        <div class="card-body">
                            <p class="digital-visitor">HIPAA Compliant</p>
                            <p class="card-text">Ensure patient data security with a HIPAA-compliant solution.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 card">
                        <div class="card-body">
                            <p class="digital-visitor">Scalable and Customizable
                            </p>
                            <p class="card-text">Adapt the system to your specific facility needs and workflows.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row card-deck mt-5">
                    <div class="col-md-4 col-sm-4 col-xs-12 card">
                        <div class="card-body">
                            <p class="digital-visitor">Integration with Existing Systems
                            </p>
                            <p class="card-text">Seamlessly integrate with your electronic health records (EHR) and other healthcare software.    
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 card">
                        <div class="card-body">
                            <p class="digital-visitor">Dedicated Support
                            </p>
                            <p class="card-text"> Our team is committed to providing ongoing support to ensure your success.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 card">
                        <div class="card-body">
                            <p class="digital-visitor">Meet compliance Needs</p>
                            <p class="card-text">Simplify compliance requirements related to visitors with Vizitor’s automated cloud visitor system management
                            </p>
                        </div>
                    </div>
                </div>
                <div class="text-center bannerbtn mt-4">
                    <a target="_blank" href="/blog/signing-in-has-never-been-easier-the-benefits-of-visitor-sign-in-system" class="btn-arrow"> Read more</a>
                </div>
            </div>
        </div>
    
{{end}}