{{ define "main" }}
<div class="container pagebanneres ">
    <div class="center-content ">
        <h1>Disclaimer</h1>
    </div>
    <div class="row">
        <p> To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website/application and their use.We will not be liable or responsible for any failure to perform, or delay in performance
            of, any of our obligations that are caused by events outside our reasonable control.
            <br> Nothing in this disclaimer will:
            <br> -Limit or exclude our or your liability for death or personal injury resulting from negligence;
            <br> -Limit or exclude our or your liability for fraud or fraudulent misrepresentation;
            <br> -Limit any of our or your liabilities in any way that is not permitted under applicable law;
            <br> -Exclude any of our or your liabilities that may not be excluded under applicable law.</p>
        <br>
        <p>Vizitor shall make reasonable efforts to make the Platform, Website and the functions and features available at all times. However we make no warranty that the Platform or Website shall meet your requirements, be uninterrupted, timely, secure
            or error free. We do not make any warranty as to the results that may be obtained from the use of the functions and features or as to the accuracy, reliability and/or quality of the Vizitor Content.</p>
    </div>
</div>

<div>{{- partial "upgrade.html" . -}}</div>
{{end}}