{{ define "main" }}
<div>
    <div class="container pagebanneres">
        <div class="row align-items-center">

            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <h1><span class="Digitize">Wait No More!</span> Queue Management System for Enhanced Customer Experience</h1>
                <div>
                    <p>Shorten wait times and improve customers' waiting experience with an intelligent customer queue management system.</p>
                </div>
                <div class="bannerbtn Try-free mb-3 ">
                    <a href="/demo" class="btn-arrow">Book a demo</a>
                    <a href="/signup" class="btn btn-outline-danger">Request a free trial</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="/images/vizitor/Retail-3.png" alt="Retail-3" />
            </div>
        </div>
    </div>
    <div class="container-fluid">{{- partial "clients.html" . -}}</div>
    <!-- ----------------------------- -->
    <div class="Visitor-Management-System ">
        <div class="container ">
            <div class="row align-items-center">
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <h2 class="color-wht">Customer Satisfaction with Streamlined Queue Management</h2>
                    <p class="color-wht ">The <b>Queue management solutions</b> can help businesses overcome the universal frustration of waiting in line. Vizitor's advanced queue management options provide various solutions. From simple ticketing to customized customer journey
                        platforms seamlessly integrating with a business's operations. By improving the waiting experience, companies can keep their customers happy and increase their profits.</p>
                    <div class="mt-5">
                        <a href="/signup" class="btn-arrow bvms-white-btn">Try for free</a>
                    </div>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <img class="mb-5" src=" /images/vizitor/multiracial-friends.png" alt="multiracial-friends" style="border-radius: 20px;">

                </div>
            </div>
        </div>
    </div>

    <!-- --------------------------------------------------------- -->
    <!-- <div id="Benefits">
        <div class="container ">
            <div class="text-center">
                <h2><span class="Digitize">The Power of Data</span></h2>
                <p>Queue Management System Stats You Need to Know</p>
            </div>
            <div class="row text-center mt-5">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h2>50%</h2>
                    <p>Reduces wait times</p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h2>20%</h2>
                    <p>Increases customer satisfaction</p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h2>30%</h2>
                    <p>Improves staff efficiency</p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h2>70%</h2>
                    <p> wait times</p>
                </div>
            </div>
        </div>
    </div> -->

    <!-- -------------------------------------------- -->
    <div id="bvms2">
        <div class="container ">
            <div class="text-center">
                <h3 class="bvms-size"> Transform Your Waiting Room <br><span class="Digitize"> Experience with Advanced Solutions</span></h3>
            </div>
            <div class="row card-deck mt-5">
                <div class="col-md-4 col-sm-4 col-xs-12 card">
                    <div class="card-body">
                        <p class="digital-visitor">Enhance Customer Experience</p>
                        <p class="card-text">Our <b>smart queue management system</b> offers a seamless experience for your customers. With self-check-in, automatic service assignment, real-time updates, and straightforward navigation. A robust waiting room structure can
                            enhance the overall customer experience certainty.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 card">
                    <div class="card-body">
                        <p class="digital-visitor">Boost Staff Efficiency</p>
                        <p class="card-text">With our automated notifications, customer segmentation, and real-time dashboard, your staff can be more productive in managing customer flow, leading to increased service capacity. Smart queue management can boost your business's
                            productivity and profits by improving staff efficiency.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 card">
                    <div class="card-body">
                        <p class="digital-visitor">Optimize Services
                        </p>
                        <p class="card-text">Our customer queue management system integrates features to reduce administration costs. This also improves customer-employee experiences and optimizes service capacity. By optimizing your services and operations, you can provide
                            a more efficient and effective experience for your customers while also reducing costs.
                        </p>
                    </div>
                </div>
            </div>
            <div class="text-center bannerbtn mt-4">
                <a target="_blank" href="/blog/top-queue-management-systems-industries-introduction/" class="btn-arrow"> Read more</a>
            </div>
        </div>
    </div>
    <!-- ------------------------------------ -->
    <div class="Q-Visitor-Management-System">
        <div class="container ">
            <div class="text-center">
                <h2 class="color-wht">The Power of Data</h2>
                <p class="color-wht">Queue Management System Stats You Need to Know</p>
            </div>
            <div class="row mt-5">
                <div class="four col-md-3">
                    <div class="counter-box ">
                        <span class="counter">50%</span>
                        <p>Reduces wait <br> times
                        </p>
                    </div>
                </div>
                <div class="four col-md-3">
                    <div class="counter-box ">
                        <span class="counter">20%</span>
                        <p>Increases customer<br> satisfaction</p>
                    </div>
                </div>
                <div class="four col-md-3">
                    <div class="counter-box ">
                        <span class="counter">30%</span>
                        <p>Improves staff <br>efficiency
                        </p>
                    </div>
                </div>
                <div class="four col-md-3">
                    <div class="counter-box ">
                        <span class="counter">70%</span>
                        <p>Mobile ticketing reduces <br>wait times</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ------------------------------------------------------ -->
    <div id="bvms">
        <div class="container">
            <div>
                <h2 class="text-center"><span class="Digitize"> Queue Management Features</span></h2>
            </div>
            <div class="row mt-5">
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <p class="digital-visitor display-flex"><img class="vmsFeatures" src="/images/vizitor/24px-check.svg" alt="24px-check" /> Department Creation</p>
                    <p class="display-flex clients-p">Efficiently manage visitors by creating multiple departments and assigning employees to manage visitors in those departments.</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <p class="digital-visitor display-flex"><img class="vmsFeatures" src="/images/vizitor/24px-check.svg" alt="24px-check" /> Employee Department Update</p>
                    <p class="display-flex clients-p">With QMS, updating the department of employees is hassle-free and easy, ensuring that your visitor management process is always up-to-date.</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <p class="digital-visitor display-flex"><img class="vmsFeatures" src="/images/vizitor/24px-check.svg" alt="24px-check" /> Token Generation</p>
                    <p class="display-flex clients-p">The QMS generates unique tokens department-wise with serial numbers for each department. The serial numbers increase for each ticket generated in each department, making visitor tracking a breeze.</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <p class="digital-visitor display-flex"><img class="vmsFeatures" src="/images/vizitor/24px-check.svg" alt="24px-check" /> Real-time Notifications</p>
                    <p class="display-flex clients-p">Stay up-to-date with visitor arrivals with real-time notifications that employees in a particular department receive when a visitor arrives at their department.</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <p class="digital-visitor display-flex"><img class="vmsFeatures" src="/images/vizitor/24px-check.svg" alt="24px-check" /> Visitor Request Acceptance</p>
                    <p class="display-flex clients-p">An employee in the department can easily accept the visitor request, and the notification is removed from other employees in the same department, reducing confusion and making the process more efficient.</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <p class="digital-visitor display-flex"><img class="vmsFeatures" src="/images/vizitor/24px-check.svg" alt="24px-check" />Counter Details Notification</p>
                    <p class="display-flex clients-p">Once an employee accepts the visitor's request, the visitor receives a notification with the counter details, making their visit smooth and hassle-free.</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <p class="digital-visitor display-flex"><img class="vmsFeatures" src="/images/vizitor/24px-check.svg" alt="24px-check" /> Department Transfer</p>
                    <p class="display-flex clients-p">Efficiently transfer visitors to the correct department, ensuring a seamless experience for visitors and employees.</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <p class="digital-visitor display-flex"><img class="vmsFeatures" src="/images/vizitor/24px-check.svg" alt="24px-check" /> Automatic Department Serial Number Reset</p>
                    <p class="display-flex clients-p">The department serial number is automatically reset every night according to the country's local time, making the QMS system ready for a fresh new day of visitor management.</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <p class="digital-visitor display-flex"><img class="vmsFeatures" src="/images/vizitor/24px-check.svg" alt="24px-check" /> Customizable Reporting</p>
                    <p class="display-flex clients-p">Generate reports to track visitor data, employee performance, and department statistics with customizable reporting tools, giving you valuable insights to optimize your queue management system.
                    </p>
                </div>
            </div>
            <div>
                <a href="/blog/understanding-queue-management-systems/">
                    <p><span class="Digitize">Learn more about Queue management system</span></p>
                </a>
            </div>
        </div>
    </div>
    <!-- -------------------------------------------- -->
    <div id="bvms2">
        <div class="container ">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h3 class="bvms-size">Streamlined <span class="Digitize"> Workflow of QMS</span></h3>
                    <p>Smart queuing system provides a hassle-free and streamlined workflow for handling customer flow in any business setting.</p>
                    <!-- --1-- -->
                    <div class="mt-5">
                        <div class="right-btn">
                            <div>
                                <img src="/images/vizitor/bvm/1.svg" alt="1" />
                            </div>
                            <!-- <div>
                                <img style="margin: 10px 0px 0px 15px;" src="/images/vizitor/bvm/Line.svg" alt="Line" />
                            </div> -->
                        </div>
                        <div>
                            <!-- <p class="digital-visitor display-flex">Visitor Arrives</p> -->
                            <p class="display-flex clients-p"> The visitor arrives at the company and proceeds to the QMS counter.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- --2-- -->
                    <div class="mt-4">
                        <div class="right-btn">
                            <div>
                                <img src="/images/vizitor/bvm/2.svg" alt="1" />
                            </div>
                            <!-- <div>
                                <img style="margin: 10px 0px 0px 15px;" src="/images/vizitor/bvm/Line.svg" alt="Line" />
                            </div> -->
                        </div>
                        <div>
                            <!-- <p class="digital-visitor display-flex">Token Generation
                            </p> -->
                            <p class="display-flex clients-p"> QMS employee generates a token for the desired department.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- --3-- -->
                    <div class="mt-4">
                        <div class="right-btn">
                            <div>
                                <img src="/images/vizitor/bvm/3.svg" alt="1" />
                            </div>
                            <!-- <div>
                                <img style="margin: 10px 0px 0px 15px;" src="/images/vizitor/bvm/Line.svg" alt="Line" />
                            </div> -->
                        </div>
                        <div>
                            <!-- <p class="digital-visitor display-flex">Notification
                            </p> -->
                            <p class="display-flex clients-p"> Department employees receive a notification of visitor arrival.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- --4-- -->
                    <div class="mt-4">
                        <div class="right-btn">
                            <div>
                                <img src="/images/vizitor/bvm/4.svg" alt="1" />
                            </div>
                            <!-- <div>
                                <img style="margin: 10px 0px 0px 15px;" src="/images/vizitor/bvm/Line.svg" alt="Line" />
                            </div> -->
                        </div>
                        <div>
                            <!-- <p class="digital-visitor display-flex">Visitor 6 Request Acceptance</p> -->
                            <p class="display-flex clients-p">Then, an employee in the department accepts the visitor's request.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- --5-- -->
                    <div class="mt-4">
                        <div class="right-btn">
                            <div>
                                <img src="/images/vizitor/bvm/5.svg" alt="1" />
                            </div>

                        </div>
                        <div>
                            <!-- <p class="digital-visitor display-flex">Department Transfer</p> -->
                            <p class="display-flex clients-p" style="margin-left: 45px;"> Visitors can be transferred to the correct department if necessary.
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- --6-- -->
                    <div class="mt-4">
                        <div class="right-btn">
                            <div>
                                <img src="/images/vizitor/bvm/6.svg" alt="1" />
                            </div>

                        </div>
                        <div>
                            <!-- <p class="digital-visitor display-flex">Department Transfer</p> -->
                            <p class="display-flex clients-p" style="margin-left: 45px;">Visitor proceeds to the correct department and completes their visit.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <img class="center-content" src="/images/vizitor/banner.png" alt="banner" />
                    <div class="center-content">
                        <div class="my-5">
                            <form id="QMSworkflow">
                                <input type="email" class="email-input" id="emaildigital" name="emaildigital" placeholder="Enter your email" required>
                                <input class="btn-try-free" type="submit" value="Try for free">
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- -------------------------------------------- -->
    <div id="Benefits">
        <div class="container ">
            <div class="center-content pb-5">
                <h4 class="bvms-size"> <span>Value Adding Visitor 
                    <br>Management System Benefits</span> </h4>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">

                    <p class="Benefits-hd"><span><img src="/images/vizitor/bvm/Wallet.svg" alt="Wallet" /></span> Benefit Improved Customer Experience</p>
                    <ul id="Benefitsli">
                        <li>Reduced waiting times</li>
                        <li>Automated notifications for real-time updates</li>
                        <li>Self-check-in kiosks for a faster check-in process</li>
                    </ul>
                </div>


                <div class="col-md-6 col-sm-6 col-xs-12">

                    <p class="Benefits-hd"><span><img src="/images/vizitor/bvm/Improve-Your-Efficiency.svg" alt="Wallet" /></span> Increased Efficiency</p>
                    <ul id="Benefitsli">
                        <li>Auto-staff assignment.</li>
                        <li>Live dashboard for customer flow</li>
                        <li>Automatic service assignment for staff</li>
                    </ul>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">

                    <p class="Benefits-hd"><span><img src="/images/vizitor/bvm/Shield-user.svg" alt="Wallet" /></span>Enhanced Productivity</p>
                    <ul id="Benefitsli">
                        <li>Easy staff department changes.</li>
                        <li>Smooth visitor department shifts.</li>
                        <li>Auto-reset department numbers daily.</li>

                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">

                    <p class="Benefits-hd"><span><img src="/images/vizitor/bvm/Timer.svg" alt="Wallet" /></span> Data Insights and Analytics</p>
                    <ul id="Benefitsli">
                        <li>Using customer data for personalization.</li>
                        <li>Analytics to track visitor trends and improve.</li>
                        <li>Happy customers mean more money</li>
                    </ul>
                </div>
            </div>
            <div class="text-center bannerbtn mt-4">
                <a target="_blank" href="/blog/top-9-benefits-of-using-queue-management-system" class="btn-arrow"> Read more</a>
            </div>

        </div>
    </div>

    <!-- ---------------------->
    <div class="Visitor-Management-System ">
        <div class="container ">
            <div class="row align-items-center">
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <h2 class="color-wht">Experience Queue Management Solutions with a Demo</h2>
                    <p class="color-wht ">Are you seeking a queue management solution to enhance your customer's waiting experience and boost your business's productivity? Look no further than Vizitor's advanced queue management solutions. With our simple ticketing systems
                        and customized customer journey platforms, we can seamlessly integrate with your business operations to deliver a seamless waiting experience for your customers. Book a demo with Vizitor today and experience the power of our queue
                        management system.</p>
                    <div class="mt-5">
                        <a href="/demo" class="btn-arrow bvms-white-btn">Book a demo</a>
                        <a href="/signup" class="btn qms">Request a free trial</a>
                    </div>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <img class="mb-5" src=" /images/vizitor/Experience.png" alt="Experience" style="border-radius: 20px;">
                </div>
            </div>
        </div>
    </div>

    <!----------------------------------------------->

    <!-- ------------------------------------------------------- -->
    <div id="Eco-friendly-Blogs">
        <div class="container ">
            <div class="center-content pb-5">
                <h2> Blogs</h2>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="card-deck">
                        <a href="/blog/top-queue-management-systems-industries-introduction">
                            <div class="card" style="background: #FCFCFC;border-radius: 20px;">
                                <img style="width: 100%;height: 250px;" class="card-img-top" src="/images/blog/AdvancementsQueue-Management.png" alt="reception-people-queue" />
                                <div class="card-body">
                                    <h5 maxlength="50" class="card-title titleclear">The Top Queue Management Systems for Different Industries Introduction</h5>
                                    <p class="card-text">10 April 2023</p>
                                    <p maxlength="100" class="card-text mb-3 descriptionclear">Investing in a top Queue Management System can improve customer satisfaction rates, increase revenue growth, and provide valuable insights into customer behavior.</p>
                                    <a class="blog-btn-arrow " href="/blog/top-queue-management-systems-industries-introduction" style="color: #ED5C18;">Read more  <img src="/images/vizitor/Icon.svg" alt="Icon"></a>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="card-deck">
                        <a href="/blog/understanding-queue-management-systems/">
                            <div class="card" style="background: #FCFCFC;border-radius: 20px;">
                                <img style="width: 100%;height: 250px;" class="card-img-top" src="/images/blog/main-queue-management.jpg" alt="main-queue-management" />
                                <div class="card-body">
                                    <h5 maxlength="50" class="card-title titleclear">Understanding Queue Management Systems</h5>
                                    <p class="card-text">April 06 2023</p>
                                    <p maxlength="100" class="card-text mb-3 descriptionclear">Here are some benefits of Queue Management System- Vizitor that makes you improve both the customer experience and the operational efficiency.</p>
                                    <a class="blog-btn-arrow " href="/blog/understanding-queue-management-systems/" style="color: #ED5C18;">Read more  <img src="/images/vizitor/Icon.svg" alt="Icon"></a>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="card-deck">
                        <a href="/blog/top-9-benefits-of-using-queue-management-system">
                            <div class="card" style="background: #FCFCFC;border-radius: 20px;">
                                <img style="width: 100%;height: 250px;" class="card-img-top" src="/images/blog/benefits-queue-management-systems.png" alt="benefits-queue-management-systems" />
                                <div class="card-body">
                                    <h5 maxlength="50" class="card-title titleclear">Top 9 Benefits of Using Queue Management System</h5>
                                    <p class="card-text">05 April 2023</p>
                                    <p maxlength="100" class="card-text mb-3 descriptionclear">Here are some benefits of Queue Management System- Vizitor that makes you improve both the customer experience and the operational efficiency.</p>
                                    <a class="blog-btn-arrow " href="/blog/top-9-benefits-of-using-queue-management-system" style="color: #ED5C18;">Read more  <img src="/images/vizitor/Icon.svg" alt="Icon"></a>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>

            </div>
            <div class="text-center mt-4">
                <a href="/blog" class="btn-arrow">All Blogs</a>
            </div>
        </div>
    </div>
    <!-- ------------------------------------------------- -->
    <div id="bvms2">
        <div class="container">
            <div class="row">
                <div class="col-md-11 mx-auto">
                    <h2 class="mb-5">Frequently Asked Questions</h2>
                    <div id="accordion" class="accordion faqaccordion">
                        <div class="faqcard mb-0">
                            {{range $index, $elem := .Site.Data.faqqms.items }}
                            <div class="card-header collapsed" data-toggle="collapse" href="#faq{{$index}}">
                                <a class="card-title">
                                    <b>{{.question}}</b>
                                </a>
                            </div>
                            <div id="faq{{$index}}" class="card-body collapse clrmod" data-parent="#accordion">
                                {{.answer | safeHTML}}
                            </div>
                            {{end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- --------------------------------------------------- -->
</div>

<style>
    #tabs .active h3 {
        color: #ED5C18;
    }
    /* #tabs {
        display: list-item;
        position: relative;
        overflow: hidden;
    } */
    
    .linevms {
        border: 1px solid #687888;
        width: -webkit-fill-available;
        margin: 27px 0px;
    }
</style>


{{end}}