{{ define "main" }}
<div>
    <div class="container pagebanneres">
        <div class="row align-items-center">

            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <h1><span class="Digitize">Wait No More!</span> Queue Management System for Enhanced Customer Experience</h1>
                <div>
                    <p>Shorten wait times and improve customers' waiting experience with an intelligent customer queue management system.</p>
                </div>
                <div class="bannerbtn Try-free mb-3 ">
                    <a href="/demo" class="btn-arrow">Book a demo</a>
                    <a href="/signup" class="btn btn-outline-danger">Request a free trial</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="/images/vizitor/Queue-Management/Queue-Management-banner.svg" alt="Queue Management" />
            </div>
        </div>
    </div>
    <div class="container-fluid">{{- partial "clients.html" . -}}</div>
    <!-- ----------------------------- -->

    <div id="bvms2">
        <div class="container ">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <img class="center-content" src="/images/vizitor/Queue-Management/smart-check-in.svg" alt="smart check in" />
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" id="bvmsli">
                    <h3 class="bvms-size">What is a <span class="Digitize"> Queue Management System?</span></h3>
                    <p>Vizitor's Queue Management System (QMS) is designed to streamline customer flow, optimize processes, and reduce wait times, creating a smooth and efficient queuing experience. By integrating features like token generation, real-time
                        notifications, and automated scheduling, Vizitor's QMS ensures a seamless visitor management process. </p>

                    <p>Unlocking efficiency with Vizitor's QMS enhances the customer experience across retail, banking, healthcare, government, and education, ensuring seamless service.</p>

                    <ul>
                        <li><span>Long Queues</span></li>
                        <li><span>Department Management</span></li>
                        <li><span>Real-time Updates</span></li>
                        <li><span>Visitor Activity Tracking</span></li>
                        <li><span>Seamless Transfers</span></li>
                        <li><span>Enhanced Visitor Satisfaction</span></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="Queue-Management-System ">
        <div class="container ">
            <div class="row align-items-center">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <h2 class="text-white">Customer Satisfaction with Streamlined
                        <br> Queue Management</h2>
                    <p class="text-white"> The Queue management solutions can help businesses overcome the universal frustration of waiting in line. Vizitor's advanced queue management options provide various solutions. From simple ticketing to customized customer journey platforms
                        seamlessly integrating with a business's operations. By improving the waiting experience, companies can keep their customers happy and increase their profits.
                    </p>


                    <div class="mt-5">
                        <a href="/signup" class="btn-arrow Queue-white-btn">Try for free</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="bvms">
        <div class="container">
            <div class="center-content pb-5">
                <h4 class="bvms-size">The Power of Data</h4>
                <p>Queue Management System You Need to Know</p>
            </div>
            <div class="row mt-5">
                <div class="col-md-3 col-sm-3 col-xs-12 Survey-Analysis-line">
                    <p class="Survey-Analysis-p mb-5">50%</p>
                    <p class="center-content"> Reduce wait times
                    </p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 Survey-Analysis-line">
                    <p class="Survey-Analysis-p mb-5">20%</p>
                    <p class="center-content">Increase customer satisfaction
                    </p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 Survey-Analysis-line">
                    <p class="Survey-Analysis-p mb-5">30%</p>
                    <p class="center-content">Improve staff efficiency
                    </p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 Survey-Analysis-line">
                    <p class="Survey-Analysis-p mb-5">70%</p>
                    <p class="center-content">Mobile ticketing reduces wait times</p>
                </div>
            </div>

        </div>
    </div>

    <!-- --------------------------------------------------------- -->
    <!-- -------------------------------------------- -->
    <div id="bvms2">
        <div class="container ">
            <div class="text-center">
                <h3 class="bvms-size"> Transform Your Waiting Room <br><span class="Digitize"> Experience with Advanced Solutions</span></h3>
            </div>
            <div class="row mt-5">
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <img src="/images/vizitor/Queue-Management/Enhance-Customer-Experience.svg" alt="Enhance Customer Experience" />
                    <p class="digital-visitor">Enhance Customer Experience</p>
                    <p class="card-text">Our <b>smart queue management system</b> offers a seamless experience for your customers. With self-check-in, automatic service assignment, real-time updates, and straightforward navigation. A robust waiting room structure can enhance
                        the overall customer experience certainty.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <img src="/images/vizitor/Queue-Management/Boost-Staff-Efficiency.svg" alt="Boost Staff Efficiency" />

                    <p class="digital-visitor">Boost Staff Efficiency</p>
                    <p class="card-text">With our automated notifications, customer segmentation, and real-time dashboard, your staff can be more productive in managing customer flow, leading to increased service capacity. Smart queue management can boost your business's
                        productivity and profits by improving staff efficiency.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <img src="/images/vizitor/Queue-Management/Optimize-Services.svg" alt="Optimize Servicesn" />

                    <p class="digital-visitor">Optimize Services
                    </p>
                    <p class="card-text">Our customer queue management system integrates features to reduce administration costs. This also improves customer-employee experiences and optimizes service capacity. By optimizing your services and operations, you can provide a
                        more efficient and effective experience for your customers while also reducing costs.
                    </p>
                </div>
            </div>
            <div class="text-center bannerbtn mt-4">
                <a target="_blank" href="/blog/top-queue-management-systems-industries-introduction/" class="btn-arrow"> Read more</a>
            </div>
        </div>
    </div>
    <!-- ------------------------------------------------------ -->
    <div id="bvms">
        <div class="container">
            <div>
                <h2 class="text-center">Queue Management<span class="Digitize">  Features</span></h2>
            </div>
            <div class="row mt-5">
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <img src="/images/vizitor/Queue-Management/Token-Generation.svg" alt="Token Generation" />
                    <p class="digital-visitor">Token Generation</p>
                    <p class="card-text">The QMS generates unique tokens department- wise with serial numbers for each department.</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <img src="/images/vizitor/Queue-Management/Department-Transfer.svg" alt="Department  Transfer" />
                    <p class="digital-visitor"> Department Transfer</p>
                    <p class="card-text">Efficiently transfer visitors to the correct department, ensuring a smooth experience. </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <img src="/images/vizitor/Queue-Management/Department-Creation.svg" alt="Department  Creation" />
                    <p class="digital-visitor"> Department Creation</p>
                    <p class="card-text">Efficiently manage visitors by creating multiple departments and assigning employees to manage visitors in those departments. </p>
                </div>
            </div>
            <div class="row mt-5">

                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <img src="/images/vizitor/Queue-Management/Visitor-Request-Acceptance.svg" alt="Visitor Request Acceptance" />
                    <p class="digital-visitor"> Visitor Request Acceptance</p>
                    <p class="card-text">An employee can accept a visitor request, removing the notification for others in the department.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <img src="/images/vizitor/Queue-Management/Real-Time-Notification.svg" alt="Real Time  Notification" />
                    <p class="digital-visitor"> Real Time Notification</p>
                    <p class="card-text">Receive real-time notifications for visitor arrivals, alerting employees in specific departments. </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <img src="/images/vizitor/Queue-Management/Automatic-Serial-Number-Reset.svg" alt="Automatic Serial  Number Reset" />
                    <p class="digital-visitor"> Automatic Serial Number Reset</p>
                    <p class="card-text">Reset department serial numbers every night, preparing the QMS system for the next day. </p>
                </div>
            </div>

            <div>
                <a href="/blog/understanding-queue-management-systems/">
                    <p><span class="Digitize">Learn more about Queue management system</span></p>
                </a>
            </div>
        </div>
    </div>
    <!-- -------------------------------------------- -->
    <div id="bvms2">
        <div class="container ">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h3 class="bvms-size">Streamlined <span class="Digitize"> Workflow of QMS</span></h3>
                    <p>Smart queuing system provides a hassle-free and streamlined workflow for handling customer flow in any business setting.</p>
                    <!-- --1-- -->
                    <div class="mt-5">
                        <div class="right-btn">
                            <div>
                                <img src="/images/vizitor/Queue-Management/1.svg" alt="1" />
                            </div>
                            <div>
                                <img style="margin: 0px 0px -20px 15px;" src="/images/vizitor/Queue-Management/Line.svg" alt="Line" />
                            </div>
                        </div>
                        <div>
                            <p class="display-flex clients-p"> The visitor arrives at the company and proceeds to the QMS counter.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- --2-- -->
                    <div class="mt-4">
                        <div class="right-btn">
                            <div>
                                <img src="/images/vizitor/Queue-Management/2.svg" alt="1" />
                            </div>
                            <div>
                                <img style="margin: 0px 0px -20px 15px;" src="/images/vizitor/Queue-Management/Line.svg" alt="Line" />
                            </div>
                        </div>
                        <div>
                            <p class="display-flex clients-p"> QMS employee generates a token for the desired department.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- --3-- -->
                    <div class="mt-4">
                        <div class="right-btn">
                            <div>
                                <img src="/images/vizitor/Queue-Management/3.svg" alt="1" />
                            </div>
                            <div>
                                <img style="margin: 0px 0px -20px 15px;" src="/images/vizitor/Queue-Management/Line.svg" alt="Line" />
                            </div>
                        </div>
                        <div>
                            <p class="display-flex clients-p"> Department employees receive a notification of visitor arrival.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- --4-- -->
                    <div class="mt-4">
                        <div class="right-btn">
                            <div>
                                <img src="/images/vizitor/Queue-Management/4.svg" alt="1" />
                            </div>
                            <div>
                                <img style="margin: 0px 0px -20px 15px;" src="/images/vizitor/Queue-Management/Line.svg" alt="Line" />
                            </div>
                        </div>
                        <div>
                            <p class="display-flex clients-p">Then, an employee in the department accepts the visitor's request.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- --5-- -->
                    <div class="mt-4">
                        <div class="right-btn">
                            <div>
                                <img src="/images/vizitor/Queue-Management/5.svg" alt="1" />
                            </div>
                            <div>
                                <img style="margin: 0px 0px -20px 15px;" src="/images/vizitor/Queue-Management/Line.svg" alt="Line" />
                            </div>
                        </div>
                        <div>
                            <p class="display-flex clients-p" style="margin-left: 45px;"> Visitors can be transferred to the correct department if necessary.
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- --6-- -->
                    <div class="mt-4">
                        <div class="right-btn">
                            <div>
                                <img src="/images/vizitor/Queue-Management/6.svg" alt="1" />
                            </div>
                        </div>
                        <div>
                            <p class="display-flex clients-p" style="margin-left: 45px;">Visitor proceeds to the correct department and completes their visit.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <img class="center-content" src="/images/vizitor/Queue-Management/Streamlined-Workflow-of-QMS.svg" alt="Streamlined Workflow of QMS" />
                </div>
            </div>
        </div>
    </div>
    <!-- -------------------------------------------- -->
    <div id="bvms">
        <div class="container">
            <div>
                <h2 class="text-center"><span class="Digitize">Benefits</span> of Vizitor's Queue Management System</h2>
            </div>
            <div class="row mt-5">
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <img src="/images/vizitor/Queue-Management/Reduced-Waiting-Times.svg" alt="Reduced Waiting Times" />
                    <p class="digital-visitor"> Reduced Waiting Times</p>
                    <p class="card-text">Vizitor's QMS streamlines customer flow, shortening wait times and decreasing congestion in waiting areas, even during peak times.</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <img src="/images/vizitor/Queue-Management/Enhanced-Visitor-Tracking.svg" alt=" Enhanced Visitor  Tracking" />
                    <p class="digital-visitor"> Enhanced Visitor Tracking</p>
                    <p class="card-text">Efficiently transfer visitors to the correct department, ensuring a smooth experience. </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <img src="/images/vizitor/Queue-Management/Increased-Staff-Productivity.svg" alt="  Increased Staff  Productivity" />
                    <p class="digital-visitor"> Increased Staff Productivity</p>
                    <p class="card-text">Vizitor's QMS equips staff with timely information, improving efficiency and productivity by allowing them to focus on serving visitors effectively.</p>
                </div>
            </div>
            <div class="row mt-5">

                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <img src="/images/vizitor/Queue-Management/Seamless-Department-Transfers.svg" alt="  Seamless Department  Transfers" />
                    <p class="digital-visitor"> Seamless Department Transfers</p>
                    <p class="card-text"> Easily transfer visitors between departments, ensuring they reach the right place without any hassle, enhancing their overall experience.</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <img src="/images/vizitor/Queue-Management/Real-Time-Notification.svg" alt="Real Time  Notification" />
                    <p class="digital-visitor"> Real Time Notification</p>
                    <p class="card-text">Keep visitors and staff informed with instant notifications about visitor arrivals, status updates, and counter details, reducing uncertainty. and enhance security.</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <img src="/images/vizitor/Queue-Management/Customizable-Reporting.svg" alt="Customizable  Reporting" />
                    <p class="digital-visitor"> Customizable Reporting</p>
                    <p class="card-text">Generate detailed, customizable reports to gain insights into visitor data, employee performance, and department statistics, enabling continuous improvement.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- ---------------------->
    <div class="Visitor-Management-System ">
        <div class="container ">
            <div class="row align-items-center">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <h2 class="color-wht">Experience Queue Management Solutions with a Demo</h2>
                    <p class="color-wht ">Are you seeking a queue management solution to enhance your customer's waiting experience and boost your business's productivity? Look no further than Vizitor's advanced queue management solutions. With our simple ticketing systems
                        and customized customer journey platforms, we can seamlessly integrate with your business operations to deliver a seamless waiting experience for your customers. Book a demo with Vizitor today and experience the power of our queue
                        management system.</p>
                    <div class="mt-5">
                        <a href="/demo" class="btn-arrow bvms-white-btn">Book a demo</a>
                        <a href="/signup" class="btn qms">Request a free trial</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!----------------------------------------------->

    <!-- ------------------------------------------------------- -->
    <div id="Eco-friendly-Blogs">
        <div class="container ">
            <div class="center-content pb-5">
                <h2> Blogs</h2>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="card-deck">
                        <a href="/blog/top-queue-management-systems-industries-introduction">
                            <div class="card" style="background: #FCFCFC;border-radius: 20px;">
                                <img style="width: 100%;height: 250px;" class="card-img-top" src="/images/blog/AdvancementsQueue-Management.png" alt="reception-people-queue" />
                                <div class="card-body">
                                    <h5 maxlength="50" class="card-title titleclear">The Top Queue Management Systems for Different Industries Introduction</h5>
                                    <p class="card-text">10 April 2023</p>
                                    <p maxlength="100" class="card-text mb-3 descriptionclear">Investing in a top Queue Management System can improve customer satisfaction rates, increase revenue growth, and provide valuable insights into customer behavior.</p>
                                    <a class="blog-btn-arrow " href="/blog/top-queue-management-systems-industries-introduction" style="color: #ED5C18;">Read more  <img src="/images/vizitor/Icon.svg" alt="Icon"></a>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="card-deck">
                        <a href="/blog/understanding-queue-management-systems/">
                            <div class="card" style="background: #FCFCFC;border-radius: 20px;">
                                <img style="width: 100%;height: 250px;" class="card-img-top" src="/images/blog/main-queue-management.jpg" alt="main-queue-management" />
                                <div class="card-body">
                                    <h5 maxlength="50" class="card-title titleclear">Understanding Queue Management Systems</h5>
                                    <p class="card-text">April 06 2023</p>
                                    <p maxlength="100" class="card-text mb-3 descriptionclear">Here are some benefits of Queue Management System- Vizitor that makes you improve both the customer experience and the operational efficiency.</p>
                                    <a class="blog-btn-arrow " href="/blog/understanding-queue-management-systems/" style="color: #ED5C18;">Read more  <img src="/images/vizitor/Icon.svg" alt="Icon"></a>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="card-deck">
                        <a href="/blog/top-9-benefits-of-using-queue-management-system">
                            <div class="card" style="background: #FCFCFC;border-radius: 20px;">
                                <img style="width: 100%;height: 250px;" class="card-img-top" src="/images/blog/benefits-queue-management-systems.png" alt="benefits-queue-management-systems" />
                                <div class="card-body">
                                    <h5 maxlength="50" class="card-title titleclear">Top 9 Benefits of Using Queue Management System</h5>
                                    <p class="card-text">05 April 2023</p>
                                    <p maxlength="100" class="card-text mb-3 descriptionclear">Here are some benefits of Queue Management System- Vizitor that makes you improve both the customer experience and the operational efficiency.</p>
                                    <a class="blog-btn-arrow " href="/blog/top-9-benefits-of-using-queue-management-system" style="color: #ED5C18;">Read more  <img src="/images/vizitor/Icon.svg" alt="Icon"></a>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>

            </div>
            <div class="text-center mt-4">
                <a href="/blog" class="btn-arrow">All Blogs</a>
            </div>
        </div>
    </div>
    <!-- ------------------------------------------------- -->
    <div id="bvms2">
        <div class="container">
            <div class="row">
                <div class="col-md-11 mx-auto">
                    <h2 class="mb-5">Frequently Asked Questions</h2>
                    <div id="accordion" class="accordion faqaccordion">
                        <div class="faqcard mb-0">
                            {{range $index, $elem := .Site.Data.faqqms.items }}
                            <div class="card-header collapsed" data-toggle="collapse" href="#faq{{$index}}">
                                <a class="card-title">
                                    <b>{{.question}}</b>
                                </a>
                            </div>
                            <div id="faq{{$index}}" class="card-body collapse clrmod" data-parent="#accordion">
                                {{.answer | safeHTML}}
                            </div>
                            {{end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- --------------------------------------------------- -->
</div>

<style>
    #tabs .active h3 {
        color: #ED5C18;
    }
    /* #tabs {
        display: list-item;
        position: relative;
        overflow: hidden;
    } */
    
    .linevms {
        border: 1px solid #687888;
        width: -webkit-fill-available;
        margin: 27px 0px;
    }
</style>


{{end}}