{{ define "main" }}

<div>
    <section>
        <div class="container">
            <div class="row">
                <div class="main_des_third_contant">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <div>
                            <h1 class="center-content ">Touchless Visitor management system for Universities
                            </h1>
                        </div>
                        <div>
                            <p>Security is crucial for campus safety, ensuring a pleasant learning and working
                                environment. To achieve this, universities need an efficient visitor entrance management
                                system like Vizitor.</p>
                            <p>It plays a pivotal role in creating a safe and secure atmosphere for students, staff, and
                                visitors. It ultimately enhances the overall quality of the educational and work
                                experience. As a parent or guardian, you undoubtedly prioritize a secure environment for
                                your child's education.</p>
                            <p>To establish and maintain a secure environment, universities must invest in a robust
                                college visitor management system. Such a system ensures that everyone entering the
                                campus, including students, staff, employees, and parents, can do so without the
                                inconvenience of manual registration.</p>
                            <p> This is where Vizitor comes into play!</p>
                            <p>It is a unique visitor management software that expedites the check-in process and also
                                gives a modern and efficient makeover to the administrative block's front desk.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Simple Sign in for Invitees start -->
    <section>
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2 class="center-content">Secure your university campus with Vizitor</h2>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <div>
                        <p><b><span>&#8226;</span> Streamlines check-in process </b></p>
                        <p>With Vizitor’s , you no longer need to check in by filling in your information manually in
                            the register. You just need to enter your name, phone number, host name, and other details.
                            Your host will receive a notification stating the message. This saves time as well as
                            prevents the hassle of maintaining records of the university students.</p>
                    </div>
                    <div>
                        <p><b><span>&#8226;</span> Captures Image</b></p>
                        <p>Whenever someone arrives, Vizitor captures their image which adds up to the authentication
                            process and thus, ensures that any unauthorized person doesn’t enter the building.</p>
                    </div>
                    <div>
                        <p><b><span>&#8226;</span> Prints Badge</b></p>
                        <p>After check-in and capturing the visitor’s photograph, Vizitor prints badges which help the
                            employees in quickly recognizing visitors as well as their credentials, clearance levels,
                            and access durations.</p>
                    </div>
                    <div>
                        <p><b><span>&#8226;</span> Save visitor details for future interaction</b></p>
                        <p>Visitor entrance management can be used by a university to stay in touch with students and
                            even their parents by sending them the latest updates or important information through SMS
                            or emails.</p>
                    </div>
                    <div>
                        <p><b><span>&#8226;</span>Secures data for future use</b></p>
                        <p>With a college Visitor management software like Vizitor, you can retrieve any visitors’
                            information at any point of time.
                            <br>It’s time to make your university intruder proof while streamlining the check in
                            process. Install the Vizitor now!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="container pagesection pb-5">
    <div class="row">
        <div class="col-md-10 mx-auto text-center ">
            <h2>Upgrade your College Visitor management now and switch to Vizitor! </h2>
            <div class="center-content border-line"></div>
            <br>
            <p>With a smart visitor management system, you can have an attractive welcome screen, add your brand logo,
                customized badges, with top security. The ultimate one-stop solution</p>
            <p>For efficient management of visitors, try Vizitor!</p>
            <div class="bannerbtn mt-4">
                <a href="/signup" class="btn-arrow">Get Started</a>
            </div>
        </div>
    </div>
</div>
{{end}}