{{ define "main" }}
<div class="container pagebanneres">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <h1> Touchless <span class="Digitize">Visitor Management System </span>For Universities</h1>
            <div>
                <p class="para_heading">Security is crucial for campus safety, ensuring a pleasant learning and working
                    environment. To achieve this, universities need an efficient visitor entrance management system like
                    Vizitor.</p>
                <p class="para_heading">It plays a pivotal role in creating a safe and secure atmosphere for students,
                    staff, and visitors. It ultimately enhances the overall quality of the educational and work
                    experience. As a parent or guardian, you undoubtedly prioritize a secure environment for your
                    child's education.</p>
                <p class="para_heading">This is where Vizitor comes into play!</p>
                <p class="para_heading"> It is a unique visitor management software that expedites the check-in process
                    and also gives a
                    modern and efficient makeover to the administrative block's front desk.</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="/images/vizitor/university/university-img.svg" alt="university-image" />
        </div>
    </div>
</div>
<div id="bvms">
    <div class="container">
        <div class=" headingsub">
            <div class=" text-center">
                <h3 class="chgh3">Secure your university campus <br>
                    with <span class="Digitize"> Vizitor </span>
                </h3>
            </div>
        </div>
        <div class="card-deck">
            <div class="card workplace-card">
                <div>
                    <img src="/images/vizitor/university/streamlines-img.svg" class="workplace-card-img"
                        alt="Attendance-management">
                </div>
                <div class="card-body p-0">
                    <h5 class="card-title ">Streamlines check-in process</h5>
                    <p class="workplace-card-p">With Vizitor’s , you no longer need to check in by filling in your
                        information manually in the register.</p>
                </div>
                <a href="/touchless-attendance-management-system" class="card-footer p-0">
                    <p class="know-more p-0">Know more <img style="margin-left: 5px;" src="/images/vizitor/Icon.svg"
                            alt="Icon"></p>
                </a>
            </div>
            <div class="card workplace-card">
                <div>
                    <img src="/images/vizitor/university/captures-img.svg" class="workplace-card-img"
                        alt="Attendance-management">
                </div>
                <div class="card-body p-0">
                    <h5 class="card-title ">Captures Image</h5>
                    <p class="workplace-card-p">Whenever someone arrives, system captures their image, which further
                        adds up
                        to the authentication process.</p>
                </div>
                <a href="/touchless-attendance-management-system" class="card-footer p-0">
                    <p class="know-more p-0">Know more <img style="margin-left: 5px;" src="/images/vizitor/Icon.svg"
                            alt="Icon">
                    </p>
                </a>
            </div>
            <div class="card workplace-card">
                <div>
                    <img src="/images/vizitor/university/print-img-badges.svg" class="workplace-card-img"
                        alt="Deliveries-management">
                </div>
                <div class="card-body p-0">
                    <h5 class="card-title ">Prints Badges</h5>
                    <p class="workplace-card-p">After check-in and capturing the visitor’s photograph, Vizitor prints
                        badges
                        which help the employees in quickly recognizing visitors.</p>
                </div>
                <a href="/" class="card-footer p-0">
                    <p class="know-more p-0">Know more <img style="margin-left: 5px;" src="/images/vizitor/Icon.svg"
                            alt="Icon">
                    </p>
                </a>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="col-md-8 mx-auto">
            <div class="card-deck ">
                <div class="card workplace-card">
                    <div>
                        <img src="/images/vizitor/university/visitor-details-img.svg" class="workplace-card-img"
                            alt="Deliveries-management">
                    </div>
                    <div class="card-body p-0">
                        <h5 class="card-title ">Save visitor details
                            for future interaction</h5>
                        <p class="workplace-card-p">Visitor entrance management can be used by a university to stay in
                            touch
                            with students...</p>
                    </div>
                    <a href="/" class="card-footer p-0">
                        <p class="know-more p-0">Know more <img style="margin-left: 5px;" src="/images/vizitor/Icon.svg"
                                alt="Icon">
                        </p>
                    </a>
                </div>
                <div class="card workplace-card">
                    <div>
                        <img src="/images/vizitor/university/secure-img.svg" class="workplace-card-img"
                            alt="Deliveries-management">
                    </div>
                    <div class="card-body p-0">
                        <h5 class="card-title ">Secures data for future use</h5>
                        <p class="workplace-card-p">With a college Visitor management software like Vizitor, you can
                            retrieve any visitors’ information at any point of time.</p>
                    </div>
                    <a href="/" class="card-footer p-0">
                        <p class="know-more p-0">Know more <img style="margin-left: 5px;" src="/images/vizitor/Icon.svg"
                                alt="Icon">
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="Touchless-technology technology-tb ">
    <div class="container">
        <div class="center-content ">
            <h4 class="color-wht  bvms-size">You need visitor management for museums just like Vizitor!</h4>
            <p class="Touchless-technology-p"> With a smart visitor management system for museums and libraries, you
                can
                have an attractive welcome screen,
                add your brand logo, and customize badges with top security. The ultimate one-stop solution
                For efficient management of visitors, try Vizitor!
            </p>
            <div class=" text-center mt-5">
                <a href="/signup" class="btn-arrow bvms-color-btn">Learn More</a>
            </div>
        </div>
    </div>
</div>


{{end}}