{{ define "main" }}
<div class="container pagebanneres">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <h1>Visitor Management System for Schools</h1>
            <p>Does your school provides safety to its children? How are you managing school visitors in and outs? Are you still using manual process? How you can protect your schools from trespassers?</p>
            <p>All these queries comes in the minds of the parents. Nowadays, security serves as one of the most important aspects when it comes safety with school premises. At Vizitor gives you that security.</p>
            <p>School visitor management software is a Touchless check-in application that not only speeds up the check-in process, but also keeps records safely.</p>
            <p>Vizitor has the ability to track different types of people such as parents, students, volunteers and others who enter the school premises or admin office. It also provides a safer environment to the schools as it stores all the visitors data in a secure admin portal.</p>
            <div class="bannerbtn mt-4">
                <a href="/signup" class="btn-arrow">Get Started</a>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <img src="/images/vizitor/schools/main-image/schools.png" alt="office-management-system">
        </div>

    </div>
</div>


<div class="container pagesection">
    <div class="card-deck">
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/schools/main-fetaures/logging-and-tracking-info.png" class="card-tb" alt="real-time-dashboard" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Logging and Tracking<br>Notification</h5>
                <p>School check in system allows you to quickly submit their name, phone number, address, photograph and details about whom they are meeting.</p>

            </div>
        </div>
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/schools/main-fetaures/otp-verification.png" alt="host-notification" class="card-tb" />
            </div>
            <div class="card-body">
                <h5 class="card-title"> OTP
                    <br />Verification</h5>
                <p>Verify phone number through OTP verification and support international numbers.</p>

            </div>
        </div>
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/schools/main-fetaures/host-notification.png" class="card-tb" alt="phone-number-verification" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Host
                    <br />Notification</h5>
                <p>School visitor sign in system will send SMS* or email notifications to one or more concern people where an immediate alert to specific information is required.</p>

            </div>
        </div>
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/schools/main-fetaures/real-time-dashboard.png" class="card-tb" alt="smart-pre--registration" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Real Time
                    <br />Dashboard</h5>
                <p>Smart visitor management for schools gives sophisticated administration dashboard where you can manage all school visitor activity including name, visitor type, sign in and sign out time, reason, and more.</p>

            </div>
        </div>
    </div>
</div>




<div class="container pagesection">
    <div class="text-center">
        <h2>How Vizitor can help you at your building?</h2>
        <div class="center-content border-line"></div>
    </div>

    <!-- A -->
    <div class="col-md-10 mx-auto text-center ">
        <div class="row align-items-center">
            <div class="col-md-6 text-center mb-5">
                <img src="/images/vizitor/schools/process-image/online-registration.png" alt="get-registered" />
                <div class="mt-4">
                    <h3><span class="number">(A)</span>Online Booking</h3>
                    <p>Vizitor provides a consistent, branded school experience for customers by making hassle free invite to parents, via the vizitor.</p>
                </div>
            </div>

            <div class="col-md-6 text-center mb-5">
                <img src="/images/vizitor/schools/process-image/offline-registration.png" alt="get-registered" />

                <div class="mt-4">
                    <h5><span class="number">(B)</span>Offline Registration</h5>
                    <p> Visitors are required to enter specific details about their name, phone number, address, photograph and details about whom they are meeting.</p>
                </div>
            </div>



        </div>
    </div>

    <!-- 1 -->
    <div class="row align-items-center">

        <div class="col-md-6 text-center">
            <img src="/images/vizitor/schools/process-image/image-capturing.png" alt="get-registered" />
        </div>

        <div class="col-md-6">
            <div class="w-100">
                <h5><span class="number">(01)</span> Image Capturing</h5>
                <p>For security reasons, Vizitor automatically captures an image of every visitor to your facility and stores it within your customer portal for easy retrieval.</p>
            </div>
        </div>
    </div>
    <!-- 2 -->
    <div class="row align-items-center mt-5">
        <div class="col-md-6">
            <div class="w-100">
                <h5><span class="number">(02)</span> Know Your Visitor</h5>
                <p>As a result, the visitor knows who to greet and when, making awkward encounters a thing of the past.</p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="/images/vizitor/schools/process-image/know-your-visitor.png" alt="image-capturing" />
        </div>
    </div>
    <!-- 3 -->
    <div class="row align-items-center mt-5">
        <div class="col-md-6 text-center">
            <img src="/images/vizitor/schools/process-image/host-notification.png" alt="host-notifications" />
        </div>
        <div class="col-md-6">
            <div class="w-100">
                <h5><span class="number">(03)</span> Host Notification</h5>
                <p>School visitor software sends automatic visitor notification to the host via SMS, Email or notifications alerting them of their guest.</p>
            </div>
        </div>
    </div>
    <!-- 4 -->
    <div class="row align-items-center mt-5">
        <div class="col-md-6">
            <div class="w-100">
                <h5><span class="number">(04)</span> Badge Printing</h5>
                <p>After fulfilling the required details, the visitor will get a printed badge which adds to the authentication process and confirms that the visitor has completed the sign in procedure. That’s it.</p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="/images/vizitor/schools/process-image/badge-printing.png" alt="badge-printing" />
        </div>
    </div>
    

</div>



<div class="container pagesection">
    <div class="row">
        <div class="col-md-12 text-center mb-5">
            <h2>More Features</h2>
            <div class="center-content border-line"></div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/schools/other-features/id-badge-printing.png" class="pricingimg2 cardimg" alt="digital-impression" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        ID Badge
                        <br />Printing
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>Get your personalised badge or visitor pass is printed instantly for more security and identification within school premises.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/schools/other-features/data-security.png" class="pricingimg2 cardimg" alt="customized-forms" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        Data
                        <br />Security
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>Data Security is our main concern. The student database, financial information and appointment history is protected by our rock-solid infrastructure.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/schools/other-features/student-tracking.png" class="pricingimg2 cardimg" alt="image-capturing" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        Student
                        <br />Tracking
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>In addition to tracking visitors, school visitor tracking systems should be able to track student’s school check-in and check-out time.</p>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/schools/other-features/visitor-reports-and-analytics.png" class="pricingimg2 cardimg" alt="badge-printing" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        Visitor Reports
                        <br />Analytics
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>Keep your management happy and provide them with detailed visitor flow reports.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/schools/other-features/visitor-reports-and-analytics.png" class="pricingimg2 cardimg" alt="badge-printing" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        Help Centre
                        <br />Support
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>Have a trouble free experience with our round the clock help centre, chat, phone, email, and onsite support.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/office-management/other-features/emergency-evacuation.png" class="pricingimg2 cardimg" alt="emergency-evacuation" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        Black Listing
                        <br />Notification
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>Prevent unwanted guests/ Sex offenders from visiting by adding them to your block list. If a person on your block list tries to sign in vizitor gives quick action to approve or deny their visit.</p>
            </div>
        </div>
    </div>

</div>



<div class="container pagesection">
    <div class="row">
        <div class="col-md-10 mx-auto text-center ">
            <h2>Protect your School from Covid-19 with School Visitor Pass System</h2>
            <div class="center-content border-line"></div>
            <p>An essential step in supporting safety in schools is to permit at-risk students and staff to stay home and ensure that all suspected or confirmed cases of COVID-19 are immediately quarantined. We can save our staff and students at the school
                with the school sign in and out system</p>
        </div>

    </div>

</div>



<div class="container pagesection">
    <!-- 1 -->
    <div class="row align-items-center">
        <div class="col-md-12 text-center mb-5">
            <h2>Assurance for Parents</h2>
            <div class="center-content border-line"></div>
            <p>School are prone to attach and dangers to people arriving in and out of school each day.Visitors should carry vistor pass or guest pass. Also non pre-invited visitors must get photo clicked and details filled. </p>
        </div>
        <div class="col-md-6">
            <div class="w-100">
                <h3>Staff and students Screening with Visitor management software for schools</h3>
                <p><span class="Digitize help-dot">•</span>Easily ask your staff custom yes/no questions before about their recent travel history or current state of health.</p>
                <p><span class="Digitize help-dot">•</span>School visitor sign in software instant alerts to concerned people to approve their entry into your school.</p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="/images/vizitor/covid/visitor-screening-1.png" alt="Make-your-workplace" />
        </div>
    </div>
    <!-- 2 -->
    <div class="row align-items-center mt-5">

        <div class="col-md-6 text-center">
            <img src="/images/vizitor/covid/pre-invitation1.png" alt="signing-agreement1" />
        </div>
        <div class="col-md-6">
            <div class="w-100">
                <h3> School visitor check in system</h3>
                <p><span class="Digitize help-dot">•</span> Touchless check-in experience by sending them QR codes via email in advance so that staff can access specific areas of your building during a given time frame.</p>
            </div>
        </div>
    </div>
    <!-- 3 -->
    <div class="row align-items-center mt-5">
        <div class="col-md-6">
            <div class="w-100">
                <h3> Automatic Alerts</h3>
                <p><span class="Digitize help-dot">•</span> Smart visitor management for schools sends a notification to the staff with complete visitor’s details. So the host can approve or disapprove the entry of visitors</p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="/images/vizitor/covid/instant-alert-1.png" alt="pre-invitation1" />
        </div>
    </div>
     <div class="row align-items-center mt-5">
        <div class="col-md-6">
            <div class="w-100">
                <h3>Emergency Evacuation</h3>
                <p><span class="Digitize help-dot">•</span>If emegengcy occur all employees and visitors ger alert of phones regarding evacuation of premises.  </p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="/images/vizitor/covid/instant-alert-1.png" alt="pre-invitation1" />
        </div>
    </div>


</div>







<div>{{- partial "upgrade.html" . -}}</div>
{{end}}