{{ define "main" }}
<div class="visitor-covid-screening ">
    <div class="container mainbanneres">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12 custom-header-col">
                <h1 class="desk">
                    Reduce the risk of <br> COVID 19 at your<br> workplace!
                </h1>
                <p>
                    Vizitor helps to lessen the risk of Coronavirus at workplace<br> and safeguard your Employees & Visitors with a contact-less <br>sign-in process
                </p>
                <br>
                <form id="VisitorCovidScreening">
                    <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email" required>
                    <input class="btn-try-free" type="submit" value="Try for free">
                </form>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 custom-header-col">
                <div class="center-content">
                    <img src="/images/vizitor/covid/header.png" class="header-covid" alt="header">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="containercolor">
    <div class="container pagesection pb-5">
        <h2 class="center-content pcolorh mb-5">Vizitor Safety Agenda</h2>
        <div class="row ">
            <div class="col-md-3 col-sm-3 col-xs-12 ">
                <div class="center-content">
                    <img src="/images/vizitor/covid/visitor-screening.png" alt="visitor-screening">
                    <p class="pcolor safety-agenda"><b>Visitor’s Screening</b></p>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="center-content">
                    <img src="/images/vizitor/covid/instant-alerts.png" alt="instant-alerts">
                    <p class="pcolor safety-agenda"><b>Instant Alerts</b></p>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="center-content">
                    <img src="/images/vizitor/covid/pre-invitation.png" alt="pre-invitation">
                    <p class="pcolor safety-agenda"><b>Pre-Invitations</b></p>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="center-content">
                    <img src="/images/vizitor/covid/signing-agreement.png" alt="signing-agreement">
                    <p class="pcolor safety-agenda"><b>Signing Agreements</b></p>
                </div>
            </div>
        </div>
        <p class="center-content pcolor section-top">Vizitor will help make the check-ins faster, keep a proper record of your visitors, inform the employees on a guest’s arrival and a touchless experience to visitors avoiding the use of manual paperwork.</p>
    </div>
</div>
<!-- Vizitor Safety Agenda end -->


<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="center-content">
                <img src="/images/vizitor/covid/visitor-screening-1.png" alt="visitor-screening-1">
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="visitor-screening">
                <h3 class="covid-screening">Visitor’s Screening</h3>
                <p>Screening of the visitors is very necessary amid this COVID 19 outbreak. Workplaces must ask a few questions to visitors about</p>
                <p><span class="Digitize help-dot">•</span>Their past travel history in 3 months?</p>
                <p><span class="Digitize help-dot">•</span>Any health related issues like fever, cough, etc?</p>
                <p><span class="Digitize help-dot">•</span>If they had contacted an infected person who was tested positive with Coronavirus?</p>
            </div>
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="instant-alerts">
                <h3 class="covid-screening">Instant Alerts</h3>
                <p>Vizitor sends notification to the employees when any visitor comes up to meet them and alerts them on the arrival of any infected person. The visitor’s details about their travel history or illness history is sent to the host and accordingly
                    the host can approve or disapprove the entry of their visitors on the premise.</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="center-content">
                <img src="/images/vizitor/covid/instant-alert-1.png" alt="instant-alert-1">
            </div>
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="center-content">
                <img src="/images/vizitor/covid/pre-invitation1.png" alt="pre-invitation1">
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="pre-invitations">
                <h3 class="covid-screening">Pre-Invitations</h3>
                <p>Sending pre-invitations can help you let in only those visitors whom you have invited. Sending invites to the guest will allow them to avoid contact at the reception. The visitor can simply scan their invite code and check-in in less than
                    20 seconds</p>
            </div>
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="signing-agreement">
                <h3 class="covid-screening">Signing Agreement</h3>
                <p>Making an agreement signed by visitors which states that the visitor is in a fit and fine condition to enter your premise and has answered all the questions correctly in the screening form. This can help you further take any required actions.
                </p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="center-content">
                <img src="/images/vizitor/covid/signing-agreement1.png" alt="signing-agreement1">
            </div>
        </div>
    </div>
</div>

<div class="container pagesection">
    <div>
        <h2 class="center-content mb-5">How to implement Contact-less check-in process</h2>
    </div>
    <div class="row  card-deck">
        <div class="col-md-6 col-sm-6 col-xs-12 card  card-shadow ">
            <div class="covid-card phone-covid">
                <div class="text-center mt-4">
                    <img src="/images/vizitor/covid/pre-registration3.png" class="mb-4" alt="pre-registration3">
                    <h3 class="contact-less">Pre-Registration, Appointments & E-Pass</h3>
                </div>
                <p>“Invite-first” approach can be constructive after the lockdown, it can help organizations to identify if the visitor meets all safety requirements. We can even generate E-pass for contractors that might frequently visit in a week.</p>
                <p>With our appointment module visitors can themselves request a meeting and the admin can approve accordingly. Asking questions before the visitor comes to the premise and letting them fill their details in advance can avoid them to touch
                    or get in contact with the front desk.</p>
                <br>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 card  card-shadow ">
            <div class="covid-card">
                <div class="text-center mt-4">
                    <img src="/images/vizitor/covid/web-check-in.png" class="mb-4" alt="web-check-in">
                    <h3 class="contact-less">Web Check-In</h3>
                </div>
                <p>As visitors will be touching the tablets frequently during the check-in process, it is recommended that for coming weeks tablets can be replaced with a Web based check-in platform handled by the front desk manager. </p>
                <p>The application can be installed even in a guard’s mobile where he can enter the details of visitors maintaining a social distance. </p>
                <p>Vizitor can be installed on any device be it an Android device or iOS device or a Windows PC.</p>
            </div>
        </div>
    </div>
</div>

<div class="container pagesection">
    <div>
        <h2 class="center-content desk font-sizeh3">Advance Features</h2>
    </div>
    <div class="row ">
        <div class="col-md-4 col-sm-4 col-xs-12 ">
            <div class="center-content">
                <img src="/images/vizitor/covid/evacuation.png" alt="evacuation">
                <p class="desk"><b>Evacuation</b></p>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12 ">
            <div class="center-content">
                <img src="/images/vizitor/covid/blacklisting.png" alt="blacklisting">
                <p class="desk"><b>Blacklisting</b></p>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12 ">
            <div class="center-content">
                <img src="/images/vizitor/covid/contactless-delivery.png" alt="contactless-delivery">
                <p class="desk"><b>Contactless Delivery</b></p>
            </div>
        </div>
    </div>
</div>


<div>{{- partial "upgrade.html" . -}}</div>
{{end}}