{{ define "main" }}force
<!----------------------------------------------------------------->
<div>
    <div class="container pagebanneres">
        <div class="row align-items-center">

            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <p><span class="Digitize">Best Queue Management System  in India</span></p>
                <h1><span class="Digitize">Reduce Wait Times, Boost Customer
                </span> Satisfaction & Increase Profits</h1>
                <div>
                    <p>Vizitor is India's leading provider of innovative queue management and self-service kiosk systems. We empower businesses to streamline customer flow, improve waiting experiences, and ultimately, drive growth.

                    </p>
                </div>
                <div class="bannerbtn Try-free mb-3 ">
                    <a href="/demo" class="btn-arrow">Book a demo</a>
                    <a href="/signup" class="btn btn-outline-danger">Request a free trial</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="/images/vizitor/Retail-3.png" alt="Retail-3" />
            </div>
        </div>
    </div>
    <!---------------------------------------------->
    <div id="bvms2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-6 col-xs-12 center-content">
                    <img src="/images/vizitor/delivery-management/effortless-img.png" alt="effortlessly_manage_packages" />
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 " id="Delivery">
                    <h3 class="bvms-size">Here's what sets Vizitor apart  </h3>
                    <ul>
                        <li><b>Measurable Results:</b> We deliver a 40% reduction in customer wait times, a 35% reduction in operational costs, and an 18% increase in customer satisfaction. </li>
                        <li><b>Seamless Customer Experience:</b>Our system offers self-check-in, automatic service assignment, real-time updates, and intuitive navigation. This creates a calm and efficient waiting room environment.</li>
                        <li><b>Enhanced Staff Efficiency:</b> Automated notifications, customer segmentation, and a real-time dashboard empower your staff to manage queues effectively, leading to increased service capacity. </li>
                        <li><b>Data-Driven Optimization: </b>Vizitor integrates features that reduce administration costs, improve customer-employee interactions, and optimize service capacity. </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- ----------------------------------------- -->

            <!-- <div id="bvms">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-sm-6 col-xs-12 " id="Delivery">
                            <h3 class="bvms-size">Key Features of Vizitor Queue Management System</h3>
                            <ul>
                <li><b>Department Creation & Management:</b> Manage multiple departments and assign staff efficiently.
                </li>
                <li><b>Real-Time Notifications:</b> Staff receive instant alerts when new visitors arrive in their department.
                </li>
                <li><b>Visitor Request Acceptance:</b> Streamline the process by allowing staff to accept visitor requests.
                </li>
                <li><b>Counter Details Notification:</b> Keep visitors informed with real-time notifications about their assigned counter.
            </li>
                <li><b>Department Transfer: </b>Easily transfer visitors to the correct department for a smooth experience.
                </li>
                <li><b>Automatic Department Reset:</b> System automatically resets department numbers each night for a fresh start.
                </li>
            <li><b>Customizable Reporting:</b> Gain valuable insights with customizable reports on visitor data, staff performance, and department statistics.
            </li>
            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 center-content">
                            <img src="/images/vizitor/delivery-management/delivery-empolyes-img.png" alt="3d-delivery" />
                        </div>
                    </div>
                </div>
            </div> -->

    <!-- --------------------------------- -->
    <div class="container">
    <div class="row align-items-center py-5">
        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
            <img src="/images/vizitor/space-management/Fair-empolyees.svg" alt="TouchlessQR" />
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 " id="bvmsli">
            <!-- <p class="Digitize"> FAIR</p> -->
            <h3 class="bvms-size">Benefits of Vizitor Queue Management System
            </h3>
            <ul>
                <li><span><b>Improved Customer Experience:</b> Reduce wait times, provide real-time updates, and offer self-check-in options.
                </span></li>
                <li><span><b>Increased Efficiency:</b> Automate staff assignment, track customer flow in real-time, and optimize service delivery.
                </span>
                </li>
                <li><span><b>Enhanced Productivity:</b> Streamline staff department changes, manage visitor transfers, and automatically reset department numbers.
                </span>
                </li>
                <li><span><b>Data Insights & Analytics:</b> Gain valuable customer data for personalization and track visitor trends to continuously improve.
                </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row align-items-center py-5">
        <div class="col-md-6 col-sm-6 col-xs-12 " id="bvmsli">
            <!-- <p class="Digitize">INFORMED </p> -->
            <h3 class="bvms-size">The Vizitor Queue Management System Workflow
            </h3>
            <ul>
                <li><span>The visitor arrives and proceeds to the QMS counter.
                </span></li>
                <li><span>QMS employee generates a token for the desired department.
                </span></li>
                <li><span>Department staff receives a notification of the visitor's arrival.
                </span></li>
                <li><span>Department staff accepts the visitor's request.
                </span></li>
                <li><span>(Optional) Visitors can be transferred to the correct department if needed.
                </span></li>
                <li><span>Visitor proceeds to the assigned counter and completes their visit.
                </span></li>

            </ul>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
            <img src="/images/vizitor/space-management/fingertips-img.svg" alt="TouchlessQR" />
        </div>
    </div>
</div>
        <!-- -------------------------------------------- -->
        <div id="bvms2">
            <div class="container">
                <!-- <p class="text-center"><span class="Digitize"> Features </span></p> -->
                <h4 class="text-center bvms-size">Key Features of Vizitor Queue Management System:
                </h4>
                <p class="vizitor-pass-p">Make your check-in process easier with smart and automated features.</p>
                <div class="row ">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="text-center">
                            <img src="/images/vizitor/bvm/contact-check.svg" alt="qrcode-f" />
                            <h5 class="vizitor-pass-h5 mt-3">Department Creation & Management</h5>
                            <p class="para_heading">Manage multiple departments and assign staff efficiently.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class=" text-center">
                            <img src="/images/vizitor/bvm/digital-img-nd.svg" alt="pen-underline-fill" />
                            <h5 class="vizitor-pass-h5 mt-3">Real-Time Notifications</h5>
                            <p class="para_heading">Staff receive instant alerts when new visitors arrive in their department.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class=" text-center">
                            <img src="/images/vizitor/bvm/pre-img.svg" alt="envelope-fill" />
                            <h5 class="vizitor-pass-h5 mt-3">Visitor Request Acceptance</h5>
                            <p sclass="para_heading"> Streamline the process by allowing staff to accept visitor requests.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row visitorpass-row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class=" text-center">
                            <img src="/images/vizitor/bvm/analytics-icon.svg" alt="exclamation" />
                            <h5 class="vizitor-pass-h5 mt-3">Counter Details Notification</h5>
                            <p class="para_heading">Keep visitors informed with real-time notifications about their assigned counter.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class=" text-center">
                            <img src="/images/vizitor/bvm/identification.svg" alt="identification" />
                            <h5 class="vizitor-pass-h5 mt-3">Department Transfer</h5>
                            <p class="para_heading"> Easily transfer visitors to the correct department for a smooth experience.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="text-center">
                            <img src="/images/vizitor/bvm/host-img.svg" alt="exclamation" />
                            <h5 class="vizitor-pass-h5 mt-3">Automatic Department Reset</h5>
                            <p class="para_heading">System automatically resets department numbers each night for a fresh start.</p>
                        </div>
                    </div>
                </div>
                <div class="row visitorpass-row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class=" text-center">
                            <img src="/images/vizitor/bvm/print-icon.svg" alt="identification" />
                            <h5 class="vizitor-pass-h5 mt-3">Customizable Reporting</h5>
                            <p class="para_heading">Gain valuable insights with customizable reports on visitor data, staff performance, and department statistics. </p>
                        </div>
                    </div>
                    <!-- <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class=" text-center">
                            <img src="/images/vizitor/bvm/approve icon-img.png" alt="clipboard-list" />
                            <h5 class="vizitor-pass-h5 mt-3">Approve/Disapprove visitors</h5>
                            <p class="para_heading">The employees acting as the host can approve and disapprove of the guests coming to the organization.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="text-center">
                            <img src="/images/vizitor/bvm/customized-form.svg" alt="clipboard-list" />
                            <h5 class="vizitor-pass-h5 mt-3">Customized Form</h5>
                            <p class="para_heading">Create your own custom fields.It allows users to customize the information they collect from guests during check-in. </p>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="text-center">
                            <img src="/images/vizitor/bvm/customized-form.svg" alt="clipboard-list" />
                            <h5 class="vizitor-pass-h5 mt-3">Visitor Gatepass</h5>
                            <p class="para_heading">A visitor gatepass is created for the user, along with emails.</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        
    <!-- ----------------------------------------------- -->
    <div class="pagesection">
        <div style="background: #ED5C18; padding: 80px 0;">
            <div class="container">
                <div class="content ">
                    <div class="text-center">
                        <h2 class="color-wht mt-5 pb-3">Ready to Experience the Power of Vizitor?

                        </h2>
                        <p class="color-wht text-center" style="line-height: 30px;">Book a demo today and see how Vizitor's advanced queue management solutions can transform your customer <br>experience and boost your business's success. Additionally, request a free trial to experience the system firsthand.
                        </p>
                        <div class=" text-center mt-5">
                            <a href="/signup" class="btn-arrow attendence-white-btn">Try For Free</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{end}}