{{ define "main" }}

<div class="container pagebanneres">
    <div class="row align-items-center ">
        <div class="col-12  ">
            <h1 class="text-center">Best Visitor Management System</h1>
            <div class="mt-5">
                <h5>Productivity through workplace automation</h5>
                <br>
                <p>From strangers to expected guests Vizitor(Ibaazar Retailers Pvt Ltd product) is a one stop solution for all your workplace's reception management needs. When we first thought of building our idea, we kept in our head the main motive that
                    vizitor would solve, apart from automating the registration process in every organisation. Our product strategists have put their best efforts to include all the safety features possible like live notifications, capturing visitor photos
                    and printing unique badges for every individual that trespasses your front door.</p>
                <br>
                <p>Vizitor was actually built to improve efficiency at any type of workplace, elevate visitor experience and last but not the least keep it environmentally safe by evicting the use of paper completely. Vizitor will help you to welcome your
                    guests and provide documentation of their whereabouts by assembling the collected amounts of information. Vizitor provides maximum control over the visitors accessing your facilities, keeping their visit safe and secure. It is a product
                    that is very broad and still under progress as with every passing day we are trying to cover all the modern reception needs in it so that whatever comes through your front door is acknowledged and can be tracked at any point of time.</p>
            </div>
        </div>



    </div>

</div>


<div>{{- partial "upgrade.html" . -}}</div>


{{end}}