{{ define "main" }}
<div class="container pagebanneres pb-0">
    <div class="row ">
        <div class="col-md-9 mx-auto text-center">
            <h1>Create a Seamless, Secure Welcome
                With Our Visitor Management System</h1>
            <p>Visitors shouldn’t slow your team down. Vizitor gives your workplace a modern, touchless,
                professional way to welcome guests, so your people can stay focused, safe, and uninterrupted.
            </p>
            <form id="homeForm">
                <div class="form-inline">
                    <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email"
                        required>
                    <input class="btn-try-free" type="submit" value="Try for free">
                </div>
            </form>
            <p class="no-credit mt-3 nocredit">* No credit card required</p>
            <div class="mt-4 pb-5" id="stor">
                {{range .Site.Params.apps}}
                <a href="{{.url}}" target="_blank"><img class="btn-app btn-app-mg phonetop-btn"
                        src="{{.image  | absURL}}" alt="{{.title}}"></a>
                {{end}}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="text-center">
        <img src="/images/vizitor/us/visitor-management-system/visitor-management-system-us.svg"
            alt="Visitor Management System us" class="img-fluid mb-5">
    </div>
</div>

<div class="container mt-5">{{- partial "clients.html" . -}}</div>


<section>
    <div class="container ">
        <div class="row align-items-center">
            <div class="col-md-6 col-12">
                <h2 class="mb-4">Because your lobby sets the
                    tone for your entire workplace</h2>
                <p>A messy visitor experience doesn’t just frustrate guests.</p>
                <p><b>It affects:</b></p>
                <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg" alt="right"></span> Your
                    employees’ focus</p>
                <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg" alt="right"></span>
                    Security’s confidence</p>
                <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg" alt="right"></span> Front
                    desk sanity</p>
                <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg" alt="right"></span> Meeting
                    schedules</p>
                <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg" alt="right"></span> Brand
                    impression</p>
                <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg" alt="right"></span>
                    Compliance readiness</p>
                <p>Vizitor removes friction from the first moment a guest walks in.
                    Your lobby becomes a place where people feel safe, expected,
                    and guided not overwhelmed.</p>
            </div>
            <div class="col-md-6 col-12">
                <img src="/images/vizitor/us/visitor-management-system/workplace.svg" alt="workplace us"
                    class="img-fluid mb-5">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h2 class="mb-4">A visitor Management System that <br>
            actually protects your employees’ time</h2>
        <p>Your people shouldn’t be slowed down by surprise visitors, front-desk chaos, or <br> missing notifications.
            Vizitor removes friction from every arrival.</p>

        <div class="row mt-5">
            <div class="col-md-4 col-6">
                <img src="/images/vizitor/us/visitor-management-system/No-more-surprise-guests.svg"
                    alt="Visitor Management System us2" class="img-fluid mb-3">
                <h5>No more surprise <br>
                    guests</h5>
                <p>Employees know who’s coming, <br>
                    when, and why.</p>
            </div>
            <div class="col-md-4 col-6">
                <img src="/images/vizitor/us/visitor-management-system/No-more-Your-visitor-is-here-calls.svg"
                    alt="Visitor Management System us2" class="img-fluid mb-3">
                <h5>No more
                    "Your visitor is <br> here" calls</h5>
                <p>Hosts get notified automatically the <br>
                    moment a guest checks in.</p>
            </div>
            <div class="col-md-4 col-6">
                <img src="/images/vizitor/us/visitor-management-system/No-more-crowded-lobby-mornings.svg"
                    alt="Visitor Management System us2" class="img-fluid mb-3">
                <h5>No more crowded <br>
                    lobby mornings</h5>
                <p>Touchless entry + digital flow = controlled, <br>
                    calm, predictable.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 col-6">
                <img src="/images/vizitor/us/visitor-management-system/No-more-missed-meetings.svg"
                    alt="Visitor Management System us2" class="img-fluid mb-3">
                <h5>No more missed <br>
                    meetings</h5>
                <p>Guests find their hosts faster, meetings
                    start on time.</p>
            </div>
            <div class="col-md-4 col-6">
                <img src="/images/vizitor/us/visitor-management-system/No-more-waiting-at-reception.svg"
                    alt="Visitor Management System us2" class="img-fluid mb-3">
                <h5>No more waiting at <br> reception</h5>
                <p>Visitors move confidently through the <br>
                    lobby without confusion.</p>
            </div>
            <div class="col-md-4 col-6">
                <img src="/images/vizitor/us/visitor-management-system/No-more-interruptions-for-your-team.svg"
                    alt="Visitor Management System us2" class="img-fluid mb-3">
                <h5>No more interruptions <br>
                    for your team</h5>
                <p>Employees stay focused on real work <br>
                    instead of handling visitor-related noise.</p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container mt-5">

        <div>
            <h2>How Vizitor’s Visitor Management <br>
                System Works</h2>
            <p>A complete journey from pre-arrival to exit, designed to protect your people, <br> streamline the lobby,
                and deliver a modern visitor experience.</p>
        </div>
        <div class="row mt-5 align-items-center">

            <!-- LEFT SIDE STEPS -->
            <div class="col-md-6">
                <div id="steps">

                    <!-- STEP 1 -->
                    <div class="step" data-step="1">
                        <h4 class="step-title">STEP 1: Pre-Arrival</h4>
                        <div class="step-content">
                            <p>Visitors receive a branded invite with:</p>
                            <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg"
                                        alt="right"></span> Meeting details</p>
                            <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg"
                                        alt="right"></span> Parking & arrival instructions</p>
                            <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg"
                                        alt="right"></span> Documents to sign (NDA, HIPAA, Safety)</p>
                            <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg"
                                        alt="right"></span> Unique QR code for Touchless Check-In</p>
                            <p><b>Outcome:</b> Visitors arrive prepared. Employees stay undisturbed.</p>
                        </div>
                    </div>

                    <!-- STEP 2 -->
                    <div class="step" data-step="2">
                        <h4 class="step-title">STEP 2: Touchless Check-In at the Lobby</h4>
                        <div class="step-content">
                            <p>Visitors scan the QR code or tap the kiosk. <br> In seconds, Vizitor collects:</p>
                            <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg"
                                        alt="right"></span> Name</p>
                            <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg"
                                        alt="right"></span> Purpose of visit</p>
                            <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg"
                                        alt="right"></span> Host</p>
                            <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg"
                                        alt="right"></span> Compliance confirmations</p>
                            <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg"
                                        alt="right"></span> Photo (if required)</p>
                        </div>
                    </div>

                    <!-- STEP 3 -->
                    <div class="step" data-step="3">
                        <h4 class="step-title">STEP 3: Instant Host Notifications</h4>
                        <div class="step-content">
                            <p>Employees receive an instant SMS, email, or push notification.</p>
                            <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg"
                                        alt="right"></span> No phone calls</p>
                            <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg"
                                        alt="right"></span> No chasing</p>
                            <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg"
                                        alt="right"></span> No missed guests</p>
                            <p> <b>Outcome:</b> Meetings start on time. Employees stay focused.</p>
                        </div>
                    </div>

                    <!-- STEP 4 -->
                    <div class="step" data-step="4">
                        <h4 class="step-title">STEP 4: Automatic Badge Printing</h4>
                        <div class="step-content">
                            <p>Badges print with:</p>
                            <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg"
                                        alt="right"></span> Visitor photo</p>
                            <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg"
                                        alt="right"></span> Visit purpose</p>
                            <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg"
                                        alt="right"></span> Access level</p>
                            <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg"
                                        alt="right"></span> Time of entry</p>
                            <p><b>Outcome:</b> Check-ins are fast, secure, and entirely paperless.</p>
                        </div>
                    </div>

                    <!-- STEP 5 -->
                    <div class="step" data-step="5">
                        <h4 class="step-title">STEP 5: Real-Time Visitor Dashboard</h4>
                        <div class="step-content">
                            <p>Front desk, security, IT, and workplace teams can see:</p>
                            <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg"
                                        alt="right"></span> Who is currently inside</p>
                            <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg"
                                        alt="right"></span> Who they’re here to meet</p>
                            <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg"
                                        alt="right"></span> When they arrived</p>
                            <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg"
                                        alt="right"></span> Expired visitors</p>
                            <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg"
                                        alt="right"></span> Blocklisted individuals</p>
                            <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg"
                                        alt="right"></span> Unusual activity</p>
                            <p><b>Outcome:</b> A safer workplace with 100% visibility.</p>

                        </div>
                    </div>

                    <!-- STEP 6 -->
                    <div class="step" data-step="6">
                        <h4 class="step-title">STEP 6: Digital Log & Automatic Checkout</h4>
                        <div class="step-content">
                            <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg"
                                        alt="right"></span> Visitors check out via number or name or auto-checkout
                                rules.</p>
                            <p><span><img src="/images/vizitor/us/visitor-management-system/right.svg"
                                        alt="right"></span> Logs are stored securely with timestamps and compliance
                                data.</p>
                            <p><b>Outcome:</b> Perfect audit trails for security, HR, and compliance teams.</p>
                        </div>
                    </div>

                </div>
            </div>

            <!-- RIGHT SIDE IMAGES -->
            <div class="col-md-6 text-center">
                <img id="step-image" src="/images/vizitor/us/visitor-management-system/Pre-Arrival.svg"
                    class="step-img">
            </div>

        </div>
    </div>
</section>



<style>
    .step {
        margin-bottom: 20px;
        cursor: pointer;
    }

    .step-title {
        font-weight: 600;
        padding: 12px 0;
        border-bottom: 1px solid #ddd;
        transition: 0.3s ease;
        font-size: 20px;
    }

    .step-content {
        display: none;
        margin-top: 10px;
    }

    .step-title.active {
        color: #ed5c18;
        ;
        /* Green like dashboard UI */
    }

    .step-img {
        /* width: 350px; */
        max-width: 100%;
        transition: 0.3s ease-in-out;
    }
</style>

<script>
    const stepTitles = document.querySelectorAll(".step-title");
    const contents = document.querySelectorAll(".step-content");
    const imageBox = document.getElementById("step-image");

    const images = {
        1: "/images/vizitor/us/visitor-management-system/Pre-Arrival.svg",
        2: "/images/vizitor/us/visitor-management-system/Touchless-Check-In-at-the-Lobby.svg",
        3: "/images/vizitor/us/visitor-management-system/Instant-Host-Notifications.svg",
        4: "/images/vizitor/us/visitor-management-system/Automatic-Badge-Printing.svg",
        5: "/images/vizitor/us/visitor-management-system/Real-Time-Visitor-Dashboard.svg",
        6: "/images/vizitor/us/visitor-management-system/Digital-Log-Automatic-Checkout.svg",
    };

    stepTitles.forEach(title => {

        title.addEventListener("click", function () {
            const step = this.parentElement.getAttribute("data-step");

            // hide all content
            contents.forEach(c => c.style.display = "none");
            stepTitles.forEach(t => t.classList.remove("active"));

            // show selected
            this.classList.add("active");
            this.nextElementSibling.style.display = "block";

            // change image
            imageBox.src = images[step];
        });
    });

    // default open STEP 1
    document.querySelector(".step[data-step='1'] .step-title").click();


</script>


<section>
    <div class="container">
        <h2 class="mb-4">Everything a modern visitor experience <br>
            should include</h2>
        <p>A complete journey from pre-arrival to exit, designed to protect your people, <br> streamline the lobby, and
            deliver a modern visitor experience.</p>

        <div class="row ">
            <div class="col-md-4 col-12 mt-5">
                <img src="/images/vizitor/us/visitor-management-system/Touchless-mobile-kiosk-check-in.svg"
                    alt="Touchless mobile + kiosk check-in" class="img-fluid mb-3">
                <h5>Touchless mobile + kiosk
                    check-in</h5>
                <p>Let visitors check in within seconds
                    using their phone or a modern, branded
                    kiosk.</p>
            </div>
            <div class="col-md-4 col-12 mt-5">
                <img src="/images/vizitor/us/visitor-management-system/Pre-registration-and-invites.svg"
                    alt="Pre-registration and invites" class="img-fluid mb-3">
                <h5>Pre-registration and invites</h5>
                <p>Share directions, documents, and
                    QR passes before guests arrive for
                    a smoother welcome.</p>
            </div>
            <div class="col-md-4 col-12 mt-5">
                <img src="/images/vizitor/us/visitor-management-system/Photo-capture-and-badge-printing.svg"
                    alt="Photo capture & badge printing" class="img-fluid mb-3">
                <h5>Photo capture & badge
                    printing</h5>
                <p>Instantly print smart badges with photos
                    and access levels for secure,
                    professional entry.</p>
            </div>

            <div class="col-md-4 col-12 mt-5">
                <img src="/images/vizitor/us/visitor-management-system/Host-notifications-SMS-push-email.svg"
                    alt="Host notifications (SMS, push, email)" class="img-fluid mb-3">
                <h5>Host notifications (SMS, push, email)</h5>
                <p>Notify employees the moment their
                    visitor arrives, no front-desk calls
                    needed.</p>
            </div>
            <div class="col-md-4 col-12 mt-5">
                <img src="/images/vizitor/us/visitor-management-system/Custom-workflows-questions.svg"
                    alt="Custom workflows & questions" class="img-fluid mb-3">
                <h5>Custom workflows & questions</h5>
                <p>Tailor every check-in flow to your
                    policies, teams, and visitor types.</p>
            </div>
            <div class="col-md-4 col-12 mt-5">
                <img src="/images/vizitor/us/visitor-management-system/Document-signing-NDAs-HIPAA-safety-policies.svg"
                    alt="Document signing (NDAs, HIPAA, safety policies)" class="img-fluid mb-3">
                <h5>Document signing (NDAs,
                    HIPAA, safety policies)</h5>
                <p>Collect required agreements digitally
                    before entry to stay compliant and
                    audit-ready.</p>
            </div>

            <div class="col-md-4 col-12 mt-5">
                <img src="/images/vizitor/us/visitor-management-system/Visitor-analytics-occupancy-logs.svg"
                    alt="Visitor analytics & occupancy logs" class="img-fluid mb-3">
                <h5>Visitor analytics & occupancy
                    logs</h5>
                <p>See exactly who entered, when, and
                    why with clean, searchable records.</p>
            </div>
            <div class="col-md-4 col-12 mt-5">
                <img src="/images/vizitor/us/visitor-management-system/Multi-site-visitor-management.svg"
                    alt="Multi-site visitor management" class="img-fluid mb-3">
                <h5>Multi-site visitor management</h5>
                <p>Run consistent, secure visitor
                    experiences across all your office
                    locations.</p>
            </div>
            <div class="col-md-4 col-12 mt-5">
                <img src="/images/vizitor/us/visitor-management-system/Blocklist-watchlist-alerts.svg"
                    alt="Blocklist & watchlist alerts" class="img-fluid mb-3">
                <h5>Blocklist & watchlist
                    alerts</h5>
                <p>Automatically flag restricted or high-risk
                    individuals at check-in.</p>
            </div>


            <div class="col-md-4 col-12 mt-5">
                <img src="/images/vizitor/us/visitor-management-system/Access-control-integrations-US-providers.svg"
                    alt="Access control integrations (US providers)" class="img-fluid mb-3">
                <h5>Access control integrations (US providers)</h5>
                <p>Sync visitor entry with your building’s
                    access control for tighter security.</p>
            </div>
            <div class="col-md-4 col-12 mt-5">
                <img src="/images/vizitor/us/visitor-management-system/Real-time-security-dashboards.svg"
                    alt="Real-time security dashboards" class="img-fluid mb-3">
                <h5>Real-time security dashboards</h5>
                <p>Give security teams live visibility into
                    every person currently inside your
                    workplace.</p>
            </div>
            <div class="col-md-4 col-12 mt-5">
                <img src="/images/vizitor/us/visitor-management-system/US-data-residency-audit-logs.svg"
                    alt="US data residency + audit logs" class="img-fluid mb-3">
                <h5>US data residency + audit
                    logs</h5>
                <p>Keep data securely stored in the US
                    with full logging for compliance and
                    inspections.</p>
            </div>





        </div>
    </div>
</section>



<section class="impact-section">
    <div class="container">

        <h2 class="impact-title">The impact your workplace will<br>feel instantly</h2>
        <p class="impact-subtitle">
            Real improvements your people will feel from day one; faster flow, fewer interruptions,<br>
            and a workplace that finally runs the way it should.
        </p>

        <div class="impact-cards mt-5">

            <div class="impact-card">
                <h3 class="impact-percent">63%</h3>
                <h4 class="impact-heading">Faster check-ins</h4>
                <p class="impact-desc">Streamlined mornings for employees and reception teams.</p>
            </div>

            <div class="impact-card">
                <h3 class="impact-percent">50%</h3>
                <h4 class="impact-heading">less lobby congestion</h4>
                <p class="impact-desc">Visitors move without clogging the entrance.</p>
            </div>

            <div class="impact-card">
                <h3 class="impact-percent">75%</h3>
                <h4 class="impact-heading">fewer guest-related interrupt..</h4>
                <p class="impact-desc">Employees stay focused on real work.</p>
            </div>

            <div class="impact-card">
                <h3 class="impact-percent">90%</h3>
                <h4 class="impact-heading">Fewer log errors</h4>
                <p class="impact-desc">HR & security stop fixing manual mistakes.</p>
            </div>

            <div class="impact-card">
                <h3 class="impact-percent">100%</h3>
                <h4 class="impact-heading">Visibility for security</h4>
                <p class="impact-desc">Know exactly who is inside the building.</p>
            </div>

        </div>
    </div>
</section>

<style>
    .impact-section {
        padding: 60px 0;
    }

    /* Titles */
    .impact-title {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 15px;
    }

    .impact-subtitle {
        color: #555;
        font-size: 16px;
        margin-bottom: 40px;
    }

    /* Card Container */
    .impact-cards {
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
    }

    /* Each Card */
    .impact-card {
        background: #FEF9F4;
        padding: 30px 20px;
        border-radius: 14px;
        text-align: center;
        width: 19%;
        min-width: 180px;
    }

    /* Text inside card */
    .impact-percent {
        font-size: 30px;
        color: #ED5C18;
        font-weight: 700;
    }

    .impact-heading {
        font-size: 16px;
        font-weight: 600;
        margin: 8px 0;
    }

    .impact-desc {
        font-size: 16px;
        line-height: 1.4;
    }

    /* -------------------------
   💠 RESPONSIVE DESIGN
   ------------------------- */

    /* Tablet (iPad) Landscape */
    @media (max-width: 1024px) {
        .impact-card {
            width: 30%;
        }
    }

    /* Tablet (portrait) */
    @media (max-width: 768px) {

        .impact-title {
            font-size: 32px;
        }

        .impact-card {
            width: 45%;
            padding: 25px 18px;
        }

        .impact-percent {
            font-size: 32px;
        }
    }

    /* Mobile */
    @media (max-width: 576px) {

        .impact-title {
            font-size: 28px;
        }

        .impact-subtitle {
            font-size: 14px;
        }

        .impact-card {
            width: 100%;
            padding: 22px 18px;
        }

        .impact-percent {
            font-size: 28px;
        }

        .impact-heading {
            font-size: 16px;
        }

        .impact-desc {
            font-size: 13px;
        }
    }
</style>

<div class="container mt-5">
    <div class="">
        <h2>Visitor management that elevates <br>
            every department</h2>
        <p>Every team interacts with visitors differently. Vizitor supports each one with the clarity, <br>
            control, and calm they need to do their best work.</p>
    </div>

    <div class="row mt-5">
        <div class="col-md-4 col-12">
            <img src="/images/vizitor/us/visitor-management-system/Security.svg" alt="">
            <h3 class="mt-3">Security</h3>
            <p>Clear visibility, verified identities,
                instant alerts.</p>
        </div>
        <div class="col-md-4 col-12">
            <img src="/images/vizitor/us/visitor-management-system/Front-Desk.svg" alt="">
            <h3 class="mt-3">Front Desk</h3>
            <p>Calmer mornings, organized flow,
                less manual work.</p>
        </div>
        <div class="col-md-4 col-12">
            <img src="/images/vizitor/us/visitor-management-system/HR-and-People-Teams.svg" alt="">
            <h3 class="mt-3">HR & People Teams</h3>
            <p>Perfect logs, digital agreements, better
                guest experience.</p>
        </div>

    </div>

    <div class="row mt-5">
        <div class="col-md-4 col-12">
            <img src="/images/vizitor/us/visitor-management-system/IT.svg" alt="">
            <h3 class="mt-3">IT</h3>
            <p>SSO, audit logs, permissions, safe
                data handling.</p>
        </div>
        <div class="col-md-4 col-12">
            <img src="/images/vizitor/us/visitor-management-system/Employees.svg" alt="">
            <h3 class="mt-3">Employees</h3>
            <p>Fewer disruptions. Faster meetings.
                Better workplace flow.</p>
        </div>
        <div class="col-md-4 col-12">
            <img src="/images/vizitor/us/visitor-management-system/Visitors.svg" alt="">
            <h3 class="mt-3">Visitors</h3>
            <p>A modern welcome that feels
                professional and effortless.</p>
        </div>

    </div>

</div>


<div class="container mt-5 mb-5">
    <div>
        <h2>Built for every workplace <br>
            that welcomes people</h2>
        <p>From clinics to campuses, Vizitor adapts to the unique flow, security needs, and <br> compliance standards of
            today’s organizations.</p>
    </div>

    <div class="row mt-5">
        <div class="col-md-4 col-12">
            <img src="/images/vizitor/us/visitor-management-system/Corporate-Offices.svg" alt="">
            <h3 class="mt-3">Corporate Offices</h3>
            <p>A polished, secure, and efficient arrival
                experience for clients, vendors, and new
                hires.</p>
        </div>
        <div class="col-md-4 col-12">
            <img src="/images/vizitor/us/visitor-management-system/Healthcare-Facilities-and-Clinics.svg" alt="">
            <h3 class="mt-3">Healthcare Facilities & Clinics</h3>
            <p>Faster patient and visitor check-ins,
                smoother waiting areas, and clear
                visibility for staff.</p>
        </div>
        <div class="col-md-4 col-12">
            <img src="/images/vizitor/us/visitor-management-system/Education-and-School-Campuses.svg" alt="">
            <h3 class="mt-3">Education & School Campuses</h3>
            <p>Verified visitor identity, safe student
                environments, and audit-ready logs.</p>
        </div>

    </div>

    <div class="row mt-5">
        <div class="col-md-4 col-12">
            <img src="/images/vizitor/us/visitor-management-system/Co-Working-and-Flexible-Workspaces.svg" alt="">
            <h3 class="mt-3">Co-Working & Flexible Workspaces</h3>
            <p>Fast member check-ins, guest passes,
                meeting room control, and deliveries.</p>
        </div>
        <div class="col-md-4 col-12">
            <img src="/images/vizitor/us/visitor-management-system/Government-and-Public-Sector-Offices.svg" alt="">
            <h3 class="mt-3">Government & Public Sector Offices</h3>
            <p>Strict access control, watchlist alerts, and
                complete entry logs.</p>
        </div>
        <div class="col-md-4 col-12">
            <img src="/images/vizitor/us/visitor-management-system/Manufacturing-and-Industrial-Sites.svg" alt="">
            <h3 class="mt-3">Manufacturing & Industrial Sites</h3>
            <p>Track contractors, vendors, safety
                briefings, and compliance confirmations.</p>
        </div>

    </div>

</div>


<div class="workplace-card">
    <div class="container">
        <div class="col-md-10 mx-auto text-center py-5">
            <h2>Give your visitors a professional welcome and 
your employees a calmer workday</h2>
            <p>Vizitor brings control, predictability, and safety to every arrival. <br> You’ll feel the difference on day one.
</p>
            <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 ">
                        <div class=" bannerbtn mt-4">
                            <a target="_blank" href="/signup" class="btn-arrow">Get Started</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 ">
                        <div class=" bannerbtn mt-4 mb-3">
                            <a target="_blank" href="/contact" class="spacebtn  ">Contact Us</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<!-- <style>
    .workplacecard {
        border-radius: 100%;
        border: 1px solid #DCDCDC;
        padding: 65px 50px 65px 50px;
    }
</style> -->



{{end}}