{{ define "main" }}
<div class="ios-and-android">
    <div class="container pagebanneres">
        <div class="row center-content">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <h1>
                    <span class="Digitize ">iPad and Android based </span>
                    <br>Visitor Management System
                </h1>
                <p>Streamline the visitor check-in process and transform the front desk experience for<br>your office visitors with an iOS or Android based visitor registration system.</p>
                <br>
                <div class="col-md-5 mx-auto mt-3">
                    <form id="iPadAndroid">
                        <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email" required>
                        <input class="btn-try-free" type="submit" value="Try for free">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div>
                <p class="desk are-still"><span class="are-size">A</span>RE YOU STILL USING A VISITOR <br> LOGBOOK TO REGISTER YOUR <br>VISITORS?</p>
                <br>
                <p>Vizitor brings everything into one easy-to-use tool that works well for you. It helps to revolutionize your business as they can ensure security and protect your staff competently.</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <p>As organizations grow, there will automatically be challenges for companies to manage the regular visitors at the front desk reception. This is where the use of an visitor tracking software can come in to provide a software app driven solution
                to solve this problem of managing visitors.</p>
            <p>There are unique advantages to running your visitor management app on an iOS device - amazing technology, standardization, lots of affordable mounting options and resale value lowering the lifetime cost of ownership.</p>
            <p>Google's Android operating system offers its own advantages as well - a lower upfront price point, low maintenance cost and many more.</p>
            <p>An effective Visitor Management Solution can save an organization from data theft, data misuse, security loophole, several types of loss, and manipulation. </p>
            <p>Vizitor eases the activities of companies, educational institutions, and businesses while ensuring hi secure processing.</p>
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="center-content">
        <h2 class="desk">Features of visitor management iOS and Android App</h2>
    </div>
    <div class="row align-items-center mt-5">
        <div class="col-md-8 col-sm-8 col-xs-12">
            <h5 class="signapore-color font-nunito-SemiBold features-line">OPTIMIZE SECURITY</h5>
            <h5 class="desk font-nunito-SemiBold" style="font-size: 25px;">Secure, Modernise and Automate your front desk</h5>
            <p>Your reception area is the most important location of your organization, this is where the first impressions are formed and it also acts as the first line of defense. We help shield your property, employees and also the guests.</p>
            <p><span class="Digitize help-dot">&#8226;</span> iPad/Tablet Sign In</p>
            <p><span class="Digitize help-dot">&#8226;</span> Emergency Evacuations</p>
            <p><span class="Digitize help-dot">&#8226;</span> Integration</p>
            <p><span class="Digitize help-dot">&#8226;</span> Legal Signatures and NDA signing</p>
            <p><span class="Digitize help-dot">&#8226;</span> Host Notifications</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 center-content">
            <img src="/images/vizitor/ios-based-vsm/optimize-security.png" class="earth-img addemployee" alt="optimize-security" />
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-4 col-sm-4 col-xs-12 center-content">
            <img src="/images/vizitor/ios-based-vsm/workflow-efficiency.png" class="earth-img addemployee" alt="workflow-efficiency" />
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12 ">
            <h5 class="signapore-color font-nunito-SemiBold features-line">INCREASED WORKFLOW EFFICIENCY</h5>
            <h5 class="desk font-nunito-SemiBold" style="font-size: 25px;">For business that demands seamless everyday operation</h5>
            <p>Vizitor accelerates the process of check-ins saving your lot of time to make you more productive. Let us handle your day to day operations so you can focus on a bigger picture.</p>
            <p><span class="Digitize help-dot">&#8226;</span> QR code based authentication</p>
            <p><span class="Digitize help-dot">&#8226;</span> Dashboard</p>
            <p><span class="Digitize help-dot">&#8226;</span> Multi-location</p>
            <p><span class="Digitize help-dot">&#8226;</span> Guest Log-in</p>
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-8 col-sm-8 col-xs-12">
            <h5 class="signapore-color font-nunito-SemiBold features-line">EMPLOYEE CHECK-IN & CHECK-OUT</h5>
            <h5 class="desk font-nunito-SemiBold" style="font-size: 25px;">Keep the track of employees</h5>
            <p>One-stop application for check-in and check-out logs for visitors as well as employees. Just list all your employees in the app as contacts & track their working hours.</p>
            <p><span class="Digitize help-dot">&#8226;</span> Employee Directory</p>
            <p><span class="Digitize help-dot">&#8226;</span> Check-In</p>
            <p><span class="Digitize help-dot">&#8226;</span> Check-Out</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 center-content">
            <img src="/images/vizitor/ios-based-vsm/employee-check-in-and-check-out.png" class="earth-img addemployee" alt="employee-check-in-and-check-out" />
        </div>
    </div>
</div>



<div>{{- partial "upgrade.html" . -}}</div>
{{end}}