{{ define "main" }}
<div>
    <section>
        <div class="container mainbanneres">
            <div class="row">
                <div class="text-center">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <div>
                            <h1>Visitor management system for Coaching centers</h1>
                            <div class="center-content border-line"></div>
                        </div>
                        <div class="mt-5">
                            <p>With vast syllabus and hectic schedule, taking classes for students at the coaching centers has become obvious and crucial. There is a massive trend of students studying at coaching centers after their school hours. But the
                                time consumed in taking admission in these centers is known to every middle or efficiently rich class guardian. First you need to talk to the coaching centre administration, who is responsible for enrollment of the student.They
                                also need valid details of the student who is to be enrolled which are later captured manually on a paperlog or a register. To overcome the complexity of this environment and to manage its resources with optimal efficiency,
                                study centers need to have robust and integrated visitor management system for their day to day operations.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container ">
            <div class="row text-center">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2 class="">Let’s see how it works</h2>
                    <div class="center-content border-line"></div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <p>When you have Vizitor, all your guests need to do is fill in their basic details required by the coaching centre. Vizitor will then automatically capture the visitor’s photograph and digital signature. With such technology, one
                            will not need to maintain the records and details of every student or their parents in his register and their digital signature on legal documents. Thus, it eliminates the struggle of maintenance and staff deployment at your
                            reception very smartly. Vizitor also prints badges that allow the host and other employees to make sure that the person has been screened on entrance. Apart from serving as an excellent visitor check-in software, Vizitor also
                            delivers excellent features like instant notifications, safety and compliance. It has a real time visitor log and smart badging system that enhances security of students and staff at coaching centers. Through the application,
                            you can retrieve any current or past details of student at any particular time and it can also sort them depending on their type and purpose of visit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>



<div>{{- partial "upgrade.html" . -}}</div>
{{end}}