{{ define "main" }}
<div class="container pagebanneres">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div>
                <h1 class="desk">
                    <span class="Digitize">Pre-registration</span> for visitors
                </h1>
            </div>
            <div data-wow-duration="1.5s">
                <p>Do you know who’s coming to your office today? Guess what if you already know who is going to visit you? Now you can make sure their check-in process goes smoothly by loading their information in advance. When invite visitors using pre-registration,
                    you can automatically send a custom message or email with meeting details, location and custom arrival instructions.</p>
                <div class="bannerbtn mt-4">
                    <a href="/signup" class="btn-arrow">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div style="margin-top:5%;">
                <img src=" /images/vizitor/pre-registration/pre-registration.png" alt="pre-registration">
            </div>
        </div>
    </div>
</div>


<div class="container pagesection">
    <div class="card-deck">
        <div class="card text-center card-shadow">
            <div class="mt-3">
                <img src=" /images/vizitor/pre-registration/invites-from-web.png" class="pricingimg2 cardimg" alt="invites-from-web">
            </div>
            <div class="card-body">
                <h5 class="card-title">Invites from<br>web</h5>
                <p class="card-text">Anyone on your team can invite visitors using their personal employee dashboard. You can even invite guests on behalf of another employee.</p>
            </div>
        </div>
        <div class="card text-center card-shadow">
            <div class="mt-3">
                <img src=" /images/vizitor/pre-registration/invite-from-vizior-pass.png" class="pricingimg2 imgtop-text cardimg" alt="invite-from-vizior-pass">
            </div>
            <div class="card-body">
                <h5 class="card-title"> Invite from
                    <br />Vizitor PASS</h5>
                <p class="card-text">It is a smart visitor management application that can be installed on the mobile phones of every employee and perfect for employees to manage visitors with their own.</p>
            </div>
        </div>
        <div class="card text-center card-shadow">
            <div class="mt-3">
                <img src=" /images/vizitor/pre-registration/multiple-invites.png" class="pricingimg2 cardimg" alt="multiple-invites">
            </div>
            <div class="card-body">
                <h5 class="card-title">Multiple
                    <br />Invites</h5>
                <p class="card-text">Make the most of pre-registration, and invite multiple visitors at once. There’s no need to fill out an invite form for each visitor!</p>
            </div>
        </div>

    </div>
</div>

<div class="container pagesection">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <img src=" /images/vizitor/pre-registration/click.png" alt="click" class="promotion-img">
            <p class="desk help-p"><b>One-click email invites</b></p>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <p>With just one click, you can send visitors an invite email with all the information they need for a successful arrival. It's the easiest way to share the meeting time and date, your office address, a map and other helpful details.</p>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <img src=" /images/vizitor/pre-registration/invite-details.png" alt="invite-details" class="promotion-img">
            <p class="desk help-p"><b>Customized Invite details</b></p>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <p>The invite template include essential information like your phone number, date and time. It’s also easy to add custom information your visitors need, too</p>
        </div>
    </div>
</div>



<div>{{- partial "upgrade.html" . -}}</div>
{{end}}