<div class="py-5" style="background-color: #FCFCFC;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 col-12 phone-fast">
                <p><span class="Digitize">HOW IT BENIFITS YOUR COMPANY?</span></p>
                <h3 class="chgh3">Key benefits of visitor management software </h3>
                <p>A powerful tool to allow your employees to manage their visitors by saving each other's time.</p>
                <div class="my-5 ">
                    <form id="benefitsCompany">
                        <input type="email" class="email-input" id="emailbenefitsCompany" name="emailbenefitsCompany" placeholder="Enter your email" required>
                        <input class="btn-try-free" type="submit" value="Try for free">
                    </form>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 col-12 phone-fast">
                <div class="card-deck ">
                    <div class="card keyline2 keyline key-card benefits-card-b">
                        <div class="benifts-card-center">
                            <img class="reliable-point" src='{{"/images/vizitor/security.svg" | absURL}}' alt="security">
                            <p><b style="color: #3F4450;">Use Vizitor to improve 
                                        workplace security</b></p>
                            <p style="font-size: 16px;">Vizitor safeguards your people, property, and ideas, allowing you to confidently welcome visitors.</p>
                        </div>
                    </div>
                    <div class="card keyline3 key-card benefits-card-b">
                        <div class="benifts-card-center">
                            <img class="reliable-point" src='{{"/images/vizitor/Multi-Platform.svg" | absURL}}' alt="Multi-Platform">
                            <p><b style="color: #3F4450;">Multi-Platform Support</b></p>
                            <p style="font-size: 16px;">It's not just a single app, it's a complete suite of applications deployed on Web, iOS, and Android which helps you to manage your regular visitors.</p>
                        </div>
                    </div>
                </div>
                <div class="card-deck ">
                    <div class="card keyline1 key-card benefits-card-b">
                        <div class="benifts-card-center">
                            <img class="reliable-point" src='{{"/images/vizitor/impression.svg" | absURL}}' alt="impression">
                            <p><b style="color: #3F4450;">Improve your first impression</b></p>
                            <p style="font-size: 16px;">Vizitor displays your logo by adding it to the iPad kiosk and visitor badges to reinforce your brand and create a polished, professional appearance.</p>
                            </p>
                        </div>
                    </div>
                    <div class="card key-card benefits-card-b">
                        <div class="benifts-card-center">
                            <img class="reliable-point" src='{{"/images/vizitor/Cost-Effective.svg" | absURL}}' alt="Cost-Effective">
                            <p><b style="color: #3F4450;">Cost Effective Solution</b></p>
                            <p style="font-size: 16px;">Visitor management solutions are specifically developed to help out people in maintaining everything properly and effectively.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- key to success section Ends -->
<div class="headingsub">
    <div class="container">
        <div id="clientscroll">
            <div class="text-center">
                <p><span class="Digitize">SPOTLIGHT</span></p>
                <h3 class="chgh3">Featured-in</h3>
            </div>
            <!-- <div class="owl-carousel-featuredin owl-theme mt-5 mb-5 slider">
                {{ range .Site.Data.featuredin.items }}
                <div class="slide">
                    
                    <div class="client-slide">
                        <a class="card-name" href="{{.link}}" target="_blank"><img src="{{ .image | absURL }}" alt="{{.brand}}" class="img-fluid"></a>
                    </div>
                </div>
                {{end}}
            </div> -->
            <div class="my-5">
                <div class="slider-logo">
                    <div class="slide-track">
                        <div class="slidelogo">
                            <a href="https://yourstory.com/2020/01/indian-startups-equity-free-grants-y-combinator" target="_blank"><img src="/images/vizitor/featured-in/logo-yourstory.svg" alt="logo-yourstory" /></a>
                        </div>
                        <div class="slidelogo">
                            <a href="https://www.livemint.com/brand-post/vizitor-is-helping-businesses-operate-post-lockdown-11592305232351.html" target="_blank"><img src="/images/vizitor/featured-in/mint-logo.svg" alt="mint-logo" /></a>
                        </div>
                        <div class="slidelogo">
                            <a href="https://inc42.com/buzz/four-indian-startups-from-y-combinators-startup-school-bag-15k-funding/" target="_blank"><img src="/images/vizitor/featured-in/Inc42-logo.svg" alt="Inc42-logo" /></a>
                        </div>
                        <div class="slidelogo">
                            <a href="https://m.dailyhunt.in/news/india/english/inc42-epaper-inc/funding+galore+indian+startup+funding+of+the+week+29+october+03+november-newsid-100711560" target="_blank"><img src="/images/vizitor/featured-in/dailyhunt.svg" alt="dailyhunt" /></a>
                        </div>
                        <div class="slidelogo">
                            <a href="https://yourstory.com/2020/01/indian-startups-equity-free-grants-y-combinator" target="_blank"><img src="/images/vizitor/featured-in/logo-yourstory.svg" alt="logo-yourstory" /></a>
                        </div>
                        <div class="slidelogo">
                            <a href="https://www.livemint.com/brand-post/vizitor-is-helping-businesses-operate-post-lockdown-11592305232351.html" target="_blank"><img src="/images/vizitor/featured-in/mint-logo.svg" alt="mint-logo" /></a>
                        </div>
                        <div class="slidelogo">
                            <a href="https://inc42.com/buzz/four-indian-startups-from-y-combinators-startup-school-bag-15k-funding/" target="_blank"><img src="/images/vizitor/featured-in/Inc42-logo.svg" alt="Inc42-logo" /></a>
                        </div>
                        <div class="slidelogo">
                            <a href="https://m.dailyhunt.in/news/india/english/inc42-epaper-inc/funding+galore+indian+startup+funding+of+the+week+29+october+03+november-newsid-100711560" target="_blank"><img src="/images/vizitor/featured-in/dailyhunt.svg" alt="dailyhunt" /></a>
                        </div>
                        <div class="slidelogo">
                            <a href="https://yourstory.com/2020/01/indian-startups-equity-free-grants-y-combinator" target="_blank"><img src="/images/vizitor/featured-in/logo-yourstory.svg" alt="logo-yourstory" /></a>
                        </div>
                        <div class="slidelogo">
                            <a href="https://www.livemint.com/brand-post/vizitor-is-helping-businesses-operate-post-lockdown-11592305232351.html" target="_blank"><img src="/images/vizitor/featured-in/mint-logo.svg" alt="mint-logo" /></a>
                        </div>
                        <div class="slidelogo">
                            <a href="https://inc42.com/buzz/four-indian-startups-from-y-combinators-startup-school-bag-15k-funding/" target="_blank"><img src="/images/vizitor/featured-in/Inc42-logo.svg" alt="Inc42-logo" /></a>
                        </div>
                        <div class="slidelogo">
                            <a href="https://m.dailyhunt.in/news/india/english/inc42-epaper-inc/funding+galore+indian+startup+funding+of+the+week+29+october+03+november-newsid-100711560" target="_blank"><img src="/images/vizitor/featured-in/dailyhunt.svg" alt="dailyhunt" /></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>