<!-- Why Choose -->
<div class="mb-5">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 text-center ">
                    <p><span class="Digitize">BLOG</span></p>
                    <h4 class="hero-h1 chgh4">Best practices for efficient workplaces</h4>
                </div>
            </div>
            <div class="row mt-5">
                {{ range (.Paginator 3).Pages.ByPublishDate.Reverse }}
                <div class="col-lg-4 col-md-4 col-12  mt-4">
                    <div>
                        <div class="card-deck">
                            <a href="{{ .RelPermalink }}">
                                <div class="card" style="background: #fef9f4;;border-radius: 20px;">
                                    <div class="card-body">
                                        <p maxlength="50" class="card-text-blog titleclear">{{ .Title }} </p>
                                        <p class="card-text" style="font-size: 14px;">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
                                        <p maxlength="100" class="card-text descriptionclear mb-2">{{ .Description }} </p>
                                        <a class="blog-btn-arrow " href="{{ .RelPermalink }}"
                                            style="color: #ED5C18;">Know more <img style="margin-left: 5px;"
                                                src="/images/vizitor/Icon.svg" alt="Icon"></a>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
                {{ end }}
            </div>

        </div>
    </div>
</div>

<!-- ---------------------------------------------------- -->
<!-- <div id="Eco-friendly-Blogs">
    <div class="container ">
        <div class="center-content pb-5">
            <h2> Blogs</h2>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="card-deck">
                    <a aria-label="Know more" href="/blog/goodfirms-ranks-vizitor-as-one-of-the-leading-visitor-management-software/">
                        <div class="card" style="background: #FCFCFC;border-radius: 20px;">
                            <img class="card-img-top" src="/images/vizitor/istockphoto.jpg" alt="goodfirms" />
                            <div class="card-body">
                                <h2 maxlength="50" class="card-title titleclear chgh2">GoodFirms Ranks Vizitor as One of the Leading Visitor Management Software</h2>
                                <p class="card-text">03 March 2020</p>
                                <p maxlength="100" class="card-text mb-3 descriptionclear">Making the process of check-in shift from messy paperwork to an organized digital framework endows Vizitor as one of the top visitor management software at GoodFirms.</p>
                                <a class="blog-btn-arrow " aria-label="Know more" href="/blog/goodfirms-ranks-vizitor-as-one-of-the-leading-visitor-management-software/" style="color: #ED5C18;">Know more  <img src="/images/vizitor/Icon.svg" alt="Icon"></a>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="card-deck">
                    <a aria-label="Know more" href="/blog/what-is-the-best-feature-of-digital-visitor-management-software">
                        <div class="card" style="background: #FCFCFC;border-radius: 20px;">
                            <img class="card-img-top" src="/images/vizitor/istockphoto.jpg" alt="features-VM-software" />
                            <div class="card-body">
                                <h2 maxlength="50" class="card-title titleclear chgh2">What is the best feature of digital visitor management software?</h2>
                                <p class="card-text">16 December 2019</p>
                                <p maxlength="100" class="card-text mb-3 descriptionclear">Vizitor makes it easy to reach employees where they are. Choose to send host notifications via email, SMS and  push notifications.</p>
                                <a class="blog-btn-arrow " aria-label="Know more" href="/blog/what-is-the-best-feature-of-digital-visitor-management-software" style="color: #ED5C18;">Know more  <img src="/images/vizitor/Icon.svg" alt="Icon"></a>
                            </div>
                        </div>
                    </a>

                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="card-deck">
                    <a aria-label="Know more" href="/blog/tools-for-front-office-transformation">
                        <div class="card" style="background: #FCFCFC;border-radius: 20px;">
                            <img class="card-img-top" src="/images/vizitor/istockphoto.jpg" alt="Transformation" />
                            <div class="card-body">
                                <h2 maxlength="50" class="card-title titleclear chgh2">Tools For Front Office Transformation</h2>
                                <p class="card-text">22 October 2019</p>
                                <p maxlength="100" class="card-text mb-3 descriptionclear">We are living in a converging world where the digital revolution in offices is much more than eliminating the paperwork and switching to digital check-in process. This transformation helps the small business to benefit
                                    from these tools to emerge as bigger units.</p>
                                <a class="blog-btn-arrow " aria-label="Know more" href="/blog/tools-for-front-office-transformation" style="color: #ED5C18;">Know more  <img src="/images/vizitor/Icon.svg" alt="Icon"></a>
                            </div>
                        </div>
                    </a>

                </div>
            </div>

        </div>
        <div class="text-center mt-4">
            <a href="/blog" class="btn-arrow">All Blogs</a>
        </div>
    </div>
</div> -->
<!-- ----------------------------------------------------------- -->
<!-- Why Choose Ends -->