<div class="casestudies">
    <div class="container">

        <div class="row mt-5 align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img class="mb-5" src=" /images/vizitor/Hard-Rock-Cafe.webp" alt="Hard-Rock-Cafe">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p><span class="Digitize">TESTIMONIALS</span></p>
                <h3 class="chgh3 mb-4">How we reshaped visitor management for Hard Rock Cafe at 175 locations across the globe</h3>
                <p>Every guest is unique in a way and with vizitor they are provided unique IDs which helps us in tracking down their details easily along with their in and out time. Hard rock cafes get a lot of great feedback from their guests based on
                    the easy check-in process.
                </p>
                <br>
                <p>“This is how we can visualize a future centric workplace”
                    <br><b>Dhiren, 
                        <br>Hard Rock Cafe Nigeria</b></p>
                <br>
                <a class="blog-btn-arrow " href="/signup" style="color: #ED5C18;">Sign up for free  <img style="margin-left: 5px;" src="/images/vizitor/Icon.svg" alt="Icon"></a>
            </div>
        </div>
    </div>
</div>