<div class="casestudies">
    <div class="container">

        <div class="row mt-5 align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="/images/case-studies/retina-centre.jpeg" alt="retina-centre">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p><span class="Digitize">CASE STUDIES</span></p>
                <h3 class=" mb-4" style="font-size: 30px;line-height: 35px;">Enhancing Patient Experience: Retina Centre Optimizes Appointment Management with Vizitor</h3>
                <p>Vizitor has revolutionized our appointment management process, enabling us to provide a seamless and efficient experience for our patients.</p>
                <p>“Farhad Ahmed, Retina Centre”</p>
                <br>
                <a class="blog-btn-arrow " href="/case-studies" style="color: #ED5C18;">Know more  <img style="margin-left: 5px;" src="/images/vizitor/Icon.svg" alt="Icon"></a>
            </div>
        </div>
    </div>
</div>