<div class="container text-center mb-5">
    <h2>Trusted by secure workplaces worldwide</h2>
</div>

<div class="slider-logo">
    <div class="slide-track">

        <div class="slidelogo">
            {{ partial "img.html" (dict "src" "vizitor/vizitor-clint/hardrock.svg" "alt" "hardrock" "class" "") }}
        </div>

        <div class="slidelogo">
            {{ partial "img.html" (dict "src" "vizitor/vizitor-clint/hng.svg" "alt" "hng" "class" "") }}
        </div>

        <div class="slidelogo">
            {{ partial "img.html" (dict "src" "vizitor/vizitor-clint/veolia.svg" "alt" "veolia" "class" "") }}
        </div>

        <div class="slidelogo">
            {{ partial "img.html" (dict "src" "vizitor/vizitor-clint/digicel.svg" "alt" "digicel" "class" "") }}
        </div>

        <div class="slidelogo">
            {{ partial "img.html" (dict "src" "vizitor/vizitor-clint/nestie.svg" "alt" "nestie" "class" "") }}
        </div>

        <div class="slidelogo">
            {{ partial "img.html" (dict "src" "vizitor/vizitor-clint/shiprocket.svg" "alt" "shiprocket" "class" "") }}
        </div>

        <div class="slidelogo">
            {{ partial "img.html" (dict "src" "vizitor/vizitor-clint/axio.svg" "alt" "axio" "class" "") }}
        </div>

        <div class="slidelogo">
            {{ partial "img.html" (dict "src" "vizitor/vizitor-clint/hardrock.svg" "alt" "hardrock" "class" "") }}
        </div>

        <div class="slidelogo">
            {{ partial "img.html" (dict "src" "vizitor/vizitor-clint/hng.svg" "alt" "hng" "class" "") }}
        </div>

        <div class="slidelogo">
            {{ partial "img.html" (dict "src" "vizitor/vizitor-clint/veolia.svg" "alt" "veolia" "class" "") }}
        </div>

        <div class="slidelogo">
            {{ partial "img.html" (dict "src" "vizitor/vizitor-clint/digicel.svg" "alt" "digicel" "class" "") }}
        </div>

        <div class="slidelogo">
            {{ partial "img.html" (dict "src" "vizitor/vizitor-clint/shiprocket.svg" "alt" "shiprocket" "class" "") }}
        </div>

        <div class="slidelogo">
            {{ partial "img.html" (dict "src" "vizitor/vizitor-clint/axio.svg" "alt" "axio" "class" "") }}
        </div>

        <div class="slidelogo">
            {{ partial "img.html" (dict "src" "vizitor/vizitor-clint/digicel.svg" "alt" "digicel" "class" "") }}
        </div>

        <div class="slidelogo">
            {{ partial "img.html" (dict "src" "vizitor/vizitor-clint/veolia.svg" "alt" "veolia" "class" "") }}
        </div>

        <div class="slidelogo">
            {{ partial "img.html" (dict "src" "vizitor/vizitor-clint/shiprocket.svg" "alt" "shiprocket" "class" "") }}
        </div>

    </div>
</div>
