<!-- test -->
<!-- <div id="clientscroll">
    <section class="owl-carousel-featuredin owl-theme slider">
        {{ range .Site.Data.clients.items }}
        <div class="slide">
            <div class="client-slide grayscale"><img src="{{ .image | absURL }}" alt="{{.brand}}" class="img-fluid"></div>
        </div>
        {{end}}
    </section>
</div> -->

<!-- <div class="container">
    <div class="slider-logo">
        <div class="slide-track">
            {{ range .Site.Data.clients.items }}
            <div class="slidelogo">
                <img src="{{ .image | absURL }}" alt="{{.brand}}"  >
            </div>
            {{end}}
        </div>
    </div>
</div> -->

<div class="container text-center mb-5">
    <h2>Trusted by secure workplaces worldwide</h2>
</div>

<div class="slider-logo">
    <div class="slide-track">
        <div class="slidelogo">
            <img src="/images/vizitor/vizitor-clint/hardrock.webp" alt="hardrock" />
        </div>
        <div class="slidelogo">
            <img src="/images/vizitor/vizitor-clint/hng.webp" alt="hng" />
        </div>
        <div class="slidelogo">
            <img src="/images/vizitor/vizitor-clint/veolia.webp" alt="veolia" />
        </div>
        <div class="slidelogo">
            <img src="/images/vizitor/vizitor-clint/digicel.webp" alt="digicel" />
        </div>
        <div class="slidelogo">
            <img src="/images/vizitor/vizitor-clint/nestie.webp" alt="nestie" />
        </div>
        <div class="slidelogo">
            <img src="/images/vizitor/vizitor-clint/shiprocket.webp" alt="shiprocket" />
        </div>
        <div class="slidelogo">
            <img src="/images/vizitor/vizitor-clint/axio.webp" alt="axio" />
        </div>
        <div class="slidelogo">
            <img src="/images/vizitor/vizitor-clint/hardrock.webp" alt="hardrock" />
        </div>
        <div class="slidelogo">
            <img src="/images/vizitor/vizitor-clint/hng.webp" alt="hng" />
        </div>
        <div class="slidelogo">
            <img src="/images/vizitor/vizitor-clint/veolia.webp" alt="veolia" />
        </div>
        <div class="slidelogo">
            <img src="/images/vizitor/vizitor-clint/digicel.webp" alt="digicel" />
        </div>
        <div class="slidelogo">
            <img src="/images/vizitor/vizitor-clint/shiprocket.webp" alt="shiprocket" />
        </div>
        <div class="slidelogo">
            <img src="/images/vizitor/vizitor-clint/axio.webp" alt="axio" />
        </div>
        <div class="slidelogo">
            <img src="/images/vizitor/vizitor-clint/digicel.webp" alt="digicel" />
        </div>
        <div class="slidelogo">
            <img src="/images/vizitor/vizitor-clint/veolia.webp" alt="veolia" />
        </div>
        <div class="slidelogo">
            <img src="/images/vizitor/vizitor-clint/shiprocket.webp" alt="shiprocket" />
        </div>
    </div>
</div>