<div class="Touchless-technology technology-tb">
    <div class="container">
        <div class="center-content ">
            <h4 class="color-wht mb-5 chgh4">Efficient and applicable for every sector</h4>
            <p class="Touchless-technology-p ">Vizitor powers productivity and efficiency by speeding up the guest check in process. It is the most ethical and impressive way to welcome your visitors. When no one is around at the front desk, people can still check in, which is a huge time
                saver. Vizitor can be used by offices, salons, schools, co-working, hotels, events, societies, hospitals. It is very helpful as the data can be retrieved for security and other purposes at any point of time.</p>

            <div class="headerbottombardiv">
                <h4 class="color-wht mb-3 chgh4">Visitor Management System For Digital India</h4>
                <p class="Touchless-technology-p ">Capture visitor photos and information when they arrive at your doorstep. You can customize the documents you want to be signed by your guests according to their purpose of visit. As soon as the guest enters your workspace you get instant
                    notifications which is itself an added layer of comfort as well as security. Welcome the latest technology and say goodbye to sign-in registers made of unreliable paperlogs. Vizitor is an innovative yet simple way to welcome your guests
                    whether they are known or unexpected ones. It is also secure and professional way to manage and identify guests at your workspace. It is a type of access control system that can be deployed in various industrial sectors like Banking
                    and Financial, Education institutions, Enterprise and Corporate organisations, Government offices, Healthcare industry etc. Vizitor is very helpful for your organisation as it assists access control, guest management, mobile authentication
                    and secure visit for every type of guest. Investing in such a technology will surely boost the office security and help to improve your brand value in eyes of your customers and guests. Vizitor also ensures improvement in efficiency
                    of your front desk whether it is an organisation or a multi national company.</p>

            </div>

            <span class="slide-toggle"><img class="arrowup" src="/images/vizitor/scroll.gif" alt="scroll"></span>
        </div>
    </div>
</div>