<div class="for-visitor-bd mt-5">
    <div class="col-md-11 mx-auto py-5">
        <div class="card-deck">
            <div class="card">
                <div class="card-body card-body-for for-visitor-card">
                    <a href="https://play.google.com/store/apps/details?id=com.vizitor.app&hl=en" target="_blank" class="btn-arrow for-visitor-btn mb-4">FOR VISITOR</a>
                    <h4 class="vistor-hd "> Effortless Check-in Solution!</h4>
                    <hr class="vistor-hr">
                    <div class="row mt-4" id="tabs">
                        <div class="col-lg-7 col-md-12 col-12">
                            <ul class="tab-slaider" id="accordion">
                                <li>
                                    <a class="active" href="#tabs-multi-apartment">
                                        <div class="tag">
                                            <img class="active-img" src="/images/vizitor/dot.svg" alt="dot">
                                            <span class="title headimg-color">Digital Document Signing</span>
                                        </div>
                                    </a>
                                    <div class="addon addon-left fadein" style="display: none;">
                                        <span class="slide-text-phone">Protect from guest exposing & Prompts sign agreements, like NDAs and waivers, on the iPad during sign in.</span>
                                    </div>
                                </li>

                                <li>
                                    <a href="#tabs-multi-townhouse">
                                        <div class="tag">
                                            <img class="active-img" src="/images/vizitor/dot.svg" alt="dot">
                                            <span class="title headimg-color">Badge printing</span>
                                        </div>
                                    </a>
                                    <div class="addon addon-left ">
                                        <span class="slide-text-phone">easily track and identify visitors with customizable badges that contain important details and a photograph.</span>
                                    </div>
                                </li>
                                <li>
                                    <a href="#tabs-multi-multiplex">
                                        <div class="tag">
                                            <img class="active-img " src="/images/vizitor/dot.svg" alt="dot">
                                            <span class="title headimg-color">Pre-registration</span>
                                        </div>
                                    </a>
                                    <div class="addon addon-left ">
                                        <span class="slide-text-phone">Excellent way to welcome VIP guests and streamline visitor check-in by registering before arrival for great lasting impression.</span>
                                    </div>
                                </li>
                                <li>
                                    <a href="#tabs-multi-homes">
                                        <div class="tag">
                                            <img class="active-img" src="/images/vizitor/dot.svg" alt="dot">
                                            <span class="title headimg-color">Touchless/QR</span>
                                        </div>
                                    </a>
                                    <div class="addon addon-left ">
                                        <span class="slide-text-phone">Employees and visitors can easily sign in with the Touchless or a QR code so they can sign-in without touch anything.</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="Try-for-free-btn-features mb-3 Try-free">
                                <a href="/signup" class="btn-arrow for-visitor-btn-free">Try for free</a>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12 col-12 for-img features-img-tabs">
                            <div id="tabs-multi-apartment">
                                <figure><img class="tab-card-img" src="/images/vizitor/Digital-Document-Signing.svg" alt="Digital-Document-Signing"></figure>
                            </div>
                            <div id="tabs-multi-townhouse">
                                <figure><img class="tab-card-img" src="/images/vizitor/Badge-printing-for-visitor.svg" alt="Badge-printing"></figure>
                            </div>
                            <div id="tabs-multi-multiplex">
                                <figure><img src="/images/vizitor/Pre-registration.svg" alt="Pre-registration"></figure>
                            </div>
                            <div id="tabs-multi-homes">
                                <figure><img src="/images/vizitor/TouchlessQR1.svg" alt="TouchlessQR"></figure>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card">
                <div class="card-body card-body-for">
                    <a href="https://play.google.com/store/apps/details?id=com.vizitor.pass&hl=en" target="_blank" class="btn-arrow for-Employees-btn mb-4">FOR EMPLOYEE</a>
                    <h4 class="vistor-hd mb-3">Perfect Companion for Employees!</h4>
                    <hr class="vistor-hr">
                    <div class="row mt-4" id="tabs1">
                        <div class="col-lg-7 col-md-12 col-12">
                            <ul class="tab-slaider" id="accordion1">
                                <li>
                                    <a class="active" href="#approve-disapprove">
                                        <div class="tag">
                                            <img class="active-img" src="/images/vizitor/dot.svg" alt="dot">
                                            <span class="title headimg-color">Approve/Disapprove visitors</span>
                                        </div>
                                    </a>
                                    <div class="addon addon-left fadein  " style="display: none;">
                                        <span class="slide-text-phone">Host can Quickly and securely approve/disapprove their visitors at the entrance with a custom message and email.</span>
                                    </div>
                                </li>
                                <li>
                                    <a href="#send-check-invites">
                                        <div class="tag">

                                            <img class="active-img" src="/images/vizitor/dot.svg" alt="dot">
                                            <span class="title headimg-color">Send & Check Invites</span>
                                        </div>
                                    </a>
                                    <div class="addon addon-left ">
                                        <span class="slide-text-phone">Send invitations with venue and host details, and Visitors would receive a unique passcode with an invitation.</span>
                                    </div>
                                </li>
                                <li>
                                    <a href="#add-organization">
                                        <div class="tag">
                                            <img class="active-img " src="/images/vizitor/dot.svg" alt="dot">
                                            <span class="title headimg-color">Add organization</span>
                                        </div>
                                    </a>
                                    <div class="addon addon-left ">
                                        <span class="slide-text-phone">Hello to seamless transitions, Effortlessly switch locations and register yourself with convenience of a Vizitor Pass.</span>
                                    </div>
                                </li>
                                <li>
                                    <a href="#touchless-attendance">
                                        <div class="tag">
                                            <img class="active-img" src="/images/vizitor/dot.svg" alt="dot">
                                            <span class="title headimg-color">Touchless attendance</span>
                                        </div>
                                    </a>
                                    <div class="addon addon-left ">
                                        <span class="slide-text-phone">Experience toucless attendance with Vizitor pass, making check-ins and check-outs a breeze and hello to convenience and safety.</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="Try-for-free-btn-features mb-3 Try-free">
                                <a href="/signup" class="btn-arrow for-Employees-btn-free ">Try for free</a>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12 col-12 for-img features-img-tabs">
                            <div id="approve-disapprove">
                                <figure><img class="tab-card-img" src="/images/vizitor/Approve-Disapprove-visitors.svg" alt="Approve-Disapprove-visitors"></figure>
                            </div>
                            <div id="send-check-invites">
                                <figure><img class="tab-card-img" src="/images/vizitor/Send&Recieve-Invites.svg" alt="Send&Recieve-Invites"></figure>
                            </div>
                            <div id="add-organization">
                                <figure><img src="/images/vizitor/Add-organization.svg" alt="Add-organization"></figure>
                            </div>
                            <div id="touchless-attendance">
                                <figure><img src="/images/vizitor/Touchless-attendance.svg" alt="Touchless-attendance"></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="headingsub">
    <div class="container ">
        <div class="row vistor-card align-items-center" id="tabs2">
            <div class="col-lg-5 col-md-6 col-12">
                <div class="for-vt">
                    <p><span class="Digitize ">FEATURES</span></p>
                    <h3 class="chgh3 mb-4">Upgrade your checkin process now and switch to Vizitor!</h3>
                </div>
                <ul class="tab-slaider-Upgrade mt-4" id="accordion2">
                    <li class="li-btm">
                        <a class="step circle active " href="#touchless-Check-ins">
                            <div>
                                <img src="/images/vizitor/touchless-Check-ins-vizitor.svg" class="Features-img" alt="touchless-Check-ins">
                                <span class="titleUpgrade headimg-Upgrade heading-title">Touchless Check-ins</span>
                            </div>
                        </a>
                        <div class="addon fadein text " style="display: none;">
                            <div class="slide-text-phone">
                                <span>Vizitor enables digital check-in to eliminate paperwork and offers a touchless sign-in process to limit the spread of germs while still welcoming guests with care</span>
                                <span><a class="Features-singup" href="/signup">Sign up for free <img style="margin-left: 5px;" src="/images/vizitor/arrow-right.svg" alt="arrow-right"></a></span>
                            </div>
                        </div>
                        <hr>
                    </li>

                    <li class="li-btm">
                        <a href="#host-Notifications">
                            <div>
                                <img src="/images/vizitor/host-Notifications-vizitor.svg" class="Features-img" alt="host-Notifications">
                                <span class="titleUpgrade headimg-Upgrade heading-title">Host Notifications</span>
                            </div>
                        </a>
                        <div class="addon ">
                            <div class="slide-text-phone">
                                <span>Vizitor sends instant alert notifications to the host when guests check in, saving time and effort in tracking them down.</span>
                                <span><a class="Features-singup" href="/signup">Sign up for free <img style="margin-left: 5px;" src="/images/vizitor/arrow-right.svg" alt="arrow-right"></a></span>
                            </div>
                        </div>
                        <hr>
                    </li>
                    <li class="li-btm">
                        <a href="#send-Invites">
                            <div>
                                <img src="/images/vizitor/send-Invites-vizitor.svg" class="Features-img" alt="send-Invites">
                                <span class="titleUpgrade headimg-Upgrade heading-title">Send Invites</spanp>
                            </div>
                        </a>
                        <div class="addon ">
                            <div class="slide-text-phone">
                            <span>Vizitor allows you to send invitations to your guests with venue and host details, and guests can simply tap on the invitee option on the Vizitor app when they arrive.</span>
                                <span><a class="Features-singup" href="/signup">Sign up for free <img style="margin-left: 5px;" src="/images/vizitor/arrow-right.svg" alt="arrow-right"></a></span>
                            </div>
            </div>
            <hr>
            </li>
            <li class="li-btm">
                <a href="#badge-Printing">
                    <div>
                        <img src="/images/vizitor/badge-Printinges-vizitor.svg" class="Features-img" alt="badge-Printing">
                        <span class="titleUpgrade headimg-Upgrade heading-title">Badge Printing</span>
                    </div>
                </a>
                <div class="addon ">
                    <div class="slide-text-phone">
                        <span>Vizitor's badge printing feature allows you to easily track and identify visitors with customizable badges that contain important details and a photograph.</span>
                        <span><a class="Features-singup" href="/signup">Sign up for free <img style="margin-left: 5px;" src="/images/vizitor/arrow-right.svg" alt="arrow-right"></a></span>
                    </div>
                </div>
                <hr>
            </li>
            <li class="li-btm">
                <a href="#customized-Form">
                    <div>
                        <img src="/images/vizitor/customized-Form-vizitor.svg" class="Features-img" alt="customized-Form">
                        <span class="titleUpgrade headimg-Upgrade heading-title">Customized Form</span>
                    </div>
                </a>
                <div class="addon ">
                    <div class="slide-text-phone">
                        <span>Create custom fields and customize information collected during check-in, including options like photo capture, NDA signature, and host notifications</span>
                        <span><a class="Features-singup" href="/signup">Sign up for free <img style="margin-left: 5px;" src="/images/vizitor/arrow-right.svg" alt="arrow-right"></a> </span>
                    </div>
                </div>
                <hr>
            </li>
            </ul>
        </div>
        <div class="col-lg-1 col-md-1 col-12"></div>
        <div class="col-lg-6 col-md-5 col-12 ">
            <div class="text-center">
                <div id="touchless-Check-ins">
                    <figure><img class="tab-card-img" src="/images/vizitor/bvm/veolia.svg" alt="Touchless-Check-ins"></figure>
                </div>
                <div id="host-Notifications">
                    <figure><img class="tab-card-img" src="/images/vizitor/Host-Notifications.svg" alt="Host-Notifications"></figure>
                </div>
                <div id="send-Invites">
                    <figure><img src="/images/vizitor/Send-Invites.svg" alt="Send-Invites"></figure>
                </div>
                <div id="badge-Printing">
                    <figure><img src="/images/vizitor/Badge-Printing.svg" alt="Badge-Printing"></figure>
                </div>
                <div id="customized-Form">
                    <figure><img src="/images/vizitor/Customized-Form.svg" alt="Customized-Form"></figure>
                </div>
            </div>

        </div>
    </div>
</div>
</div>