<div class="for-visitor-bd mt-5">
    <div class="col-md-11 mx-auto py-5">
        <div class="card-deck">
            <div class="card">
                <div class="card-body card-body-for for-visitor-card">
                    <a href="https://play.google.com/store/apps/details?id=com.vizitor.app&hl=en" target="_blank" class="btn-arrow for-visitor-btn mb-4">FOR VISITOR</a>
                    <h4 class="vistor-hd "> Effortless Check-in Solution!</h4>
                    <hr class="vistor-hr">
                    <div class="row mt-4" id="tabs">
                        <div class="col-lg-7 col-md-12 col-12">
                            <ul class="tab-slaider" id="accordion">
                                <li>
                                    <a class="active" href="#tabs-multi-apartment">
                                        <div class="tag">
                                            <img class="active-img" src="/images/vizitor/dot.svg" alt="dot">
                                            <span class="title headimg-color">Digital Document Signing</span>
                                        </div>
                                    </a>
                                    <div class="addon addon-left fadein" style="display: none;">
                                        <span class="slide-text-phone">Easily review and sign NDAs, waivers, or agreements digitally during check-in. Vizitor’s paperless document signing keeps sensitive information secure, eliminates manual paperwork, and ensures faster onboarding.</span>
                                    </div>
                                </li>

                                <li>
                                    <a href="#tabs-multi-townhouse">
                                        <div class="tag">
                                            <img class="active-img" src="/images/vizitor/dot.svg" alt="dot">
                                            <span class="title headimg-color">Instant Visitor Badge Printing</span>
                                        </div>
                                    </a>
                                    <div class="addon addon-left ">
                                        <span class="slide-text-phone">Create professional visitor badges in seconds, complete with name, photo, and access details. Badges enhance workplace security, improve visitor tracking, and give every guest a professional first impression.</span>
                                    </div>
                                </li>

                                <li>
                                    <a href="#tabs-multi-homes">
                                        <div class="tag">
                                            <img class="active-img" src="/images/vizitor/dot.svg" alt="dot">
                                            <span class="title headimg-color">Touchless / QR Code Check-In</span>
                                        </div>
                                    </a>
                                    <div class="addon addon-left ">
                                        <span class="slide-text-phone">Experience safe, contactless visitor check-in by simply scanning a QR code. This fast, hygienic process minimizes waiting times, reduces manual entry errors, and enhances workplace safety.</span>
                                    </div>
                                </li>
                                <li>
                                    <a href="#tabs-multi-multiplex">
                                        <div class="tag">
                                            <img class="active-img " src="/images/vizitor/dot.svg" alt="dot">
                                            <span class="title headimg-color">Visitor Pre-Registration</span>
                                        </div>
                                    </a>
                                    <div class="addon addon-left ">
                                        <span class="slide-text-phone">Allow guests to pre-register before arrival for a smooth entry experience. Pre-registration enables hosts to approve visitors in advance, skip front-desk delays, and maintain a secure visitor log.</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="Try-for-free-btn-features mb-3 Try-free">
                                <a href="/signup" class="btn-arrow for-visitor-btn-free">Try for free</a>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12 col-12 for-img features-img-tabs">
                            <div id="tabs-multi-apartment">
                                <figure><img class="tab-card-img" src="/images/vizitor/Digital-Document-Signing.svg" alt="Digital-Document-Signing"></figure>
                            </div>
                            <div id="tabs-multi-townhouse">
                                <figure><img class="tab-card-img" src="/images/vizitor/Badge-printing-for-visitor.svg" alt="Badge-printing"></figure>
                            </div>
                            <div id="tabs-multi-multiplex">
                                <figure><img src="/images/vizitor/Pre-registration.svg" alt="Pre-registration"></figure>
                            </div>
                            <div id="tabs-multi-homes">
                                <figure><img src="/images/vizitor/TouchlessQR1.svg" alt="TouchlessQR"></figure>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card">
                <div class="card-body card-body-for">
                    <a href="https://play.google.com/store/apps/details?id=com.vizitor.pass&hl=en" target="_blank" class="btn-arrow for-Employees-btn mb-4">FOR EMPLOYEE</a>
                    <h4 class="vistor-hd mb-3">Perfect Companion for Employees!</h4>
                    <hr class="vistor-hr">
                    <div class="row mt-4" id="tabs1">
                        <div class="col-lg-7 col-md-12 col-12">
                            <ul class="tab-slaider" id="accordion1">
                                <li>
                                    <a class="active" href="#approve-disapprove">
                                        <div class="tag">
                                            <img class="active-img" src="/images/vizitor/dot.svg" alt="dot">
                                            <span class="title headimg-color">Approve or Deny Visitors Instantly</span>
                                        </div>
                                    </a>
                                    <div class="addon addon-left fadein  " style="display: none;">
                                        <span class="slide-text-phone">Employees can quickly approve or reject visitors with a tap, sending personalized messages or emails for smoother coordination.</span>
                                    </div>
                                </li>
                                <li>
                                    <a href="#send-check-invites">
                                        <div class="tag">

                                            <img class="active-img" src="/images/vizitor/dot.svg" alt="dot">
                                            <span class="title headimg-color">Send & Track Invitations</span>
                                        </div>
                                    </a>
                                    <div class="addon addon-left ">
                                        <span class="slide-text-phone">Share digital invites with guests in advance and check their status in real time.</span>
                                    </div>
                                </li>
                                <li>
                                    <a href="#add-organization">
                                        <div class="tag">
                                            <img class="active-img " src="/images/vizitor/dot.svg" alt="dot">
                                            <span class="title headimg-color">Manage Teams & Organizations</span>
                                        </div>
                                    </a>
                                    <div class="addon addon-left ">
                                        <span class="slide-text-phone">Add departments or organizations to keep visitor workflows structured and organized.</span>
                                    </div>
                                </li>
                                <li>
                                    <a href="#touchless-attendance">
                                        <div class="tag">
                                            <img class="active-img" src="/images/vizitor/dot.svg" alt="dot">
                                            <span class="title headimg-color">Touchless Employee Attendance</span>
                                        </div>
                                    </a>
                                    <div class="addon addon-left ">
                                        <span class="slide-text-phone">Enable staff to check in and out securely with a contactless attendance system, no manual logs or delays.</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="Try-for-free-btn-features mb-3 Try-free">
                                <a href="/signup" class="btn-arrow for-Employees-btn-free ">Try for free</a>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12 col-12 for-img features-img-tabs">
                            <div id="approve-disapprove">
                                <figure><img class="tab-card-img" src="/images/vizitor/Approve-Disapprove-visitors.svg" alt="Approve-Disapprove-visitors"></figure>
                            </div>
                            <div id="send-check-invites">
                                <figure><img class="tab-card-img" src="/images/vizitor/Send&Recieve-Invites.svg" alt="Send&Recieve-Invites"></figure>
                            </div>
                            <div id="add-organization">
                                <figure><img src="/images/vizitor/Add-organization.svg" alt="Add-organization"></figure>
                            </div>
                            <div id="touchless-attendance">
                                <figure><img src="/images/vizitor/Touchless-attendance.svg" alt="Touchless-attendance"></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="headingsub">
    <div class="container ">
        <div class="row vistor-card align-items-center" id="tabs2">
            <div class="col-lg-5 col-md-6 col-12">
                <div class="for-vt">
                    <p><span class="Digitize ">FEATURES</span></p>
                    <h3 class="chgh3 mb-4">Upgrade to Smart, Touchless Visitor Check-Ins with Vizitor</h3>
                    <p>Say goodbye to paper logbooks and long queues. Vizitor’s digital visitor management system makes check-ins fast, contactless, and secure; delivering a safer, more professional workplace experience</p>
                </div>
                <ul class="tab-slaider-Upgrade mt-4" id="accordion2">
                    <li class="li-btm">
                        <a class="step circle active " href="#touchless-Check-ins">
                            <div>
                                <img src="/images/vizitor/touchless-Check-ins-vizitor.svg" class="Features-img" alt="touchless-Check-ins">
                                <span class="titleUpgrade headimg-Upgrade heading-title">Touchless Check-ins</span>
                            </div>
                        </a>
                        <div class="addon fadein text " style="display: none;">
                            <div class="slide-text-phone">
                                <span>Vizitor enables digital check-in to eliminate paperwork and offers a touchless sign-in process to limit the spread of germs while still welcoming guests with care</span>
                                <span><a class="Features-singup" href="/signup">Sign up for free <img style="margin-left: 5px;" src="/images/vizitor/arrow-right.svg" alt="arrow-right"></a></span>
                            </div>
                        </div>
                        <hr>
                    </li>

                    <li class="li-btm">
                        <a href="#host-Notifications">
                            <div>
                                <img src="/images/vizitor/host-Notifications-vizitor.svg" class="Features-img" alt="host-Notifications">
                                <span class="titleUpgrade headimg-Upgrade heading-title">Host Notifications</span>
                            </div>
                        </a>
                        <div class="addon ">
                            <div class="slide-text-phone">
                                <span>Vizitor sends instant alert notifications to the host when guests check in, saving time and effort in tracking them down.</span>
                                <span><a class="Features-singup" href="/signup">Sign up for free <img style="margin-left: 5px;" src="/images/vizitor/arrow-right.svg" alt="arrow-right"></a></span>
                            </div>
                        </div>
                        <hr>
                    </li>
                    <li class="li-btm">
                        <a href="#send-Invites">
                            <div>
                                <img src="/images/vizitor/send-Invites-vizitor.svg" class="Features-img" alt="send-Invites">
                                <span class="titleUpgrade headimg-Upgrade heading-title">Send Invites</spanp>
                            </div>
                        </a>
                        <div class="addon ">
                            <div class="slide-text-phone">
                            <span>Vizitor allows you to send invitations to your guests with venue and host details, and guests can simply tap on the invitee option on the Vizitor app when they arrive.</span>
                                <span><a class="Features-singup" href="/signup">Sign up for free <img style="margin-left: 5px;" src="/images/vizitor/arrow-right.svg" alt="arrow-right"></a></span>
                            </div>
            </div>
            <hr>
            </li>
            <li class="li-btm">
                <a href="#badge-Printing">
                    <div>
                        <img src="/images/vizitor/badge-Printinges-vizitor.svg" class="Features-img" alt="badge-Printing">
                        <span class="titleUpgrade headimg-Upgrade heading-title">Badge Printing</span>
                    </div>
                </a>
                <div class="addon ">
                    <div class="slide-text-phone">
                        <span>Vizitor's badge printing feature allows you to easily track and identify visitors with customizable badges that contain important details and a photograph.</span>
                        <span><a class="Features-singup" href="/signup">Sign up for free <img style="margin-left: 5px;" src="/images/vizitor/arrow-right.svg" alt="arrow-right"></a></span>
                    </div>
                </div>
                <hr>
            </li>
            <li class="li-btm">
                <a href="#customized-Form">
                    <div>
                        <img src="/images/vizitor/customized-Form-vizitor.svg" class="Features-img" alt="customized-Form">
                        <span class="titleUpgrade headimg-Upgrade heading-title">Customized Form</span>
                    </div>
                </a>
                <div class="addon ">
                    <div class="slide-text-phone">
                        <span>Create custom fields and customize information collected during check-in, including options like photo capture, NDA signature, and host notifications</span>
                        <span><a class="Features-singup" href="/signup">Sign up for free <img style="margin-left: 5px;" src="/images/vizitor/arrow-right.svg" alt="arrow-right"></a> </span>
                    </div>
                </div>
                <hr>
            </li>
            </ul>
        </div>
        <div class="col-lg-1 col-md-1 col-12"></div>
        <div class="col-lg-6 col-md-5 col-12 ">
            <div class="text-center">
                <div id="touchless-Check-ins">
                    <figure><img class="tab-card-img" src="/images/vizitor/bvm/veolia.svg" alt="Touchless-Check-ins"></figure>
                </div>
                <div id="host-Notifications">
                    <figure><img class="tab-card-img" src="/images/vizitor/Host-Notifications.svg" alt="Host-Notifications"></figure>
                </div>
                <div id="send-Invites">
                    <figure><img src="/images/vizitor/Send-Invites.svg" alt="Send-Invites"></figure>
                </div>
                <div id="badge-Printing">
                    <figure><img src="/images/vizitor/Badge-Printing.svg" alt="Badge-Printing"></figure>
                </div>
                <div id="customized-Form">
                    <figure><img src="/images/vizitor/Customized-Form.svg" alt="Customized-Form"></figure>
                </div>
            </div>

        </div>
    </div>
</div>
</div>