<div class="blogs-form blog-tab">
    <div class=" clients-blog ">
        <div class="my-1">
            <h6 style="font-size: 18px;font-family: Satoshi-Medium !important">Table of Content</h6>
        </div>
        <nav class="Tablescroll" id="toc">

            {{ .Page.TableOfContents }}
        </nav>
    </div>
    <!-- Table of Contents -->
    <div class="container mt-4  clients-blog ">
        <div class=" contactform ">
            <div>
                <h6 style="font-size: 18px;font-family: Satoshi-Medium !important">Book a Demo Now!</h6>
            </div>
            <form id="blogForm">
                <div class="row mt-4">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Full Name">
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-md-4 col-sm-4 col-xs-12 pr-0">
                        <select class="countrySelect custom-select browser-default" id="country" name="country">
                                {{range .Site.Data.countryCode}}
                                <option value="{{.unicode}} - {{.name}}"> {{.name}} {{.unicode}}</option>
                                {{end}}
                            </select>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12 singnup-valu signup-input-ph singup-code">
                        <div class="form-group">
                            <label for="message">code</label>
                            <input class="form-control" id="code" required value="+91">
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="form-group">
                            <input type="number" class="form-control" name="phoneNumber" id="phoneNumber" placeholder="Phone number" required>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <button type="submit" style="padding: 14px 20px;" value="Submit Now">Submit</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>