{{if .IsHome }}
<!--laptop Hero Section -->
<div class="pagebanneres-hero pagebanner-laptop">
    <div class="container ">
        <div class="text-center">
            <h1>Streamline your <span class="Digitize">Frontdesk </span><br> and Keep your <span
                    class="Digitize">workplace</span> Safe</h1>
            <p>Improve the visitor registration experience with our Touchless <br> visitor management system.</p>
            <!-- <form id="homeForm">
                <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email" required>
                <input class="btn-try-free" type="submit" value="Try for free">
            </form> -->
            <form id="homeForm">
                <div class="form-inline">
                    <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email"
                        required>
                    <input class="btn-try-free" type="submit" value="Try for free">
                </div>
            </form>
            <p class="no-credit mt-3 nocredit">* No credit card required</p>
            <div class="manbineroverflow">
                <img class="heromanbiner" src="/images/vizitor/vizitor.webp" alt="vizitor" />
            </div>
        </div>
    </div>
    <div class="text-center mt-4 pb-5">
        {{range .Site.Params.apps}}
        <a href="{{.url}}" target="_blank"><img class="btn-app btn-app-mg phonetop-btn" src="{{.image  | absURL}}"
                alt="{{.title}}"></a>
        {{end}}
    </div>
</div>
<!--laptop Hero Section  End-->
<!--phone Hero Section -->
<div class="pagebanneres-hero pagebanner-phone">
    <div class="container ">
        <div class="text-center">
            <h1>Streamline your Frontdesk and Keep your workplace Safe</h1>
            <p>Improve the visitor registration experience with our Touchless <br> visitor management system.</p>
            <form id="homeForm">
                <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email" required>
                <input class="btn-try-free" type="submit" value="Try for free">
            </form>
            <p class="no-credit mt-3 nocredit">* No credit card required</p>
            <div class="manbineroverflow">
                <img class="heromanbiner" src="/images/vizitor/vizitor-480.webp" alt="vizitor" />
            </div>
        </div>
    </div>
    <div class="text-center mt-4 pb-5">
        {{range .Site.Params.apps}}
        <a href="{{.url}}" target="_blank"><img class="btn-app btn-app-mg phonetop-btn" src="{{.image  | absURL}}"
                alt="{{.title}}"></a>
        {{end}}
    </div>
</div>
<!--phone Hero Section End-->
<!--Tab Hero Section -->
<div class="pagebanneres-hero pagebanner-tab">
    <div class="container ">
        <div class="text-center">
            <h1>Streamline your Frontdesk and Keep your workplace Safe</h1>
            <p>Improve the visitor registration experience with our Touchless <br> visitor management system.</p>
            <form id="homeForm">
                <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email" required>
                <input class="btn-try-free" type="submit" value="Try for free">
            </form>
            <p class="no-credit mt-3 nocredit">* No credit card required</p>
            <div class="manbineroverflow">
                <img class="heromanbiner" src="/images/vizitor/vizitor-780.webp" alt="vizitor" />
            </div>
        </div>
    </div>
    <div class="text-center mt-4 pb-5">
        {{range .Site.Params.apps}}
        <a href="{{.url}}" target="_blank"><img class="btn-app btn-app-mg phonetop-btn" src="{{.image  | absURL}}"
                alt="{{.title}}"></a>
        {{end}}
    </div>
</div>
<!--Tab Hero Section End -->


<div class="clearfix"></div>





{{end}}