<div class="container Industries-baner ">
    <div class="text-center ">
        <p><span class="Digitize"> INDUSTRIES</span></p>
        <h3 class="hero-h1 chgh4"> Every industry requires a visitor management system.</h3>
        <p>Vizitor one-stop workplace platform. Most ethical & impressive way to welcome yours visitors.</p>
    </div>
    <div class="detail-page text-center mt-5">
        <!-- Offices -->
        <div class="detail-page-section">
            <a href="/visitor-management-system-for-office">
                <img src="/images/vizitor/Offices.svg" alt="Offices">
                <p class="Industries-heading ">Offices</p>
            </a>

        </div>
        <!-- Salons -->
        <div class="detail-page-section">
            <a href="/visitor-management-system-for-salons">
                <img src="/images/vizitor/Salons.svg" alt="Salons">
                <p class="Industries-heading ">Salons</p>
            </a>
        </div>
        <!-- School -->
        <div class="detail-page-section">
            <a href="/visitor-management-system-for-schools">
                <img src="/images/vizitor/School.svg" alt="School">
                <p class="Industries-heading ">School</p>
            </a>
        </div>
        <!-- Hospitals -->
        <div class="detail-page-section">
            <a href="/visitor-management-system-for-hospitals">
                <img src="/images/vizitor/Hospitals.svg" alt="Hospitals">
                <p class="Industries-heading ">Hospitals</p>
            </a>
        </div>
        <!-- Hotels -->
        <div class="detail-page-section">
            <a href="/visitor-management-system-for-hotel">
                <img src="/images/vizitor/Hotels.svg" alt="Hotels">
                <p class="Industries-heading ">Hotels</p>
            </a>
        </div>
        <!-- Societies -->
        <div class="detail-page-section">
            <a href="/visitor-management-system-for-society">
                <img src="/images/vizitor/Societies.svg" alt="Societies">
                <p class="Industries-heading ">Societies</p>
            </a>
        </div>
        <!-- Events -->
        <div class="detail-page-section">
            <a href="/visitor-management-system-for-events">
                <img src="/images/vizitor/Events.svg" alt="Events">
                <p class="Industries-heading ">Events</p>
            </a>
        </div>
        <!-- Co-working -->
        <div class="detail-page-section">
            <a href="/visitor-management-system-for-co-working">
                <img src="/images/vizitor/Co-working.svg" alt="Co-working">
                <p class="Industries-heading ">Co-working</p>
            </a>
        </div>
    </div>
</div>

<style>
    .show {
        display: block;
    }
    
    .hide {
        display: none;
    }
</style>