<!-- Why Choose -->
<div class="whychoose ">
    <div class="col-md-11 mx-auto  whychoose-pd">
        <div class="row">
            <div class="col-md-12 text-center ">
                <h2 class="color-wht">Secure & Seamless Visitor Management with Vizitor</h2>
                <p class="why-p">Simplify check-ins, protect privacy, and keep your workplace compliant whether for employees, <br>contractors, or guests, Vizitor makes every check-in safe and efficient.</p>
            </div>
        </div>
        <div class="text-center">
            <img src="/images/vizitor/vizitor-secure.svg" alt="vizitor-secure" />
        </div>

        <!-- <div class="row">
            <div class="col-lg-2 col-md-6 col-12 phone-hid">
                <div class="m-text">
                    <p class="why-p whychoose-text text-center">Impress the Visitors and <br> Enhance the Brand Image!.</p>
                    <div style="text-align: end;">
                        <img class="hint1" src="/images/vizitor/hint1.svg" alt="hint1" />
                    </div>

                </div>

            </div>
            <div class="col-lg-8 col-md-12 col-12 ">

                <img src="/images/vizitor/vizitor-Dashborad.webp" alt="Vizitor Dashborad" />

            </div>
            <div class="col-lg-2 col-md-6 col-12 phone-hid">
                <div class="m-text">
                    <p class="why-p whychoose-text text-center">Centralize your guest <br> registrations at one place</p>
                    <div>
                        <img class="hint2" src="/images/vizitor/hint2.svg" alt="hint2" />
                    </div>
                </div>
                <div>
                    <div>
                        <img class="hint3" src="/images/vizitor/hint3.svg" alt="hint3" />
                    </div>
                    <p class="why-p whychoose-text text-center">Streamlines the<br> Touchless check-in<br> process.</p>
                </div>
            </div>
        </div> -->
    </div>
</div>
<!-- Why Choose Ends -->

<div class="container ">
    <div class=" headingsub">
        <div class=" text-center ">
            <p><span class="Digitize ">PRODUCTS</span></p>
            <h3 class="chgh3">Vizitor's Workplace Platform For Progress</h3>
            <p>We are pioneers in contactless, cloud-based workspace solutions, delivering smart, secure, and <br> modern workplace experiences to companies around the world.</p>
        </div>
    </div>

    <div class="card-deck ">
        <div class="card workplace-card">
            <div>

                <img src="/images/vizitor/Visitor-Management.svg" class="workplace-card-img" alt="Visitor-Management" />
            </div>
            <div class="card-body p-0">
                <h5 class="card-title">Visitor Management</h5>
                <p class="workplace-card-p ">Welcome visitors with a touchless visitor system which allows for digital check-in while saving your team time. Visitor login software reduces the amount of paperwork.</p>
            </div>
            <a href="/best-visitor-management-system-in-india" class="card-footer p-0">
                <p class="know-more p-0">Know more <img style="margin-left: 5px;" src="/images/vizitor/Icon.svg" alt="Icon" /></p>
            </a>
        </div>
        <div class="card workplace-card">
            <div>

                <img src="/images/vizitor/Attendance-management.svg" class="workplace-card-img" alt="Attendance-management" />
            </div>
            <div class="card-body p-0">
                <h5 class="card-title ">Attendance Management</h5>
                <p class="workplace-card-p">Vizitor's active occupancy monitoring allows you to manage your employees' attendance in a contactless manner.</p>
            </div>
            <a href="/touchless-attendance-management-system" class="card-footer p-0">
                <p class="know-more p-0">Know more <img style="margin-left: 5px;" src="/images/vizitor/Icon.svg" alt="Icon" /></p>
            </a>
        </div>
        <div class="card workplace-card">
            <div>

                <img src="/images/vizitor/Deliveries-management.svg" class="workplace-card-img" alt="Deliveries-management" />
            </div>
            <div class="card-body p-0">
                <h5 class="card-title ">Delivery Management</h5>
                <p class="workplace-card-p">Vizitor's touchless check-in solution will keep your workplace safe . Declutter the mailroom by prompting package pickup.</p>
            </div>
            <a href="/" class="card-footer p-0">
                <p class="know-more p-0">Know more <img style="margin-left: 5px;" src="/images/vizitor/Icon.svg" alt="Icon" /></p>
            </a>
        </div>
    </div>
</div>
