<!-- Subscribe Section -->
<div style="background: #ED5C18; padding: 100px 0;">
    <div class="content ">
        <div class="text-center">
            <p class="color-wht">GET STARTED</p>
            <h2 class="color-wht mt-5 pb-3">Start being productive & grow your <br> business with Vizitor</h2>
            <div class="my-5">
                <form id="getStartedForm">
                    <input type="email" class="email-input-footer" id="emailgetStarted" name="emailgetStarted" placeholder="Enter your email" required>
                    <input class="btn-try-free-footer" type="submit" value="Try for free">
                </form>
            </div>

        </div>
    </div>
</div>
<!-- Subscribe Section Ends -->