<div class="container pagesection pb-5">
    <div class="row">
        <div class="col-md-10 mx-auto text-center ">
            <h2>Upgrade your check-in process now and switch to Vizitor!</h2>
            <div class="center-content border-line"></div>
            <br>
            <p>With a smart visitor management system, you can have an attractive welcome screen, add your brand logo, customized badges, with top security. The ultimate one-stop solution</p>
            <p>For efficient management of visitors, try Vizitor! </p>
            <div class="bannerbtn mt-4">
                <a href="/signup" class="btn-arrow">Get Started</a>
            </div>
        </div>

    </div>
</div>