{{ define "main" }}

<div class="container pagebanneres">
    <div class="row align-items-center">
        <div class="col-lg-6">

            <h1>Touchless Visitor Management System for <span class="Digitize">Coworking</span></h1>
            <p>Everyday, thousands of visitors come to your coworking place, but it is hard to track and maintain their data and Check-In timings. Our visitor management system for coworking keep a track and history of every person who enters your workplace.
                It establishes the shared office as a professional place of business and assist members with handling invited and uninvited guests.</p>
            <p>Visitors sign-in through the ipad and fill up all the details that automatically prints badges and notify hosts when your guests arrive which will save precious time.</p>
            <p>Vizitor allows management to serve their members better by creating a better, professional, guest experience. A visitor management software is the best fit for your coworking spaces and business centres.</p>
            <div class="bannerbtn mt-4">
                <a href="/signup" class="btn-arrow">Get Started</a>
            </div>

        </div>
        <div class="col-lg-6 text-center">
            <img src="/images/vizitor/schools/main-image/schools.png" alt="office-management-system">
        </div>

    </div>
</div>



<div class="container pagesection">
    <div class="card-deck">
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/co-working/main-feature-icons/instant-notifications.png" class="card-tb" alt="real-time-dashboard" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Instant<br>Notifications</h5>
                <p>An instant alert notification is sent to the host as the guest checks in, thereby saving a lot of time.</p>

            </div>
        </div>
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/co-working/main-feature-icons/pre-registration.png" alt="host-notification" class="card-tb" />
            </div>
            <div class="card-body">
                <h5 class="card-title"> Pre-registrations
                    <br /></h5>
                <p>Allows pre-registration feature to send custom emails, preprint attendee badges and track event attendance.</p>

            </div>
        </div>
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/co-working/main-feature-icons/member-directory.png" class="card-tb" alt="phone-number-verification" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Member
                    <br />Directory</h5>
                <p>Easy upload of the unlimited employee data and visitor data. You can also manually add/remove any employee data.</p>

            </div>
        </div>
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/co-working/main-feature-icons/badge-printing.png" class="card-tb" alt="smart-pre--registration" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Easy Badge
                    <br />Printing</h5>
                <p>Visitor Badges for Coworking are printed instantly for more security and identification within office premises.</p>

            </div>
        </div>
    </div>
</div>




<div class="container pagesection">
    <!-- 1 -->
    <div class="row align-items-center">
        <div class="col-md-12 text-center mb-5">
            <h2>How Vizitor can help you at your workplace?</h2>
            <div class="center-content border-line"></div>
        </div>

        <div class="col-md-6 text-center">
            <span class="number">01</span>
            <img src="/images/vizitor/office-management/process-icons/get-registered.png" alt="get-registered" />
        </div>

        <div class="col-md-6">
            <div class="w-100">
                <h2> Get Registered</h2>
                <p>• Visitors are required to enter specific details on the iPad/Tablet with Vizitor installed on it.</p>
                <p>• The details to be filled are basic such as Name, Hostname, Phone number, Email id, etc.</p>
                <p>• As the details are filled in, the visitor has to sign the legal documents right on the device. There’s no employee’s assistance required for checking-in.</p>
            </div>
        </div>
    </div>
    <!-- 2 -->
    <div class="row align-items-center mt-5">
        <div class="col-md-6">
            <div class="w-100">
                <h2> Image Capturing</h2>
                <p>• For security reasons, Vizitor captures an image of every visitor to your facility and stores it within your customer portal for easy retrieval when required.</p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <span class="number">02</span>
            <img src="/images/vizitor/office-management/process-icons/image-capturing.png" alt="image-capturing" />
        </div>
    </div>
    <!-- 3 -->
    <div class="row align-items-center mt-5">
        <div class="col-md-6 text-center">
            <span class="number">03</span>
            <img src="/images/vizitor/office-management/process-icons/host-notifications.png" alt="host-notifications" />
        </div>
        <div class="col-md-6">
            <div class="w-100">
                <h2> Host Notification</h2>
                <p>• Vizitor sends a visitor notification to the host via SMS, Email, or push-notification alerting them about their guest.</p>
            </div>
        </div>
    </div>
    <!-- 4 -->
    <div class="row align-items-center mt-5">
        <div class="col-md-6">
            <div class="w-100">
                <h2>Badge Printing</h2>
                <p>• After filling the required details, the visitor will get a printed badge which adds to the authentication process and confirms that the visitor has completed the sign-in procedure.</p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <span class="number">04</span>
            <img src="/images/vizitor/office-management/process-icons/badge-printing.png" alt="badge-printing" />
        </div>
    </div>
    <!-- 5 -->
    <div class="row align-items-center mt-5 ">
        <div class="col-md-6 text-center">
            <span class="number">05</span>
            <img src="/images/vizitor/office-management/process-icons/know-your-visitor.png" alt="know-your-visitor" />
        </div>
        <div class="col-md-6">
            <div class="w-100">
                <h2> Know Your Visitor</h2>
                <p>• Meeting is scheduled with a concerned person without any hassle.</p>
                <p>• As a result, the visitor knows who to greet. Making awkward encounters a thing of the past.</p>
            </div>
        </div>
    </div>
</div>



<div class="container pagesection">
    <!-- 1 -->
    <div class="row align-items-center">
        <div class="col-md-12 text-center mb-5">
            <h2>Benefits of Using Visitor management system</h2>
            <div class="center-content border-line"></div>
        </div>
        <div class="col-md-6">
            <div class="w-100">
                <p>• They prefer to use a self-service system to make sure that your info is entered correctly.So visitor management system provides the self check-in services.</p>
                <p>• With digital visitor management systems, visitors will not interrupt if a manager is busy. A self-service option solves the problem as it assists the visitor immediately.</p>
                <p>• Digital check-in systems can work 24/7 because registration becomes a matter of minutes no matter of visitors coming time.</p>
                <p>• A visitor management system automatically notifies the host about guest arrival.</p>

            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="/images/vizitor/co-working/coworking_badajoz.png" alt="Make-your-workplace" />
        </div>
    </div>
    <!-- 2 -->
    <div class="row align-items-center mt-5">

        <div class="col-md-6 text-center">
            <img src="/images/vizitor/co-working/green-workplace.png" alt="signing-agreement1" />
        </div>
        <div class="col-md-6">
            <div class="w-100">
                <p>• A visitor management system allows your visitors to pre-register their visit and enter all the relevant details. So that you can quickly process their details.</p>
                <p>• Visitor management system offers e-pass with  -visitor name, photograph, contact details, organization name, and escort name.</p>
                <p>• With VMS you can see the live status of visitors. Vizitor dashboard displays the current status of the visitors.</p>

            </div>
        </div>
    </div>
</div>

<div class="container pagesection">
    <!-- 1 -->
    <div class="row align-items-center">
        <div class="col-md-12 text-center mb-5">
            <h2>Secure your coworking spaces with Touchless visitor management system</h2>
            <p>The Touchless visitor management system helps to secure the coworking spaces from the COVID-19.</p>
            <div class="center-content border-line"></div>
        </div>
        <div class="col-md-6">
            <div class="w-100">
                <h3> Touchless visitor check-in</h3>
                <p>Visitors use their smartphones for themselves check-ins without the help of any third person.</p>
                <p>Instead of using a tablet to allow visitors to check-in on their own. </p>
                <p>This will limit the potential spread of the virus when visitors use their hands to tap the screen. </p>
                <p>Contactless check-ins are the best practice to prevent the spread of infection in the workplace.</p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="/images/vizitor/co-working/touchless-attendance-fidentity.png" alt="Make-your-workplace" />
        </div>
    </div>
    <!-- 2 -->
    <div class="row align-items-center mt-5">

        <div class="col-md-6 text-center">
            <img src="/images/vizitor/covid/signing-agreement1.png" alt="signing-agreement1" />
        </div>
        <div class="col-md-6">
            <div class="w-100">
                <h3> Send agreements in advance</h3>
                <p>
                    <span>&#8226;</span> Before your guest arrives, be safe, sending them Pre agreement so that they can take precautions before arriving.
                </p>
                <p>
                    <span>&#8226;</span> The company can send invitations to visitors with attached NDAs to sign in advance, or other agreements that might include health and safety precautions.
                </p>
                <p>
                    <span>&#8226;</span> Visitors will receive and sign agreements in advance to avoid signing any agreements by hand once they arrive at your workplace.
                </p>
            </div>
        </div>
    </div>
    <!-- 3 -->
    <div class="row align-items-center mt-5">
        <div class="col-md-6">
            <div class="w-100">
                <h6>Provides QR codes in advance</h6>
                <p>
                    <span>&#8226;</span> This will allow your visitors access through specific turnstiles or doorways in your building.
                </p>
                <p>
                    <span>&#8226;</span> The Touchless check-in experience by sending them QR codes in advance.
                </p>
                <p>
                    <span>&#8226;</span> Visitors will then receive a QR code to use directly from their email on their mobile devices when they arrive.
                </p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="/images/vizitor/co-working/qr-code-scanning.png" alt="pre-invitation1" />
        </div>
    </div>
    <!-- 4 -->
    <div class="row align-items-center mt-5">

        <div class="col-md-6 text-center">
            <img src="/images/vizitor/covid/instant-alert-1.png" alt="Contact-Tracing" />
        </div>
        <div class="col-md-6">
            <div class="w-100">
                <h6>Alert Employees</h6>
                <p>
                    <span>&#8226;</span> The Touchless check-in system sends notifications to the worker when any visitor comes up to satisfy them and alerts them by sending the small print of the guest to form them aware and take necessary precautionary
                    steps.
                </p>
                <p>
                    <span>&#8226;</span> The Touchless visitor management system allows the worker to approve or disapprove the entry of any visitor on the premises.
                </p>
            </div>
        </div>
    </div>
    <!-- 5 -->


</div>



<div class="container pagesection">
    <div class="row">
        <div class="col-md-12 text-center mb-5">
            <h2>More Features</h2>
            <div class="center-content border-line"></div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/co-working/other-features/digital-impression.png" class="pricingimg2 cardimg" alt="digital-impression" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer desk">Optimize to<br> Digital Impression</h6>

                </div>
            </div>
            <div class="phone-center">
                <p>Look modern and polished to sleek i-pad sign-in with clutter free reception.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/co-working/other-features/disclosure.png" class="pricingimg2 cardimg" alt="customized-forms" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        Outstay
                        <br />Disclosure
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>Define the time limit for your visitors and get notified in case they overstay in your office premises</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/co-working/other-features/image-capturing.png" class="pricingimg2 cardimg" alt="image-capturing" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        Image
                        <br />Capturing
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>Image capturing to every visitor who comes to your facility and stores within your database for future reference.</p>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/co-working/other-features/badge-printing.png" class="pricingimg2 cardimg" alt="badge-printing" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        Badge
                        <br />Printing
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>Get your personalised badge printed instantly for more security and identification within office premises.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/co-working/other-features/e-signature.png" class="pricingimg2 cardimg" alt="badge-printing" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        E-signature
                        <br />
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>Visitors are allowed to get on with your digital signatures, allow you to access the office premises.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/co-working/other-features/customer-care.png" class="pricingimg2 cardimg" alt="emergency-evacuation" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        Help centre
                        <br />and Support
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>Have a trouble free experience with our round the clock help centre, chat, phone, email.</p>
            </div>
        </div>
    </div>

</div>




<div>{{- partial "upgrade.html" . -}}</div>
{{end}}