{{ define "main" }}
<div class="container pagebanneres">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <h1>Touchless Visitor Management System for <span class="Digitize">Societies</span></h1>
            <p>In modern times, maintaining security has become more challenging in buildings and commercial complexes. Making it mandatory for residential societies to track visitors. Incorporating a <b>visitor management system for society,</b> such as
                VIzitor is ideal.</p>
            <p>The advanced system is a perfect and intelligent solution to manage guests. It allows tracking of daily workers and servants of residential apartments or society. </p>
            <p>After this pandemic, security has become the central aspect of society. <b>The touchless visitor management system for apartments</b> provides unique features to avoid infection. The records are instrumental in case of some emergency or if
                the visitor's identification is required later.
            </p>

            <div class="bannerbtn mt-4">
                <a href="/signup" class="btn-arrow">Get Started</a>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <img src="/images/vizitor/societies/societies.png" alt="office-management-system">
        </div>

    </div>
</div>


<div class="container pagesection">
    <div class="card-deck">
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/co-working/main-feature-icons/instant-notifications.png" class="card-tb" alt="real-time-dashboard" />
            </div>
            <div class="card-body">
                <h5 class="desk">
                    Instant
                    <br>Notifications
                </h5>
                <p>An instant alert notification is sent to the host as the visitor checks in, saving time.</p>

            </div>
        </div>
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/co-working/main-feature-icons/badge-printing.png" alt="host-notification" class="card-tb" />
            </div>
            <div class="card-body">
                <h5 class="card-title"> Easy Badge
                    <br />Printing</h5>
                <p>Get your personalized badge printed instantly for security and identification within society premises.</p>

            </div>
        </div>
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/co-working/main-feature-icons/pre-registration.png" class="card-tb" alt="phone-number-verification" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Pre- Registrations
                    <br /></h5>
                <p>Visitor entrance management allows you to pre-register your visit by providing previously registered information like mobile number or email.</p>

            </div>
        </div>
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/schools/main-fetaures/real-time-dashboard.png" class="card-tb" alt="smart-pre--registration" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Real Time
                    <br />Dashboard</h5>
                <p>Vizitor Society Management System is a breeze to install and starts working for you from the minute you purchase it.</p>

            </div>
        </div>
    </div>
</div>




<div class="container pagesection">
    <div class="text-center">
        <h2>How can Visitor Management system for society benefit your workplace?</h2>
        <div class="center-content border-line"></div>
    </div>

    <!-- A -->
    <div class="row align-items-center">
        <div class="col-md-6 mb-5">
            <h6>Enhanced Security</h6>
            <p>Residential visitor management helps remove unwanted or unauthorized visitors from the residential area, improving overall resident safety.</p>
            <h6>Improved Record-Keeping</h6>
            <p>The system maintains a digital record of all visitors, which can be helpful for future reference or in case of security incidents.
            </p>
            <h6>Streamlined Access</h6>
            <p>Residents can pre-register guests, making it easier to enter the premises quickly and without delays.</p>
            <h6>Increased Accountability</h6>
            <p>By knowing who is in the community at any given time, residents and security personnel can ensure greater accountability and response in emergencies.
            </p>
            <h6>Better Communication</h6>
            <p>Social management systems allow for real-time notifications to residents when their guests arrive, making coordination more efficient.</p>
        </div>

        <div class="col-md-6 text-center mb-5">
            <img src="/images/blog/image-192.png" alt="get-registered" />
        </div>
    </div>
</div>



<div class="container pagesection">
    <h2 class="text-center">Secure your society with a Gate entry app</h2>
    <div class="center-content border-line"></div>
    <p>"ViZITOR" is a gate entry app that is a valuable tool for society authorities to record and manage visitor details efficiently. This innovative application is designed to streamline the visitor registration process, ensuring the security and convenience
        of residents and visitors. You can access visitor information with this visitor management software for gated communities. All the user information is kept secure and confidential. Housing societies must encourage residents, domestic helpers,
        maintenance staff, and everyone around you to use this app.
    </p>

</div>




<div class="container pagesection">
    <!-- 1 -->
    <div class="row align-items-center">
        <div class="col-md-12 text-center mb-5">
            <h2>Why Society Security App is necessary for gate communities
            </h2>
            <p>Contact-tracing technology helps authorities track the infected person and warn staff with consistent alerts. Here are some ways to protect the societies with this tool.
            </p>

            <div class="center-content border-line"></div>
        </div>
        <div class="col-md-6">
            <div class="w-100">
                <h3> User-Friendly Interface</h3>
                <p>ViZITOR offers a simple interface that allows security for front desk staff to input visitor information quickly. This reduces the chances of errors and speeds up the registration process.</p>

            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="/images/vizitor/visitor-logvms.png" alt="visitor-logvms" />
        </div>
    </div>
    <!-- 2 -->
    <div class="row align-items-center mt-5">

        <div class="col-md-6 text-center">
            <img src="/images/vizitor/vizitor-Dashborad.png" alt="vizitor-Dashborad" />
        </div>
        <div class="col-md-6">
            <div class="w-100">
                <h3>Digital Records</h3>
                <p>The app stores visitor information digitally, providing easy access to historical data and simplifying record-keeping for security and administrative purposes.</p>

            </div>
        </div>
    </div>
    <!-- 3 -->
    <div class="row align-items-center mt-5">
        <div class="col-md-6">
            <div class="w-100">
                <h6>Real-Time Notifications</h6>
                <p>The visitor management for gate communities can send instant notifications to residents when their guests arrive, making it easier for them to welcome their visitors.
                </p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="/images/vizitor/visitor-management/visitor-management---host-notification.png" alt="visitor-management---host-notification" />
        </div>
    </div>
    <!-- 4 -->
    <div class="row align-items-center mt-5">
        <div class="col-md-6 text-center">
            <img src="/images/vizitor/visitor-management/graph.png" alt="graph" />
        </div>
        <div class="col-md-6">
            <div class="w-100">
                <h6>Visitor Analytics</h6>
                <p>ViZITOR offers insights into visitor patterns, which can be valuable for security planning and enhancing the community's safety.
                </p>
            </div>
        </div>

    </div>


</div>



<div class="container pagesection">
    <h2 class="text-center ">How can people in housing societies stay safe?
    </h2>
    <p class="text-center">There are a few things you can do that will keep you safe.
    </p>
    <div class="center-content border-line"></div>
    <br>
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12 dashboard-restaurants">
            <p><span class="Digitize help-dot">•</span> Install the security gate app on your smartphone.</p>
            <p><span class="Digitize help-dot">•</span> Register your details with the app, including your name and contact information.</p>
            <p><span class="Digitize help-dot">•</span> Preregister your guests in the app to speed up their entry if available.</p>
            <p><span class="Digitize help-dot">•</span> Enable notifications to receive alerts when your guests arrive.
            </p>
            <p><span class="Digitize help-dot">•</span> When you or your guests arrive, present the app at the gate for quick and secure access.</p>
            <p><span class="Digitize help-dot">•</span> Monitor the app to review visitor records and ensure security.
            </p>
            <p><span class="Digitize help-dot">•</span> If you notice anything unusual, report it to the relevant authorities.
            </p>
            <p><span class="Digitize help-dot">•</span> Stay informed about any updates or security features the app provides.</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <img src="/images/vizitor/visitor-management/visitor-management.png" alt="visitor-management">
        </div>
    </div>
</div>



<div class="container pagesection">
    <h2 class="center-content desk">More Features</h2>
    <div class="center-content border-line"></div>
    <div class="row ">
        <div class="col-md-4 col-sm-4 col-xs-12 ">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/office-management/other-features/disclosure.png" class="pricingimg2 cardimg" alt="disclosure">
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer desk">Outstay <br>Disclosure</h6>
                </div>
            </div>
            <div class="phone-center">
                <p>Define the time limit for your visitors and get notified in case they overstay in your society premises.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 ">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/office-management/other-features/e-signature.png" class="pricingimg2 cardimg" alt="e-signature">
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <a href="/visitor-management-nda" target="_blank" rel="canonical">
                        <h6 class="offer vizitorpass">E-signature</h6>
                    </a>
                </div>
            </div>
            <div class="phone-center">
                <p>Visitors can get on with your digital signatures, allowing you to access the society premises.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 ">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/office-management/other-features/advance-security.png" class="pricingimg2 cardimg" alt="advance-security">
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <a href="/visitor-security" target="_blank" rel="canonical">
                        <h6 class="offer vizitorpass">
                            Advance
                            <br />Security
                        </h6>
                    </a>
                </div>
            </div>
            <div class="phone-center">
                <p>Data Security is our main concern. Our rock-solid infrastructure protects the customer database, financial information, and appointment history.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/schools/other-features/visitor-reports-and-analytics.png" class="pricingimg2 cardimg" alt="visitor-reports-and-analytics">
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer desk">
                        Visitor Reports
                        <br>Analytics
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>Keep your residential visitor management happy and provide them with detailed visitor flow reports.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/schools/other-features/help-centre-&-support.png" class="pricingimg2 cardimg" alt="help-centre-&-support">
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <a href="/help" target="_blank" rel="canonical">
                        <h6 class="offer vizitorpass">
                            Help centre
                            <br />and Support
                        </h6>
                    </a>
                </div>
            </div>
            <div class="phone-center">
                <p>Have a trouble-free experience with our round-the-clock help center, chat, phone, email, and onsite support.</p>
            </div>
        </div>
    </div>
</div>

<div>{{- partial "upgrade.html" . -}}</div>
{{end}}