{{ define "main" }}
<div class="container pagebanneres">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <h1>Touchless Visitor Management System for <span class="Digitize">Societies</span></h1>
            <p>In modern times where security becomes more challenging in buildings and commercial complexes, residential societies find it mandatory to track visitors. In this case, a guest management software such as Vizitor is a perfect and smart solution
                to manage and track guests, daily workers, contract labours, servants of residential complexes, apartments, housing colonies or in other words society as a whole. During this pandemic, security becomes the main aspect for the societies.
                The touchless visitor management system provides the touchless features to avoid the spread of the pandemic These records are very useful in case of some emergency and if the identification of the visitor is required at a later date.</p>

            <div class="bannerbtn mt-4">
                <a href="/signup" class="btn-arrow">Get Started</a>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <img src="/images/vizitor/societies/societies.png" alt="office-management-system">
        </div>

    </div>
</div>


<div class="container pagesection">
    <div class="card-deck">
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/co-working/main-feature-icons/instant-notifications.png" class="card-tb" alt="real-time-dashboard" />
            </div>
            <div class="card-body">
                <h5 class="desk">
                    Instant
                    <br>Notifications
                </h5>
                <p>An instant alert notification is sent to the host as the guest checks in, thereby saving a lot of time.</p>

            </div>
        </div>
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/co-working/main-feature-icons/badge-printing.png" alt="host-notification" class="card-tb" />
            </div>
            <div class="card-body">
                <h5 class="card-title"> Easy Badge
                    <br />Printing</h5>
                <p>Get your personalised badge printed instantly for more security and identification within office premises.</p>

            </div>
        </div>
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/co-working/main-feature-icons/pre-registration.png" class="card-tb" alt="phone-number-verification" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Pre- Registrations
                    <br /></h5>
                <p>Vizitor allows you to pre-register your visit by providing previous registered information like mobile number or email.</p>

            </div>
        </div>
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/schools/main-fetaures/real-time-dashboard.png" class="card-tb" alt="smart-pre--registration" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Real Time
                    <br />Dashboard</h5>
                <p>Vizitor is a breeze to install and starts working for you from the minute you purchase it.</p>

            </div>
        </div>
    </div>
</div>




<div class="container pagesection">
    <div class="text-center">
        <h2>How Vizitor can help you at your workplace?</h2>
        <div class="center-content border-line"></div>
    </div>

    <!-- A -->
    <div class="col-md-10 mx-auto text-center ">
        <div class="row align-items-center">
            <div class="col-md-6 text-center mb-5">
                <img src="/images/vizitor/hotels/process-image/online-registration.png" alt="get-registered" />
                <div class="mt-4">
                    <h3><span class="number">(A)</span> Online Booking</h3>
                    <p>Vizitor provides a consistent, branded experience for customers by making hassle free appointment online, via the vizitor.</p>
                </div>
            </div>

            <div class="col-md-6 text-center mb-5">
                <img src="/images/vizitor/hotels/process-image/offline-registration.png" alt="get-registered" />

                <div class="mt-4">
                    <h5><span class="number">(B)</span> Offline Registration</h5>
                    <p>Visitors are required to enter specific details about their name, phone number, address, photograph and details about whom they are meeting.</p>
                </div>
            </div>



        </div>
    </div>

    <!-- 1 -->
    <div class="row align-items-center">

        <div class="col-md-6 text-center">
            <img src="/images/vizitor/hotels/process-image/image-capturing.png" alt="get-registered" />
        </div>

        <div class="col-md-6">
            <div class="w-100">
                <h5><span class="number">(01)</span> Image Capturing</h5>
                <p>For security reasons, Vizitor automatically captures an image of every visitor to your facility and stores it within your customer portal for easy retrieval.</p>
            </div>
        </div>
    </div>
    <!-- 2 -->
    <div class="row align-items-center mt-5">
        <div class="col-md-6">
            <div class="w-100">
                <h5><span class="number">(02)</span> Know Your Visitor</h5>
                <p>As a result, the visitor knows who to greet and when, making awkward encounters a thing of the past.</p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="/images/vizitor/schools/process-image/know-your-visitor.png" alt="image-capturing" />
        </div>
    </div>
    <!-- 3 -->
    <div class="row align-items-center mt-5">

        <div class="col-md-6 text-center">
            <img src="/images/vizitor/schools/process-image/know-your-visitor.png" alt="image-capturing" />
        </div>
        <div class="col-md-6">
            <div class="w-100">
                <h5><span class="number">(03)</span> Host Notification</h5>
                <p>Vizitor sends automatic visitor notification to the host via SMS, Email or notifications alerting them of their guest.</p>
            </div>
        </div>
    </div>
</div>



<div class="container pagesection">
    <h2 class="text-center">Secure your society with Contact Tracing system</h2>
    <div class="center-content border-line"></div>
    <p>The authorities have leveraged technology to fight the pandemic through the Contact tracing application., The Indian government used technology for a COVID-19 and released its contact tracing app, called Aarogya Setu — “a bridge to health”. The Indian
        government announced, both in the public and private sectors, are required to install the nation's COVID-19 contact tracing app. The app alerts you about your health situation and posts a self-assessment that you can do through the app.On contact
        tracing of an infected person, the app gets the information and without revealing the identity of the infected person. All the user information is kept secure and confidential. Housing societies must encourage the use of this app by all residents
        and domestic helps, maintenance staff and everyone around you. </p>

</div>




<div class="container pagesection">
    <!-- 1 -->
    <div class="row align-items-center">
        <div class="col-md-12 text-center mb-5">
            <h2>Contact tracing app's benefits</h2>
            <p>Contact-tracing technology is one that helps authorities track the infected person and warn staff with consistent alerts. Here are some ways to protect the societies with this tool.</p>

            <div class="center-content border-line"></div>
        </div>
        <div class="col-md-6">
            <div class="w-100">
                <h3> Keep the correct record</h3>
                <p>This app facilities record the data in a safe and hygienic way to capture the information.The contact tracing system provides both staff and visitors with check-in and check-out with adding their information, capturing a photo with the
                    user-friendly interface.</p>

            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="/images/vizitor/societies/visitor-records.png" alt="Make-your-workplace" />
        </div>
    </div>
    <!-- 2 -->
    <div class="row align-items-center mt-5">

        <div class="col-md-6 text-center">
            <img src="/images/vizitor/covid/visitor-screening-1.png" alt="signing-agreement1" />
        </div>
        <div class="col-md-6">
            <div class="w-100">
                <h3>Visitor screening</h3>
                <p>With the screening feature, You can screen the visitors before their entry on the societies. This app uses visitor initial screening with digital questionnaires asking their health and travel history. Screening determines whether they
                    are safe to enter your business or not. Staff can approve or disapprove visitors with the screening using this application.
                </p>

            </div>
        </div>
    </div>
    <!-- 3 -->
    <div class="row align-items-center mt-5">
        <div class="col-md-6">
            <div class="w-100">
                <h6>Contactless visitor check-in</h6>
                <p>Contactless check-ins are the best practice to prevent the spread of infection in the workplace. Visitors use their smartphones for themselves check-ins without the help of any third person.Sanitizing the tablet and smartphones before
                    using. Visitors can check-ins using QR code.
                </p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="/images/vizitor/covid/pre-invitation1.png" alt="pre-invitation1" />
        </div>
    </div>
    <!-- 4 -->
    <div class="row align-items-center mt-5">
        <div class="col-md-6 text-center">
            <img src="/images/vizitor/covid/instant-alert-1.png" alt="pre-invitation1" />
        </div>
        <div class="col-md-6">
            <div class="w-100">
                <h6>Automatic Alerts</h6>
                <p>The contact-tracing system helps to track the infected person and warn staff with alerts. The contact tracing app notifies the staff if they have been in contact with an infected visitor.</p>
            </div>
        </div>

    </div>


</div>



<div class="container pagesection">
    <h2 class="text-center ">How can people in housing societies protect themselves?</h2>
    <p class="text-center">There are a few things you can do that will keep you safe.</p>
    <div class="center-content border-line"></div>
    <br>
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12 dashboard-restaurants">
            <p><span class="Digitize help-dot">•</span> Every time you touch anything outside your apartment, wash your hands thoroughly with soap and water.</p>
            <p><span class="Digitize help-dot">•</span> Do not touch your face, nose, eyes or mouth with unwashed hands.</p>
            <p><span class="Digitize help-dot">•</span> Always wears the mask when you are outside your apartment.</p>
            <p><span class="Digitize help-dot">•</span> Try to Cough or sneeze into your elbow or with the tissue paper.</p>
            <p><span class="Digitize help-dot">•</span> Avoid crowded places. Do not be part of any gatherings, no matter how small, inside your housing society.</p>
            <p><span class="Digitize help-dot">•</span> Stay away from anyone who seems sick in your housing society. Call them later to enquire after their health.</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <img src="/images/vizitor/societies/societies-prevention.png" alt="societies-prevention">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <img src="/images/vizitor/societies/people-society.png" alt="people-society">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 dashboard-restaurants">
            <p><span class="Digitize help-dot">•</span> If you are running a fever or have a sore throat, self isolate yourself. If the symptoms worsen, contact a healthcare professional.</p>
            <p><span class="Digitize help-dot">•</span> Use contact tracing app and touchless visitor management system for the check-in.</p>
            <p><span class="Digitize help-dot">•</span> Make sure that you are eating healthy food. Exercise regularly. These measures will bolster your immunity.</p>
            <p><span class="Digitize help-dot">•</span> The security guards and other staff must wear masks at all times.</p>
            <p><span class="Digitize help-dot">•</span> They should maintain a distance of 1 metre from people coming in from outside.</p>
        </div>
    </div>
</div>



<div class="container pagesection">
    <h2 class="center-content desk">More Features</h2>
    <div class="center-content border-line"></div>
    <div class="row ">
        <div class="col-md-4 col-sm-4 col-xs-12 ">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/office-management/other-features/disclosure.png" class="pricingimg2 cardimg" alt="disclosure">
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer desk">Outstay <br>Disclosure</h6>
                </div>
            </div>
            <div class="phone-center">
                <p>Define the time limit for your visitors and get notified in case they overstay in your society premises</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 ">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/office-management/other-features/e-signature.png" class="pricingimg2 cardimg" alt="e-signature">
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <a href="/visitor-management-nda" target="_blank" rel="canonical">
                        <h6 class="offer vizitorpass">E-signature</h6>
                    </a>
                </div>
            </div>
            <div class="phone-center">
                <p>Visitors are allowed to get on with your digital signatures, allow you to access the society premises.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 ">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/office-management/other-features/advance-security.png" class="pricingimg2 cardimg" alt="advance-security">
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <a href="/visitor-security" target="_blank" rel="canonical">
                        <h6 class="offer vizitorpass">
                            Advance
                            <br />Security
                        </h6>
                    </a>
                </div>
            </div>
            <div class="phone-center">
                <p>Data Security is our main concern. The customer database, financial information and appointment history is protected by our rock-solid infrastructure.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/schools/other-features/visitor-reports-and-analytics.png" class="pricingimg2 cardimg" alt="visitor-reports-and-analytics">
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer desk">
                        Visitor Reports
                        <br>Analytics
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>Keep your management happy and provide them with detailed visitor flow reports.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/schools/other-features/help-centre-&-support.png" class="pricingimg2 cardimg" alt="help-centre-&-support">
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <a href="/help" target="_blank" rel="canonical">
                        <h6 class="offer vizitorpass">
                            Help centre
                            <br />and Support
                        </h6>
                    </a>
                </div>
            </div>
            <div class="phone-center">
                <p>Have a trouble free experience with our round the clock help centre, chat, phone, email, and onsite support.</p>
            </div>
        </div>
    </div>
</div>




<div>{{- partial "upgrade.html" . -}}</div>
{{end}}