{{ define "main" }}

<div>
    <section>
        <div class="container">
            <div class="row">
                <div class="main_des_third_contant">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <div>
                            <h1 class="center-content ">Vizitor For Multi-Tenant Buildings</h1>
                        </div>
                        <div>
                            <p>With the modern technology gaining momentum, do you still want to be stuck managing heaps of paperworks? No, right? Most multi-tenant buildings face high range of visitors everyday, with so many enterprises operating within
                                the premise. It can become really difficult to manage long queues at the reception desk, while still recording the required information, ensuring security and giving visitors a warm welcome.
                            </p>
                            <p>Hence, from creating a wonderful and welcoming experience for guests to check-in to generating weekly or monthly reports, Vizitor, a visitor management system has numerous benefits to offer. Here are few of them :</p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2 class="center-content ">Efficiency
                    </h2>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <p>Vizitor saves time for all the stakeholders. A self-serving device equipped with the Vizitor allows guests to fill in the required information themselves. This ensures that the check-in process becomes quick and easy to manage.
                            Filling up the logbook by yourself or dictating the details to the receptionist is a tedious task and is highly prone to errors. Thus, installing a visitor management system eliminates human dependency and makes the check-in
                            process smooth and streamlined. Moreover, it also allows the receptionist to focus on other tasks while the guest is busy filling his/her details on the device.
                        </p>
                        <p>Vizitor also allows employees from the respective companies to pre-invite a visitor, share their details and purpose of visit.</P>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2 class="center-content ">Brand Image
                    </h2>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <p>Vizitor equipped with features that are highly customizable, helps you in creating a strong and long-lasting first impression on your visitors. Adding your company name, logo and similar other features can be customized on the
                            basis of the user’s choice. This gives your visitor management system the tag of being tech-savvy, innovative and modern.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2 class="center-content ">Maintenance of Data
                    </h2>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <p>Maintenance of data is of utmost importance when it comes to installing visitor management system. If you maintain your data in the logbooks manually then it is liable to be error prone and inefficient. Data can be stolen, visitors
                            may fill incorrect or illegible information or someone can misuse someone else’ data. Hence, it becomes important to install a visitor management system that eliminates all these risks and maintains the data under the admin’s
                            fingertips which cannot be altered.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2 class="center-content">Security
                    </h2>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <p>Apart from maintaining the visitor’s data, keeping the premise secure is equally important. Every visitor need to enter his/her details and the name of the person whom they’ve come to meet. After entering the details, a notification
                            is sent to the host automatically that needs to be approved before the visitor is permitted entry.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2 class="center-content ">Organizing Events
                    </h2>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <p>Let’s suppose that a company is hosting an event or is recruiting candidates and expects a huge number of people. In this case, the process of managing and serving such huge crowd becomes hectic and time-taking. However, with Vizitor
                            you can manage such huge crowd with a snap. This is because Vizitor can generate bulk invites to a specified guest list. The check-in process of huge crowd becomes a lot easier and smoother as every invitee is able to check-in
                            with a single tap on Vizitor.</p>
                        <p>With so many unique features, don’t you think that your multi-tenant building needs to upgrade to Vizitor? </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<div>{{- partial "upgrade.html" . -}}</div>
{{end}}