{{ define "main" }}
<div class="container pagebanneres">
    <div class="row align-items-center">
        <div class="col-lg-6">

            <h1>Visitor Management System <span class="Digitize">Singapore</span></h1>
            <p>Visitor Management System is a management solution which is gaining widespread adoption among companies in Singapore.</p>

            <p>In today’s competitive business environment, having a visitor management system to create a well-managed business interaction is crucial to creating a good first impression with your visitors.</p>

            <p> The question is, how you receive and manage your visitors at your reception literally form their first impressions of your organization, which sets the tone for their upcoming visit meeting interaction with the organization.</p>

            <p>With visitor management application, traditional paper log books are being replaced by a more modern high tech and secure visitor pass management system.</p>

            <p> More importantly, visitor management system plays the critical role of allowing you to manage and differentiate between authorized visitors, who should be granted access and unwarranted visitors who should be denied entry.</p>

            <p> The use of such a visitor management system is the key to greater information view visibility by helping you to register, facilitate and monitor the entire duration of every single new visitor’s visit in the company, from the initial check-in
                process, right to the departure of the visitor when his appointment has ended.</p>

            <div class="bannerbtn mt-4">
                <a href="/signup" class="btn-arrow">Get Started</a>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <img src="/images/vizitor/singapore/singapore.png" alt="singapore" />
        </div>

    </div>
</div>
<!-- Simple Sign in for Invitees start -->

<div class="container pagesection">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2 class="text-center">
                <span class="signapore-color">Challenges</span> before the Visitor Management System:
            </h2>
            <div class="center-content border-line"></div>
            <br>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div>
                <p>Most companies in Singapore are facing the challenges of dealing with a large number of visitors traffic coming in and out of the building premises on a daily basis.</p>
                <p>
                    <span class="signapore-dote">.</span>A diverse type of visitors encountered the location during the day. Based on the purpose of and reasons for their visit, not all visitors are to be granted entry.
                </p>
                <p>
                    <span class="signapore-dote">.</span>In some cases, some visitors even need to be denied entry at the lobby, whereas other visitors need to be granted access to only specific areas within the building.
                </p>
                <p>
                    <span class="signapore-dote">.</span>There can also be variations in terms of their visitation duration, where some visitors are only visiting for a short duration, whereas others need to continue the visit daily for an extended period
                    of time, for days and even weeks.
                </p>
                <p>This is where a visitor management software can come in to manage and distinguish between the different types of visitors.</p>
            </div>
        </div>
    </div>
</div>

<!-- Simple Sign in for Invitees end -->
<!-- Simple Sign in for Invitees start -->

<div class="container pagesection">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2 class="text-center">
                <span class="signapore-color">Importance </span>of A Seamless Visitor’s Check-in Experience
            </h2>
            <div class="center-content border-line"></div>
            <br>
            <p>No matter what the need for the situation calls for, it is a given that all visitors have to check-in into the visitor management system accurately and in order to prevent any inconvenience caused by any delay or time wasted.</p>
            <p>Having a professional visitor management system in Singapore companies also helps to create a sense of friendliness and welcomeness.</p>
            <p>Although a large majority of the personnel entering an organisation are internal staff who are issued proper identity credentials to grant them access, managing the access control of visitors calls for a separate dedicated processing and visitor
                registration management system in order to optimize the building security level.</p>
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="row align-items-center ">
        <div class="col-md-7 col-sm-7 col-xs-12">
            <div>
                <p>
                    <img src="/images/vizitor/singapore/advance-security.png" alt="advance-security" />
                    <b>Advance Security</b>
                </p>
                <p> Security visitor Management System ensures effective and efficient security of your premises. Unlike the manual entry books where visitors used to make their entries which may or may not be true. Moreover, each of your visitors could access
                    your guest list easily. A huge invasion of privacy. The system verifies each of your visitor’s details by sending a One Time Password (OTP) along with real time check-in, there is no scope for any guest of yours to enter fake details.</p>
            </div>
            <div>
                <p>
                    <img src="/images/vizitor/singapore/pre-registration.png" alt="pre-registration" />
                    <b>Pre- registration</b>
                </p>
                <p>The most significant of them being the feature of pre-registering your visitors. While in manual entry books the person who enters your premises fill in their details, whereas once you implement Visitor Management System in your premise,
                    you can pre register your visitors letting your security officials know about the expected individuals.</p>
            </div>
            <div>
                <p>
                    <img src="/images/vizitor/singapore/accuracy-nd-reliability.png" alt="accuracy-nd-reliability" />
                    <b>Accuracy & Reliability</b>
                </p>
                <p>As stated above, Visitor Management Software verifies the visitor’s data via OTP. Hence, the information of your guest is accurate and there are no chances to get them altered. This makes the data so recorded reliable enough to use as
                    and when required.</p>
            </div>
            <div>
                <p>
                    <img src="/images/vizitor/singapore/brand-value.png" alt="brand-value" />
                    <b>Brand Value</b>
                </p>
                <p>Your visitor should feel valued once they come to your office. Asking to fill in your manual entry books will definitely not be the thing. Visitor Management System creates a long-lasting impression on your visitors. Visitor management
                    system singapore maintains your security gracefully and lets your guests feel equally important.</p>
            </div>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">
            <div>
                <img src="/images/vizitor/singapore/advantages.png" alt="advantages" />
            </div>
        </div>
    </div>
</div>

<!-- Features that make vizitor different -->

<div class="container pagesection">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h2 class="text-center">Features that make vizitor different</h2>
        <div class="center-content border-line"></div>
        <br>
    </div>
    <div class="row card-deck mt-5">
        <div class="col-md-4 col-sm-4 col-xs-12 card text-center card-shadow">
            <div>
                <img src="/images/vizitor/singapore/check-in-notification.png" style="margin-top: 12px;" alt="check-in-notification" />
            </div>
            <p>
                <b>Check-in Notification</b>
            </p>
            <p>When the visitors check-in, the visitor management system kiosk singapore sends out emails and SMS notification to the host and visitors. The welcome messages to the visitors. Host receives the notification when the visitors arrive.</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 card text-center card-shadow">
            <div>
                <img src="/images/vizitor/singapore/check-out-notification.png" style="margin-top: 12px;" alt="check-out-notification" />
            </div>
            <p>
                <b>Check-out Notification</b>
            </p>
            <p>When the visitor checks-out, the host receives the SMS and Email notification. Thanks messages are received by visitors when they check-out.</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 card text-center card-shadow">
            <div>
                <img src="/images/vizitor/singapore/welcome-notification.png" style="margin-top: 12px;" alt="welcome-notification" />
            </div>
            <p>
                <b>Welcome Notification</b>
            </p>
            <p>Vizitor sends a welcome notification to visitors, when they check-in.</p>
        </div>
    </div>
</div>


<div class="container pagesection">
    <div class="col-md-8 mx-auto">
        <div class="row card-deck">
            <div class="col-md-6 col-sm-6 col-xs-12 card text-center card-shadow">
                <div>
                    <img src="/images/vizitor/singapore/android-and-web-support.png" style="margin-top: 12px;" alt="android-and-web-support" />
                </div>
                <p>
                    <b>Android and iOS Support</b>
                </p>
                <p style="font-size: 15px;">
                    Vizitor is deployed in both Android and iOS. Our
                    <a target="_blank" href="https://www.vizitorapp.com/android-visitor-management-app">
                        <b class="singapore-link-color">Android visitor management app</b>
                    </a> can immensely improve the task of managing and assisting visitors in an organization.
                </p>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 card text-center card-shadow">
                <div>
                    <img src="/images/vizitor/singapore/web-check-in.png" style="margin-top: 12px;" alt="web-check-in" />
                </div>
                <p>
                    <b>Web check-in</b>
                </p>
                <p>Visitors can check-in using the Vizitor dashboard.</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 mt-5 col-xs-12 text-center">
        <p>Every organization receives visitors. Yet not many organizations manage visitors effectively. Access control visitor management system is essential for any organization as its one of the main ways you can make an excellent first impression to
            your clients, guests, and to the public. Thus, having proper Visitor entry management system in place is critical. </p>
    </div>
</div>

<!-- Interested in Knowing more features start -->


<div>{{- partial "upgrade.html" . -}}</div>
{{end}}