{{ define "main" }}
<div>
    <div>{{- partial "hero.html" . -}}</div>
    <div class="container-fluid">{{- partial "clients.html" . -}}</div>
    <div>{{- partial "leaders.html" . -}}</div>
    <div>{{- partial "features.html" . -}}</div>
    <div>{{- partial "benefits.html" . -}}</div>
    <!-- <div>{{- partial "users.html" . -}}</div> -->
    <div>{{- partial "case-studies.html" . -}}</div>
    <div>{{- partial "efficient-applicable.html" . -}}</div>
    <div>{{- partial "Industries.html" . -}}</div>
    <div>{{- partial "blog.html" . -}}</div>
    <div>{{- partial "subscribesection.html" . -}}</div>


</div>
{{end}}