{{ define "main" }}
<div class="free-vms">
    <div class="container-fluid pagebanneres mb-5">
        <div class="row align-items-center">
            <div class="col-md-5 col-sm-5 col-xs-12 custom-header-free">
                <div class="center-content">
                    <img src="/images/vizitor/free-visitor-management-system/banner-illustration.png" alt="banner-illustration" />
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12 free-visitor-management instant-notif">
                <h1 class="desk">
                    <span class="signapore-color">Free</span>
                    <br />Visitor Management System
                </h1>
                <p>A vizitor is a simple, secure & offers robust visitor management system to manage<br>and track visitors at your organization.</p>
                <div class=" my-4">
                    <form id="FreeVMS">
                        <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email" required>
                        <input class="btn-try-free" type="submit" value="Try for free">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pagesection">
    <h2 class="center-content desk font-sizeh3">Get started today with free plan</h2>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-content">
            <p>You must be wondering, why would your organization need a visitor management system? Or you are thinking, what can a visitor management system improve upon and is it really worth it?</p>
            <p>We will help you learn how visitor management systems like Vizitor can help organisations to save their time, space and most importantly security.</p>
            <p>There was a time when pen and paper log books used to get the job done, they don’t really fit in with the way visitor management system is done today.</p>
            <p>Paper-based logbooks make it difficult for your staff to manage visitor’s data and they don’t convey a good first impression to visitors. Many visitor check-in software today only require an internet connection, so rest assured you can easily
                roll out a digital check-in system regardless of your company size.</p>
        </div>
    </div>
</div>



<div class="container pagesection pb-5">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 workplace-free ">
            <h2 class="desk font-sizeh3">How Vizitor can work for your workplace</h2>
            <p>Visitor management can help you secure your workplace,
                <br>Digital check-ins, and simply let you know more about your visitors.</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 card-s">
            <a href="/visitor-management" rel="canonical">
                <div class="col-md-12 col-sm-12 col-xs-12 unlimited-guest ">
                    <img src="/images/vizitor/free-visitor-management-system/unlimited-guest-check-in.png" alt="unlimited-guest-check-in" />
                    <p><b>Unlimited Guest Check-in</b></p>
                    <p>Get your visitors check-in smartly. No longer need to fill paper documents, handwritten badges etc.</p>
                </div>
            </a>
            <a href="/visitor-analytics" rel="canonical">
                <div class="col-md-12 col-sm-12 col-xs-12 track-visitors mt-3">
                    <img src="/images/vizitor/free-visitor-management-system/track-visitor-analytics.png" alt="track-visitor-analytics" />
                    <p><b>Track Visitors Analytics</b></p>
                    <p>Dashboard displays updates for your most important visitor stats. </p>
                </div>
            </a>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-4 col-sm-4 col-xs-12 ">
            <a href="/visitor-security" rel="canonical">
                <div class="col-md-12 col-sm-12 col-xs-12 keep-workplace ">
                    <img src="/images/vizitor/free-visitor-management-system/secure-workplace.png" alt="secure-workplace" />
                    <p><b>Keep Workplace Secure</b></p>
                    <p>Track every single person entering the front door and keep their information safe and sound.</p>
                </div>
            </a>
            <a href="/instant-notification" rel="canonical">
                <div class="col-md-12 col-sm-12 col-xs-12 automatic-host mt-3">
                    <img src="/images/vizitor/free-visitor-management-system/host-notification.png" alt="host-notification" />
                    <p><b>Automatic Host Notification</b></p>
                    <p>Vizitor makes it easy to greet your visitors. Send notifications via welcome messages. <br> </p>
                </div>
            </a>
        </div>
        <div class="clearfix"></div>

        <div class="clearfix"></div>
    </div>
</div>




<div class="life-time-free">
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <h2 class="desk font-sizeh3">Get Started with our <br>Visitor Management System</h2>
                <p class="desk">We offer a free trial with no credit required. Simply enter your information on the Sign-up form and we will email the instructions on how to get started. Please visit at <a href="/pricing" rel="canonical"><b>https://www.vizitorapp.com/pricing</b> </a>                    for more information.</p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 time-free ">
                <h2 class="life-time-free-cl">Life Time Free</h2>
                <div>
                    <img src="/images/vizitor/free-visitor-management-system/tick.png" class="free-img-tik" alt="tick" />
                    <p class="life-time-free-cl">100 Check-ins per month</p>
                </div>
                <div>
                    <img src="/images/vizitor/free-visitor-management-system/tick.png" class="free-img-tik" alt="tick" />
                    <p class="life-time-free-cl">Email Notifications</p>
                </div>
                <div>
                    <img src="/images/vizitor/free-visitor-management-system/tick.png" class="free-img-tik" alt="tick" />
                    <p class="life-time-free-cl">Pre-registration</p>
                </div>
                <div>
                    <img src="/images/vizitor/free-visitor-management-system/tick.png" class="free-img-tik" alt="tick" />
                    <p class="life-time-free-cl">Multi-location support and many more</p>
                </div>
            </div>
        </div>
    </div>
    <img src="/images/vizitor/free-visitor-management-system/banner2-illustration.png" class="life-time-free-image" alt="banner2-illustration" />
</div>

<div>{{- partial "upgrade.html" . -}}</div>
{{end}}