{{ define "main" }}
<div class=" pagebanneres">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h1> Free <span class="Digitize">Visitor Management System</span>
                </h1>
                <p>Ensure a secure and organized environment with Vizitor’s Free Visitor Management System (VMS). Our
                    VMS allows you to track visitors, maintain digital logs, and streamline contactless check-ins with
                    ease. Perfect for offices, institutions, and residential complexes, it helps you stay audit-ready,
                    enhance workplace security, and improve visitor experiences, all without any hassle or cost.</p>
                <div class="mt-5">
                    <form id="BVMSinIndia">
                        <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email"
                            required>
                        <input class="btn-try-free" type="submit" value="Try for free">
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 text-center mt-5">
                <img src="/images/vizitor/attendance/attendance-baner.svg" alt="attendance-banneres" />
            </div>
        </div>
    </div>
</div>
<div class="proj">
    <div class="article-head">
        <div class="container">
            <div class="text-center mb-4">
                <h1 class="color-wht chgh1">Your Free Visitor Management Software</h1>
                <p class="color-wht mb-5" style="line-height: 30px;">A Visitor Management System (VMS) is software that
                    replaces outdated paper registers with a secure, cloud-based solution for tracking guest entries and
                    exits. It ensures compliance, boosts security, and improves visitor experience.</p>
                <p class="text-white"><b>Vizitor’s free version makes it easy for businesses of all sizes to:</b></p>
                 <p class="text-white">• Ensure compliance with safety and security protocols.</p>
                <p class="text-white">• Improve front-desk efficiency with automation.</p>
                <p class="text-white">• Digitally record guest check-ins/check-outs.</p>
                <p class="text-white">• Monitor visitor activity in real-time.</p>
               
            </div>
            <div class="text-center mt-3 mb-2">
                <a href="/signup" class="btn-arrow bvms-white-btn">Try For Free</a>
            </div>
        </div>
    </div>
</div>
<div id="bvms">
    <div class="container">
        <div class="mt-5">
            <div class=" text-center">
                <h3 class="chgh3"> How
                    <span class="Digitize"> Visitor management system </span> can benefit your workplace
                </h3>
                <p>Switch from paper logbooks to a digital check-in system for easy visitor management and a great first
                    impression, suitable for any company size.</p>
            </div>
        </div>

        <div class=" mt-5">
            <div class="card-deck ">
                <div class="card workplace-card">
                    <div>
                        <img src="/images/vizitor/security.svg" class="workplace-card-img" alt="Deliveries-management">
                    </div>
                    <div class="carsd-body p-0">
                        <h5 class="card-title ">Enhanced Security</h5>
                        <p class="workplace-card-p">Keep your workplace safe with visitor tracking. Know who's in your
                            building and when, ensuring only authorized guests enter.</p>
                    </div>
                </div>
                <div class="card workplace-card">
                    <div>
                        <img src="/images/vizitor/Multi-Platform.svg" class="workplace-card-img"
                            alt="Deliveries-management">
                    </div>
                    <div class="card-body p-0">
                        <h5 class="card-title ">Streamlined Check-Ins</h5>
                        <p class="workplace-card-p">Say goodbye to logbooks! Our system speeds up the check-in process,
                            making it quick and easy for visitors to sign in.</p>
                    </div>
                </div>
                <div class="card workplace-card">
                    <div>
                        <img src="/images/vizitor/impression.svg" class="workplace-card-img"
                            alt="Deliveries-management">
                    </div>
                    <div class="carsd-body p-0">
                        <h5 class="card-title ">Improve First Impression</h5>
                        <p class="workplace-card-p">Impress your guests with a modern approach. A smooth and
                            professional check-in experience shows you value efficiency and innovation.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class=" mt-5">
            <div class="card-deck ">
                
                <div class="card workplace-card">
                    <div>
                        <img src="/images/vizitor/Cost-Effective.svg" class="workplace-card-img"
                            alt="Deliveries-management">
                    </div>
                    <div class="card-body p-0">
                        <h5 class="card-title ">Cost-Effective Solution</h5>
                        <p class="workplace-card-p">Save on resources and streamline operations. Our system manages
                            visitors efficiently, cutting down on extra costs.</p>
                    </div>
                </div>
                <div class="card workplace-card">
                    <div>
                        <img src="/images/vizitor/impression.svg" class="workplace-card-img"
                            alt="Deliveries-management">
                    </div>
                    <div class="carsd-body p-0">
                        <h5 class="card-title ">Analytics Dashboard</h5>
                        <p class="workplace-card-p">Access insights into visitor trends and peak times.</p>
                    </div>
                </div>
                <div class="card workplace-card">
                    <div>
                        <img src="/images/vizitor/Cost-Effective.svg" class="workplace-card-img"
                            alt="Deliveries-management">
                    </div>
                    <div class="card-body p-0">
                        <h5 class="card-title ">Instant Notifications </h5>
                        <p class="workplace-card-p">Hosts get notified when a visitor arrives</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div style="background: #ED5C18;" class="py-5">
    <div class="container">
        <div class="row">
            <div class="text-center my-5">
                <h2 class="life-time-free-cl">Free Pass to Advanced Visitor Management with Vizitor</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <h3 class="life-time-free-cl freetext">Get Started with Our Visitor Management System</h3>
                <p class="life-time-free-cl">Are you a small startup looking for an efficient and cost-effective way to
                    manage your visitors? Look no further! We offer a free trial of our Visitor Management System with
                    no credit card required. It's as easy as filling out our Sign-up
                    form, and we'll promptly email you the instructions on how to kickstart your visitor management
                    journey.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 time-free ">
                <h3 class="life-time-free-cl freetext">Life Time Free</h3>
                <div>
                    <img src="/images/vizitor/free-visitor-management-system/tick.png" class="free-img-tik"
                        alt="tick" />
                    <p class="life-time-free-cl">100 Monthly Check-ins</p>
                </div>
                <div>
                    <img src="/images/vizitor/free-visitor-management-system/tick.png" class="free-img-tik"
                        alt="tick" />
                    <p class="life-time-free-cl">Email Notifications</p>
                </div>
                <div>
                    <img src="/images/vizitor/free-visitor-management-system/tick.png" class="free-img-tik"
                        alt="tick" />
                    <p class="life-time-free-cl">Pre-registration</p>
                </div>
                <div>
                    <img src="/images/vizitor/free-visitor-management-system/tick.png" class="free-img-tik"
                        alt="tick" />
                    <p class="life-time-free-cl">Multi-location Support</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 ">
                <h3 class="life-time-free-cl freetext">How to access Free</h3>
                <p class="life-time-free-cl">We're dedicated to supporting startups. To access our Free Plan, all you
                    have to do is share one post about Vizitor on your LinkedIn profile.</p>
            </div>

        </div>
        <div class=" text-center mt-5">
            <a href="/signup" class="btn-arrow attendence-white-btn">Try For Free</a>
        </div>
    </div>
</div>


<div id="bvms2">
        <div class="container">
            <div class="center-content pb-5">
                <h4 class="bvms-size">Paper Logbooks vs. Free <br> Visitor Management Software</h4>
                <p class="text-center">Ditch outdated paper registers. Discover how free visitor management software saves time, strengthens security, and delivers a modern check-in experience for your workplace.</p>
            </div>
            <div class="row mt-5">
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <div class="center-content">
                        <img src="/images/vizitor/bvm/Digital-VMS11.svg" alt="Digital-VMS11" />
                        <div class="line-digital-check-ins"></div>
                    </div>

                    <div class="Traditional-card" style="height:auto">
                        <h6 class="text-center">Vizitor Free VMS</h6>

                        <div class="row mt-2">
                            <div class="col-md-2 col-2 text-right">
                                <img src="/images/vizitor/bvm/right.svg" alt="red" class="mt-4" />
                            </div>

                            <div class="col-md-10 col-10">
                                <p>Fast, digital check-ins</p>

                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-2 col-2 text-right">
                                <img src="/images/vizitor/bvm/right.svg" alt="red" class="mt-4" />
                            </div>

                            <div class="col-md-10 col-10">
                                <p>Secure cloud storage</p>

                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-2 col-2 text-right">
                                <img src="/images/vizitor/bvm/right.svg" alt="red" class="mt-4" />
                            </div>

                            <div class="col-md-10 col-10">
                                <p>Instant visitor monitoring</p>

                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-2 col-2 text-right">
                                <img src="/images/vizitor/bvm/right.svg" alt="red" class="mt-4" />
                            </div>

                            <div class="col-md-10 col-10">
                                <p>Data privacy + compliance</p>

                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-2 col-2 text-right">
                                <img src="/images/vizitor/bvm/right.svg" alt="red" class="mt-4" />
                            </div>

                            <div class="col-md-10 col-10">
                                <p>Modern, professional experience</p>

                            </div>
                        </div>
                        <br>
                    </div>

                    

                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 Manual-top">
                    <div class=" Manual-Check-ins">
                        <div class="text-right">
                            <img src="/images/vizitor/bvm/Digital-VMS21.svg" alt="Digital-VMS21" />
                        </div>
                    </div>

                    <div class="Digital-Visitor" style="height:auto">
                        <h6 class="text-center">Traditional Logbooks</h6>
                        <div class="row mt-4">
                            <div class="col-md-2 col-2 text-right">
                                <img src="/images/vizitor/bvm/right.svg" alt="red" class="mt-4" />
                            </div>

                            <div class="col-md-10 col-10">
                                <p>Time-consuming manual entry</p>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 col-2 text-right">
                                <img src="/images/vizitor/bvm/right.svg" alt="red" class="mt-4" />
                            </div>
                            <div class="col-md-10 col-10">
                                <p>Easy to lose or damage</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 col-2 text-right">
                                <img src="/images/vizitor/bvm/right.svg" alt="red" class="mt-4" />
                            </div>
                            <div class="col-md-10 col-10">
                                <p>No real-time tracking</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 col-2 text-right">
                                <img src="/images/vizitor/bvm/right.svg" alt="red" class="mt-4" />
                            </div>
                            <div class="col-md-10 col-10">
                                <p>Limited security</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-2 text-right">
                                <img src="/images/vizitor/bvm/right.svg" alt="red" class="mt-4" />
                            </div>
                            <div class="col-md-10 col-10">
                                <p> Poor first impression</p>
                            </div>
                        </div>
                        

                    </div>




                </div>


            </div>
        </div>
    </div>

<div>{{- partial "upgrade.html" . -}}</div>

    <div id="bvms2">
        <div class="container">
            <div class="row">
                <div class="col-md-11 mx-auto">
                    <h2 class="mb-5">Frequently Asked Questions</h2>
                    <div id="accordion" class="accordion faqaccordion">
                        <div class="faqcard mb-0">
                            {{range $index, $elem := .Site.Data.freevmsFaq.items }}
                            <div class="card-header collapsed" data-toggle="collapse" href="#faq{{$index}}">
                                <a class="card-title">
                                    <b>{{.question}}</b>
                                </a>
                            </div>
                            <div id="faq{{$index}}" class="card-body collapse clrmod" data-parent="#accordion">
                                {{.answer | safeHTML}}
                            </div>
                            {{end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{{end}}