{{ define "main" }}
<div class=" VisitorManagement-System-in-India">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 col-sm-6 col-xs-12 pr-5 ">
                <h1 class="paint "> Free <span class="Digitize">Visitor Management System</span>
                </h1>
                <p style="line-height: 30px;">The free visitor management software is a simple, secure & and robust
                    management system, just like Vizitor!</p>
                <p style="line-height: 30px;">The visitor management system tracks visitors at your organization. This
                    free customer check-in system can track and monitor visitor activity in real-time, providing
                    valuable security and crowd management insights. It contributes to a safer environment by helping
                    organizations keep a record of who is on their premises, ensuring compliance with security
                    protocols.</p>
                <p style="line-height: 30px;">Vizitor- The ideal free visitors management software for your
                    organization!</p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 text-center mt-5">
                <img src="/images/vizitor/attendance/attendance-baner.svg" alt="attendance-banneres" />
            </div>
        </div>
    </div>
</div>
<div class="container pagesection">
    <h1 class="paint "> Your Free Visitor<span class="Digitize">Management Software</span>
    </h1>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-content">
            <p>You must be wondering, why would your organization need a visitor management system? Or you are thinking,
                what can a visitor management system improve upon and is it really worth it?</p>
            <p>We will help you learn how visitor management systems like Vizitor can help organisations to save their
                time, space and most importantly security.</p>
            <p>There was a time when pen and paper log books used to get the job done, they don’t really fit in with the
                way visitor management system is done today.</p>
            <p>Paper-based logbooks make it difficult for your staff to manage visitor’s data and they don’t convey a
                good first impression to visitors. Many visitor check-in software today only require an internet
                connection, so rest assured you can easily
                roll out a digital check-in system regardless of your company size.</p>
        </div>
    </div>
</div>
<div class="container pagesection pb-5">
    <h2 class="desk font-sizeh3"> How Visitor management system
        can benefit your workplace </h2>
    <p>Visitor management can help you secure your workplace.Paper-based logbooks make managing visitor data
        difficult for your <br>
        staff and don’t convey a good first impression. Many visitor check-in software today only require an
        internet connection, so rest assured you <br>
        can easily roll out a digital check-in system regardless of your company size.
    </p>
</div>



<div id="bvms">
    <div class="container">
        <div class=" text-center">
            <h3 class="chgh3"> How
                <span class="Digitize"> Visitor management system </span> can benefit your workplace
            </h3>
            <p>Visitor management can help you secure your workplace.Paper-based logbooks make managing visitor data
                difficult for your staff and don’t convey a good first impression. Many visitor check-in software today
                only require an
                internet connection, so rest assured you
                can easily roll out a digital check-in system regardless of your company size.</p>
        </div>
        <div class="col-md-8 mx-auto">
            <div class="card-deck ">
                <div class="card workplace-card">
                    <div>
                        <img src="/images/vizitor/museums/membermanagement-img.svg" class="workplace-card-img"
                            alt="Deliveries-management">
                    </div>
                    <div class="carsd-body p-0">
                        <h5 class="card-title ">Membership Management</h5>
                        <p class="workplace-card-p">The visitor management solutions for museums support membership
                            management.</p>
                    </div>
                    <a href="/" class="card-footer p-0">
                        <p class="know-more p-0">Know more <img style="margin-left: 5px;" src="/images/vizitor/Icon.svg"
                                alt="Icon">
                        </p>
                    </a>
                </div>
                <div class="card workplace-card">
                    <div>
                        <img src="/images/vizitor/museums/interactiv-kiosk-img.svg" class="workplace-card-img"
                            alt="Deliveries-management">
                    </div>
                    <div class="card-body p-0">
                        <h5 class="card-title ">Interactive Kiosks</h5>
                        <p class="workplace-card-p">Visitor management software for museums can be integrated with
                            interactive kiosks strategically placed throughout the museum.
                        </p>
                    </div>
                    <a href="/" class="card-footer p-0">
                        <p class="know-more p-0">Know more <img style="margin-left: 5px;" src="/images/vizitor/Icon.svg"
                                alt="Icon">
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="col-md-8 mx-auto">
            <div class="card-deck ">
                <div class="card workplace-card">
                    <div>
                        <img src="/images/vizitor/museums/membermanagement-img.svg" class="workplace-card-img"
                            alt="Deliveries-management">
                    </div>
                    <div class="carsd-body p-0">
                        <h5 class="card-title ">Membership Management</h5>
                        <p class="workplace-card-p">The visitor management solutions for museums support membership
                            management.</p>
                    </div>
                    <a href="/" class="card-footer p-0">
                        <p class="know-more p-0">Know more <img style="margin-left: 5px;" src="/images/vizitor/Icon.svg"
                                alt="Icon">
                        </p>
                    </a>
                </div>
                <div class="card workplace-card">
                    <div>
                        <img src="/images/vizitor/museums/interactiv-kiosk-img.svg" class="workplace-card-img"
                            alt="Deliveries-management">
                    </div>
                    <div class="card-body p-0">
                        <h5 class="card-title ">Interactive Kiosks</h5>
                        <p class="workplace-card-p">Visitor management software for museums can be integrated with
                            interactive kiosks strategically placed throughout the museum.
                        </p>
                    </div>
                    <a href="/" class="card-footer p-0">
                        <p class="know-more p-0">Know more <img style="margin-left: 5px;" src="/images/vizitor/Icon.svg"
                                alt="Icon">
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="pagesection">
    <div style="background: #ED5C18; padding: 80px 0;">
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <h2 class="life-time-free-cl">Get Started with our <br>Visitor Management System</h2>
                    <p class="desk">We offer a free trial with no credit required. Simply enter your information on the
                        Sign-up form and we will email the instructions on how to get started. Please visit at <a
                            href="/pricing" rel="canonical"><b>https://www.vizitorapp.com/pricing</b> </a> for more
                        information.</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 time-free ">
                    <h2 class="life-time-free-cl">Life Time Free</h2>
                    <div>
                        <img src="/images/vizitor/free-visitor-management-system/tick.png" class="free-img-tik"
                            alt="tick" />
                        <p class="life-time-free-cl">100 Check-ins per month</p>
                    </div>
                    <div>
                        <img src="/images/vizitor/free-visitor-management-system/tick.png" class="free-img-tik"
                            alt="tick" />
                        <p class="life-time-free-cl">Email Notifications</p>
                    </div>
                    <div>
                        <img src="/images/vizitor/free-visitor-management-system/tick.png" class="free-img-tik"
                            alt="tick" />
                        <p class="life-time-free-cl">Pre-registration</p>
                    </div>
                    <div>
                        <img src="/images/vizitor/free-visitor-management-system/tick.png" class="free-img-tik"
                            alt="tick" />
                        <p class="life-time-free-cl">Multi-location support and many more</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>{{- partial "upgrade.html" . -}}</div>
{{end}}