{{ define "main" }}
<div class=" VisitorManagement-System-in-India">
    <div class="container">
        <div class="row  align-items-center ">
            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <p><span class="Digitize">SPACE MANAGEMENT SOFTWARE</span></p>
                <h2 class="bvms-size">Flex Every Square Foot of Your Workspace </h2>
                <p style="line-height: 30px;">Embrace your workplace design so your employees can book any space they
                    require and use it efficiently.</p>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 ">
                        <div class=" bannerbtn mt-4">
                            <a target="_blank" href="/signup" class="btn-arrow">Get Started</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 ">
                        <div class=" bannerbtn mt-4 mb-3">
                            <a target="_blank" href="/contact" class="spacebtn  ">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <img src="/images/vizitor/space-management/space-dashboard-img.svg" alt="attendance-banneres" />
            </div>
        </div>
    </div>
</div>
<!-------------------->
<div id="bvms2">
    <div class="container ">
        <div class="text-center">
            <h3 class="bvms-size"> Secure Workspace Resources From Anywhere.<br>
                <span class="Digitize"> Fast and Steady</span>
            </h3>
        </div>
        <div class="row mt-5">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="text-center">
                    <img src="/images/vizitor/space-management/desk and offices-img.svg" alt="qrcode-f" />
                    <h5 class="vizitor-pass-h5 mt-4">Desks And <br> Offices</h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;"> Allow employees to book desks and offices
                        with a desk booking system that effectively maintains a structural work environment.</p>
                    <a href="/desk-booking-system" class="card-footer p-0">
                        <p class="know-more p-0">Know more <img style="margin-left: 5px;" src="/images/vizitor/Icon.svg"
                                alt="Icon" /></p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class=" text-center">
                    <img src="/images/vizitor/space-management/optmize-img.svg" alt="pen-underline-fill" />
                    <h5 class="vizitor-pass-h5 mt-4">Optimised Vehicles <br> Usage</h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">The fair and flawless way to monitor all the
                        vehicles and get
                        insightful updates on who is driving the car anytime in the comfort of your home.</p>
                    <a href="/vehicle-booking-software" class="card-footer p-0">
                        <p class="know-more p-0">Know more <img style="margin-left: 5px;" src="/images/vizitor/Icon.svg"
                                alt="Icon" /></p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="text-center">
                    <img src="/images/vizitor/space-management/maintain-records-img.svg" alt="pen-underline-fill" />
                    <h5 class="vizitor-pass-h5 mt-4">Maintain Equipment <br> Records</h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Smart space software tracks and reports on
                        using expensive equipment
                        efficiently. Ensure valuable resources are well-managed.</p>
                    <a href="/equipment-booking-software" class="card-footer p-0">
                        <p class="know-more p-0">Know more <img style="margin-left: 5px;" src="/images/vizitor/Icon.svg"
                                alt="Icon" /></p>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="text-center">
                    <img src="/images/vizitor/space-management/parking-spots-img.svg" alt="pen-underline-fill" />
                    <h5 class="vizitor-pass-h5 mt-4">Parking Spots <br> Checks</h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">The advanced & rightful way to reserve car
                        parking spot is to stay
                        ahead of time & avoid clashes. Build prospective area of growth,& consume the market.</p>
                    <a href="/parking-management-software" class="card-footer p-0">
                        <p class="know-more p-0">Know more <img style="margin-left: 5px;" src="/images/vizitor/Icon.svg"
                                alt="Icon" /></p>
                    </a>
                </div>

            </div>
        </div>
        <p class=" text-center mt-5" style="font-weight: 600px; font-size: 22px; line-height: 30px;">Get Creative And
            Try Limitless Categories,<a href="/" class="Digitize"> Start Today! </a></p>
    </div>
</div>
<!------------------->
<div id="bvms">
    <div class="container">
        <div class="row  align-items-center">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <p class="Digitize">THE REVOLUTIONARY TAKE </p>
                <h2 class="bvms-size">What is <span class="Digitize"> Space Management Software? </span> </h2>
                <p style="line-height: 30px; ">Office Space management software is a technology solution designed to streamline
                    and optimize the utilization <br> of physical spaces within organizations, such as offices,
                    coworking spaces, educational institutions.<br></p>
                <p style="line-height: 30px;"> The revolutionary Space management lies in its ability to transform
                    traditional workspace management.</p>
            </div>
        </div>
    </div>
</div>
<!-------------------->
<div class="proj">
    <div class="article-head">
        <div class="container">
            <div class="text-center mb-4">
                <h4 class="color-wht chgh4 ">All Vizitor Revolutionary Plan Start From $3 Per Month<br> Let's Get
                    Started! </h4>
            </div>
            <div class=" text-center mt-5 ">
                <a href="/signup" class="btn-arrow bvms-white-btn">Start Today</a>
            </div>
        </div>
    </div>
</div>
<!--------------------->
<div id="bvms">
    <div class="container">
        <p class="text-center"><span class="Digitize"> DELIVERING QUALITY, NOT A TRADE DEAL! </span></p>
        <h2 class="bvms-size text-center"> Here’s Why? </h2>
        <div class="row align-items-center py-5">
            <div class="col-md-6 col-sm-6 col-xs-12 " id="bvmsli">
                <p class="Digitize">CONVENIENT </p>
                <h3 class="bvms-size">Solution Hub For all Workspace problems </h3>
                <ul>
                    <li><span>Monitor all workspaces and resources from one place or device for a centralized
                            view.</span></li>
                    <li><span>Customize resource settings with preset categories or create your own.</span></li>
                    <li><span>Enjoy complete control and flexibility over your workspace management.</span></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <img src="/images/vizitor/space-management/workspace-problems-img.svg" alt="TouchlessQR" />
            </div>
        </div>
        <div class="row align-items-center py-5">
            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <img src="/images/vizitor/space-management/Fair-empolyees.svg" alt="TouchlessQR" />
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 " id="bvmsli">
                <p class="Digitize"> FAIR</p>
                <h3 class="bvms-size">Provide Smooth Workflow to Employees </h3>
                <ul>
                    <li><span>Book workplace resources in a hassle-free manner using QR codes.</span></li>
                    <li><span>Locate your space with maps, justifying accurate resource availability details.</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row align-items-center py-5">
            <div class="col-md-6 col-sm-6 col-xs-12 " id="bvmsli">
                <p class="Digitize">INFORMED </p>
                <h3 class="bvms-size"> Workspace Details at Your Fingertips </h3>
                <ul>
                    <li><span> The system ensures efficient utilization of every inch of your workspace, preventing
                            wastage and maximizing productivity. </span></li>
                    <li><span>The software helps avoid clashes or conflicts over workspace resources, ensuring a smooth
                            and conflict-free environment for your organization.</span></li>
                    <li><span>It enhances coordination and reduces the likelihood of resource double-booking, making the
                            best use of available space for seamless operations.</span></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <img src="/images/vizitor/space-management/fingertips-img.svg" alt="TouchlessQR" />
            </div>
        </div>
    </div>
</div>
<!--------------------->
<div id="bvms2">
    <div class="container ">
        <div class="text-center">
            <h3 class="bvms-size"> The Features About Vizitor You Didn't Know
                <br> You Were Missing!
            </h3>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <img src="/images/vizitor/space-management/money-recive.png" alt="qrcode-f" />
                    <h5 class="vizitor-pass-h5 mt-4">Cost Savings</h5>
                    <p class="vizitor-pass-h5-p " style="line-height: 30px;"> With a office space management software,
                        organizations can save on real estate
                        costs by optimizing space usage and reducing excess office space.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <img src="/images/vizitor/space-management/flexibility-and-work-img.png" alt="pen-underline-fill" />
                    <h5 class="vizitor-pass-h5 mt-4">Flexibility and Remote Work</h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Workspace Management software supports
                        modern work trends, including
                        remote and hybrid work, by allowing employees to book resources.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <img src="/images/vizitor/space-management/Data-driven-img.svg" alt="pen-underline-fill" />
                    <h5 class="vizitor-pass-h5 mt-4">Data-Driven Decision-Making</h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Vizitor's space management system offers
                        crucial data for informed
                        workspace design and resource allocation decisions.</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="text-center">
                    <img src="/images/vizitor/space-management/Improved-img.svg" alt="pen-underline-fill" />
                    <h5 class="vizitor-pass-h5 mt-4">Improved Collaboration</h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">It enhances collaboration by
                        streamlining meeting rooms and
                        resource bookings, facilitating easy team coordination, and providing remote space access.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="text-center">
                    <img src="/images/vizitor/space-management/Sustainability-img.svg" alt="pen-underline-fill" />
                    <h5 class="vizitor-pass-h5 mt-4">Sustainability</h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Reducing space wastage and encouraging
                        better space utilization <br> contribute to more sustainable use of resources and spaces.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class=" bannerbtn mt-5 text-center">
        <a target="_blank" href="/signup" class="btn-arrow">Get in Touch </a>
    </div>
</div>
</div>
<!---------------------->
<div id="Survey-Analysis">
    <div class="container">
        <div class="center-content pb-5">
            <p><span class="Digitize"> NEED FOR SPACE MANAGEMENT SOFTWARE</span></p>
            <h4 class="bvms-size">The Data Fosters The Need For
                <span class="Digitize">Space Utilization</span><br> To Boost Productivity!
            </h4>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12 Survey-Analysis-line">
                <p class="Survey-Analysis-p mb-5" >15-30%</p>
                <p class="center-content"> Office Space Management Software
                    Boosts Office Space
                </p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 Survey-Analysis-line">
                <p class="Survey-Analysis-p mb-5">30%</p>
                <p class="center-content">Office Space Goes Unused</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 Survey-Analysis-line">
                <p class="Survey-Analysis-p mb-5">59%</p>
                <p class="center-content">Workplace Increases Employee's Productivity</p>
            </div>
        </div>
        <div class=" bannerbtn mt-5 text-center">
            <a target="_blank" href="/signup" class="btn-arrow">Try For Free </a>
        </div>
    </div>
</div>
<!---------------------->
<div id="bvms2">
    <div class="container ">
        <div class="text-center">
            <p span class="Digitize"> TESTIMONIAL </span> </p>
            <h3 class="bvms-size"> You Are in Good Hands. Vizitor Cares for You!
            </h3>
            <p style="font-size: 24px; font-weight: 500;"> The Vizitor Software has been a game-changer for our
                organization. This intuitive interface transformed the way we manage our workspace. Now, we efficiently
                track our office resources
                and book meeting spaces with office space management software. </p>
            <p class="mt-4" style="font-size: 18px; font-weight: 700;">“Farhad Ahmed, Retina Centre”
            </p>
        </div>
        <div class=" bannerbtn mt-5 text-center">
            <a target="_blank" href="/case-studies" class="btn-arrow"> Read All Stories </a>
        </div>

    </div>
</div>
<!---------------------->
<div id="bvms">
    <div class="container ">
        <div class="text-center">
            <h3 class="bvms-size"> What Makes Us <span class="Digitize"> Stand Out? </span>
            </h3>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <img src="/images/vizitor/space-management/work-diverse.svg" alt="qrcode-f" />
                    <h5 class="vizitor-pass-h5 mt-4">We Work on Diverse Devices</h5>
                    <p class="vizitor-pass-h5-p " style="line-height: 30px;"> Our office space management software works on all
                        your diverse devices,
                        whether iOS or Android; the software works for all.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <img src="/images/vizitor/space-management/customer-support.svg" alt="pen-underline-fill" />
                    <h5 class="vizitor-pass-h5 mt-4">24/7 Customer Support</h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Any query? Vizitor experts will reply
                        to you within minutes and provide you extensive support any time of day.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <img src="/images/vizitor/space-management/our-surrond-img.svg" alt="pen-underline-fill" />
                    <h5 class="vizitor-pass-h5 mt-4"> We Value Our Surroundings </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Vizitor firmly believes in giving back to
                        nature, and with our
                        software, we encourage saving paper drives. </p>
                </div>
            </div>
        </div>
        <div class=" bannerbtn mt-5 text-center">
            <a target="_blank" href="/www.vizitorapp.com" class="btn-arrow ">Choose Vizitor</a>
        </div>
    </div>
</div>
<!-- Faq Section -->
<div id="bvms2">
    <div class="container">
        <div class="row">
            <div class="col-md-11 mx-auto">
                <h2 class="mb-5">Frequently Asked Questions</h2>
                <div id="accordion" class="accordion faqaccordion">
                    <div class="faqcard mb-0">
                        {{range $index, $elem := .Site.Data.spacems.items }}
                        <div class="card-header collapsed" data-toggle="collapse" href="#faq{{$index}}">
                            <a class="card-title">
                                <b>{{.question}}</b>
                            </a>
                        </div>
                        <div id="faq{{$index}}" class="card-body collapse clrmod" data-parent="#accordion">
                            {{.answer | safeHTML}}
                        </div>
                        {{end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Faq Section Ends -->
{{end}}