{{ define "main" }}
<div class=" VisitorManagement-System-in-India">
    <div class="container">
        <div class="row  align-items-center">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <p><span class="Digitize">Space Management Software </span></p>
                <h2 class="bvms-size">Flex every square foot of your Workspace </h2>
                <p style="line-height: 30px;">Vizitor's employee management system stands as India's sole touchless
                    platform offering QR-based attendance. By utilizing the GPS system, it assesses both your current
                    location and the designated office location. Only when your location aligns with that of your office
                    can you mark your attendance.
                </p>
            </div>
        </div>
    </div>
</div>
<!------------------------------------>
<div class="pagesection">
    <div class="container ">
        <div class="text-center">
            <h2 class="bvms-size"> Secure Workspace Resources from Anywhere.<br>
                <span class="Digitize"> Fast and Steady </span>
            </h2>
        </div>
        <div class="row card-deck mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 card">
                <div class="card-body">
                    <p class="digital-visitor">Desks & Offices </p>
                    <p class="card-text">Make it easy for employees to book desks and offices with the space management
                        system that works effectively to maintain a structural work environment, build a prospective
                        area of growth, and consume the market.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 card">
                <div class="card-body">
                    <p class="digital-visitor">Equipment & Assets</p>
                    <p class="card-text">
                        The valuable resources are in the right hands; manage the handful of expensive equipment with
                        smart space management software, which tracks and gives a detailed report on equipment usage.
                    </p>
                </div>
            </div>
        </div>
        <div class="row card-deck mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 card">
                <div class="card-body">
                    <p class="digital-visitor">Parking Spots </p>
                    <p class="card-text">The advanced and rightful way to reserve a car parking spot is to stay ahead of
                        time and avoid clashes.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 card">
                <div class="card-body">
                    <p class="digital-visitor">Vehicles</p>
                    <p class="card-text">The fair and flawless way to monitor all the vehicles and get insightful
                        updates on who is driving the car anytime in the comfort of your home.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------->
<div class="pagesection">
    <div class="container">
        <div class="row  align-items-center">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <p><span class="Digitize"> The revolutionary take </span></p>
                <h2 class="bvms-size">What is Space Management software?</h2>
                <p style="line-height: 30px; ">Space management software is a technology solution designed to streamline
                    and optimize the utilization of physical spaces within <br> organizations, such as offices,
                    coworking spaces, educational institutions.<br></p>
                <p style="line-height: 30px; "> The revolutionary Space management lies in its ability to transform
                    traditional workspace management.</p>
            </div>
        </div>
    </div>
</div>
<!--------------------->
<div id="bvms">
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 " id="bvmsli">
                <p><span class="Digitize"> Convenient </span></p>
                <h3 class="bvms-size">Handle everything from one place </h3>
                <p>Monitor all the workspaces and resources from one place or even one device. Custom resources settings
                    with pre-set categories or customize all. You have all the right! </p>
                <ul>
                    <li><span>Monitor all workspaces and resources from one place or device for a centralized
                            view.</span></li>
                    <li><span>Customize resource settings with preset categories or create your own.</span></li>
                    <li><span>Enjoy complete control and flexibility over your workspace management.</span></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <img src="/images/vizitor/TouchlessQR.svg" alt="TouchlessQR" />
            </div>
        </div>
        <div class="row align-items-center mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <img src="/images/vizitor/TouchlessQR.svg" alt="TouchlessQR" />
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 " id="bvmsli">
                <p><span class="Digitize"> Fair </span></p>
                <h3 class="bvms-size">Reduce workloads of employees </h3>
                <p>The space management system helps reduce the tense workload of employees to look after all bookings,
                    as the system encourages staff to book anywhere they want within the premises.
                </p>
                <ul>
                    <li><span>Book workplace resources in a hassle-free manner using QR codes.</span></li>
                    <li><span>Locate your space with maps, justifying accurate resource availability details.</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row align-items-center mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 " id="bvmsli">
                <p><span class="Digitize"> Informed </span></p>
                <h3 class="bvms-size">Help in smooth use of workspace. </h3>
                <p>Vizitor space management helps your organization in the smooth use of every inch of workspace,
                    avoiding any clashes.</p>
                <ul>
                    <li><span> The system ensures efficient utilization of every inch of your workspace, preventing
                            wastage and maximizing productivity. </span></li>
                    <li><span>The software helps avoid clashes or conflicts over workspace resources, ensuring a smooth
                            and conflict-free environment for your organization.</span></li>
                    <li><span>It enhances coordination and reduces the likelihood of resource double-booking, making the
                            best use of available space for seamless operations.</span></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <img src="/images/vizitor/TouchlessQR.svg" alt="TouchlessQR" />
            </div>
        </div>
    </div>
</div>
<!--------------------->
<div class="pagesection">
    <div class="container ">
        <div class="text-center">
            <h2 class="bvms-size"> The features about Vizitor you didn't know <span class="Digitize"> you were
                    missing!</span>
                </span> </h2>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Cost Savings </h5>
                    <p class="vizitor-pass-h5-p ">Space Management software supports modern work trends, including
                        remote and hybrid work, by allowing employees to book resources and access spaces from anywhere.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Flexibility and Remote Work </h5>
                    <p class="vizitor-pass-h5-p">Competitive pricing, fits your budget. Save money on expensive hardware
                        and software costs.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Data-Driven Decision-Making </h5>
                    <p class="vizitor-pass-h5-p">The Vizitor space management system provides valuable data and insights
                        that enable organizations to make informed decisions about workspace design and resource
                        allocation. </p>
                </div>
            </div>
        </div>
        <div class="row visitorpass-row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Improved Collaboration </h5>
                    <p class="vizitor-pass-h5-p"> It fosters collaboration by simplifying the booking of meeting rooms
                        <br>
                        and resources, making it easier for teams to work together.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Sustainability </h5>
                    <p class="vizitor-pass-h5-p">Reducing space wastage and encouraging better space utilization
                        <br> contribute to a more sustainable use of resources.
                    </p>
                </div>
            </div>
        </div>
        <div class="text-center bannerbtn mt-5">
            <a target="_blank" href="/signup" class="btn-arrow">Get in Touch</a>
        </div>
    </div>
</div>
<!-------------------------------->
<div class="pagesection">
    <div class="container">
        <h2 class="text-center">You are in good hands. <span class="Digitize">Vizitor cares for you!</span> </h2>
        <div class="row align-items-center">
            <div class="col-12 col-carousel">
                <div class="owl-carousel carousel-maines owl-theme">
                    <div>
                        <div class=" workplace-card-campaign">
                            <p class="mb-4">“The Vizitor Software has been a game-changer for our organization. This
                                intuitive interface transformed the way we manage our workspace. Now, we efficiently
                                track our office resources and book meeting spaces.”</p>
                            <hr>
                            <div class="happy-class mt-4">
                                <div class="happy-class-img mt-0">
                                    <p><b>-Richard V, ShipRocket </b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class=" workplace-card-campaign">
                            <p class="mb-4">“The Vizitor Software has been a game-changer for our organization. This
                                intuitive interface transformed the way we manage our workspace. Now, we efficiently
                                track our office resources and book meeting spaces.”</p>
                            <hr>
                            <div class="happy-class mt-4">
                                <div class="happy-class-img mt-0">
                                    <p><b>-Richard V, ShipRocket </b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class=" workplace-card-campaign">
                            <p class="mb-4">“With Vizitor Space Management Software, we have truly revolutionized how we
                                operate our workspace. As a dynamic and growing organization, the flexibility and
                                efficiency it provides are invaluable.” </p>
                            <hr>
                            <div class="happy-class mt-4">
                                <div class="happy-class-img mt-0">
                                    <p><b>- Sam Daniel, HardRock Cafe </b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class=" workplace-card-campaign">
                            <p class="mb-4">“The Vizitor Software has been a game-changer for our organization. This
                                intuitive interface transformed the way we manage our workspace. Now, we efficiently
                                track our office resources and book meeting spaces.”</p>
                            <hr>
                            <div class="happy-class mt-4">
                                <div class="happy-class-img mt-0">
                                    <p><b>-Richard V, ShipRocket </b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class=" workplace-card-campaign">
                            <p class="mb-4">“The Vizitor Software has been a game-changer for our organization. This
                                intuitive interface transformed the way we manage our workspace. Now, we efficiently
                                track our office resources and book meeting spaces.”</p>
                            <hr>
                            <div class="happy-class mt-4">
                                <div class="happy-class-img mt-0">
                                    <p><b>-Richard V, ShipRocket </b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class=" workplace-card-campaign">
                            <p class="mb-4">“With Vizitor Space Management Software, we have truly revolutionized how we
                                operate our workspace. As a dynamic and growing organization, the flexibility and
                                efficiency it provides are invaluable.” </p>
                            <hr>
                            <div class="happy-class mt-4">
                                <div class="happy-class-img mt-0">
                                    <p><b>- Sam Daniel, HardRock Cafe </b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---------------------->
<div class="bvms">
    <div class="container">
        <h2 class="text-center ">What makes us <span class="Digitize">stand out?</span> </h2>
        <div class="row mt-5">
            <div id="attendance" class="card-deck">
                <div class="card">
                    <div class="card-body" style="padding: 30px;">
                        <h5 class="card-title text-center">We work on diverse devices </h5>
                        <p class="card-text text-center" style="line-height: 30px;">Our space management software works
                            on all your diverse devices, whether ios or Android; the software works for all.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body" style="padding: 30px;">
                        <h5 class="card-title text-center">24/7 Customer Support </h5>
                        <p class="card-text text-center" style="line-height: 30px;">Any query? Vizitor experts will
                            reply to you within minutes and provide you extensive support any time of day.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body" style="padding: 30px;">
                        <h5 class="card-title text-center">We value our surroundings </h5>
                        <p class="card-text text-center" style="line-height: 30px;">Vizitor firmly believes in giving
                            back to nature, and with our software, we encourage saving paper drives
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}