{{ define "main" }}
<!--------------------->
<div class=" pagebanneres">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <h1 class="paint "> <span class="Digitize">Equipment Booking </span> Software </h1>
                <p style="line-height: 30px;">Use equipment booking software and make sure the right equipment is in the
                    right hands at the right time.
                </p>
                <div class="mt-5">
                    <form id="attendanceForm">
                        <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email"
                            required>
                        <input class="btn-try-free" type="submit" value="Try for free">
                    </form>
                    <div class="mt-5 Try-free">
                        {{range .Site.Params.apps}}
                        <a href="{{.url}}" target="_blank"><img class="btn-app btn-app-mg phonetop-btn"
                                src="{{.image  | absURL}}" alt="{{.title}}"></a>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--------------------->
<div id="bvms">
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-md-12 col-sm-12 col-xs-12 " id="bvmsli">
                <h3 class="bvms-size">Eliminate Confusion, Be Transparent
                </h3>
                <p>Manage equipment without breaking a Sweat
                </p>
                <ul>
                    <li><span> Need help with who has, when, and what equipment with them? The perfect solution is to
                            incorporate a digital booking system.</span>
                    </li>
                    <li><span>Get an updated dashboard stating the equipment status and usage. Avoid hefty handwritten
                            records, double bookings, and unnecessary conflicts.
                        </span></li>
                    <li><span>Employees can book equipment in advance with easy to use Vizitor smart pocket app.
                        </span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!------------------>
<div id="bvms2">
    <div class="container ">
        <div class="text-center">
            <h3 class="bvms-size">Centralize all Office Equipments in one software <br><span class="Digitize"> with 5
                    Simple Steps </span> </h3>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Asset Registration
                    </h5>
                    <p class="vizitor-pass-h5-p " style="line-height: 30px;">Each piece of equipment is in the equipment
                        booking system. This may include equipment type, model, serial number, purchase date, and
                        initial cost.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Barcoding or RFID Tagging
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Many equipment booking software enables
                        barcodes or RFID tags to uniquely identify and track each piece. This simplifies the process of
                        updating information.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Check-In/Check-Out
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Users can record when equipment is checked
                        out for use and when it is returned. This helps track equipment availability and location at any
                        given time.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Maintenance Scheduling
                    </h5>
                    <p class="vizitor-pass-h5-p " style="line-height: 30px;">The software often provides tools for
                        scheduling and tracking routine maintenance tasks. This includes preventive maintenance to
                        extend the lifespan of equipment.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Usage Tracking
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">The equipment scheduling system records
                        equipment usage and overall insights. This information can be valuable for making data-driven
                        decisions.
                    </p>
                </div>
            </div>
        </div>
        <p class="text-center">The Vizitor equipment booking software includes a reservation feature, allowing users to
            schedule equipment usage in advance. This is particularly useful in organizations with multiple teams or
            departments sharing equipment resources.
        </p>
    </div>
</div>
<!------------------>
<div id="bvms">
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-md-12 col-sm-12 col-xs-12 " id="bvmsli">
                <h3 class="bvms-size">Be Smart and Reasonable With Digital Booking System
                </h3>
                <ul>
                    <li><span> With the booking system, be reasonable and upgrade your employees' work efficiency with
                            the right equipment.
                        </span></li>
                    <li><span>With calculative decisions for your organization, you will benefit long term.
                        </span></li>
                    <li><span>Create a flexible, fair, and convenient workplace for everyone with the availability of
                            the right resources. </span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!----------------------->
<div id="bvms2">
    <div class="container ">
        <div class="text-center">
            <h3 class="bvms-size">Benefits of Equipment Booking Software <span class="Digitize"> with Vizitor</span>
            </h3>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Optimized Resource Utilization
                    </h5>
                    <p class="vizitor-pass-h5-p " style="line-height: 30px;">Efficient allocation of equipment based on
                        real-time demand reduces idle time and maximizes utilization, ensuring that resources are used
                        effectively.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Reduced Scheduling Conflicts
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Equipment Booking software prevents
                        scheduling conflicts by providing visibility into availability and minimizing double bookings or
                        disputes.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Enhanced Accountability
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Equipment records who is using specific
                        equipment. This accountability reduces the risk of misuse and promotes responsible resource
                        handling.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Streamlined Workflow
                    </h5>
                    <p class="vizitor-pass-h5-p " style="line-height: 30px;">Allowing users to reserve equipment in
                        advance minimizes workflow disruptions, and teams can plan their tasks more effectively for
                        smoother operations.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class=" text-center">
                    <h5 class="vizitor-pass-h5 mt-3">Improved Productivity
                    </h5>
                    <p class="vizitor-pass-h5-p" style="line-height: 30px;">Efficient equipment management increases
                        productivity as teams can access the necessary tools without delays.
                </div>
            </div>
        </div>
    </div>
</div>
<!----------------------->
<div id="bvms">
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-md-12 col-sm-12 col-xs-12 " id="bvmsli">
                <h3 class="bvms-size">There's Always More With Vizitor </h3>
                <p>Want to manage shared resources? We've got you covered!</p>
                <ul>
                    <li><span> Simplify employee bookings, reducing administrative workload with parking management
                            software.</span> </li>
                    <li><span>Efficiently reserve a range of workplace assets, from desks and vehicles to lockers and EV
                            chargers.</span></li>
                    <li><span>Gain comprehensive insights into workplace resource usage for effective future
                            planning.</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--------------------------->
<div id="bvms" style="background: #ED5C18; padding: 80px 0;">
    <div class="container">
        <div class="content ">
            <div class="text-center">
                <h2 class="color-wht mt-5 pb-3">Around 1500 organizations are already making smarter decisions with
                    Vizitor </h2>
                <div class=" text-center mt-5">
                    <a href="/signup" class="btn-arrow attendence-white-btn">Try For Free</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Faq Section -->
<div id="bvms2">
    <div class="container">
        <div class="row">
            <div class="col-md-11 mx-auto">
                <h2 class="mb-5">Frequently Asked Questions</h2>
                <div id="accordion" class="accordion faqaccordion">
                    <div class="faqcard mb-0">
                        {{range $index, $elem := .Site.Data.equisoftware.items }}
                        <div class="card-header collapsed" data-toggle="collapse" href="#faq{{$index}}">
                            <a class="card-title">
                                <b>{{.question}}</b>
                            </a>
                        </div>
                        <div id="faq{{$index}}" class="card-body collapse clrmod" data-parent="#accordion">
                            {{.answer | safeHTML}}
                        </div>
                        {{end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Faq Section Ends -->
{{end}}