{{ define "main" }}
<div style="background-color: rgb(240, 244, 247);" class="pb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="bannerleft">
                    <h1><span class="Digitize">Web Based</span> Visitor Management System</h1>
                    <p>Web based visitor management system is now the need of the decade. Regardless of size and type, almost all types of organisations in the modern day economy need a proper visitor management system. It is very essential for organisations
                        to properly run their operations. The dilemma is to choose from all these different types of visitor management systems and service providing companies.</p>
                    <p>One of these among sort of visitor management system is, “Web-Based”. Web-based visitor management systems work on the web and are accessible from anywhere, obviously providing login credentials. It's gaining lots of popularity because
                        there are many benefits that the system offers. Web based visitor management systems are a very cost effective solution popularly adopted by companies to effectively identify, track, and monitor visitors movement coming in and
                        out in an office building on a daily basis.</p>
                    <div class=" mt-4">
                        <form id="webBasedVMS">
                            <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email" required>
                            <input class="btn-try-free" type="submit" value="Try for free">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <img src="/images/vizitor/web-based/web-based-header.png" alt="web-based-header" />
            </div>

        </div>
    </div>
</div>


<section>
    <div class="container">
        <div class="row">
            <h2 class="signapore-color">
                Benefits
                <span>of Visitor Management System</span>
            </h2>
            <p>Modern visitor pass software can quickly fix issues like security, safety, interruption, receptionists stuck at their desk compared to old manual systems. Take a look at the following benefits of having a modern day web based visitor management
                solution integrated to your business system.</p>
        </div>
        <div class="row card-deck mt-5">
            <div class="col-md-3 col-sm-3 col-xs-12 card text-center card-shadow">
                <div>
                    <img src="/images/vizitor/web-based/benefits/security-and-safety.png" style="margin-top: 12px;" alt="security-and-safety" />
                </div>
                <p>
                    <b>Security and Safety</b>
                </p>
                <p>Web based visitor management system provides you with the extra protection you need by identifying visitors accurately and speedily.</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 card text-center card-shadow">
                <div>
                    <img src="/images/vizitor/web-based/benefits/visitor-privacy.png" style="margin-top: 12px;" alt="visitor-privacy" />
                </div>
                <p>
                    <b>Visitor Privacy</b>
                </p>
                <p>Vizitor is committed to protecting and maintaining your privacy. A digital visitor log book is not the best solution in keeping their privacy.</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 card text-center card-shadow">
                <div>
                    <img src="/images/vizitor/web-based/benefits/cost-effective.png" style="margin-top: 12px;" alt="cost-effective" />
                </div>
                <p>
                    <b>Cost Effective</b>
                </p>
                <p>A good system will save you a lot of money by minimizing the cost of processing each visitor. There are also hidden costs that are difficult to measure like breach of security.</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 card text-center card-shadow">
                <div>
                    <img src="/images/vizitor/web-based/benefits/creates-impression.png" style="margin-top: 12px;" alt="creates-impression" />
                </div>
                <p>
                    <b>Creates an Impression</b>
                </p>
                <p>A Web based visitor management system helps you make a great first impression by making your visitors feel welcome. It also provides a positive visitor experience by quickly checking them in.</p>
            </div>
        </div>
    </div>
</section>

<!-- IMPORTANT FEATURES -->
<section>
    <div class="container">
        <div class="row">
            <h2 class="signapore-color">
                Important
                <span>Features of Visitor Management System</span>
            </h2>
            <p>Vizitor comes with an outstanding set of features and is now deployed in several variants - Mobile app and Web.</p>
        </div>
        <div class="row cardindex mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="web-bt">
                    <div class="web-img">
                        <div class="pre-registration"></div>
                    </div>
                    <div>
                        <h4 class="font-size-index">Smart Pre-registrations</h4>
                        <p class="card-p">Pre-invite visitors in an orderly manner to improve operational processes.</p>
                    </div>
                </div>
                <div class="web-bt">
                    <div class="web-img">
                        <div class="visitor-traffic"></div>
                    </div>
                    <div>
                        <h4 class="font-size-index">Monitor Visitor Traffic</h4>
                        <p class="card-p">Effective monitoring of user traffic and waiting duration.</p>
                    </div>
                </div>
                <div class="web-bt">
                    <div class="web-img">
                        <div class="security-and-safety"></div>
                    </div>
                    <div>
                        <h4 class="font-size-index">Safe & Secure Registration</h4>
                        <p class="card-p">Register new visitors with NDA signing for organizational security.</p>
                    </div>
                </div>
                <div class="web-bt">
                    <div class="web-img">
                        <div class="real-time-dashboard"></div>
                    </div>
                    <div>
                        <h4 class="font-size-index">Real-Time Dashboards</h4>
                        <p class="card-p">Generate real-time web based reports and displays live updates for your visitors status.</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="web-bt">
                    <div class="web-img">
                        <div class="time-recording"></div>
                    </div>
                    <div>
                        <h4 class="font-size-index">Accurate Check-In & check-Out Time Recording</h4>
                        <p class="card-p">Record accurate in & out visitor timings to optimize organizational processes.</p>
                    </div>
                </div>
                <div class="web-bt">
                    <div class="web-img">
                        <div class="easy-setup"></div>
                    </div>
                    <div>
                        <h4 class="font-size-index">Easy Setup</h4>
                        <p class="card-p">Quick check-in with customisable Login fields.</p>
                    </div>
                </div>
                <div class="web-bt">
                    <div class="web-img">
                        <div class="multi-location-support"></div>
                    </div>
                    <div>
                        <h4 class="font-size-index">Multi-location Support</h4>
                        <p class="card-p">
                            Get connected with Multiple Organisations with single
                            <br />account.
                        </p>
                    </div>
                </div>
                <div class="web-bt">
                    <div class="web-img">
                        <div class="notification"></div>
                    </div>
                    <div>
                        <h4 class="font-size-index">Instant Notification and Badges</h4>
                        <p class="card-p">Assign visitors customized badge designs and notify managers by email & sms alert.</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>


<div>{{- partial "upgrade.html" . -}}</div>
{{end}}