{{ define "main" }}
<div class="mnc pagebanneres">
    <div class="container">
        <div class="row ">
            <div class="center-content mnc-t">
                <h1 class="mnc-color" style="font-size: 42px;">Touchless Visitor Management System for MNCs</h1>
                <p class="mnc-color" style="font-size: 21px;"><b>MNC’s have ventured down the Digital Transformation route to avail of countless opportunities that can improve security and streamline the visitor experience . Vizitor makes visitor check-in more efficient and gives the productive features for monitoring</b></p>
                <div class="bannerbtn mt-4">
                    <a href="/signup" class="btn-arrow">Get Started</a>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <h4>Enhance security with Vizitor</h4>
            <p>Managing the visitors becomes more challenging with the growing number of MNCs. So enhance the security and visitor flow with the touchless and digital visitor management system. Visitor management system secure facilities at all times to
                ensure the visitors are kept away from dangerous areas. </p>
            <p>Digital system gives you updates regarding your visitors, including where they are, where they’re going, and how many people are inside your facility. Vizitor offers digital reporting functionalities for general and external reports.</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="/images/vizitor/security/security.png" alt="security">
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="col-md-8 mx-auto">
        <div class="row align-items-center">
            <div class="col-md-3 col-sm-3 col-xs-12 center-content">
                <a href="/touchless-visitor-management-system" target="_blank" rel="canonical">
                    <img style=" border-radius: 50%;" src="/images/vizitor/mnc/Touchless-Check-ins.png" alt="Touchless-Check-ins">
                    <p class="vizitorpass"><b>Touchless Check-in</b></p>
                </a>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12 center-content">
                <a href="/visitor-covid-screening" target="_blank" rel="canonical">
                    <img style=" border-radius: 50%;" src="/images/vizitor/mnc/Visitor-Screening.png" alt="Visitor-Screening">
                    <p class="vizitorpass"><b>Visitor Screening</b></p>
                </a>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12 center-content">
                <a href="/instant-notification" target="_blank" rel="canonical">
                    <img style=" border-radius: 50%;" src="/images/vizitor/mnc/Alerts.png" alt="Alerts">
                    <p class="vizitorpass"><b>Alerts</b></p>
                </a>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12 center-content">
                <a href="/contact-tracing" target="_blank" rel="canonical">
                    <img style=" border-radius: 50%;" src="/images/vizitor/mnc/ContactTracing.png" alt="ContactTracing">
                    <p class="vizitorpass"><b>Contact Tracing</b></p>
                </a>
            </div>
        </div>

    </div>
</div>

<div class="container pagesection">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h5 class="center-content desk">Powerful features</h5>
        <p class="center-content">Multinational companies can manage a large volume of visitors with Vizitor</p>
        <div class="center-content border-line"></div>

    </div>
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <h4 class="font-size-index">Office Modernization</h4>
            <p>Vizitor customization design options are the perfect accompaniment to any reception area, for every industry.</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="/images/vizitor/mnc/office-modernization.png" alt="office-modernization" />
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="/images/vizitor/mnc/unique-visitor-experiences.png" alt="unique-visitor-experiences">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <h4 class="font-size-index">Unique Visitor Experiences</h4>
            <p>It makes the check-in process easier for visitors but it presents Enterprises an opportunity to showcase their commitment to delivering their best possible experience.</p>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12  ">
            <h4 class="font-size-index">Digital Reporting</h4>
            <p>Vizitor allows users to identify areas of improvement for on-site visitor management and customize functionalities to design specific requirements.</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="/images/vizitor/mnc/digital-reporting.png" alt="digital-reporting">
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12 center-content">
            <img src="/images/vizitor/mnc/track-visitors.png" alt="track-visitors">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 touchless-Pre-Register">
            <h4 class="font-size-index">Track Visitors</h4>
            <p>The visitor management system gives you the updates regarding your visitors and secure their facilities at all times to ensure their visitors are kept away from potentially dangerous areas.</p>
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="row">
        <div class="col-md-12 text-center mb-5">
            <h2>More Features</h2>
            <div class="center-content border-line"></div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/salons/other-features/customized-form.png" class="pricingimg2 cardimg" alt="digital-impression" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        Customized
                        <br />Forum
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>Users can make customized forms according to their choices. Personalized the fields and questions for different visitor types.<br><br></p>

            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/salons/other-features/data-analysis.png" class="pricingimg2 cardimg" alt="customized-forms" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        Data
                        <br />Analysis
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>Get familiar with the well-being of your salon and spa business and know what further steps or considerations are essential for its expansion & all-round development.</p>

            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/salons/other-features/bulk-promotion.png" class="pricingimg2 cardimg" alt="image-capturing" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        Bulk
                        <br />Promotions
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>Send a bulk SMS and Emails to the customers to know about daily deals, packages, and offers.<br><br><br></p>

            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/salons/other-features/feedback-management.png" class="pricingimg2 cardimg" alt="digital-impression" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        Feedback
                        <br />Management
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>Get a complete set of opinions from your customers about your product and services.<br><br><br><br></p>

            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/salons/other-features/send-nda.png" class="pricingimg2 cardimg" alt="customized-forms" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        Send NDAs agreements
                        <br />in advance
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>The salons can send invitations to clients with attached NDAs to sign in advance, or any other agreements that might include health and safety precautions. <br><br><br></p>

            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/salons/other-features/send-qr-code.png" class="pricingimg2 cardimg" alt="image-capturing" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        Send QR
                        <br />codes in advance
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>Make the touchless check-in experience more comfortable by sending QR codes in advance to your clients. Visitors will then receive a QR code to use directly on their mobile devices and can check-in by scanning that.</p>

            </div>
        </div>
    </div>
</div>



<div>{{- partial "upgrade.html" . -}}</div>
{{end}}