{{ define "main" }}
<div class="container pagebanneres ">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div>
                <h1>Electronic Sign in <br> <span class="Digitize">System</span> </h1>
                <p>Today’s generation has the potential to make a huge difference in the manner workplaces are run and administered.Right from the invitation to checkout, each level of visitor control inside the reception can now be digitized via an electronic
                    reception management software . It literally transforms to a virtual receptionist for your office and efficiently manages all traffic and front table touchpoints. Be it personnel, clients, vendors, or temporary personnel, an electronic
                    reception control system guarantees that the handiest of the approved human beings get access to your office or facility.</p>
                <div class="bannerbtn mt-4">
                    <a href="/signup" class="btn-arrow">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 center-content">
            <img src="/images/vizitor/android/Android-Visitor-Management-App.png" alt="androis-management-header">
        </div>
    </div>

</div>
<div class="container center-content pagesection">
    <h2 class="desk">How an Electronic Reception Management System Delivers Value to Your Office?
    </h2>
    <div class="center-content border-line"></div>
    <p>A robust and properly applied electronic reception management system capable of handing over many benefits on your business. Enhance your front-desk efficiency with secure Electronic Receptionist Management System. With electronic Reception management
        system streamline your visitor Management.Touchless visitor self sign-in accounts for a seamless experience. Eliminates the need for a receptionist, making it the most efficient points in your office.</p>
</div>
<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12 center-content">
            <img src="/images/vizitor/checkinsmartly.png " alt="checkinsmartly" />
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 registration-method">
            <a href="/visitor-management" rel="canonical">
                <h5 class="font-size-index vizitorpass">Faster registration method</h5>
            </a>
            <p>In the manual system, Instead of the time taken to put in writing down info on all the columns of a visitor log book, an electronic reception management system makes the entire procedure faster. Invites allow visitors to check-in with QR code.
                This prevents lengthy queues in the reception or foyer and guarantees faster visitor registration process.</p>
        </div>
    </div>
</div>


<div>{{- partial "upgrade.html" . -}}</div>
{{end}}