{{ define "main" }}
<div class="container pagebanneres">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <h1>Touchless Visitor Management System for <span class="Digitize">Colleges</span></h1>
            <p>College campuses have to address thousands of people every day and keep track of all of their whereabouts once they enter the premises. If your college still relies on manual record keeping then how will you manage everyone on your campus.
                With extraordinary features like these, what's the point in waiting? Install the Vizitor app and get the check-in and security process streamlined.</p>
            <div class="bannerbtn mt-4">
                <a href="/signup" class="btn-arrow">Get Started</a>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <img src="/images/vizitor/college/college.png" alt="college">
        </div>

    </div>
</div>


<div class="container pagesection">
    <div class="col-md-12 col-sm-12 col-xs-12 center-content">
        <h2>Secure your college campus with Vizitor</h2>
        <div class="center-content border-line"></div>
        <p class="mt-5">Vizitor helps to enhances the security of the college. When we make our colleges safe, both students and teachers can focus better on high-quality education.</p>
        <br>
    </div>
    <div class="row align-items-center mt-5">
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <h5>Secure guest management</h5>
            <p>When huge premises such as colleges and offices use Vizitor, students and parents feel more comfortable knowing that any stranger or guest on-site has been processed and screened accordingly. It performs the important task of tracking outsiders
                inside the campus, their arrival time and whom do they need to meet.</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <img src="/images/vizitor/security/security.png" alt="security">
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12 center-content">
            <img src="/images/vizitor/college/time-friendly.png" alt="time-friendly" />
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <h5>Time-friendly process</h5>
            <p>Visitor management may be viewed as a time-consuming step by those trying to gain access to colleges. Informing parents and frequent visitors in advance about the process and enforcing it on a consistent basis will not only make it less of
                a burden for those involved, but it will ultimately raise the level of protection for students and faculty.</p>
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <h5>Manage visitor traffic</h5>
            <p>Using Vizitor colleges can funnel people and manage traffic easily. A clearly marked entrance with access-controlled system like Vizitor will guide people in the right direction.</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <img src="/images/vizitor/college/manage-visitor-traffic.png" alt="manage-visitor-traffic">
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <img src="/images/vizitor/pre-registration/pre-registration.png" alt="pre-registration">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <h5>Pre-register for frequent visitors</h5>
            <p>For parents and visitors who frequently visit the college premises, Vizitor has an additional feature of pre-registering them so that they can have their badges scanned and verified as they enter the building without any time wastage.</p>
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <h5>Dashboard</h5>
            <p>Vizitor Dashboard provides you the overall insights of each individual entering through front door and explains whereabouts of that person. Centralised dashboard provides better analysis opportunities for the management staff of the college.
                It is very helpful as the data can be retrieved for security and other purposes at any point of time</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 center-content">
            <img src="/images/vizitor/dashboard/features--dashboard.png" alt="features--dashboard">
        </div>
    </div>
</div>

<div>{{- partial "upgrade.html" . -}}</div>
{{end}}