 {{ define "main" }}
<div>
    <section>
        <div class="container mainbanneres">
            <div class="row">
                <div class="">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <div>
                            <h1 class="text-center">Visitor management for Airports</h1>
                            <div class="center-content border-line"></div>
                        </div>
                        <div class="text-center">
                            <p>Airports serve large number of travellers on daily basis, therefore they have various security requirements & security protocols focussed on passenger safety and staff management. Vizitor is capable to manage access control
                                even in the most crowded or peak times. Vizitor never compromises security and helps to run the airport more efficiently. It is a fully integrated solution for all the airport needs from registering the passengers to collecting
                                their valuable feedback. It is easy to install, smooth to manage and always ready to serve the passengers.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2 class="text-center">Lets see how it Works?</h2>
                    <div class="center-content border-line"></div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <p>Airport security procedures are burdensome and time consuming and mostly every passeneger is in a rush, either to board a departing flight or exit the airport. Vizitor registers every passenger that trespasses the entrance gate
                            by collecting the personal information, automating legal document signing and printing unique identity badges. It is also capable of sending host notifications via alerts on personal devices that further help in interaction
                            with the passengers. Airports can also use Vizitor to maintain tight security, notice passenger trends and drive meaningfull insights. In case of any emergency, visitor data can be accessed and verified easily from a centralised
                            dashboard.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<div>{{- partial "upgrade.html" . -}}</div>
{{end}}