{{ define "main" }}
<div class="container pagebanneres">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div>
                <h1 class="desk">
                    Reception Management
                    <span class="Digitize">System</span>
                </h1>
                <p>Gone are the days when a receptionist’s job was confined to getting visitor data. It is
                    incomprehensible for your receptionist to remain positioned in the reception areas all through the
                    whole workday. There will be minutes when they have to
                    leave the work area. When that happens, who will take care of your visitors?</p>
                <div class="bannerbtn mt-4">
                    <a href="/signup" class="btn-arrow">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 center-content">
            <img src="/images/vizitor/vms-capturing-photos/vms-capturing-photo.png " alt="vms-capturing-photo">
        </div>
    </div>
</div>


<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-sm-12 col-xs-12 ">
            <h2 class="desk">Reception Visitor Management System</h2>
        </div>
        <div class="col-sm-12 col-xs-12 ">
            <p>Visitor management systems don't plan to supplant your receptionist. Or maybe, they have been created to
                assist receptionists with improving their job. By putting a Visitor Management System at your front work
                area, even without the receptionist taking care of them, visitors can in any case sign-in and get their
                visitor identifications, while their host has been consequently informed. Presently your assistant can
                take care of different obligations beside welcome visitors, expanding efficiency.
            </p>
            <p>
                They can now proficiently deal with their undertakings while making a memorable and contactless sign-in
                understanding for visitors and representatives. This is only one of the numerous focal points an
                advanced Visitor Management System can accomplish for you. There are other key advantages of the visitor
                management that a VMS can support your office, including streamlined access control, efficient check-ins
                and check-outs, smooth handling of day-to-day operations, and elevated customer service.
            </p>
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="/images/vizitor/help/help.png " alt="help" />
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 Work-Efficiency">
            <h3 class="hvr-underline-from-center none size desk">1. Better Work Efficiency
            </h3>
            <p><span>&#8226;</span> On the off chance that one of your organization' is to dispose of pointless mess at
                the front work area, at that point a digital Visitor management system can get that going.
            </p>
            <p><span>&#8226;</span> Everything is put away in the cloud and can be gotten to through the web by means of
                a PC. In this way, you won't need any paper logbooks on your front work area.
            </p>
            <p><span>&#8226;</span> All you need is an iPad. It will catch and store all the essential data you need
                from your visitors. It's as basic as that.
            </p>
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12 Visitor-Information">
            <a href="/visitor-analytics" rel="canonical">
                <h3 class="hvr-underline-from-center none size vizitorpass">2. Finding Visitor Information
                </h3>
            </a>
            <p><span>&#8226;</span> Bid farewell to extended periods of looking through heaps of physical logbooks just
                to recover visitor information from a particular date by means of the web dashboard.
            </p>
            <p><span>&#8226;</span> Presently, you can rapidly look and fare this information without sitting around,
                and vital for contact following endeavors.
            </p>
            <p><span>&#8226;</span> A Visitor management system likewise empowers you to aggregate visitor course of
                events information for a particular date extend. You can likewise send out this information for
                revealing or review purposes.
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="/images/vizitor/feedback/visitor-feedback.png" alt="visitor-feedback">
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="/images/vizitor/Collaborate.png " alt="Collaborate" />
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <h3 class="hvr-underline-from-center none size desk">3. Helping in the Emergency Evacuation Planning
            </h3>
            <p>Fires, floods, seismic tremors, savagery and different occurrences in the work environment may require
                your structure to lead a prompt crisis departure. How would you know whether everybody has been
                appropriately placed into security?
            </p>
            <p>
                Dealing with this procedure would be a bad dream utilizing customary log books. Be that as it may, an
                advanced visitor the board framework gives an ongoing agenda of each and every individual who has marked
                in to your framework. This makes it simpler
                to distinguish individuals who have securely figured out how to leave the structure premises and the
                individuals who despite everything should be represented.
            </p>
        </div>
    </div>
</div>

<div class="container pagesection">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <a href="/visitor-security" rel="canonical">
                <h3 class="hvr-underline-from-center none size vizitorpass">4. Improving Information Security
                </h3>
            </a>
            <p>The progressions in advanced innovation and information security laws have made everybody mindful of the
                threats of giving individual data to simply anybody, including the front work area attendant.This keeps
                away from situations wherein an
                individual can without much of a stretch snap a picture of your logbook passages while the front work
                area orderly is away. It additionally lessens the danger of significant data getting under the control
                of an inappropriate person. With
                an advanced visitor the board framework, any individual who enters explicit zones of your office can be
                appropriately archived.
            </p>
            <p>
                Intrigue your visitors while improving your company image. Make the most out of your assistant. Include
                a dependable digital visitor the board framework to your front work area, today.Vizitor will smooth out
                your front work area with a savvy, basic, and
                secure visitor the board framework. Cunning structure and great worth supported up by evident client
                care. Pursue a free trial.
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="/images/vizitor/security/security1.png " class="isometric-img" alt="security1">
        </div>
    </div>
</div>



<div>{{- partial "upgrade.html" . -}}</div>
{{end}}