{{ define "main" }}
<!--------------------->
<div class=" VisitorManagement-System-in-India">
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 pr-5 ">
                <p span class="Digitize">Vehicle Booking System </p>
                <h1 class="paint "> <span class="Digitize">Simplify the Process Of </span> Reserving Vehicles</h1>
                <p style="line-height: 30px;">The convenient way to find and book vehicles with Vizitor Vehicle Booking
                    System
                </p>
                <div class="mt-5">
                    <form id="attendanceForm">
                        <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email"
                            required>
                        <input class="btn-try-free" type="submit" value="Try for free">
                    </form>
                    <div class="mt-5 Try-free">
                        {{range .Site.Params.apps}}
                        <a href="{{.url}}" target="_blank"><img class="btn-app btn-app-mg phonetop-btn"
                                src="{{.image  | absURL}}" alt="{{.title}}"></a>
                        {{end}}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 text-center mt-5">
                <img src="/images/vizitor/attendance/attendance-baner.svg" alt="attendance-banneres" />
            </div>
        </div>
    </div>
</div>
<!--------------------->
<div id="bvms2">
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 " id="bvmsli">
                <h3 class="bvms-size">Smart Vehicle Booking With A Comprehensive App
                </h3>
                <p>Say Goodbye to traditional ways of handwritten records and manage vehicle booking with ease on your
                    phone and desktop.
                </p>
                <ul>
                    <li><span>
                            The fair and straightforward way for staff to book cars from their phone and see the
                            availability.
                        </span>
                    </li>
                    <li><span>Assign customized features for the ease of staff and car usage.
                        </span></li>
                    <li><span>When booked, it's convenient to locate the vehicles with maps
                        </span></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <img src="/images/vizitor/bvm/agreement-img.svg" alt="TouchlessQR" />
            </div>
        </div>
    </div>
</div>
<!------------------>
<div id="bvms">
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <img src="/images/vizitor/bvm/agreement-img.svg" alt="TouchlessQR" />
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 " id="bvmsli">
                <h3 class="bvms-size">Make it Easy to Locate Vehicles
                </h3>
                <p>Utilize the admin dashboard to view company vehicle usage, enabling informed business decisions
                    comprehensively.</p>
                <ul>
                    <li><span> Prevent vehicle idleness with timely check-in reminders.
                        </span></li>
                    <li><span>Control access to specific vehicles for designated individuals or departments.
                        </span></li>
                    <li><span>Promote fairness by setting booking limits for vehicles on vehicle booking system.
                        </span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!----------------------->
<div id="bvms2">
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 " id="bvmsli">
                <h3 class="bvms-size">There's Always More With Vizitor </h3>
                <p>Want to manage shared resources? We've got you covered!</p>
                <ul>
                    <li><span> Simplify employee bookings, reducing administrative workload with parking management
                            software.</span> </li>
                    <li><span>Efficiently reserve a range of workplace assets, from desks and vehicles to lockers and EV
                            chargers.</span></li>
                    <li><span>Gain comprehensive insights into workplace resource usage for effective future
                            planning.</span></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <img src="/images/vizitor/bvm/agreement-img.svg" alt="TouchlessQR" />
            </div>
        </div>
    </div>
</div>
<!--------------------------->
<div id="bvms" style="background: #ED5C18; padding: 80px 0;">
    <div class="container">
        <div class="content ">
            <div class="text-center">
                <h2 class="color-wht mt-5 pb-3">Nearly 2000 workplaces are already making smarter decisions with
                    Vizitor </h2>
                <div class=" text-center mt-5">
                    <a href="/signup" class="btn-arrow attendence-white-btn">Try For Free</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}