{{ define "main" }}

<div class="container pagebanneres">
    <div class="row align-items-center ">
        <div class="col-12  ">
            <h1 class="text-center">Refund and Cancellation Policy</h1>
            <div class="mt-5">
                <p>At Vizitor, we strive to provide seamless experiences for our users. However, we understand that circumstances may arise where refunds or cancellations are necessary. We are committed to ensuring that our refund and cancellation policies
                    are transparent, fair, and compliant with regulatory guidelines.</p>
                <br>
                <h5>Refund Policy</h5>
                <p><b>Payment failure:</b> If your payment is debited on the payment gateway but the order is not confirmed, your payment will be refunded within 5-7 days to the source account.</p>
                <p><b>Duplicate Payment:</b> If you made two payments in error, please contact us at <a href="https://mail.google.com/mail/u/0/?fs=1&amp;tf=cm&amp;source=mailto&amp;to=hello@vizitorapp.com" target="_">hello@vizitorapp.com</a> for assistance.</p>
                <br>
                <h5>Cancellation Policy</h5>
                <p>Users can cancel their subscription on their admin panel under the profile section, however, please note that no refunds will be provided, and your subscription will remain valid until the end of your current plan period.
                </p>
                <br>
                <h5>Additional Notes</h5>
                <p>Vizitor reserves the right to refuse refunds or cancellations if the request does not meet the criteria outlined in this policy.</p>
                <p>Refunds will be issued in the same currency and payment method used for the original purchase.</p>
                <p>Any third-party fees incurred during the refund process (such as bank charges) will be borne by the customer.
                </p>
                <br>
                <h5>Contact Us</h5>
                <p>If you have any questions or concerns regarding our refund and cancellation policy, please feel free to contact us at <a href="https://mail.google.com/mail/u/0/?fs=1&amp;tf=cm&amp;source=mailto&amp;to=hello@vizitorapp.com" target="_">hello@vizitorapp.com</a>
                </p>
            </div>
        </div>
    </div>

</div>






{{end}}