{{ define "main" }}
<div class="startups-subwrapper pagebanneres">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <div style="margin: 15% 0% 45% 0%;">
                    <h1>Beat the hurdles in your startup success with Vizitor!</h1>
                    <p style="color:#ffffff;">Smoothen your guest's arrival through digitized check in. Make the process of check-in shift from messy paper work to an organized digital framework.</p>
                    <div class="bannerbtn mt-4">
                        <a href="/signup" class="btn-arrow">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container pagesection">
    <h2 class="center-content">What we offer</h2>
    <div class="center-content border-line"></div>
    <div class="col-md-8 mx-auto mt-5">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12  center-content">
                <img src="/images/vizitor/visitor-u.png " style="width: 30%;" alt="visitor-u" />
                <p>Complete Visitor Management features upto 300 visitors</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 center-content">
                <img src="/images/vizitor/building.png " style="width: 30%;" alt="building" />
                <p>Ease in management of multiple workspace entrances</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 center-content">
                <img src="/images/vizitor/6month.png " style="width: 30%;" alt="6month" />
                <p>Free for 6 months</p>
            </div>
        </div>
    </div>
</div>

<div class="container pagesection">
    <h2 class="center-content ">What we expect</h2>
    <div class="center-content border-line"></div>
    <div class="col-md-6 mx-auto mt-5">
        <div class="col-md-12 col-sm-12 col-xs-12 card text-center card-shadow center-content">
            <div class="center-content">
                <p><b>Vizitor logo in the footer of your website</b></p>
                <img src="/images/vizitor/logo.png " style="width: 30%;margin: -25px 0px -25px 0;" alt="logo" />
            </div>
            <div class="center-content">
                <p><b>Share us on your social media platforms.</b></P>
                <a rel="canonical" href="https://www.facebook.com/vizitorapp/" target="_blank"><img src="/images/vizitor/facebook.png " alt="faccbook" class="followimg"></a>
                <a rel="canonical" href="https://www.linkedin.com/company/28998047/" target="_blank"><img src="/images/vizitor/linkedin.png " alt="linkedin" class="followimg"></a>
                <a rel="canonical" href="https://twitter.com/vizitorapp" target="_blank"><img src="/images/vizitor/twitter.png " alt="twitter" class="followimg"></a>
                <a rel="canonical" href="https://www.instagram.com/vizitorapp/?hl=en" target="_blank"><img src="/images/vizitor/instagram.png " alt="instagram" class="followimg"></a>
            </div>
            <div class="center-content">
                <p>Also, don’t forget to share your experience with us.</p>
            </div>
        </div>
    </div>
</div>

<div class="container pagesection">
    <h2 class="center-content">Do you have Vizitor account?</h2>
    <div class="center-content border-line"></div>
    <div class="row">
        <div class="col-md-6 mx-auto center-content">
            <div class="center-content mt-4">
                <ul id="tabs" class="nav nav-tabs yes-no">
                    <li><a href="" data-target="#Yes" data-toggle="tab" class="nav-link  active">Yes</a></li>
                    <li><a href="" data-target="#No" data-toggle="tab" class="nav-link  ">No</a></li>
                </ul>
            </div>

            <div id="tabsContent" class="tab-content mt-4">

                <div id="Yes" class="tab-pane fade active show">
                    <div class="w-100">
                        <p><b>Please email us the following at contact@vizitorapp.com</b></p>
                        <p><span>&#8226;</span> Your website url where you placed our logo in the footer.</p>
                        <p><span>&#8226;</span> Links of social media pages where you have shared us.</p>
                    </div>
                </div>

                <div id="No" class="tab-pane fade">
                    <div class="w-100">
                        <div class="bannerbtn mt-4">
                            <a href="/signup" class="btn-arrow">Get Started</a>
                        </div>
                        <p><b>Please email us the following at contact@vizitorapp.com</b></p>
                        <p><span>&#8226;</span> Your website url where you placed our logo in the footer.</p>
                        <p><span>&#8226;</span> Links of social media pages where you have shared us.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pagesection">
    <h3 class="center-content">FAQ (Frequently Asked Questions)</h3>
    <div class="center-content border-line"></div>
    <p class="center-content">Learn more about Vizitor for Startups</p>
    <br>
    <h6>Who is eligible for this plan?</h6>
    <p>Companies that fall under these criteria can access Vizitor service free for 6 months:</p>
    <p><span>&#8226;</span> Launched less than 3 years ago and have fewer than 10 employees.</p>
    <p><span>&#8226;</span> Agree to publicity with Vizitor</p>
    <p><span>&#8226;</span> If you don’t fit in above conditions, reach out anyway. We’ll evaluate each request individually.</p>
    <h6>What happens after 6 months?</h6>
    <p><span>&#8226;</span> You will still be able to receive our full suite of Vizitor features , if you still qualify for Vizitor for startup plan. Incase you fail to qualify, don’t worry, we will try our best to reach a mutually beneficial agreement.</p>
    <h6>What if I'm already a customer of Vizitor?</h6>
    <p><span>&#8226;</span> Apply to Vizitor for Startups by emailing startups@vizitorapp.com.</p>
</div>

<div class="container pagesection">
    <h3 class="center-content ">What you can do with Vizitor</h3>
    <div class="center-content border-line"></div>
    <br>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4 center-content">
            <img src="/images/vizitor/Security-startups.png " class="startups-img" alt="Security-startups">
            <h6>Enhance Workplace Security</h6>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 center-content">
            <img src="/images/vizitor/Branding-startups.png " alt="Branding-startups" class="startups-img">
            <h6>Business Branding</h6>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 center-content">
            <img src="/images/vizitor/Tracking-startups.png " class="startups-img" alt="Tracking-startups">
            <h6>Visitor Tracking</h6>
        </div>
    </div>
    <div class="row" style="margin-top: 35px;">
        <div class="col-md-4 col-sm-4 col-xs-4 center-content">
            <img src="/images/vizitor/Invites-startups.png " class="startups-img" alt="Invites-startups">
            <h6>Send Pre-Invites</h6>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 center-content">
            <img src="/images/vizitor/Notification-startups.png " class="startups-img" alt="Notification-startups">
            <h6>Host Notification</h6>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 center-content">
            <img src="/images/vizitor/sms-startups.png " class="startups-img" alt="sms-startups">
            <h6>Send Promotional SMS </h6>
        </div>
    </div>
</div>



<div>{{- partial "upgrade.html" . -}}</div>
{{end}}