{{ define "main" }}
<div class="green-business-initiative">
    <div class="container mainbanneres mb-5">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12 save-green">
                <h1 class="green-cont">Save <span style="color: #064605;">Earth</span> Let's <br> take a<span style="color: #064605;"> Pledge!</span></h1>
                <h5 class="greenbusiness">#greenbusiness</h5>
                <div class=" my-4">
                    <form id="greenBI">
                        <input type="email" class="email-input" id="email" name="email" placeholder="Enter your email" required>
                        <input class="btn-try-free" type="submit" value="Try for free">
                    </form>
                </div>
                <p class="Join-Vizitor">Join Vizitor & Get a Plant free!</p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="/images/vizitor/green-business-initiative/save-earth.png " class="earth-img" alt="save-earth" />
            </div>
        </div>
    </div>
</div>
<section class="mt-5">
    <div class="container">
        <h2 class="center-content" style="color: #064605;">Green Business Initiative</h2>
        <p style="color: #064605;">Vizitor is pledge to commit for the protection and prevention of environment. We embrace our responsibility to provide safe, secure workplace while doing our part to make save enviornment</p>
        <h5 class="center-content my-4 greenbusiness">Overview</h5>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 center-content">
                <img src="/images/vizitor/green-business-initiative/phone.png " alt="phone" />
                <p><b style="color: #064605;">Go Paperless</b><br>Reduce your paper waste and Switch to Digital</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 center-content">
                <img src="/images/vizitor/green-business-initiative/3re.png " alt="3re" />
                <p><b style="color: #064605;">Say No To Plastic</b><br>A better step to better tomorrow</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 center-content">
                <img src="/images/vizitor/green-business-initiative/plant-trees.png " alt="plant-trees" />
                <p><b style="color: #064605;">Tree Plantation</b><br>One Tree With Every customer</p>
            </div>
        </div>
        <div class="mt-5">
            <p>Green Business Initiative is a change towards making a greener planet. Let’s Pledge for better tomorrow and walk towards sustainable living and work practices. Think wisely and make green habits in your work life. Let’s not wait for others
                to bring a change, Let’s change ourselves first.</p>
            <p>Vizitor has taken an initiative of #greenbusiness. We promote the cause of Green India and are on a mission to evade all the manual logbooks and registers used by the organizations for taking the details of their daily visitors to digital
                framework.We have built a Digital Register for Digital India!</p>
        </div>
        <div class="mt-5">
            <h5 class="greenbusiness">Why we are doing this?</h5>
            <p>The idea behind this is to encourage organisations to begin its “go green” process is to implement the use of a paperless working operation. Another, we promote <b>Tree Plantation Drive</b> that aim at planting a tree for every customer. Vizitor
                is up with its mission to plant 50,000 plants till dec 2019.</p>
            <p>We also came out in support to the <b>Prime Minister Shri Narendra Modi</b> campaign of vanishing the <b>single-use plastic</b>. Use of plastic bottles,at your space look filthy and results in harming the environment. This initiative is to
                encourage people to join hands with us to contribute towards the betterment of Environment.</p>
        </div>
        <div class="mt-5">
            <h5 class="greenbusiness">What will you get?</h5>
            <p><span style="color: #064605;">&#8226;</span> Join us for this initiative and get a Plant free as a token of thanks!</p>
            <p><span style="color: #064605;">&#8226;</span> Similarly, we would love to feature you on our official website and mention you on our social media posts.</p>
        </div>
        <div class="mt-5">
            <h5 class="greenbusiness">Here are just some of the best ways we are taking to make our workplaces more sustainable</h5>
            <p>We are working hard to lower our waste production, carbon emissions and operate as efficiently as possible. Some of the actions we are taking :-</p>
            <p><span style="color: #064605;">&#8226;</span> We are in full compliance for paperfree office, as we have moved to digital means of business.</p>
            <p><span style="color: #064605;">&#8226;</span> Exercising environment friendly practices by means of carpooling practices, conducting less business travel, managing business with video conferencing meetings.</p>
            <p><span style="color: #064605;">&#8226;</span> Ensuring full involvement with applicable environmental, health and security laws.</p>
            <p><span style="color: #064605;">&#8226;</span> Promoting healthy well being within employees</p>
        </div>
        <div class="mt-5">
            <h5 class="greenbusiness">Use of Earth Friendly Products</h5>
            <p>Vizitor begins its <span style="color: #064605;">“Go Green”</span> process by implementing the paperless working operation. Visitor management system reduces the amount of paper waste and other small waste items a business has to purchase
                for printed documents.</p>
            <div class="row align-items-center mt-5">
                <div class="col-md-6 col-sm-6 col-xs-12 top-margin">
                    <div class="right_desc_text wow fadeIn" data-wow-duration="1.5s">
                        <p style="color: #064605;"><b style="font-size: 25px;">Lower Energy Consumption</b></p>
                        <p>Utility costs are typically thousands investment for large businesses. We are cutting your utility costs by changing out light fixtures to energy-efficient rated fixtures with LED light bulbs. We turn off lights during the evening
                            and weekend hours and have reduced hours of operation on our HVAC units.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="left_desc_img center-content wow fadeInLeft" data-wow-duration="1.5s">
                        <img src="/images/vizitor/green-business-initiative/low-energy-consumption.png " alt="low-energy-consumption" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="left_desc_img center-content wow fadeInLeft" data-wow-duration="1.5s">
                    <img src="/images/vizitor/green-business-initiative/recycle.png " alt="recycle" />
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 top-margin">
                <div class="right_desc_text wow fadeIn" data-wow-duration="1.5s">
                    <p style="color: #064605;"><b style="font-size: 25px;">Reduce, Recycle, Reuse</b></p>
                    <p>Vizitor has reduced the product inventory in our office. We use biodegradable cups and compostable utensils and paper products in our employee break rooms. Our recycling program for cans, bottles, paper, batteries, light bulbs, electronic
                        waste and other items bring us closer to reducing items going into a landfill.</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12 top-margin">
                <div class="right_desc_text wow fadeIn" data-wow-duration="1.5s">
                    <p style="color: #064605;"><b style="font-size: 25px;">Be Smart with Travelling</b></p>
                    <p>Make smarter way of travelling is another point to keep in mind to save the source of energy. Our employees are more inclined to video conferencing mode of communication, to avoid business travels.We opt for Eco-friendly means of transport
                        while traveling for short durations. Getting a taxi for short journeys is again, not sustainable. </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="left_desc_img center-content wow fadeInLeft" data-wow-duration="1.5s">
                    <img src="/images/vizitor/green-business-initiative/travel.png " alt="travel" />
                </div>
            </div>
        </div>
        <div class="row align-items-center mt-5">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="left_desc_img center-content wow fadeInLeft" data-wow-duration="1.5s">
                    <img src="/images/vizitor/green-business-initiative/planting.png " alt="planting" />
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 top-margin">
                <div class="right_desc_text wow fadeIn" data-wow-duration="1.5s">
                    <p style="color: #064605;"><b style="font-size: 25px;">Tree Plantation</b></p>
                    <p>The plantation initiative from vizitor is a little effort with a goal to increase the green cover on our planet Earth. This initiative will aim at planting a tree in the name of their every turned customer and sending them a tree as
                        a thanking gesture for turning digital. The initiative will not help workplaces go digital but also contribute to the community.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<div>{{- partial "upgrade.html" . -}}</div>
{{end}}