{{ define "main" }}
<section>
    <div class="container">
        <div class="row">
            <div class="main_des_third_contant">
                <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <div>
                        <h1 class="center-content ">Visitor Management System For Government</h1>
                    </div>
                    <div class="mt-5">
                        <p><span>&#8226;</span> High security is an essential requirement when it comes to government work. This is because governments have to deal with sensitive and confidential documents. Hence, identification of visitors becomes necessary.
                        </p>
                        <p><span>&#8226;</span> Deploying a security personnel outside government offices or organizations is not enough to track and restrict visitors. This makes it essential to set up a visitor management system. Thus, in order to make
                            your government office/organization intruder-proof, we have a solution, just for you!
                        </P>
                        <p><span>&#8226;</span> Vizitor, a visitor management software, gives you professional check-in system that is simple to use and is a lot more professional than the conventional manual registration in sheets.
                        </p>
                        <p><span>&#8226;</span> Our check-in ecosystem consists of the Vizitor installed in your device, placed at the reception desk for guests to check in, for pre-registrations and the Vizitor Dashboard for your admin team to keep a bird’s
                            eye view on the visitor’s movement.
                        </p>
                        <p><span>&#8226;</span> Once the visitor checks-in through the Vizitor filling basic details like name, email address, mobile number, host name etc., a notification is sent to the host consisting of the visitor’s details. Vizitor
                            also offers printed badges for the visitors after they check-in which makes the identification process simple and easy. This eventually will reduce the risk of threats like robbery and corruption.
                        </p>
                        <p></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section>
    <div class="container ">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2 class="center-content ">Some of the benefits of installing visitor management system at government offices or agencies are as follows
                </h2>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 mt-5">
                <div>
                    <p><span>&#8226;</span> Track visitors and prevents unauthorized access.</p>
                    <p><span>&#8226;</span> Quick and easy sign-in</P>
                    <p><span>&#8226;</span> Secure identification</P>
                    <p><span>&#8226;</span> Reliable data access.</P>
                    <p><span>&#8226;</span> Tighten security</P>
                    <P><span>&#8226;</span> Government offices or agencies should not be restricted to old conventional methods of tracking and managing visitors, instead they should power up for a modern, quick and highly customisable visitor management
                        system like Vizitor for smooth and streamlined operation.
                    </P>
                </div>
            </div>
        </div>
    </div>
</section>



<div>{{- partial "upgrade.html" . -}}</div>
{{end}}