{{ define "main" }}
<div class="container pagebanneres">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <h1>Touchless visitor management system <span class="Digitize">for Gyms</span></h1>
            <p>When gyms and fitness are permitted to open, they will have more responsibilities than ever before. In this uncertain time, you will need to do everything possible to help your staff and members adjust this temporary “new normal”. Many gyms
                use the manual system to manage the visitors. But during the pandemic, this is not the safe option.So there is a touchless visitor management system that protects the workplaces from the pandemic and provides the streamline experience
                to the visitors. </p>
            <div class="bannerbtn mt-4">
                <a href="/signup" class="btn-arrow">Get Started</a>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 instant-notif">
            <img src="/images/vizitor/gym/gym.png" alt="gym" />
        </div>
    </div>
</div>


<div class="container pagesection">
    <div class="center-content">
        <h2>Why Visitor management system needed for gym & fitness centers?</h2>
        <div class="center-content border-line"></div>
        <p>To be a profitable membership-based business, gym & fitness centers must continuously adopt the latest technology.Pen-and-paper based manual systems are quickly becoming inefficient. The greater risk of security breaches have left gym/fitness
            centers searching for a safe and effective method to handle their management of member-sensitive information.</p>
        <br>
        <br>
    </div>
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div>
                <p><span class="Digitize help-dot">•</span> The visitor management system is not only profitable, cost-effective and efficient but it is also a great tool for security measures. One can not spoof the system once they have been enrolled in
                    the database. </p>
                <p><span class="Digitize help-dot">•</span> The system stores the member’s data and accurately identifies who is coming and going with visitor tracing.</p>
                <p><span class="Digitize help-dot">•</span> Vizitor is a powerful web-based platform that gives your brand an incredible impression the moment your visitor walks in the door.</p>
                <p><span class="Digitize help-dot">•</span> This solution allows fitness center management software providers to rapidly integrate a complete, end-to-end, turn-key identification system for the gym centers.</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12  ">
            <img src="/images/vizitor/gym/girl-gym.png" alt="girl-gym">
        </div>
    </div>
</div>

<div style="background-color: #f0f4f7;">
    <div class="container pagesection">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3 class="center-content desk font-sizeh3">The Touchless visitor management system benefits</h3>
            <p>Gym adopts new guidelines and harsh post-COVID circumstances, your operations will need more hands-on attention than ever before. There are some features of the touchless visitor management system that protects your gym from the virus.</p>
            <br>
        </div>
        <div class="row card-deck">
            <div class="col-md-3 col-sm-3 col-xs-12 card text-center card-shadow">
                <div class="center-content my-3">
                    <img src="/images/vizitor/salons/main-features/screening-of-visitors.png" alt="Screening-visitors">
                </div>
                <a href="/contact-tracing" target="_blank" rel="canonical">
                    <h6 class="vizitorlink">Screening<br>of visitors </h6>
                </a>
                <p>Pre-Screening the visitors before they enter your gym with a customized questionnaire to keep your staff safe.This system uses visitor initial screening with digital questionnaires asking their health and travel history.</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 card text-center card-shadow">
                <div class="center-content my-3">
                    <img src="/images/vizitor/salons/main-features/appointment.png" alt="appointment">
                </div>
                <h6 class="htop-tex ">Appointment<br>Scheduling</h6>
                <p> Let your visitors schedule appointments from the comfort of their home. Accept or Decline appointment based on screening.</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 card text-center card-shadow">
                <div class="center-content my-3">
                    <img src="/images/vizitor/salons/main-features/touchless-visitor-check-in.png" alt="touchless-visitor-check-in">
                </div>
                <h6>Touchless visitor<br> check-in</h6>
                <p>With the zero touch check-In, you can prevent the spread of infection. Visitors can use their smartphones to check in and check out without touching the tablet screen.</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 card text-center card-shadow">
                <div class="center-content my-3">
                    <img src="/images/vizitor/salons/main-features/advance-security.png" alt="advance-security">
                </div>
                <a href="/visitor-security" target="_blank" rel="canonical">
                    <h6 class="vizitorlink">Advance<br>Security</h6>
                </a>
                <p>Vizitor provides a high level of data security. We take the utmost care of your customer database.</p>
            </div>
        </div>
    </div>

    <div class="container pagesection">
        <div class="center-content">
            <h2> When you go to the gym then consider doing the following instructions:</h2>
            <div class="center-content border-line"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <img src="/images/vizitor/gym/bysep.png" alt="bysep" />
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div>
                    <p><span class="Digitize help-dot">•</span> <b>Call ahead: </b>Call your local gym management or trainers ahead to check what their opening hours are, what safety measures they’re taking, how they’re going to maintain those measures,
                        etc.
                    </p>
                    <p><span class="Digitize help-dot">•</span> <b>Maintain distance: </b>If you’re satisfied with the safety measures your gym is taking and willing to join back, then keep social distancing foremost in your mind. Avoid rush hours at all
                        costs.</p>
                    <p><span class="Digitize help-dot">•</span> <b>Carry your bag: </b> Carry your own bag with sanitizers, towels, masks, yoga mats, etc. every time you visit the gym then use them properly to minimise spread of virus.</p>
                    <p><span class="Digitize help-dot">•</span> <b>No sharing: </b>Gyms are shared spaces, but sharing equipment is not ideal this time. To disinfect the tools before using them.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container pagesection">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div>
                    <p><span class="Digitize help-dot">•</span> <b>Assess your health: </b>When you’re sick, then going to the gym is not a good idea because infections are transmitted at these places at a much higher rate.</p>
                    <p><span class="Digitize help-dot">•</span> <b>Washing hands:</b> Wash your hands frequently and use sanitizer after touching the equipment.</p>
                    <p><span class="Digitize help-dot">•</span> <b>Wear masks and use tissues: </b>Always wear the masks and use the tissues during the cough and sneezing.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <img src="/images/vizitor/gym/social-distance-gym-new-normal.png" alt="social-distance-gym-new-normal" />
            </div>
        </div>
    </div>

    <div class="container center-content pagesection">
        <div>
            <h2>Make Contactless Check-ins</h2>
            <div class="center-content border-line"></div>
            <p>Smoothen your guest's arrival through digitized check-in.<br> Make the process of check-in shift from messy <br>paper work to an organized digital framework.</p>
        </div>
        <br>
        <div class="bannerbtn mt-4">
            <a href="/signup" class="btn-arrow">Get Started</a>
        </div>
        <br>
        <br>
    </div>





    <div>{{- partial "upgrade.html" . -}}</div>
    {{end}}