{{ define "main" }}
<div class="container pagebanneres">
    <div class="row ">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <h1>
                <span class="Digitize">Visitor’s</span>
                <br> Feedback
            </h1>
            <p>It is very important to know whether your hospitality is being acknowledged by visitors arriving at your front desk. Every guest is important therefore for an organisation it is very important to collect feedback from your guests. Vizitor
                provides this important feature for the guest where they can scale their experience on visit at your place.
                <br>Vizitor smartly collects guest feedback and comments that very important to implement changes for improvement of guest experience.</p>
            <div class="bannerbtn mt-4">
                <a href="/signup" class="btn-arrow">Get Started</a>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="/images/vizitor/feedback/visitor-feedback.png " alt="visitor-feedback">
        </div>
    </div>
</div>
<div class="container pagesection">
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <img src="/images/vizitor/feedback/feedback-instant-rating.png " alt="feedback-instant-rating" class="promotion-img">
                    <p><b>Instant rating</b></p>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p>Visitors can rate your service/hospitality based on their experience on the scale of five. Owners on the other hand can access feedback of each and every guest through the dashboard.
                    </p>
                </div>
            </div>
            <div class="mt-5">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <img src="/images/vizitor/feedback/feedback-comment-box.png " alt="feedback-comment-box" class="promotion-img">
                    <p><b>Comment Box</b></p>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p>Guests can also leave comments in the field provided that gives an exact and real explanation of their experience. Feedback in form of comments will help you to analyse the real strength and weakness of your organisation and manage
                        them effectively in future.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 instant-notif">
            <img src="/images/vizitor/feedback/feedback-screen.png " alt="feedback-screen">
        </div>
    </div>
</div>


<div>{{- partial "upgrade.html" . -}}</div>
{{end}}