{{ define "main" }}
<div class="container-fluid  salons-subwrapper ">
    <div class="col-md-8 mx-auto text-center vertical-center">
        <h1> Touchless Visitor Management Made Easy</h1>
        <p>Go from old school paper based visitor log book to a secure digital solution quickly. Streamline your salon front desk while making a beautiful first impression to your visitors.</p>
        <div class="bannerbtn mt-4">
            <a href="/signup" class="btn-arrow">Get Started</a>
        </div>

    </div>
</div>


<div class="container pagesection">
    <div class="card-deck">
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/salons/main-features/screening-of-visitors.png" class="card-tb" alt="real-time-dashboard" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Screening <br>of visitors</h5>
                <p class="card-text">Pre-Screen your visitors before they enter your salon with a customized questionnaire to keep your employees safe.</p>
            </div>
        </div>
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/salons/main-features/appointment.png" alt="host-notification" class="card-tb" />
            </div>
            <div class="card-body">
                <h5 class="card-title"> Appointment
                    <br />Scheduling</h5>
                <p class="card-text">Let your visitors schedule appointments from the comfort of their home. Accept or Decline appointment based on screening.</p>
            </div>
        </div>
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/salons/main-features/touchless-visitor-check-in.png" class="card-tb" alt="phone-number-verification" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Touchless visitor
                    <br />check-in</h5>
                <p class="card-text">Let your visitors use their smartphones for check-In. Zero touch check-In is the best practice to prevent the spread of infection.</p>
            </div>
        </div>
        <div class="card text-center card-shadow">
            <div>
                <img src="/images/vizitor/salons/main-features/advance-security.png" class="card-tb" alt="smart-pre--registration" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Advance
                    <br />Security</h5>
                <p class="card-text">With our military grade data security, we take the uttermost care of your customer database, financial and appointment history.</p>
            </div>
        </div>
    </div>
</div>



<div class="container pagesection">
    <!-- 1 -->
    <div class="row align-items-center">
        <div class="col-md-12 text-center mb-5">
            <h2>How Vizitor can help you at your workplace?</h2>
            <div class="center-content border-line"></div>
        </div>
        <div class="col-md-6">
            <div class="w-100">
                <h3> Contact Tracing</h3>
                <p>Amidst this lockdown, the biggest worry is getting exposed to the virus. Vizitor helps you with contact tracing of customers coming in your salon. So you can be sure that your employees and visitors both are safe.</p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="/images/vizitor/salons/process-image/Contact-Tracing.png" alt="Make-your-workplace" />
        </div>
    </div>
    <!-- 2 -->
    <div class="row align-items-center mt-5">

        <div class="col-md-6 text-center">
            <img src="/images/vizitor/salons/process-image/Custom-Health.png" alt="signing-agreement1" />
        </div>
        <div class="col-md-6">
            <div class="w-100">
                <h3>Custom Health Screening Questionnaire</h3>
                <p>Vizitor allows you to customize your healthcare screening questions. You can also customize these questions as per your needs.</p>

            </div>
        </div>
    </div>
    <!-- 3 -->
    <div class="row align-items-center mt-5">
        <div class="col-md-6">
            <div class="w-100">
                <h3>Schedule Appointments</h3>
                <p>Vizitor provides a consistent and branded experience to your customers by providing them with an option to schedule appointments online from the comfort of their homes.</p>

            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="/images/vizitor/salons/process-image/Schedule-Appointments.png" alt="pre-invitation1" />
        </div>
    </div>
    <!-- 4 -->
    <div class="row align-items-center mt-5">

        <div class="col-md-6 text-center">
            <img src="/images/vizitor/salons/process-image/Contact-Tracing.png" alt="Contact-Tracing" />
        </div>
        <div class="col-md-6">
            <div class="w-100">
                <h3>Reduce No-Shows</h3>
                <p>Vizitor sends out automated email and SMS reminders to your customers about their appointment, you can also notify your customers if there is a change in their appointment. Visitor Is the best solution for Salons and Spas.</p>

            </div>
        </div>
    </div>
    <!-- 5 -->
    <div class="row align-items-center mt-5">
        <div class="col-md-6">
            <div class="w-100">
                <h3>Activity Dashboard</h3>
                <p>Vizitor lets you keep a track of daily appointments activities. Our dashboard helps you with managing your appointments and online bookings along with appointment cancellations.</p>

            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="/images/vizitor/covid/instant-alerts.png" alt="instant-alerts" />
        </div>
    </div>

</div>



<div class="container pagesection">
    <div class="row">
        <div class="col-md-12 text-center mb-5">
            <h2>More Features</h2>
            <div class="center-content border-line"></div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/salons/other-features/customized-form.png" class="pricingimg2 cardimg" alt="digital-impression" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        Customized
                        <br />Forum
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>Users can make customized forms according to their choices. Personalized the fields and questions for different visitor types.<br><br></p>

            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/salons/other-features/data-analysis.png" class="pricingimg2 cardimg" alt="customized-forms" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        Data
                        <br />Analysis
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>Get familiar with the well-being of your salon and spa business and know what further steps or considerations are essential for its expansion & all-round development.</p>

            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/salons/other-features/bulk-promotion.png" class="pricingimg2 cardimg" alt="image-capturing" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        Bulk
                        <br />Promotions
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>Send a bulk SMS and Emails to the customers to know about daily deals, packages, and offers.<br><br><br></p>

            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/salons/other-features/feedback-management.png" class="pricingimg2 cardimg" alt="digital-impression" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        Feedback
                        <br />Management
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>Get a complete set of opinions from your customers about your product and services.<br><br><br><br></p>

            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/salons/other-features/send-nda.png" class="pricingimg2 cardimg" alt="customized-forms" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        Send NDAs agreements
                        <br />in advance
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>The salons can send invitations to clients with attached NDAs to sign in advance, or any other agreements that might include health and safety precautions. <br><br><br></p>

            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row phone-row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="/images/vizitor/salons/other-features/send-qr-code.png" class="pricingimg2 cardimg" alt="image-capturing" />
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h6 class="offer">
                        Send QR
                        <br />codes in advance
                    </h6>
                </div>
            </div>
            <div class="phone-center">
                <p>Make the touchless check-in experience more comfortable by sending QR codes in advance to your clients. Visitors will then receive a QR code to use directly on their mobile devices and can check-in by scanning that.</p>

            </div>
        </div>
    </div>
</div>


<div>{{- partial "upgrade.html" . -}}</div>
{{end}}